[2020-08-13 02:42] spottedmahn commented on #949
Bummer.  Thanks for looking into it again.  Should we close the issue again?

[2020-08-13 03:10] jdneo commented on #949
@spottedmahn just make it open is fine. Then I can always take a look at the upstream issue when I see it.

[2020-08-13 08:36] jdneo commented on #1045
The project classpath is resolved by buildship (if it's a Gradle project). To help us better understand the problem, would you mind to share a sample project for this issue to us?

[2020-08-13 20:50] hrsto commented on #1045
Attaching the most minimal i could produce.

There's only one test class - `ArquillianInitTest`.

First do a `gradle clean test`. It should complete successfully.

This initial normal build is set to auto generate `arquillian.xml` at built time, thus: `/tmp/sample/src/test/resources/__arquillian.xml` is prefixed with `__` to ignore it. Such a build doesn't work when executed from __vscode__, becau

[2020-08-15 14:08] tnatanael commented on #534
Same problem here!

[2020-08-18 09:06] JMaterne opened #1048 "Test Runner stop working with JDK 8"
Hi,

Got this error after updating to Java Test Runner version 0.24.1 from version 0.24
I'm using VSCode Version 1.46.1 and the latest versions of "Language Support for Java by Red Hat" and "Debugger for Java".
After the update I couldn't see any of my junit tests in the "Test"-Tab and couldn't start them from within the IDE.
Downgrading back to 0.24 resolved the issue.

Let me know if you need ad

[2020-08-18 09:34] jdneo commented on #1048
Have you observed any errors in the output channel `Language Support for Java`?

[2020-08-18 10:30] JMaterne commented on #1048
Got these upon loading the project:
`[Trace - 12:11:07] Sending request 'workspace/executeCommand - (3)'.
Params: {
    "command": "vscode.java.test.get.testpath",
    "arguments": [
        [
            "(..mypath..)"
        ]
    ]
}

[Trace - 12:11:07] Sending request 'workspace/executeCommand - (4)'.
Params: {
    "command": "vscode.java.test.get.testpath",
    "arguments": [
        [

[2020-08-19 02:03] jdneo commented on #1048
It seems that something wrong happens when the language server loading the jar bundle of Test Runner. Would you mind to do the following things for further doagnostic?

1. Check if there is any error message in the server log, you can get the server log by trigger the command `Java: Open Java language server log file`
2. Try to entirely remove the extension file and reinstall it, you can find it a

[2020-08-19 08:12] JMaterne commented on #1048
Thanks for your instructions.
The server log contains these errors:
[code]

[2020-08-19 09:11] jdneo commented on #1048
Are you using JDK 11?

[2020-08-19 09:31] JMaterne commented on #1048
No I'm using JDK 8

[2020-08-19 12:19] UnrealKazu commented on #1048
I've got the same error, whilst also using JDK 8. I cannot upgrade to JDK 11 yet due to external dependencies, and therefore I had downgraded the Language Support for Java extension from `0.65.0` to `0.64.1` in order to keep on working.

I'm guessing that Java Test Runner `0.24.1` has similar dependencies on JDK 11 as across the board support for JDK 8 is being dropped? Downgrading back to `0.24.0

[2020-08-19 13:01] jdneo commented on #1048
@JMaterne @UnrealKazu

Yes, Since the newest Language Support for Java extension requires JDK11 now, so the newest Java Test Runner also update the requirement to JDK11. Downgrade the JDK version should be a workaround for now.

More details: https://github.com/redhat-developer/vscode-java/issues/1543

[2020-08-19 18:38] shanewaz-abbas commented on #972
@jdneo I was able to finally figure out how to solve it:
[code]

I don't why that worked but I'm glad there is a solution at least.

[2020-08-20 00:47] jdneo commented on #972
Good to know problem solved!

[2020-08-20 00:47] #972 closed

[2020-08-20 03:08] jdneo commented on #1045
Here are some findings:

I can repro this issue and I also tried the project in Eclipse and IntelliJ.

In Eclipse, same error when running the test, but it can successfully run if I use the `Delegate to Gradle` feature.

In IntelliJ, since it will delegate to Gradle by default, so the test runs successfully.

Seems that we need to support `Delegate to Gradle` at VS Code side.

[2020-08-23 12:47] smrutisourav opened #1049 "No Code Lens while working on remote directory"
Hello,

While working on remote directory, code lens does not work for unit tests or testng tests.

![image](https://user-images.githubusercontent.com/32691151/90978608-adf0c200-e581-11ea-930f-03c6dd725668.png)

It works perfectly while working on local directory.

![image](https://user-images.githubusercontent.com/32691151/90978690-353e3580-e582-11ea-8cb1-43a9cd82d3c4.png)

[2020-08-24 01:43] jdneo commented on #1049
Tried on Remote - WSL. Cannot repro.

![image](https://user-images.githubusercontent.com/6193897/90995354-49b81780-e5ee-11ea-9ac4-9586ebc85fdd.png)

What's your vs code version on your remote machine?

[2020-08-24 05:39] ghry5 commented on #949
In my opinion the reason for an 'expand all' button comes from the wish to see the status of running/completed tests quickly. A collapsed node does not have any indication if tests inside it are still running/succeeded/failed. Adding this information to classes/packages/projects would be more appropriate.

[2020-08-24 13:36] ccarv commented on #1048
Rolling back to version 0.24.0 fixed the issue for me.

[2020-08-24 13:36] ccarv commented on #1048
Rolling back to `0.24.0` fixed the issue for me as well.

[2020-08-24 16:29] andrewglowacki commented on #832
Performance is MUCH better with this new version.

CPU usage measured by top (with the eye-ball method) appears much better. I was seeing 2-3 cores at 100% before and even trying to tax it now, seems to be less than 1 core.

Subjectively, Intellisense resolution is also light years faster (< 1 second) in places where it was taking 10+ seconds at times.

Thanks again for the improvements.

[2020-08-25 01:36] jdneo commented on #1048
@ccarv If only use JDK 11 to launch the Java Language Server, will it work for your case?

[2020-08-25 01:38] jdneo commented on #832
@andrewglowacki Good to know we have progress here. And we are looking for other methods (adaptive debounce, lazy-load, etc...) to keep boosting the perf. 😃

[2020-08-25 14:14] sridharanprasanna opened #1050 "Unable to detect a test in simple environment"
I have tried the classpath workaround mentioned in forums.

When i try to refresh from the test explorer, i get an error:

"nodelegatecommandhandler for vscode.java.test.search.items"

![image](https://user-images.githubusercontent.com/13363348/91185290-e0e2a500-e6aa-11ea-8610-8f98cd3c3fdc.png)

![image](https://user-images.githubusercontent.com/13363348/91185336-f061ee00-e6aa-11ea-9cba-02f58d56fa

[2020-08-26 01:42] jdneo commented on #1050
Does your JDK version < 11?

If yes, see: https://github.com/microsoft/vscode-java-test/issues/1048#issuecomment-676318039

[2020-08-26 03:43] sridharanprasanna commented on #1050
Thank you. It cleared my misconception too. I required JDK1.8 for building project. Got confused with the VSCode environment.
JDK11 worked.

[2020-08-26 03:47] #1050 closed

[2020-08-26 15:29] smrutisourav commented on #1049
VS Code version is 1.48.1. It's a system setup.

Please consider trying on remote shared folders.

[2020-08-27 01:38] jdneo commented on #1049
What's your JDK version in remote

[2020-08-27 07:53] smrutisourav commented on #1049
System Info: Parallels 14 Windows 10 VM running on MAC. Vscode running on windows VM, data is stored in mac accessed through SMB (I guess) protocol.

JDK version 14 on windows VM.

[2020-08-27 08:14] jdneo commented on #1049
Sorry I'm kind of lost here. Did you use the `Remote` extension here? how should I understand `working on remote directory`?

[2020-08-30 16:48] ETLJ commented on #918
I had the same issue and this worked for me. Thanks!

[2020-09-01 09:40] cdpark0530 opened #1053 "Fails to load JUnit launch configuration in @ParameterizedTest that has any parameter whose type has generic types"
I'm using
[code]
In the description of the extension page, it says it supports JUnit 5 (v5.1.0+)

When I click `Run Test` or `Debug Test` button above a `@ParameterizedTest` method that has any parameter whose type has generic parameter(s) - like `List<Integer>` or `Map<Integer, Integer>` - Java Test Runner says `Error: Failed to load JUnit launch configuration`. Strangely, it doesn't fail to laun

[2020-09-01 10:58] jdneo commented on #1053
Seems that the parameter type of the test name should be `java.util.List` instead of `java.util.List<java.lang.Integer>`

Will make a fix later

[2020-09-02 06:22] #1053 closed

[2020-09-02 11:23] beckerjohannes commented on #954
I am having the same Issue for @TestTemplate tests.

Suppose you have this test:
[code]
with an Extension providing a 100+ `TestCaseFile` instances. Then I get this result view in Eclipse JUnit Runner:
![image](https://user-images.githubusercontent.com/56342691/91975067-1af11e00-ed1f-11ea-9426-cf52943e4115.png)
Where [1] .. [x] is the `DisplayName` provided by the `TestTemplateInvocationContext`.

[2020-09-03 02:19] jdneo commented on #1053
Hotfix for this issue will release in early next week

[2020-09-04 07:56] jdneo opened #1056 "Check the cancellation token when doing a long-run job"
Now since the the upstream has supported the cancellation token, we need to check it at both ts side and java side.

See： https://github.com/redhat-developer/vscode-java/pull/1591

[2020-09-04 18:28] renzhonglu11 opened #1058 "Error: Could not find or load main class when i used gradle to build java project"
Error: Could not find or load main class rz.Test
Caused by: java.lang.ClassNotFoundException: rz.Test

my build.gradle:
plugins {
    id 'java-library'
}

repositories {

    jcenter()
}

dependencies {
    api 'org.apache.commons:commons-math3:3.6.1'

    implementation 'com.google.guava:guava:29.0-jre'

    testImplementation 'junit:junit:4.13'
}

[2020-09-05 01:44] jdneo commented on #1058
Would you mind to share a sample project for this issue?

// cc @testforstephen

[2020-09-05 09:32] renzhonglu11 commented on #1058
thans for the reply. i have solved this problem. but now the java workshop created by Vscode gets the same proble :(
![b23b6d879a3797fb379fa7268fdafaf](https://user-images.githubusercontent.com/57646892/92302288-53853780-ef6b-11ea-8144-1ea3b3f4ecf4.png)
![081999b3b249ea8a36296955b084c32](https://user-images.githubusercontent.com/57646892/92302289-56802800-ef6b-11ea-90a3-c0e2d6233e43.png)

launch.j

[2020-09-05 09:34] renzhonglu11 commented on #1058
by the way .class file is created by Code Runner. it can sucessfully compile and run the code

[2020-09-05 18:24] renzhonglu11 commented on #1058
i think taht i have found the problem.when i delete junit-platform-console-standalone-1.6.0 (1).jar from Referenced Libraries in Java project management. it works perfectlly. but i cannot use unit test when i do that.
how can i fix the problem?

[2020-09-07 02:13] jdneo commented on #1058
You can share your project in a zip file to us if you don't mind.

The information provided is not enough to find out what's the gap here.

If you don't want to share the project, below are some suspicious points I found:

- Try to update your extensions to the latest version if they aren't.
- rename your jar from `junit-platform-console-standalone-1.6.0 (1).jar` to `junit-platform-console-standal

[2020-09-07 07:53] jdneo commented on #832
@all

`0.24.2` has been released which contains some perf improvement when resolving the completion list in a Java test file. Plesae give it a try.

Thanks.

[2020-09-07 13:04] renzhonglu11 commented on #1058
[Demo.zip](https://github.com/microsoft/vscode-java-test/files/5183216/Demo.zip)

[2020-09-07 21:16] ssabogalp commented on #930
I have the same problem, My project is very simple maven project.

[2020-09-08 00:49] jdneo commented on #930
@ssabogalp would you mind to share a sample project to us?

[2020-09-08 01:14] ssabogalp commented on #930
Look, this is the repoduction steps:
Create project from maven (that template is simply a hello world class with a test):

mvn archetype:generate -DgroupId=com.sample -DartifactId=java-project -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false
Then, open that folder in visual studio, when you open it, it asks:
"The workspace contains Java projects. Would you like to import th

[2020-09-08 01:42] jdneo commented on #930
@ssabogalp

Java Test Runner currently only support JUnit 4 & 5. the archetype you generated is using JUnit 3, so the functionality won't work.

Please specify the version to `1.4`: `mvn archetype:generate -DarchetypeGroupId=org.apache.maven.archetypes -DarchetypeArtifactId=maven-archetype-quickstart -DarchetypeVersion=1.4`

[2020-09-08 02:24] ssabogalp commented on #930
Hi, my first try was added it to the pom, but it wasn't working so I tried the path. But now everything works, with the same dependency in pom:

<dependency>
    <groupId>junit</groupId>
    <artifactId>junit</artifactId>
    <version>4.12</version>
    <scope>test</scope>
</dependency>

 I do not understand why it was failing. I believe the old dependency was in cache or something like that, but

[2020-09-08 05:07] jdneo commented on #1058
I can run the main class locally by just open the folder demo and click the code lens.
![demo](https://user-images.githubusercontent.com/6193897/92435130-2ab3ab00-f1d4-11ea-93d2-a20acb5f3056.gif)

[2020-09-08 09:29] renzhonglu11 commented on #1058
![image](https://user-images.githubusercontent.com/57646892/92459151-9b53cb00-f1c6-11ea-8862-6d3c53a50ee8.png)

[2020-09-08 09:31] renzhonglu11 commented on #1058
the first one fails when i add .jar file in reference libraries.
the second works perfectlly when i delete this file

[2020-09-11 11:12] MrYakobo commented on #658
Just for clarity, here is the file structure from the dummy zip by @niccolomineo, if someone don't want to download a zip file

![dummy](https://user-images.githubusercontent.com/11942597/92918910-2257ac00-f430-11ea-90b4-9a9839ceec42.png)

[2020-09-12 03:24] MicePilot opened #1059 "No Code Lens in my mac"
I am a new Java  developer. After creating a maven project, I cannot see Code Lens. Did I do something wrong? My java version is 1.8 and vscode version 1.49. This is my project file.

[test.zip](https://github.com/microsoft/vscode-java-test/files/5212122/test.zip)

[2020-09-12 08:30] MicePilot commented on #1059
I think I solved this problem, I lowered the plugin version to 0.24.0 and everything worked..

[2020-09-12 10:48] jdneo commented on #1059
@MicePilot The new version of the extension requires JDK 11. To make sure you can keep getting the improvement in the future. I strongly recommend to install the latest version of extension with JDK 11. If you meet any problem, please let me know.

[2020-09-12 10:48] #1059 closed

[2020-09-14 04:55] sakinala commented on #596
@jdneo - Is there any update on this thread.
And can't you implement the same logic how eclipse and intellij idea is doing to run the testng.xml file?

[2020-09-15 06:06] #1049 closed

[2020-09-16 12:57] AndreasLepik commented on #977
I had the same problem when my project had a parent directory containing 'ä'. Testing worked when I moved the project elsewhere.

[2020-09-21 05:34] jdneo commented on #1058
Sorry but I still cannot repro this issue:
![image](https://user-images.githubusercontent.com/6193897/93735306-1a0d2700-fc0f-11ea-85dd-6c4d12c8b48c.png)

[2020-09-21 10:24] lapidcj opened #1062 "No delegateCommandHandler for vscode.java.test.search.items"
I got this problem for weeks.
I can not find the 'Run Test/ Debug Test' above my test method. I checked my .classpath and the code `<attribute name="test" value="true"/>` exists. I have tried restarting and reloading vscode, also reinstall the `Debugger for Java` and `Java Test Runner` extension, but it doesn't work.
Has anyone meet the same issues? How did you solve it?

[2020-09-21 11:36] jdneo commented on #1062
Does your jdk version below 11?

[2020-09-21 14:46] lapidcj commented on #1062
Yes,but my Language Support for Java(TM) by Red Hat version is v0.64.1, I didn't upgrade it because my company use jdk1.8

[2020-09-22 00:56] jdneo commented on #1062
I see. Recently we update the requirement of Test Runner to JDK 11 as well, so that's the reason.

Well, if you are not working with an old gradle project, you can still use JDK 8 to build your project as well as use the latest bits of VS Code Java, see: https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-663382692

I strongly recommend to stay with the newest version to enjoy

[2020-09-22 01:11] lapidcj commented on #1062
Thanks, I degrade the version of Java Test Runner extension, and it works. VS code is a very good editor.

[2020-09-22 01:11] #1062 closed

[2020-09-22 01:51] jdneo commented on #1062
Again, downgrade the extension is just a workaround. If your workload allows you to install two versions of JDK. I strongly recommend you to give it a try.

[2020-09-23 17:48] fdambrosio commented on #1048
Thank you so much ,downgrade Language Support for Java and Java Test Runner, it works

[2020-09-25 00:48] huachangYu commented on #936
you need new version of junit. My codes work well when the version of junit is 4.13 but we encountered same issue as you describe : )

[2020-09-25 01:35] jdneo opened #1064 "Timeout for Travis OSX build"
For some unknown reason, the travis build for OSX is always timeout now.

It happens when it finishes tests for a Gradle project, the process could not exit.

Seems that it is because the daemon process raised by Gradle won't automatically exit after tests are finished.

[2020-09-25 03:03] #1048 closed

[2020-10-01 06:10] blassmegod commented on #907
Multiselect would be nice too. Thanks

[2020-10-01 12:19] CarlPer opened #1067 "Insufficient logging when error occurs"
Steps to reproduce:

Run a test with any mockito argument matcher as a argument in a test suit with multiple tests.
[code]
Some test might pass but the others will fail configuration with no more information given.

[2020-10-01 18:57] gayanper opened #1068 "Add support group tests with their source root"
Add support to group tests with their source root, I have some projects with two test source roots, one for unit and other for integration. So I would like to see them separated in the Test Explorer.

[2020-10-01 19:00] gayanper opened #1069 "Add support for shortenCommandLine for Test executor as well"
When running multiple tests or running a package some time for some large project the path too long error is shown. This can be avoided with the shortenCommandLine support which is there in Java Debug Plugin.

[2020-10-02 13:56] drummer3333 opened #1070 "link to string diff in test report if assertEquals of string fails"
if assertEquals or similar fails the output of the test is somthing like:
[code]
A few of our tests export format a structure as a structured String and test this equal to a predefined String. So any diffence in structure can be seen in the Testresults.
I'm comming from Eclipse and there you get a nice diff view for such Failed Tests which makes it ease to see the failures.

Please add a link in t

[2020-10-02 14:16] baldimir commented on #531
Hi, any idea when this could be implemented? I see it is in backlog, just asking if you are at least considering this in near future.

[2020-10-06 19:31] paulosandinof opened #1072 "Cannot see System.out.println used in tests"
I'm using the extension but I'm unable to see the output of System.out.println on my console. I saw in some websites that it was supposed to appear on the Java Test Runner Output window, but here this window is always empty.
Example of code:
[code]
And a can't see the output when running the test from the option Run Test on the editor.

I'm using JDK 11 and version 0.24.2 of the extension.

I'm so

[2020-10-06 19:49] #1072 closed

[2020-10-07 02:07] #1058 closed

[2020-10-07 03:29] nikhilmaddirala commented on #930
Hi, I'm facing the same issue. Here's the [repo](https://github.com/nikhilmaddirala-mcit/594-m4) of the project I'm trying to test.

[2020-10-07 03:32] nikhilmaddirala commented on #936
Hi, I'm facing the exact same problem even though I'm using the standalone jar (junit-platform-console-standalone-1.7.0-all.jar). Here's the [repo](https://github.com/nikhilmaddirala-mcit/594-m4) for my project. I have several similar projects with the same structure where I don't run into this error, so I'm not sure why I'm getting this error now! :/

Thanks in advance for any help!

[2020-10-07 13:00] disturbedsaint opened #1073 "NoClassDefFoundError when project applies java-test-fixtures plugin"
I have a gradle based multi-project build with 2 sub-projects. `proj2`is a simple library applies the `java-test-fixtures` plugin. `proj1` depends on `proj2`. When I attempt to run any test in `proj1` via the `Run Test` (or `Debug Test`) Code Lens link, I get a `java.lang.NoClassDefFoundError` for the library from `proj2`. Looking at the classpath from the Java Test Runner trace logs, I see that t

[2020-10-09 00:17] jdneo commented on #1070
Hi @drummer3333, do you mean something like the SCM diff view?

[2020-10-09 00:18] jdneo commented on #531
@baldimir The next release will have a new command to run the test in the current editing file. See: #1066

[2020-10-09 00:22] jdneo commented on #1072
@paulosandinof Has the problem get resolved?

[2020-10-09 00:25] paulosandinof commented on #1072
Yes. I actually found where the program was outputting. I didn't found an option to delete the issue so I closed. Sorry about that.

[2020-10-09 00:31] jdneo commented on #1072
Good to know problems are solved. Thanks!

[2020-10-09 01:19] jdneo commented on #1067
@CarlPer Could you provide a sample project for this issue?

[2020-10-09 01:21] jdneo commented on #1068
Something similar with #464

[2020-10-09 07:06] pkondekar29 commented on #918
I tried to clean the JAVA language server and it did not work for me. Can anyone please tell what is the workaround for this issue?

My team is still at JAVA 8 hence I am not sure if I will be able to upgrade to the latest version!

Could you please let me know the extension version in which this is fixed?

[2020-10-09 07:29] jdneo commented on #918
@pkondekar29 JDK 11 is only required to launch the Java language server, you can still use JDK 1.8 to build your project.

What if trying the following setting?

[code]

[2020-10-09 08:00] drummer3333 commented on #1070
Yes, like that.

[2020-10-10 02:23] jdneo commented on #936
Hi @nikhilmaddirala I tried your repo (594-m6) and it works well on my side. (Running the test `BinarySearchTreeTest#testFindNode()`)

Could you try to trigger the command: `Java: Clean the Java language server workspace` to see if it helps?

[2020-10-11 04:27] baldimir commented on #531
Thanks, so what is left is a command to run a specific test from a file.

[2020-10-12 06:31] jdneo opened #1075 "Test name is truncated when name contains rounded bracket(s)"
_mentioned by @dreamworld in #1071:_

If using the [name annotation param](https://github.com/junit-team/junit4/wiki/parameterized-tests#identify-individual-test-cases) in JUnit4 and one of the inputs has a rounded bracket, e.g. @Parameters(name = "test({index})"), then the name gets truncated.

Similar bug is reported in https://github.com/junit-team/junit4/wiki/parameterized-tests#ide-bug-eclips

[2020-10-12 17:26] nikhilmaddirala commented on #936
Hi @jdneo : Thank you for your reply! [Per this screenshot](https://imgur.com/a/WudhT4L), individual tests (green arrow) are running fine, but "run all tests" (red arrow) results in this error, and cleaning the Java language server workspace is not helping unfortunately! Any idea why this may be happening?

[2020-10-13 02:06] jdneo commented on #936
@nikhilmaddirala

Change `import org.junit.Test;` to `import org.junit.jupiter.api.Test;` should solve the problem

[2020-10-13 12:26] CarlPer commented on #1067
Method to test:

[code]

[code]
This will fail the test, but in eclipse it provides more information about why it fails

[2020-10-13 18:51] nikhilmaddirala commented on #936
@jdneo : Problem solved, thank you so much! 😄

[2020-10-13 21:50] renzhonglu11 opened #1078 "how can i remove shortenCommandLine when i run my code?(not debug)"
i want to remove this function, cause every time i run my code in terminal, there is a @ in front of my classpath.

[2020-10-13 23:49] jdneo commented on #1078
@renzhonglu11 Are you running a main method or a test case?

[2020-10-13 23:54] renzhonglu11 commented on #1078
Main method> @renzhonglu11 Are you running a main method or a test case?

[2020-10-13 23:57] jdneo commented on #1078
You can actually set the value of `shortenCommandLine` in the launch.json to whatever you want.

See: https://code.visualstudio.com/docs/java/java-debugging#_launch

[2020-10-14 00:39] #1075 closed

[2020-10-14 00:53] jdneo commented on #1067
Sorry I cannot get the point. The focal method is check if the input string is null or not. And the test method is passing `anyString()` to the focal method, so it should not fail.

Could you explain more about this? Or would you mind to share a sample project for this issue?

[2020-10-14 02:21] jdneo opened #1079 "No error information when TestNG case is skipped"
Sometimes, it a TestNG case is skipped, it might be caused by some exceptions. Currently, the extension does not check the throwable in the test result, thus the exception could not be displayed to the users.

[2020-10-14 02:21] jdneo commented on #1079
Fixed by #1076

[2020-10-14 02:21] #1079 closed

[2020-10-14 03:06] jdneo commented on #984
Does this problem still occur?

[2020-10-14 03:10] jdneo commented on #832
Close since the problem looks resolved so far. But please let us know if you still observe any performance issue.

[2020-10-14 03:10] #832 closed

[2020-10-14 10:26] GuillaumeDesforges commented on #984
Not doing Java anymore rn :/

[2020-10-15 06:57] #852 closed

[2020-10-16 20:56] zygimantus commented on #344
I don't think this is fixed.

[2020-10-19 08:23] ZhengJun003 opened #1082 "Will prompt an error when user add a same method or change class name"
**Environment:**
OS: Win10
JDK: 11
Java Test Runner Extension: 0.25.0

**Result:**
![image](https://user-images.githubusercontent.com/41051257/96419930-62782e80-1227-11eb-87e7-06aef8ce0101.png)

![image](https://user-images.githubusercontent.com/41051257/96419967-7459d180-1227-11eb-95a1-4d450c85d591.png)

[2020-10-19 08:59] ZhengJun003 commented on #1082
Test in the build-id 13378020, this issue is fixed. so close this issue

[2020-10-19 08:59] #1082 closed

[2020-10-20 08:02] jdneo commented on #531
New commands added in the `0.25.0` to run/debug the tests in current file:

- java.test.editor.run
- java.test.editor.debug

[2020-10-21 06:59] cvandermeer commented on #984
I am running SWL on windows 10 with ubuntu 20.04 as well and i have the exact same problem

[2020-10-27 09:02] #978 closed

[2020-10-28 01:44] #1067 closed

[2020-10-28 05:12] jdneo commented on #1069
Actually the Test Runner will delegate the execution to the Java Debugger extension. And the `shortenCommandLine` by default is `auto`, which means the Java Debugger extension will determine if the command line needs to shorten according to the launch infomation.

@gayanper Would you mind to share the launch configuration for your tests? I just want to check why the `auto` is not working here.

##

[2020-10-29 06:37] hacke2 opened #1087 "cannot read property 'error' of null"
If execute `testFileWatcher.registerListeners` for the first time, it could throw error but logger is not initialized.

extension.ts:

[code]

testFileWatcher.ts:

[code]

[2020-10-29 06:48] #1087 closed

[2020-10-29 23:55] kim-daeyong commented on #971
it work! thanks

[2020-11-03 15:26] AnhPV670 opened #1090 "How to highlight and enable shortcut to go error code place"
I am considering to use vscode. When running a Junit test script, if it has an error then a Java Test report. But it's really hard to know where is the error line?
![image](https://user-images.githubusercontent.com/68980608/98005234-64dfa880-1e23-11eb-89ff-267490235703.png)

Do we have anyway to show it like this?
![image](https://user-images.githubusercontent.com/68980608/98005479-a708ea00-1e23-1

[2020-11-03 21:34] djkong7 commented on #984
I'm also on running Ubuntu 20.04 on WSL 2 on Windows 10 and have the same issue. Also have the same error:
"[Embedded Page] Uncaught ReferenceError: $ is not defined"
and the workaround of closing and reopening using the status bar doesn't work.

[2020-11-04 01:40] jdneo commented on #1090
Duplicated with #384.

And we already have a PR for that #1089. This feature will available in the next version which is very soon

[2020-11-04 01:41] #1090 closed

[2020-11-05 01:41] tristan957 opened #1091 "Don't show the test icon in the sidebar unless I am actually working in a Java project or tests are found"
If I am working in a Hugo project so I shouldn't be seeing the icon:

![image](https://user-images.githubusercontent.com/11936772/98187050-a9c41780-1ed5-11eb-954b-f2b5b31e261a.png)

[2020-11-05 01:44] jdneo commented on #1091
Thanks @tristan957. I'm closing this one because it's duplicated with #793

[2020-11-05 01:44] #1091 closed

[2020-11-05 01:45] #384 closed

[2020-11-05 01:46] tristan957 commented on #793
@jdneo are there any updates on this issue since you last commented.

[2020-11-05 01:52] jdneo commented on #793
@tristan957 Not yet, we are kind of watching if there are more votes. If more votes are coming we will prioritize it.

[2020-11-05 02:07] tristan957 commented on #793
I would be interested in submitting a PR just because I find it so annoying.

Would you be able to provide guidance if I have questions?

[2020-11-05 02:22] Skynet0 opened #1092 "Feature Req: Support filtering tests by JUnit 5 tags"
https://junit.org/junit5/docs/current/user-guide/#running-tests-tag-expressions

A lot of our existing tests are identified by tags, in addition to being in different files. As far as I'm aware, there's no way to run all tests in a workspace that match a tag expression. I would like to be able to create and run test configurations that filter tests based on tags.

[2020-11-05 06:11] jdneo commented on #793
@tristan957 How about hiding the icon by right-click the sidebar?

![Uploading Screen Shot 2020-11-05 at 2.10.49 PM.png…]()

[2020-11-05 06:19] tristan957 commented on #793
Not a good solution for me because I some times work in Java environments and I don't want to have to manually remember that kind of thing

[2020-11-05 08:03] jdneo commented on #793
I see. So instead of just hiding the explorer. I think we can have a welcome view to help new users know how to start with using the extension (or something else about guidance). Meanwhile, maybe a setting can also be added to determine whether to show it or not.

I'll update here once I have a more concrete idea.

Thanks

[2020-11-05 15:45] tristan957 commented on #793
I mean I don't think it has to be a setting. The CMake Tools extension from Microsoft only activates and shows sidebar icon if there is a CMakelists.txt in your workspace. I just think this extension could do something similar like "if no java files, and no tests" don't show, or even just "if no java files".

[2020-11-06 12:04] erclu commented on #793
yeah I completely agree. I quickly searched through the vscode-python extension and it looks like they use this value in the when clause of the contributes.views.tests[0] key found in the package.json.

https://github.com/microsoft/vscode-python/blob/54dc5fe35c90b3b662def56858ff394a921a3907/package.json#L1928-L1936

the `testsDiscovered` clause seems to be defined and set to true in these files:

[2020-11-06 15:23] tristan957 commented on #793
@erclu do you also have https://github.com/Microsoft/vscode-java-dependency and https://github.com/Microsoft/vscode-maven installed? They also show their views all the time. Thinking about making issues there as well along the same lines,

[2020-11-06 15:34] erclu commented on #793
I have them but tbh I usually keep all my extensions globally disabled and enable them for the workspaces they're needed in so I'm not impacted by this issue as much anymore. But yeah go ahead!

I think it may also be worth to open an issue for vscode itself to suggest they increase the visibility of that section of the documentation, because it does look like a lot of extensions do not implement

[2020-11-06 15:36] tristan957 commented on #793
Yea all the extensions I have trouble with regarding this issue are actually all Microsoft-authored which is funny. I am opening all the issues against those extensions right now. Thanks for the effort you put into your previous comment. Easy to link to so that other extension maintainers can easily read how to use the feature.

[2020-11-09 04:30] jdneo opened #1095 "Working directory is not set for TestNG project"

[2020-11-09 06:58] jdneo opened #1096 "Wrap code for open test document as a command"
Code: https://github.com/microsoft/vscode-java-test/blob/master/src/testReportProvider.ts#L65-L83

This could help adding test cases for the command

[2020-11-09 06:58] SunnyChen1 opened #1097 "Navigate button doesn't work when run failed if run/debug case in test explorer"
Environment:
OS: Win10/Mac
JDK: 11
Java Test Runner Extension: 0.26.0

Result:
![image](https://user-images.githubusercontent.com/63633836/98509358-03dd2800-229c-11eb-8597-78bec4ddf3f7.png)

[2020-11-09 07:52] SunnyChen1 commented on #1097
Verify fixed on buildId= 13559060, so closed it

[2020-11-09 07:54] #1097 closed

[2020-11-09 08:31] jdneo commented on #384
This is available in `0.26.0` (with Language Support for Java(TM) by Red Hat upgrade to 0.70.0).

[2020-11-09 08:33] jdneo commented on #903
Now it's supported to navigate from stracktrace to source location in `0.26.0` (with `Language Support for Java(TM) by Red Hat` upgrade to `0.70.0`).

Is this solved your problem @jkryanchou?

[2020-11-10 09:50] #626 closed

[2020-11-10 09:50] #910 closed

[2020-11-10 10:49] jdneo commented on #626
Is the problem still there? @chuckb

[2020-11-11 05:29] #1069 closed

[2020-11-11 06:37] jdneo commented on #1069
@gayanper Please need me know if you want to share more information

[2020-11-11 23:51] #1095 closed

[2020-11-14 08:26] Empressia opened #1101 "Add modulePath field in java.test.config"
## 環境
* VSCode 1.51.1
* Windows 10 Pro

『build/module/』に依存関係にあるモジュールを配置しています。

## 問題

テスト用に、以下のように設定していますが、
settings.json
[code]

テストを実行すると、以下のようなメッセージが出て、失敗してしまいます。

## その他

なお、テストではない、通常の起動設定では、以下のように設定していて、正常に動作しています。
launch.json
[code]

いろいろ試していると、vmArgs自体は、テスト実行時に、反映されているようなので、
"--module-path"が後続のオプションで上書きされているのかわかりませんが、無効化されているように見えます。

指定の仕方に問題があるのでしょうか……。

[2020-11-15 11:48] jdneo commented on #1101
@Empressia Would you mind to share a sample project for this issue?

[2020-11-15 13:29] Empressia commented on #1101
@jdneo 簡単なのを作ってみました。これでどうでしょうか。
https://github.com/Empressia/VSCodeJavaTest01

[2020-11-19 13:12] bennettdams opened #1104 "java.test.report.showAfterExecution is not available in the workspace settings"
As I'm running a project inside a Docker container via VS Code's Remote Containers, I want to have a lot of settings in the workspace settings (instead of the user settings), so people who clone the repo don't have to configure it themselves.

The `java.test.report.showAfterExecution` is not available for workspace settings though:

![image](https://user-images.githubusercontent.com/29319414/99671

[2020-11-20 01:30] jdneo commented on #1104
That requires to change the [setting's scope](https://github.com/microsoft/vscode-java-test/blob/master/package.json#L264) from `application` to `window`.

This seems a valid request, let me think more about it and I'll update to you when I have more insight.

Thanks.

[2020-11-20 05:05] #1096 closed

[2020-11-20 18:56] modyuan commented on #977
same problem.
the output is
[code]

[2020-11-21 23:29] flowt-au commented on #344
vsCode v1.51.1
Installed latest  Java Extension Pack  and disabled Maven for Java.
Without using JUnit I can "Run" my class and get the `System.out.println()` in the Java Process Console. Good.
If I run a test of the same class using JUnit "Run test" I see the test results "Passed" in the Java Test Report pane but nothing appears in the Java Process Console. :-(
It would be great if that was worki

[2020-11-23 01:52] jdneo commented on #344
@flowt-au I cannot repro this on my machine. Please make sure you are checking the `DEBUG CONSOLE` for your program output (not the `OUTPUT` panel).

![image](https://user-images.githubusercontent.com/6193897/99923616-80c6d200-2d71-11eb-8f3f-5852f5961083.png)

Could you share more details for this? If you don't mind, please share a sample project and the expected output in the debug console. I can

[2020-11-23 07:25] flowt-au commented on #344
Thanks. Sorry, my confusion as I am learning.
When running a java class (not in JUnit) the System.out.println(); shows in the **Terminal Java Process Console**.
When running in JUnit, the System.out.println(); shows in the **Debug Console**.  As I was flipping between the two it did not display the debug console and I was expecting it to appear in the Terminal.
Apologies again and thanks for follo

[2020-11-23 07:44] jdneo commented on #344
@flowt-au I see. Thank you for your feedback. Actually I think this is a valid request since other users may encounter the same problem as well. I'll consider if it is possible to execute the test in terminal as well.

[2020-11-23 21:07] flowt-au commented on #344
Thanks! :-)

[2020-11-24 00:50] jdneo opened #1106 "Do not force the execution inside the debug console"
Some users may expect that the output should be seen in the integrated terminal (https://github.com/microsoft/vscode-java-test/issues/344#issuecomment-731977823), while it's actually in the debug console (which is forced by this extension). So we should consider to follow the same behavior as the Java Debugger.

[2020-11-24 06:24] netzhouxinghong opened #1115 "It is not possible to start multiple junit tests or multiple Java applications under the same package, and the prompt is waiting..."
Issue Type: <b>Bug</b>

It is not possible to start multiple junit tests or multiple Java applications under the same package, and the prompt is waiting...

Extension version: 0.11.0
VS Code version: Code - Insiders 1.52.0-insider (6026ab576dc6a4fbb8e255241a364816f42464c5, 2020-11-23T05:56:29.761Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2020-11-26 20:40] yacut opened #1108 "The "java.test.config" setting is ignored"
### Workspace settings:

[code]

### Actual behaviour

The "Run all tests" command starts all tests including integration tests

### Expected behaviour

The "Run all tests" command starts only unit tests

[2020-11-27 01:44] jdneo commented on #1108
Thanks @yacut, we can only run test folders which are marked as test by the build tools (which are persisted in `.classpath`)

This issue is the same as https://github.com/microsoft/vscode-java-test/issues/464.

[2020-11-27 01:44] #1108 closed

[2020-11-30 02:55] oliver-csu opened #1109 "The case with @Test not in src/test will not be processed"
our module is a auto-test module, not the unit test for business code

so, the case is in src/main

in IntellJ idea, the case with @Test will be precessed

thanks

[2020-11-30 02:59] jdneo commented on #1109
Thanks @oliver-csu, it's duplicated with #464. Let's track it there.

[2020-11-30 02:59] #1109 closed

[2020-11-30 03:01] oliver-csu commented on #1109
thank you again

[2020-11-30 05:47] #793 closed

[2020-11-30 05:48] jdneo commented on #793
New behavior: won't show the explorer if the extension is not activated, which will be available in the next release.

More details can be found in #1110

[2020-11-30 21:39] tommai78101 opened #1111 "Unable to execute Java 8 unit tests when "java.home" is set to Java 11 and "java.configuration.runtimes" set to Java 8."
Per https://github.com/redhat-developer/vscode-java/issues/1543, I have set it up so that the Debugger for Java uses Java 11 SDK, and execute Java 8 code. With this new setup, I'm able to continue debugging and running Java 8 code while the extensions are using Java 11, which is the recommended option given in that linked issue.

However, when it comes to testing unit tests, I cannot run and debug

[2020-12-01 01:24] jdneo commented on #1111
Wired, from my understanding, test runner won't select the java runtime, it just resolve the debug configuration and pass it the the Java Debugger.

Is it possible for you to share a sample project to repro this issue? I can take a look at what's happening there.

[2020-12-01 16:23] tommai78101 commented on #1111
@jdneo Sorry, the original error occurred from a commerical production codebase, so I can't share it, and went to create a sample project instead. Your comment, about how the debug/launch configuration is just passing through from the test runner to the Java debugger, did helped me point towards a solution. I realized later on that something else might be causing the unexplained error that might n

[2020-12-02 01:13] jdneo commented on #1111
Seems the problem is solved. Can I close this issue?

[2020-12-02 04:35] tommai78101 commented on #1111
Sorry, yes. I'll do it.

[2020-12-02 04:35] #1111 closed

[2020-12-02 11:25] jdneo commented on #1111
Thanks!

[2020-12-02 12:19] kusnier commented on #775
I have same issue. A war provides some classes which are needed in another submodule. I also use the classes classifier.

`Caused by: java.lang.NoClassDefFoundError: .....`

Have we any progress for a fix?

[2020-12-02 12:29] jdneo commented on #775
I guess this may require the upstream issue to be fixed first

[2020-12-03 14:18] bonaluo opened #1114 "A feature request: Customize test sorting."
Customize sort type, such as sorting by position, sorting by name.

[2020-12-04 01:49] jdneo commented on #1114
@bonaluo is this for test report or the explorer?

[2020-12-04 01:58] bonaluo commented on #1114
The explorer

[2020-12-04 06:51] jdneo commented on #1115
@netzhouxinghong I guess you are talking about running multiple test classes at the same time, right?

[2020-12-04 17:43] netzhouxinghong commented on #1115
Yes

[2020-12-05 01:20] #1106 closed

[2020-12-05 01:22] jdneo commented on #1106
Since there are some issues to execute tests in terminal, (escape some characters for different terminals) we finally decide to keep execution in debug console but automatically switch to the debug console panel the the start of the session.

[2020-12-05 01:23] jdneo commented on #1115
This is somehow similar to #780, let me link them first.

[2020-12-05 04:47] netzhouxinghong commented on #1115
Yes, it is this problem. Your analysis is right. This problem has been for a long time. It does not exist in Eclipse and idea and can execute multiple SpringBoot Junit test applications and Java test applications as expected
是的正是此问题 ，您分析的很对，此问题很长一段时间了，这个在Eclipse和idea中并不存在并且可以按照预期执行多个SpringBoot Junit测试应用和Java测试应用程序。

[2020-12-08 09:03] SunnyChen1 opened #1117 "Can't auto update class name after modify its name"
Environment:
OS: Win10/Mac
JDK: 11
Java Test Runner Extension: 0.26.1

Result:
Can't auto update class name after modify its name
![image](https://user-images.githubusercontent.com/63633836/101460326-677a7400-3974-11eb-8b6c-7da3aaf0af40.png)
Test Explore can't auto update after adding new java file on src/test/resource
![image](https://user-images.githubusercontent.com/63633836/101462420-29cb1a80-

[2020-12-08 09:23] jdneo commented on #1104
@bennettdams I'm planning it to put it into the next release (0.27.0)

[2020-12-08 10:21] bennettdams commented on #1104
Great, thanks a lot!

[2020-12-14 02:15] jdneo commented on #387
Just FYI, VS Code team is now working on a test API proposal, which might also include the test coverage support. Let's wait and see what we can do there: https://github.com/microsoft/vscode/issues/107467

[2020-12-16 08:36] #1104 closed

[2021-01-06 02:30] ZhengJun003 opened #1122 "Can't run Junit4 case in junit5 migration project when run all tests together"
**Environment:**

- OS: Win10
- JDK: 8
- Java Test Runner Extension: 0.27.0

**Repro steps:**

1. Git clone https://github.com/ZhengJun003/junit5-samples/tree/testrunner
2. Open junit5-migration-maven or  junit5-migration-gradle project
3. Click `Run All Tests` or `Run` project in the test explorer

**Result:**
![image](https://user-images.githubusercontent.com/41051257/103722063-1ceb2680-500a-11e

[2021-01-06 08:06] #1122 closed

[2021-01-07 10:41] zypA13510 commented on #1062
I'm having this issue even if my Test Runner extension stayed at 0.24.2 due to old VSCode version. I checked the README, 0.24.2 should require JDK 8 only. Any idea why?

[2021-01-08 01:54] jdneo commented on #1062
@zypA13510 Can you update the VS Code and all the Java extensions to the latest and try again?

If you want to stay at JDK 8 for your project, you can add the setting mentioned in this issue: https://github.com/redhat-developer/vscode-java/issues/1543#issuecomment-663382692

[2021-01-12 10:02] jvesouza opened #1126 "Please provide custom aria labels for status bar items."
CC: @isidorn

As I am blind, I use VSCode with the help of a screen reader to execute my test cases. After running the tests, I access the status bar to check the test results.
The only information present in the status bar that is apparently related to the test results and which is presented to me by the screen reader is the following:
'x 0 check 3'

It seems to me that the extension could make u

[2021-01-12 10:36] jdneo commented on #1126
@jvesouza Thank you for reporting this issue to us! I'm so glad that you are using our product to write Java code.

I've update the implementation and use Narrator (I'm on a Windows machine) to verify. Now the 'x 0 check 3' will read as 'test result: 0 failed, 3 passed'. Does it sounds good to you? If yes, I'll send the PR later.

[2021-01-12 10:41] jvesouza commented on #1126
wow!! Exactly what I would like to hear.
I need to test with orca, my screen reader.
Thank you very much.

[2021-01-12 10:58] isidorn commented on #1126
@jdneo thanks a lot for jumping on this.
Also let us know if something is missing on the VS Code side, though you should have all the API needed I believe.

My preference would be for the title to be more concise
"tests: 0 failed, 3 passed"
Or even better "0 failed, 3 passed tests"
Since the most important information should be at the start of the label so screen reader users can skip the repetati

[2021-01-12 12:20] jvesouza commented on #1126
I agree with @isidorn, "0 failed, 3 passed tests".

[2021-01-13 01:34] jdneo commented on #1126
@isidorn I see. Thank you for the suggestion. I'll change to "0 failed, 3 passed tests" and raise the PR.

@jvesouza I planned this fix into the next release. But if you want to have a private build, please feel free to let me know.

[2021-01-13 08:34] #1126 closed

[2021-01-13 15:29] jvesouza commented on #1126
A private build can be useful as I can check changes with orca and if I find any problems I can report in advance.
But if the next version is released quickly, the private build may not be necessary.

[2021-01-14 02:14] jdneo commented on #1126
@jvesouza Here it is:
[vscode-java-test-0.27.0.vsix.zip](https://github.com/microsoft/vscode-java-test/files/5812004/vscode-java-test-0.27.0.vsix.zip)

[2021-01-14 10:22] jvesouza commented on #1126
Works perfectly, thanks.

[2021-01-14 11:34] Timm0 commented on #779
+1

[2021-01-15 02:10] jdneo commented on #1126
@jvesouza You are welcome. Happy coding!

[2021-01-17 04:01] jvesouza opened #1128 "Improve the accessibility for the test report page"
I can navigate the java test reports using the keyboard but I cannot activate the link that seems to lead to the test source using the enter key.
This is a big problem for those who cannot use the mouse.

cc: @isidorn

[2021-01-18 02:43] jdneo commented on #1128
@jvesouza

I found that the it may have some issue with the tab order, but the shortcut for `Navigate to Source` is working on my side when I use the `Enter` key. Would you mind to tell us what you can hear when you use the test report page?

Also attached a video if case @isidorn has input for this :)

https://user-images.githubusercontent.com/6193897/104866587-e30b1000-5979-11eb-843e-bc201ab8cef

[2021-01-18 08:28] jvesouza commented on #1128
After running the tests I perform the following steps:

* I press ctrl + shift + p and type report.
* I use the arrows until I find Java: Show Test Report.
* I press the enter key.
* I use the tab key to explore the report view.

The following items are read by orca, the screen reader used by me, each time I press the tab key:
* All3 page tab.
* Passed3 page tab.
* Relaunch the tests push button.

[2021-01-18 09:24] jdneo commented on #1128
How about pressing 'enter' instead of 'tab' when you hear 'navigate to source link'?

[2021-01-18 09:32] jvesouza commented on #1128
OOPS!!!

I made a mistake in my previous comment. I actually tried to activate the link by pressing the enter key and not the tab key.
The correct text is:
At this point I try to activate the link by pressing the enter key but nothing happens.

Sorry for my mistake.

[2021-01-18 10:23] isidorn commented on #1128
@jvesouza thanks for providing great feedback

@jdneo so this looks like a custom web view created by the java-test extension. Some recommendation:
* consider setting more user friendly aria labels for the buttons in the web view
* Note that José is using Linux with Orca. Let me know if you want to setup Orca on Linux if you would like to try to repro this (should not be more than 15mins if you al

[2021-01-18 11:01] juusu commented on #425
Any progress? Just started on a new project which uses primarily Spock for testing so this would come in very handy

[2021-01-19 01:50] jdneo commented on #425
Hi friends, so far there is no plan to add more test framework support. But contribution is welcome!

[2021-01-19 05:08] jdneo commented on #1128
@isidorn Thank you for the suggestions, I guess it may related with the focus.

@jvesouza I guess I know what's happening there.

If it is possible, would you mind to update the VS Code setting: `java.test.report.position` to `currentView` (the character `V` is upper case, and other characters are all lower case). And then try it again?

by default, the test report is opened in the next column, an

[2021-01-19 07:56] jvesouza commented on #1128
I included in the settings.json file the following line:
"java.test.report.position":"currentView"

After that I got the following result:

* When I press the enter key on a link nothing seems to happen. The orca doesn't read anything.
* If I press the tab key, nothing is read by the orca.
* If I press the f6 key, the focus is moved to the test class, apparently to the test method.

I can't say fo

[2021-01-19 09:42] jdneo commented on #1128
Thanks for the feedback. I'll try to add more friendly aria labels tomorrow.

How about after that, I give a private build to you for validation. You can let me know if anything is missing or unclear?

[2021-01-19 10:16] jvesouza commented on #1128
I will certainly test as many times as necessary. I am very interested in making VScode accessibility the best possible. Here in Brazil we have several blind people who use this tool and the better the accessibility the more productive we will be.
Thanks.

[2021-01-20 06:45] jdneo commented on #1128
@jvesouza I added some aria-labels into the test report page, it still have some problems but you can have a try first. Here is private build:
[vscode-java-test-0.27.0.vsix.zip](https://github.com/microsoft/vscode-java-test/files/5840486/vscode-java-test-0.27.0.vsix.zip)

Same as before, it's a zip file, after unzip it, you'll find the .vsix file.

The problem I cannot solve now is that the test r

[2021-01-20 08:38] jvesouza commented on #1128
It was excellent.
Now when I press the enter key when the focus is on navigating to the source, the class is opened and the focus is moved to the beginning of the method.

When I press the enter key in the method details, the orca reads expanded or collapsed depending on the current state. However, no other information is read.

[2021-01-20 08:47] jdneo commented on #1128
@jvesouza I think maybe I can add some tab-index for the detail part, then you can tab the focus when the component is expanded.

So next I'll do some change to make the detailed information in the expanded area can be read by the screen reader.

For those passed tests, there is no more information in that expanded area.

For those failed tests, you can find stackstrace inside that. Should the tab

[2021-01-20 08:53] jvesouza commented on #1128
If it is possible to navigate the stack trace using the arrows, I prefer to have access to the entire stack trace instead of accessing one line at a time with the tab key.

[2021-01-20 09:05] isidorn commented on #1128
@jdneo that sounds related to Electron. Though we recommend testing using NVDA screen reader, since it is free, open source and the most popular. So we actually do not test with Narrator (mostly based on community feedback)

[2021-01-20 09:15] jdneo commented on #1128
@isidorn You are right, I download NVDA and it works now!

[2021-01-20 09:25] jdneo commented on #1128
@jvesouza how about this one?
[vscode-java-test-0.27.0.vsix.zip](https://github.com/microsoft/vscode-java-test/files/5841347/vscode-java-test-0.27.0.vsix.zip)

[2021-01-20 13:11] jvesouza commented on #1128
I think that from the point of view of accessibility it was not very good.
* When pressing the enter key when the focus is on the method name, the detail view is displayed but I can only navigate it using the tab key.
* The detail view has a series of links but I cannot activate them with the enter key.
* If the detail view is being displayed, I need to press the tab key many times until I reach t

[2021-01-21 03:18] jdneo commented on #1128
Does arrow-up and arrow-down not work?

I can improve it by not preserve the focus when the link is triggered

So far I have no good solution for this, since there will be many links in the detail page. I'm looking for a way to skip all these links if it is possible.

[2021-01-21 09:10] jvesouza commented on #1128
No.

Unfortunately  pageUp and pageDown don't seem to produce any action in linux, at least in the distro I'm using.
Would it be possible to close the detail view by pressing the escape key? I think that would help a lot.

[2021-01-21 09:40] jdneo commented on #1128
@jvesouza That's also a great idea. But I'm not sure if the escape key will conflict with other shortcuts. For example, `Esc` may be used to stop screen reader?

[2021-01-21 09:52] jvesouza commented on #1128
Normally, to stop speech on the screen reader, the ctrl key is used.
I don't think we will have any problems using the escape key, but @isidorn may be the best person to comment on it.

[2021-01-21 09:57] isidorn commented on #1128
@jdneo feel free to use the `Esc` key. VS Code handles potential keyboard conflicts quite well based on focus and weight of contibuted commands. So in practice I think it will work just fine if you register the shortcut only when the focus is in the detail view (using a `when` clause).

[2021-01-22 05:38] jdneo commented on #1128
Thank you all for the suggestion!

@jvesouza please try this one. Now the test report view will listen to the `ESC` press event to collapse the detail view.
[vscode-java-test-0.27.0.vsix.zip](https://github.com/microsoft/vscode-java-test/files/5853786/vscode-java-test-0.27.0.vsix.zip)

[2021-01-22 11:44] jvesouza commented on #1128
@jdneo I think it was perfect.
I have just one more suggestion to make, if possible and relevant.

How about just displaying the navigation link to the source only within the detail view?
The advantage, at least in my opinion, is that if we have for example 20 methods, we will have to press the tab key 40 times to reach the last method. If the navigation link is not present, that number drops to 2

[2021-01-24 02:57] jdneo commented on #1128
@jvesouza Thank you for your feedback!

Emm, This is not a decision that I can quickly make by now. Since there will be some users who might need this button display out of the detail view.

But at least, I will raise several PRs to improve the accessibility of the test report page to unblock the users.

[2021-01-24 03:18] jvesouza commented on #1128
Okay, I understand perfectly. I figured the answer would be something like this.
Thank you very much.

[2021-01-26 03:28] #1128 closed

[2021-01-27 05:36] #641 closed

[2021-01-27 05:36] #773 closed

[2021-01-27 05:36] #818 closed

[2021-01-31 23:18] andywarren86 opened #1133 "Support TestNG class level annotations"
Consider adding support for TestNG class level annotations.

https://testng.org/doc/documentation-main.html#class-level

With TestNG the `@Test` annotation can be placed on a class instead of the method. In this case all `public void` methods are considered tests even if they are not annotated.

Example:
[code]

Currently there does not appear to be any way to run a test unless it is explicitly an

[2021-02-01 05:22] jdneo commented on #1001
Update: Duplicated with https://github.com/microsoft/vscode/issues/97992

[2021-02-01 05:45] SunnyChen1 opened #1134 "Can't navigate to the method source from the test report for junit4.ParameterizedWithNameTest"
**Environment:**
OS: Win10/Mac
JDK: 11
Java Test Runner Extension: 0.27.0

**Repro steps:**
1. Git clone https://github.com/microsoft/vscode-java-test/tree/master/test/test-projects/junit5
2. Open and run junit4 project
3. Open test report, click "Navigate to source" button under junit4.ParameterizedWithNameTest
4. Can't navigate to the method source

**Actual Result:**
![image](https://user-image

[2021-02-01 08:14] #1134 closed

[2021-02-01 21:59] eak006 opened #1138 "Unit Test breakpoints don't light up when debugging"
When I'm debugging a Java unit test (JUnit 5) with a set breakpoint(s), I can't tell when/where I've hit a breakpoint by looking directly at the code and waiting for a horizontal streak of yellow to appear.

I can, however, visit the `Call Stack` section in the Run/Debug side bar to see the `PAUSED ON BREAKPOINT` status message right next to the main thread. The only way I can progress the debug s

[2021-02-02 00:58] jdneo commented on #1138
@eak006 Is it possible to share more information about the issue? Or maybe a sample project? I can test it on my side to see if I can repro it.

[2021-02-02 05:34] jdneo commented on #1064
Close since we have migrated to GitHub Actions

[2021-02-02 05:34] #1064 closed

[2021-02-09 15:17] vswamire opened #1139 "Couldn't see test explorer and code lens for maven project"
Hello,

Thanks for the pretty interesting feature.

I'm facing issues with the code lens and test explorer for the maven project. I've tried many ways changing .classpath, re-installing vscode, looking at the issues already been notified by other #470. Nothing seems to be working out. can you please help me out in setting up the IDE.

Thanks,
venkat.

[2021-02-10 05:26] jdneo commented on #1139
Would you mind to provide a sample project to us?

[2021-02-10 15:44] vswamire commented on #1139
Hello Sheng, thanks for reaching out. I didn't quite get what you mean by a sample project.

I'm working on the junit tests maven project. The run|debug code lens are working when there's a main method in tests. but in our project we don't have a main method.

I think the java debugger or java test runner extensions are looking the project as java projects but it is actually a maven project.

Can

[2021-02-10 16:25] llgcode opened #1140 "Unable to define a custom classpath for a Junit test"
Hi,
Some tests require custom classpath to run, when having a workspace with multiple projects (defined with .project and .classpath like in eclipse) and dependency inversion between some projects (plugin architecture).

Like in eclipse we need to define a launch configuration with a custom classpath made of path or project name.
We didn't found a way to do it in [Run with Configuration](https://g

[2021-02-11 02:34] jdneo commented on #1139
You can share a sample project that is not working on your side. (You can simplify it to remove all the code that you don't want to share)

Then I can take a look at the project to see what's the gap.

[2021-02-11 04:16] vswamire commented on #1139
Hello, Ihttp://iatgitlab.mathworks.com/help_search/testintegration.git have shared the sample project with you. Please take a look and let me know.

https://drive.google.com/drive/folders/1VQC2rZrIwXVl7D3l4rwiZHPeFQafA0vt?usp=sharing

[2021-02-13 06:54] jdneo commented on #1139
Is the link correct? I cannot see any files in the link.

[2021-02-18 03:06] rdcoe commented on #910
I've just hit this issue.  My settings are:
`{
    "java.test.config": [
        {
            "name": "chatsrv",
            "workingDirectory": "${workspaceFolder}/chatsrv/",
            "java.test.log.level": "debug",
            "vmArgs": [ "-Dvertx.disableDnsResolver=true" ]
        }
    ],
    "java.test.defaultConfig": "default",
    "search.usePCRE2": true,
    "zenMode.restore": true
}`

[2021-02-18 03:09] rdcoe commented on #910
@jdneo Can you please re-open

[2021-02-18 06:51] jdneo commented on #910
@rdcoe Seems you set the wrong default config:

`"java.test.defaultConfig": "default"`

Please change to `"java.test.defaultConfig": "chatsrv"` and try again.

[2021-02-19 15:29] rdcoe commented on #910
When I try to run with the code lens after changing the config, I now get:

TypeError: t.vmArgs.filter is not a function.TypeError: t.vmArgs.filter
 is not a function.

Going back to "default" allows the test to run.

Thanks

On Thu, Feb 18, 2021 at 1:52 AM Sheng Chen <notifications@github.com> wrote:

[2021-02-22 02:45] jdneo commented on #910
What's your extension version?

[2021-02-22 07:48] egvimo commented on #1045
I have the same problem. A "Delegate to Gradle" Feature would be great!

[2021-02-22 23:48] rdcoe commented on #910
Java Extension Pack v 0.12.1, which includes test runner v0.28.0

On Sun, Feb 21, 2021 at 9:46 PM Sheng Chen <notifications@github.com> wrote:

[2021-02-24 21:39] MKruschke commented on #971
worked for me 👍🏻

[2021-02-26 16:55] azidar opened #1142 "Non-java JUnit integration"
We are interested in reusing your vscode UI interface, but have a non-java project with our own LSP. Is it possible to configure this plugin to integrate with a different LSP implementation? If so, any recommendations for where to start?

[2021-02-28 18:55] lloydbond opened #1143 "Remote developing: code lensing doesn't show up in my Junit test file"
The test runner doesn't show up either. Everything shows up just fine and works well locally. It's just when I attempt to develop out of a VPS using this extension pack [remote development](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack). I have followed the FAQ steps for gradle just in case that would help. Ultimately, I'm just doing the Java trac

[2021-03-01 01:56] jdneo commented on #1142
If it's for testing purpose, will you consider the proposed new VS Code Testing API? https://github.com/microsoft/vscode/issues/107467

[2021-03-01 01:59] jdneo commented on #1143
Would you mind to provide some detail steps for reproducing the issue? I would like to try it on my side.

[2021-03-01 08:07] jdneo opened #1145 "The extension keeps searching the tests when run from a package root"
![WeChat Screenshot_20210301160133](https://user-images.githubusercontent.com/6193897/109468896-3eb3d780-7aa8-11eb-905d-86f0476c6c4a.png)

[2021-03-01 12:03] #1145 closed

[2021-03-02 18:16] azidar commented on #1142
Ah thanks for the link! I'll check it out.

[2021-03-02 18:16] #1142 closed

[2021-03-02 20:26] eak006 commented on #1138
Sorry for the long wait. I can't comment on the specifics of my local machine's settings, but I heard my co-workers had similar issues. We *think* it may be because we are still on Java 8 and *not* Java 11 since that's the version Red Hat's Language Support Java plugin prefers.

[2021-03-02 23:31] noschang commented on #576
This didn't work for me

[2021-03-03 01:47] jdneo commented on #1138
@eak006 Java 11 is only required to activate the Java Language Support. You can still use Java 8 to build your project, by setting the following setting to let the Java Language Server know where are the JDK installations. It will pick the most match JDK according to your project configuration (pom/gradle)

[code]

Have you tried that?

[2021-03-03 01:51] jdneo commented on #576
@noschang What's your classpath looks like?

[2021-03-03 03:01] lloydbond commented on #1143
Open VSCode
install the remote extension pack from Microsoft.

Connect to a remote VPS with ssh
install the extensions lombok, Gradle Tasks, Gradle Language Support, and the Java Extension Pack.
download a java solution with junit tests (example: https://github.com/exercism/java/tree/main/exercises/practice/acronym) to your VPS
Then open the java solution in current window.

If you open the same s

[2021-03-03 03:10] noschang commented on #576
@jdneo It looks exactly like this:

[code]

Actually it is automatically regenerated each time I open VSCode. From what I've been reading on several issues, this seems to be correct. I also tried to remove the attributes ```maven.pomderived```and ```optional``` but didn't work. Aaaannnddd, also tried to add this line in ```pom.xml```:

[code]
But nothing seems to work. I'm thinking to abandon the

[2021-03-03 03:30] noschang commented on #576
@jdneo I also tried this:

[code]

And tried creating a workspace and adding my folder to it, instead of opening it directly as a folder.

Is there any chance that it is a problem with the JDK? I'm currently using adoptopenjdk-14-openj9 as the JDK for both, running the Java Extension Pack and running my application.

[2021-03-03 04:36] jdneo commented on #576
@noschang thanks for sharing. The configuration looks good to me. Would you mind to share a sample project to us? You can remove all the code which you don't want to share, just make sure that sample project can be used to reproduce the issue.

[2021-03-03 07:27] eak006 commented on #1138
Yes, those settings have been set. Fortunately, the unit tests run perfectly. I suppose if I ever need to debug them though, I can switch over to Eclipse.

[2021-03-03 07:40] jdneo commented on #1138
@eak006 Hmmm, sounds wired. I haven't met this situation before. I think a sample project is still needed to figure out what's the gap here.

[2021-03-03 08:36] aderchox opened #1152 "Step Filters with Java Test Runner?"
The default debugger of vscode provides [a configuration option](https://code.visualstudio.com/docs/java/java-debugging#_launch) to avoid stepping into certain packages(using wildcards). But I had a look at the configuration options for Java Test Runner [here](https://github.com/Microsoft/vscode-java-test/wiki/Run-with-Configuration), and it seems that it doesn't provide the same option. Is that r

[2021-03-03 11:53] jkryanchou commented on #903
@jdne OK I will try it later.

[2021-03-03 17:15] mfussenegger opened #1153 "npm install no longer works without authentication"
Not sure when exactly this changed, but I noticed today that `npm install` no longer works without authentication.
Checking out an older version that previously worked also doesn't fix it, so I assume something in the infrastructure changed.

Was that intentional?

[code]

From the log:

[code]

[2021-03-03 22:04] eak006 commented on #1138
I understand. You can close this thread until it becomes relevant again since I have found a backdoor solution in the meantime.

[2021-03-04 01:41] jdneo commented on #1138
Ok, but feel free to let us know when a sample project is available for this issue.

[2021-03-04 01:41] #1138 closed

[2021-03-04 01:45] jdneo commented on #1153
@mfussenegger This extension does not use any private NPM registery. Neither the module `zip-stream`.

[2021-03-04 09:10] #1153 closed

[2021-03-04 13:44] noschang commented on #576
@jdneo any Java project I try to open gives me the same results. I'm sending you a brand new project that I created using VSCode pallete command "Create Java Project". Here it is: [MyProject1.zip](https://github.com/microsoft/vscode-java-test/files/6083875/MyProject1.zip), and the process I've followed:

### 1. Creating the project

![Captura de tela de 2021-03-04 09-46-00](https://user-images.git

[2021-03-04 19:42] shockdm opened #1154 "how does this pluging determine java home?"
I am struggling to understand where Java Test plugin is getting JAVA_HOME value from. System wide JAVA_HOME is set to `/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home`, however when trying to run tests via `Run Test` annotation - and executing the following code in the test itself:
[code]

I am seeing:
[code]

This JRE is not used or set anywhere that I know of...

This is on M

[2021-03-05 02:02] jdneo commented on #1154
The Test Runner extension itself does not detect JDK installations. The [Java Language Support](https://github.com/redhat-developer/vscode-java) is responsible for such task.

The Java Language Support needs JDK 11 to launch itself, but it does not mean it's also a requirement to build your project. I guess your project has some kind of setting in pom,xml/build.gradlet o specify the Java version t

[2021-03-05 02:18] jdneo commented on #576
@noschang

Tried your project on my side. It works without any problem.

![image](https://user-images.githubusercontent.com/6193897/110057287-4f5f9880-7d9b-11eb-9203-c582f2163fad.png)

- Is that a symlink folder on your Linux Machine?
- Are latest Java extensions installed?
- The `java.version` is set to 14 in the project pom.xml, but it's showing JDK 11 according to the screenshot. Try right clic

[2021-03-05 02:25] jdneo commented on #1140
Currently the when launch a test, we resolve the classpath and pass it to the Java Debugger. So the `-cp` is ignored.

This a valid request that the Test Runner should consider how to better integrate with the Java Debugger.

[2021-03-05 03:14] jdneo commented on #1143
What's the folder opened in your VS Code I opened  https://github.com/exercism/java/tree/main/exercises/practice/acronym and see this warning

![image](https://user-images.githubusercontent.com/6193897/110061442-90a77680-7da2-11eb-8f4c-4d0d991e93c4.png)

[2021-03-06 14:02] noschang commented on #576
@jdneo oh my goodness!! You saved me!

Yes, based on your answer I investigated and remembered that my projects are stored inside a symlinked folder. I moved the project to a regular folder and it worked like a charm!! I didn't have to do anything! Just move the folder.

Thank you very much!!

I just wonder why this is a problem. From my point of view this should not be a issue, since the O.S. sho

[2021-03-08 02:09] jdneo commented on #576
@noschang

Good to know we found the root cause! It seems that VS Code do have some issues with the symlink, see: https://github.com/microsoft/vscode/issues/74104, though I don't know the details of them. 🤔

[2021-03-09 02:57] #1139 closed

[2021-03-11 03:22] kohane27 opened #1156 "Detect the presence of Test Report (Test Explorer) for keyboard shortcut"
Hello there! Thanks for looking into this issue. I appreciate your time and help.

This is what I mean by "Test Report being present":

![presence](https://user-images.githubusercontent.com/57322459/110730713-e5903480-825b-11eb-9bf1-9f46ab1ac18c.png)

The Java Test Report in open in a tab (in the second Editor Group)

I'm trying to add a keybinding that would allow me to use the same keybinding to

[2021-03-11 04:30] jdneo commented on #1156
I think `testExplorerVisible` is a context registered by https://github.com/hbenl/vscode-test-explorer, which is not supported by this extension.

How about this workaround: `"resourceFilename =~ /.*Tests?.java$/"`

[2021-03-11 06:58] kohane27 commented on #1156
Oh yes, I was randomly trying conditions like `testExplorerVisible`, probably inspired by that addon.

I'm happy to report that your workaround solution works flawlessly! Should've looked more closely into the vscode's innate condition supports.

Thanks again!

[2021-03-11 07:01] jdneo commented on #1156
Good to know it works. You can take a look at this post if you are interested: https://code.visualstudio.com/api/references/when-clause-contexts.

[2021-03-11 07:01] #1156 closed

[2021-03-13 14:31] nihaoaeee opened #1157 "{"message":"Error: Running the contributed command: 'java.execute.workspaceCommand' failed..","level":"error"} {"message":"Error: Running the contributed command: 'java.execute.workspaceCommand' failed..","level":"error"}"
{"message":"Error: Running the contributed command: 'java.execute.workspaceCommand' failed..","level":"error"}
{"message":"Error: Running the contributed command: 'java.execute.workspaceCommand' failed..","level":"error"}

[2021-03-13 14:32] #1157 closed

[2021-03-16 05:20] fakeYanss opened #1158 "Failed to get workspace folder for the test items"
The error only occurred in this way:

1. set up a project, path: `/project`
2. make symbolic links, `ln -s /project /home/user/project`
3. vscode open new folder
    1. open `/project`, vscode-java-test run as well as always
    2. open `/project /home/user/project`, vscode-java-test cannot auto attach unit test function, and run specified funciton, will make error `Failed to get workspace folder

[2021-03-16 05:31] jdneo commented on #1158
Duplicated with https://github.com/microsoft/vscode-java-test/issues/630

[2021-03-16 05:31] #1158 closed

[2021-03-16 15:20] shaif-dorIT opened #1159 "Junit4 Not Working when i used the new java project with no build tools"
I tried to run some unit test using Junit4.

I downloaded the jars as they said in the docs: [VScode Java unit testing](https://code.visualstudio.com/docs/java/java-testing#_getting-started-for-junit-4)

and added them to my project under lib directory.
![image](https://user-images.githubusercontent.com/53523883/111333387-4fa14300-867b-11eb-874f-f59165cff5bd.png)

they have been recognized by the

[2021-03-16 19:56] RockiRider opened #1160 "After removing the extension Icon is still visible"
![image](https://user-images.githubusercontent.com/32150283/111371541-79656480-8691-11eb-9acd-70c16843ff2a.png)

Can I not uninstall this extension? I'm keeping the icon hidden for now, its just a bit annoying to have there especially when I am not using it

[2021-03-17 01:47] jdneo commented on #1160
Do you want to disable the extension when you are not working on a Java project?

[2021-03-17 01:54] jdneo commented on #1159
It should be ok. Can you try clean the workspace and restart?

![image](https://user-images.githubusercontent.com/6193897/111402725-b3bd1900-8706-11eb-9920-283a7a4b27a5.png)

If it's still not working after cleaning, could you share the project for us to diagnostic?

[2021-03-17 06:36] shaif-dorIT commented on #1159
Hi, Thanks but I tried it already I will try it again and will update the result back.

hoping for it to work :).

[2021-03-17 06:43] shaif-dorIT commented on #1159
Well It's still refusing to work.

how you want me to share the project with you?

currently it's private repository here on GitHub.

[2021-03-17 07:34] jdneo commented on #1159
You can make a copy and push to a new public repo in GitHub. Remember to remove all the private information.

[2021-03-18 19:58] RockiRider commented on #1160
Nope, I just wanted it completely uninstalled. When I uninstall it and reload VSCode, the icon in the side bar is still there for some reason.

As shown in the screenshot above, the extension is not currently installed but somehow the Icon is still there?

[2021-03-19 01:35] jdneo commented on #1160
I guess it should be other extensions register their tree view in the test view. Please check if there is any other test related extensions installed on your side.

[2021-03-19 01:35] #1160 closed

[2021-03-19 06:59] shaif-dorIT commented on #1159
it's not really private it's just our college lessons mini-project we need to develop step by step through the semester.

This is the new public repo I created with the basic files: [MyRepo](https://github.com/shaif-dorIT/Java-Test-Runner-Not-Working).

you can test it I also uploaded which jars I used in the lib directory.

[2021-03-19 07:07] jdneo commented on #1159
Hmm, cannot repro

![image](https://user-images.githubusercontent.com/6193897/111743487-bd8c7b00-88c4-11eb-8627-a98aada2d258.png)

[2021-03-19 07:08] jdneo commented on #1159
Reinstall the extension maybe?

Remove the folder `$home/.vscode/extensions/vscjava.vscode-java-test-0.xx.x` entirely, and install it again?

[2021-03-19 08:10] shaif-dorIT commented on #1159
Summary:
I have tried uninstall deleting the file and reinstalling the extension.
Then I tried to install jdk-11 of openAdopt from the Configure Java Runtime menu in VSCode.

Sadly, both failed.

Then, I got an idea to check my path to the directory for any non alphanumeric characters.
Since my folder has Hebrew characters I moved it to by directly on my Desktop folder then it's started working.

[2021-03-19 10:51] maciej-salamon-ftm commented on #971
junit-platform-launcher:1.7.1 seems to work fine now

[2021-03-21 07:30] zackaka opened #1161 "java.lang.NoClassDefFoundError: org/hamcrest/SelfDescribing"
I am using vs code with java. I installed everything and running java classes fine.
I tried using JUnit testing and below is the error message am getting I have no idea what's going on here.

<img width="653" alt="Screen Shot 2021-03-21 at 2 29 22 AM" src="https://user-images.githubusercontent.com/81069442/111897331-561e1a80-89ed-11eb-9cc3-e69bb55395d0.png">

[2021-03-21 10:16] shaif-dorIT commented on #1159
Should I Close this issue?

or you want to keep it open until the Hebrew characters in path is resolved?

[2021-03-21 11:17] jdneo commented on #1159
An example of a path with Hebrew characters?

(Let's just leave this open)

[2021-03-21 11:18] jdneo commented on #1161
@zackaka Is there any build tools in your project folder? Or it's just a simple folder with Java files in it.

Meanwhile, please check if https://search.maven.org/artifact/org.hamcrest/hamcrest-core/1.3/jar is on your classpath

[2021-03-21 18:02] zackaka commented on #1161
there is no build tools were used. Also, i have added hamcrest-core  and junit-4 into my class path.

[2021-03-22 01:31] jdneo commented on #1161
Any special character in your project path?

[2021-03-22 09:22] jdneo commented on #1154
Close for inactive. If you have more questions, feel free to leave comments.

[2021-03-22 09:22] #1154 closed

[2021-03-22 09:22] jdneo opened #1162 "Adopt new Test APIs"
VS Code team is working on a new set of testing APIs. We plan to migrate to that API to provide better and more unified experience for testing scenarios.

[2021-03-25 22:46] tigerinus opened #1163 "Need to skip listing tests from specific folder"
The issue described in #464 seems to be exactly what I am looking for.

I want the Test Explorer to list only unit tests (src/test/java) and exclude all my integration tests (src/integration-test/java).

Is there such setting?

Thanks!

[2021-03-26 01:49] jdneo commented on #1163
There is a workaround to achieve this.

Open the `.classpath` file, find the entry `src/integration-test/java` and then remove `<attribute name="test" value="true"/>`

[2021-03-26 01:53] tigerinus commented on #1163
I am afraid this workaround does not persist. For a complicated project, occasionally we need to delete .classpath file to resolve some weird class missing issue. It'd be nice to have something that persists.

[2021-03-26 11:56] apupier opened #1164 "High CPU usage"
high CPU usage was reported here https://github.com/redhat-developer/vscode-java/issues/851

based on the discussions, it seems that it is coming from VS Code Java Test.
I think this comment https://github.com/redhat-developer/vscode-java/issues/851#issuecomment-596522231 is the one providing the more information.

[2021-03-27 05:19] jdneo commented on #1164
So, we also noticed the performance issues. In order to solve them, several efforts are made including but not limited to：

- Use `resolveBinding(...)` to get the test methods: https://github.com/microsoft/vscode-java-test/pull/1042
- Introduce more lazy-load mechanisms: https://github.com/microsoft/vscode-java-test/pull/1044
- Get ASTNode from cache: https://github.com/microsoft/vscode-java-test/

[2021-03-31 11:20] apupier commented on #1164
sounds like there are great improvements already. i tested the use case in this comment https://github.com/redhat-developer/vscode-java/issues/851#issuecomment-596522231

it took me 40 minutes with VS code java and VS Code java test activated.
I first built the project locally on command-mien to avoid impact of artefact download.

i was unable to take a Thread dump during the heavy load, jstack wa

[2021-04-01 09:22] jdneo commented on #1164
I did this experiment today, and below are the details:

## Environment
### Machine
MacBook Pro (13-inch, 2016, Four Thunderbolt 3 Ports), 2.9 GHz Dual-Core Intel Core i5, 8 GB 2133 MHz LPDDR3

### OS
macOs Big Sur 11.2.3

### VS Code
Version: 1.55.0
Commit: c185983a683d14c396952dd432459097bc7f757f
Date: 2021-03-30T16:01:05.981Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.3

[2021-04-01 12:28] apupier commented on #1164
@jdneo thanks for the manual. It sounds like there is no problem coming from vscode-java-test anymore with the provided steps.

[2021-04-01 12:28] #1164 closed

[2021-04-07 07:10] jdneo commented on #975
After some refactoring in https://github.com/microsoft/vscode-java-test/pull/1131, now the test runner can support other JUnit 5 test engines/platforms. (except for those JVM compatible language like Kotlin, which needs the upstream Java Language Server to support it).

So close this issue now.

[2021-04-07 07:10] #975 closed

[2021-04-07 08:14] jdneo opened #1166 "Click result code lens cannot show the report for the clicked test"
It will always show the last execution result

[2021-04-08 03:27] #1166 closed

[2021-04-10 19:56] pumano commented on #1020
@michalhosala  I got this too but problem is in junit jupiter, some libs absent and `testImplementation "org.junit.jupiter:junit-jupiter:5.6.0"` fix it. Because it contains all libs. But second error is about `testImplementation "org.junit.jupiter:junit-jupiter-engine:5.6.0"` which is not exist too. Just add it.

[2021-04-10 21:00] pumano opened #1171 "'Cannot find implementation' for mapstruct mappers"
I prepare repo: https://github.com/pumano/vscode-mapstruct-tests
just check via `gradle clean test` and then try to run via vscode.

You got `java.lang.ExceptionInInitializerError` which Caused by: `java.lang.ClassNotFoundException: Cannot find implementation for com.example.vscode.mapstructdemo.mappers.ExampleMapper`

looks like path to `generated` code not included to tests.

Also I link this is

[2021-04-11 06:53] itaygoz commented on #787
Hi, I have the same issue.
Seems like the testng is not configured correctly, also it doesn't make a report on test-output as usual.
I've tried to look at testng docs and seems like it needs to be configured, but I've failed to configure it.

Version: 1.55.0 (user setup)
Commit: c185983a683d14c396952dd432459097bc7f757f
Date: 2021-03-30T16:01:55.261Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js:

[2021-04-12 02:53] jdneo opened #1172 "Support Generate test"
This include two different features

- [x] Add test method and lifecycle methods from a test source
- [x] Generate test from a source (scaffolding)

[2021-04-14 07:32] maroony commented on #1070
I really miss this feature, too! In the meantime I'm using the extension "Partial Diff" and Copy&Paste the result and than do the diff.

[2021-04-14 09:03] jdneo commented on #1070
VS Code now is designing a new set of testing API, and having the capability to show this diff view. See the point 3 in this comment: https://github.com/microsoft/vscode/issues/107467#issuecomment-800044323

So far, from my understanding, different assertion libs have their own format to show expected-actual message. Then I need to parse them according to the format and filling the related fields.

[2021-04-14 11:08] pumano opened #1174 "High memory usage due to wrong cleanup java test processes"
After multiple running unit tests (junit 5 / gradle / spring boot tests or just classes) on macOS catalina I got multiple zombie java processes caused by VSCode and that processes eat all my memory and then going to my swap memory and eat 16gb hard drive memory. Till 100mb available memory on my hard drive. All of that instances is my application under test. Also closing vscode not killing that pr

[2021-04-14 11:41] jdneo commented on #1174
What kind of project/test are you running with? Would you mind to share a sample project for this issue.

I tried with some simple cases on my mac - running a test class several times and then use `jps` to list the java process, no other java process observed except for the process running Java Language Server.

[2021-04-14 13:01] pumano commented on #1174
@jdneo I will prepare suitable repo with project soon.

[2021-04-15 07:01] jdneo commented on #1174
Today I used [spring-petclinic](https://github.com/spring-projects/spring-petclinic) and trigger `PetclinicIntegrationTests` for several times, then use `jps` to check running Java process. Still there is only a process running Java Language Server

[2021-04-17 12:03] iamogbz opened #1175 "execute command for env"

[2021-04-17 12:03] #1175 closed

[2021-04-21 06:35] #1143 closed

[2021-04-21 13:45] mfussenegger commented on #1073
Noticed the same problem in CrateDB. We switched from a custom testOutput configuration to test fixtures. (The custom testOutput configuration worked well with Gradle 6.6.x, but didn't work anymore with Gradle 6.7, see https://github.com/eclipse/buildship/issues/1035).

PR with the change: https://github.com/crate/crate/pull/11290

What may be interesting is that the `java.project.getClasspaths` c

[2021-04-26 05:42] testforstephen opened #1182 "Generated test methods reduced the visibility of the duplicated methods from inherited class"
Below are samples.
[code]

[code]

Should check if the inherited class contains the same methods. If they're visible to the subclass, the subclass should not reduce the visibility of these methods. Also add `@Override` annotation for them.

[2021-04-26 08:44] testforstephen opened #1184 "More friendly method names for users to pick"
![image](https://user-images.githubusercontent.com/14052197/116052268-0a295a00-a6ac-11eb-9050-f366a91506b7.png)

When i tried to generate setUp method, it took me a while to understand which annotation i should use.
Since setUp and tearDown are concepts more commonly, i suggest to add it to the quickpick.

The items could be like the following:
- `@Test`
- `setUp/@BeforeEach`
- `tearDown/@AfterEac

[2021-04-26 15:29] RationalPi commented on #984
I have the same problem. Running on macOS Catalina (Version 10.15.7) with vscode 1.55.1 with a Java Dev Container (mcr.microsoft.com/vscode/devcontainers/java:0-15). Closing the Java Test Report and reopening it seems to fix it - at least temporarily.

The output for Java Test Running contains the following over and over again: "Error: Running the contributed command: 'java.execute.workspaceComman

[2021-04-27 02:48] #1184 closed

[2021-04-28 01:56] #1182 closed

[2021-04-28 19:48] eak006 commented on #1138
Update: My team shifted to Java 11 and everything is working fine.

On a slight tangent, I found that [this person](https://github.com/microsoft/vscode-java-debug/issues/656) had a similar issue to mine but their solution didn't work for me.

[2021-04-28 20:02] eak006 opened #1187 "Have unit tests update coverage files afterwards."
Is it possible to run a JUnit test(s) through the vscode-java-test plugin and have the coverage XML files updated immediately afterwards?

I'm using the [Coverage Gutters plugin](https://marketplace.visualstudio.com/items?itemName=ryanluker.vscode-coverage-gutters) by ryanluker to read my coverage files and light up my source code with green/red if, respectively, a unit test has/hasn't executed th

[2021-04-28 20:07] eak006 commented on #1187
Just for clarification, the Coverage Gutters plugin reads in the coverage XML files from a specific directory. I want to know if *this* plugin can implicitly update that directory after running a unit test via the sidebar or the `Run Test`/`Debug Test` options shown directly above a unit test method.

[2021-04-29 01:39] jdneo commented on #1187
Code coverage will be a important story we will visit in the near future. (By adopting the VS Code new Testing APIs: https://github.com/microsoft/vscode/issues/107467#issuecomment-822849983)

[2021-04-29 07:29] #1174 closed

[2021-04-29 08:00] jdneo commented on #1174
@pumano  If you have any more information, feel free to comment here.

[2021-04-29 18:32] rubensa opened #1189 "After upgrade from vscode-java v0.77.0 to v0.78.0 can't debug tests"
After upgrade [vscode-java](https://github.com/redhat-developer/vscode-java) from v0.77.0 to v0.78.0 can't debug tests, only execute them

##### Environment
- Operating System: Linux
- JDK version: 11
- Visual Studio Code version: 1.55.2
- Java extension version: 0.78.0

##### Steps To Reproduce
1. Open a maven project with JUnit tests
2. Try run the test in debug mode

##### Current Result
An err

[2021-04-29 21:01] abrahammurciano commented on #1189
Can confirm, this issue affects me too.
OS: 5.11.16-arch1-1
redhat.java extension: v0.78.0
vscjava.vscode-java-test extension: v0.29.0

[2021-04-30 03:10] snjeza commented on #1189
You may want to take a look at microsoft/vscode-java-debug#995 (comment)

[2021-04-30 06:37] shaif-dorIT commented on #1159
Hello just checking where it's standing?

Should I close this issue?

Also, recently the Java test explorer not showing the tests, how does it find them?
does it's looking inside specific directory and can I change it?

Thanks for your help

[2021-04-30 08:09] testforstephen commented on #1189
Hi, I just released a hotfix release 0.33.1 for "Debugger for Java" extension. It will work with both vscode-java@0.77.0 and 0.78.0. Please have a try. thanks.

[2021-04-30 08:09] #1189 closed

[2021-04-30 08:17] jdneo commented on #1159
The extension will check the folders according to the project's source paths. What's your project structure now?

[2021-04-30 08:41] shaif-dorIT commented on #1159
![image](https://user-images.githubusercontent.com/53523883/116670893-f1b98800-a9a8-11eb-89bc-5759e3f53b6e.png)
This is the the folder structure and all my test sit under unittests

[2021-04-30 12:58] AboDa7aM opened #1190 "VSCode Java Debugger throwing unknown error"
When i try to run the test, it runs without any problems.
But When trying to debug a test this error is shown
[code]
![alt text](https://i.stack.imgur.com/yb4YQ.png "Error")

I've looked into the Output tab under "Language Support for Java" and its giving me this trace
[code]
The launch.json configuration was auto-generated, and previously worked. No changes have been made to my JDK or my pom.xml.

[2021-04-30 12:59] AboDa7aM commented on #1190
Someone else posted the same problem on StackOverFlow
[https://stackoverflow.com/questions/67327031/vscode-java-debugger-throwing-unknown-error](url)

[2021-04-30 13:06] dsyer opened #1191 "Debug code lens errors out with Java 17"
The "Run" code lens seems to work, but the "Debug" one just gets me an error dialog and an offer to open `launch.json` (not helpful).

[2021-04-30 14:03] testforstephen commented on #1191
this seems duplicated with https://github.com/microsoft/vscode-java-test/issues/1189.

The "Debugger for Java" extension published a hotfix release 0.33.1 for it, did you try it?

[2021-04-30 14:04] testforstephen commented on #1190
this seems duplicated with #1189.

The "Debugger for Java" extension published a hotfix release 0.33.1 for it, did you try it?

[2021-04-30 14:26] dsyer commented on #1191
I did not. But I can only see 0.31.0 in VSCode extensions marketplace view. Do I need to update or configure something?

[2021-04-30 14:30] testforstephen commented on #1191
Oh, you're using an older VS Code version, the latest debugger requires a minimum VS Code 1.55.0.

[2021-04-30 14:54] dsyer commented on #1191
That works. Thanks.

[2021-04-30 14:54] #1191 closed

[2021-04-30 15:02] #1190 closed

[2021-05-01 04:46] jdneo commented on #1159
Is it possible to share the project?

[2021-05-04 17:07] lszomoru opened #1192 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-06 06:46] CarlPer commented on #596
Is there any progress on this issue, this feature would help me a lot

[2021-05-06 19:00] jheidlage1222 opened #1194 "Getting java.lang.UnsupportedClassVersionError in debug console when trying to run or debug any test"
[provide a description of the issue]

##### Environment
- Operating System: Windows 10 Pro
- JDK version: 11
- Visual Studio Code version: 1.56.0
- Java extension version: v0.14.0
- Java Debugger extension version: 0.33.1

##### Steps To Reproduce
1. Go to any test file
2. Click debug test
3. Observe debug console open

##### Current Result
Debugging fails, error is shown
![image](https://user-ima

[2021-05-06 23:55] jdneo commented on #1194
Would you mind to share a sample project for this issue?

[2021-05-07 08:37] #1161 closed

[2021-05-07 08:56] jdneo commented on #903
Close since being inactive for a long time. Please let me know if you have any concerns.

[2021-05-07 08:56] #903 closed

[2021-05-07 11:48] lszomoru opened #1195 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-09 03:05] MxD-js opened #1196 "Code Lens not showing up for individual test cases. .class"
Hi,

I have a tests.jar package that has the tests included, I did not write the tests, instead the've been downloaded by maven, the pom.xml has them as dependency.  I've downloaded the sources as well, however Code Lens does not provide the Run Test| Debug Test above each test case, or the test class.

Here's the video, I have a TestSuite.java that shows the Run Test | Debug Test, but when I navi

[2021-05-09 13:49] Empressia opened #1197 "Cannot run tests when the path has space"
## 環境
* Windows 10 Pro
* Visual Studio Code 1.56
* Java Extension Pack 0.14.0
* Java Test Runner 0.29.0

## 問題

JPMSの（module-info.javaを含む）テストを実行しようとすると、
TestEngineを探しに行くときにネットワークパスを探しに行ってエラーとなります。

module-info.javaを削除してRun Testを実行すると正常にテストが実施されます。

gradleからは正常にテストが実施されます。

## 参考
以下に、サンプルのプロジェクトを作成しました。
https://github.com/Empressia/VSCodeJavaTest02

[2021-05-10 01:38] jdneo commented on #1197
@Empressia thank you for reporting the issue. Would you mind to update it to English?

[2021-05-10 01:56] Empressia commented on #1197
I tried to translate.

## Environment
* Windows 10 Pro
* Visual Studio Code 1.56
* Java Extension Pack 0.14.0
* Java Test Runner 0.29.0

## Problem

Try to run a test that contains "module-info.java"(JPMS file), TestEngine not found.
It seems to access the network path.

Remove "module-info.java" and Run Test, the test will run successfully.

The test is successful with gralde.

## Reference
I cre

[2021-05-10 02:02] jdneo commented on #1197
Thank you @Empressia

[2021-05-10 05:10] jdneo opened #1199 "Improve the test configuration"
Currently there are several issues that reporting the limited capability of the test configuration:

- https://github.com/microsoft/vscode-java-test/issues/1101
- https://github.com/microsoft/vscode-java-test/issues/1140
- https://github.com/microsoft/vscode-java-test/issues/1152

Basically, all of them are caused by the gap between the schema of test configuration and the capability of current `D

[2021-05-10 07:17] jdneo commented on #1152
Closed and track by #1199

[2021-05-10 07:17] #1152 closed

[2021-05-10 07:25] jdneo commented on #1140
Closed and tracked by #1199. A rough idea is to fully honor the launch configuration of `Debugger for Java` thus the user can set `classpaths` separately in the setting.

[2021-05-10 07:25] jdneo commented on #1101
Closed and tracked by #1199. A rough idea is to fully honor the launch configuration of Debugger for Java thus the user can set modulepaths separately in the setting.

[2021-05-10 07:28] jdneo commented on #1197
@Empressia Please correct me if I'm wrong.

The sample project looks very similar with that in https://github.com/microsoft/vscode-java-test/issues/1101.

So I guess once the user can set `modulePaths` in the test configuration, the problem should be resolved?

[2021-05-10 08:13] Empressia commented on #1197
"modulePaths"を設定できると、それは解決できるかもれません。

ただそれは、"module-info.java"の違いから考えられる、テストへの入力の違いだからです。
現在得られているエラー出力からではありません。

よって、可能性があるとは思いますが、それ以上のことはわかりません。

------------------------

If I can set "modulePaths", it may be solved.

That's because I think the input to the test is different depending on the "module-info.java".
Not from the error output currently obtained.

So I think there's a possibility of

[2021-05-10 08:27] Empressia commented on #1197
否定する要素としては、このプロジェクトでは、外部のモジュールを使用していないため、
module pathを明示的に指定する必要がなさそうなことです。

------

From a negable point of view, this project doesn't use external modules, so i don't seem to have to explicitly specify module path.

[2021-05-10 08:53] jdneo commented on #1152
Also, you can also use the setting that the debugger exposed in the `settings.json`

For example, add following setting into settings.json

[code]

[2021-05-10 09:08] jdneo commented on #1140
@llgcode Will it work for you if Debugger expose a setting to specify classpaths in the workspace setting?

And another question, in your case, will you need to configure multiple different classpaths when running towards different cases?

[2021-05-10 09:09] jdneo commented on #1101
@Empressia Will it work for you if Debugger expose a setting to specify modulePaths in the workspace setting?

And another question, in your case, will you need to configure multiple different modulePaths when running towards different cases?

[2021-05-10 09:25] Empressia commented on #1101
回答になるかわかりませんが、デバッガーはmodulePathを生成していると考えています。
Gradleから正しく検出されてmodulePathが構成されるのが理想です。

検出しないのであれば、差分を追加設定する必要があります。
現在は、vmArgsにmodule-pathを設定すると、両方が有効になるのではなく、片方だけが有効になってしまいます。
よって、ユーザーが指定したものと、検出したものを、同時に設定する機能が少なくとも必要だと考えます。

-----

I don't know if it will be an answer, but I think the debugger is generating a modulePath.
The ideal is to be detected from Gradle. And it's set on --module-path.

I

[2021-05-11 01:19] Empressia commented on #1101
短く回答します。

あなたが言うとおりの理由で、わたしは、モジュールパスを指定する必要があり、
わたしは、この設定を"java.test.config"で行うべきだと考えていました。
これが、デバッガーの設定なのか、テストランナーの設定なのかは、認識できていません。

----------

I will answer short.

For the reasons you say, I need to specify a module path,
I thought this should be done with "java.test.config".
I don't know if this is a debugger setting or a test runner setting.

[2021-05-11 07:05] MxD-js commented on #1196
precisely. see screen shot below this is after sources downloaded. The green play buttons starts the test for each individual test case

![image](https://user-images.githubusercontent.com/60336163/117772733-587e4300-b1ec-11eb-9543-94fb1b266bd2.png)

[2021-05-11 08:55] jdneo commented on #1196
Ok, so far the implementation is only register the code lens on `*.java` files. So it is as expected.

I think the behavior of showing the content of the BrokerTest class in VS Code and IntelliJ are very similar. Only the file extension names are different from `.java` and `.class`.

So the question is whether we need to also apply it to `*.class` files.

[2021-05-12 01:54] jdneo commented on #1196
Unfortunately, we haven't expose this setting for now. But this could be a potential way to support this request.

[2021-05-13 08:43] #1172 closed

[2021-05-14 09:00] sfrank-mc opened #1201 "Run-with-Configuration missing support for preLaunchTask"
According to https://github.com/microsoft/vscode-java-test/wiki/Run-with-Configuration we're supposed to transition to use the new `java.test.config` which replaces the older `launch.test.json`.

The new configuration doesn't support everything that launch configs do.
For example we would like to have a `preLaunchTask` which doesn't seem to work or be supported.

It would be much more helpful to u

[2021-05-17 05:00] Prasad-Chaudhari opened #1202 "Java test report in new group"
Is it possible that we java test report does not open in a new group? It becomes very irritating for someone like me who does not have a big screen and have screen space for 2 or more groups.

[2021-05-17 05:19] jdneo commented on #1202
You can set the setting `java.test.report.position` to `currentView`

[2021-05-17 05:19] #1202 closed

[2021-05-18 10:00] ivorobioff opened #1203 "Searching tests infinitively slow but not always for Spring projects"
When I try to run all tests for one of the projects in my workspace from the "Testing" tab it starts searching tests too long (I waited about 15 min max. and gave it up). However, after running all tests on my another project from the same workspace it took several seconds to find tests and all tests were executed ok. The interesting thing is that after this, when I run again all tests for the fir

[2021-05-19 01:35] jdneo commented on #1203
Is there any way to stable reproduce it?

[2021-05-21 00:24] #1194 closed

[2021-05-24 02:30] testforstephen opened #1205 "Source action "Generate Test" failed when running it in a class of a new package"
Reproduce steps:
- Add a new package `variables` in your src. Make sure the test folder doesn't contain `variables` package.
- Add a Java file `Hello.java` in `variables`, and click "Generate Test" source action in `Hello`.

The source action failed silently, here is the stack trace.

[code]

[2021-05-24 02:47] testforstephen opened #1206 "Support "Generate Test..." in interface methods"
![image](https://user-images.githubusercontent.com/14052197/119289531-59e44c80-bc7d-11eb-8435-3d39148cc49a.png)

Since the interfaces could add default implementation for method, we should allow to add tests for interface methods as well.

[2021-05-24 05:44] testforstephen opened #1208 "Support "Generate Test..." into a standalone test project for multi modules"
When trying "Generate Test..." feature in `org.eclipse.jdt.ls.core` project, it failed because my project didn't contain any unit test framework. But actually all my test cases are placed at a separate project `org.eclipse.jdt.ls.tests`.

![image](https://user-images.githubusercontent.com/14052197/119301700-79876f00-bc95-11eb-8d25-cb7f7ddc526c.png)

Ideas:

If current project doesn't contain any u

[2021-05-24 07:23] jdneo opened #1210 "Method names will be duplicated when multiple overload methods are selected"

[2021-05-24 07:30] #1205 closed

[2021-05-24 12:21] #1210 closed

[2021-05-25 01:41] #1206 closed

[2021-05-25 03:01] #1208 closed

[2021-05-28 04:57] USTQE commented on #596
It would be great to have the feature for test engineers to run BDD cucumber tests and a suite of test script execution as well. Please let us know when we can expect this changes :)

[2021-06-03 04:01] mic4126 commented on #435
As I see this issue do not updated for a long time.

I created a minimal repo to reproduce the bug. Hope it can help to solve this issue.

https://github.com/mic4126/vscode_java_test_abstract_class_bug

[2021-06-04 08:38] Szwajcii commented on #425
Hello ;) Any news about Spock framework support? ;)

[2021-06-05 17:28] EdgarArguelles commented on #534
issue is still happening in version 0.30.0

[2021-06-07 01:18] jdneo commented on #534
@EdgarArguelles Could you share a sample project?

[2021-06-08 02:51] testforstephen opened #1213 "Typos: Show inherited methods"
![image](https://user-images.githubusercontent.com/14052197/121114977-14ac4700-c847-11eb-83e6-41c6d9ff0024.png)

There is typos in the tooltip for plus button.

Show inherit methods -> Show inherited methods

[2021-06-18 14:56] nerdkid93 opened #1214 "Allow `envFile` alternative to `env` in `java.test.config`"
The VS Code `launch.json` file allows specifying `envFile` in addition to `env`. However, there does not appear to be a similar mechanism when running tests via this extension. It would be super handy to be able to have 1 file specify the `env` rather than duplicate it in both `.env` and `.vscode/settings.json`.

[2021-06-25 06:43] jdneo opened #1215 "Sometimes the extension is not working when switching from restrict mode to trust mode"

[2021-06-25 08:57] #1213 closed

[2021-06-26 01:18] #1215 closed

[2021-06-26 13:43] astrelsky opened #1219 "vscode-java-test causes server crash (NPE)"
Appears to be due to a missing dependency. My project currently does not have any tests and this is preventing the language server from starting. Here is the first stack trace, see the attached log for more details.

vscode:
Version: 1.57.1 (system setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.

[2021-06-27 16:14] leogott opened #1220 "The Java Test Runner "Output" does not break lines"
The VSCode Output of Java Test Runner does not contain any newlines

**Steps to reproduce:**
1. open a file that produces a lot of Errors (for example a class with mismatched file name)
2. Show Test Output

**Versions**
vscode 1.57.1
java-test 0.30.0
java adapt-openjdk 8
junit jupiter 5.7.0 via maven
system windows with WSL

Issue 1/? that arose while trying to write a decent Issue Report for my o

[2021-06-27 16:29] leogott opened #1221 "Messages N/A and stack-trace on failure with jupiter"
The Java Test Report always shows `Message: N/A` for failed tests with messages, and a full stack trace starting with the AssertionFailedError.

Instead the Assertion's Message should be read properly and a Stack trace at most to the Line that failed the Assertion,
not to the test runner internals

[code]

![grafik](https://user-images.githubusercontent.com/61663141/123550983-13987680-d770-11eb-8c

[2021-06-27 16:33] leogott opened #1222 "Java Test Report has context menu with non-functional entries"
The Java Test Report has a context menu with Cut, Copy, Paste Entries that aren't functional

**Expected Behavior**
The CutCopyPaste Entries should only appear on selected tests and not on the panel itself

![grafik](https://user-images.githubusercontent.com/61663141/123551964-5fe5b580-d774-11eb-9b79-1fcade714896.png)

[2021-06-27 16:48] leogott opened #1223 "Java Test Report gives no indication of a test being a Parameterized Test"
Java Test currently does not display individual executions of parameterized tests or the number of executions.

#667 is related, but this Issue here can probably solved more quickly?

With a class like

[code]
I'd expect an output like:

1 testAnotherThing
2 testAnotherThing

or

testAnotherThing (2/2)

and not
![grafik](https://user-images.githubusercontent.com/61663141/123552712-9a9d1d00-d777-11

[2021-06-28 01:23] jdneo commented on #1223
dup with #954

[2021-06-28 01:23] #1223 closed

[2021-06-28 03:35] CsCherrYY opened #1225 ""Go to Test" triggers test explorer changes in new Test APIs"
I just tried #1162 , and there is a strange UI behavior. When I click `Go to Test` menu in the test explorer, the test explorer will change, the test node will disappear and appear again.
![gototest](https://user-images.githubusercontent.com/45906942/123576097-e0ec8d80-d804-11eb-8709-032552f1196c.gif)

[2021-06-28 05:10] CsCherrYY opened #1226 "Editing causes test explorer changes in new Test API"
When editing java file with the new Test API, the test nodes in the test explorer sometimes change. IMO if there is any error in the test file, the whole test node `PetTypeFormatterTests` can keep and the child node like `testPrint` can be dismissed.
![editing](https://user-images.githubusercontent.com/45906942/123583218-cf5db280-d811-11eb-8f1c-44e3389a21ba.gif)

[2021-06-28 05:25] jdneo commented on #1226
The root cause is the same as #1225

[2021-06-28 05:53] #1226 closed

[2021-06-28 07:11] jdneo commented on #1225
Fixed in https://github.com/jdneo/vscode-java-test/commit/b4e95958f70222fd02bdf3d8b28e93b13764766f.

Please find the latest bit in #1162.

Close it for now.

[2021-06-28 07:11] #1225 closed

[2021-06-28 07:31] testforstephen opened #1227 "Contributed command failed in new test API"
Failure in test explorer:
![image](https://user-images.githubusercontent.com/14052197/123597266-b3fca280-d825-11eb-84df-cd5a18b65f72.png)

Logs:
[code]

[2021-06-28 07:38] jdneo commented on #1227
What's the content of LambdaScopeTest.java?

[2021-06-28 07:46] testforstephen commented on #1227
src/main/java/LambdaScopeTest.java

[LambdaScopeTest.java.txt](https://github.com/microsoft/vscode-java-test/files/6724392/LambdaScopeTest.java.txt)

[2021-06-28 08:17] testforstephen opened #1228 "Refine the order of the top buttons in Test Explorer"
![image](https://user-images.githubusercontent.com/14052197/123603269-4b64f400-d82c-11eb-858c-06bfddf5d9be.png)

Suggest to place the collapse button at the last.

[2021-06-28 08:22] testforstephen opened #1229 "The top Cancel button doesn't work well"
![image](https://user-images.githubusercontent.com/14052197/123603743-c3cbb500-d82c-11eb-8cb1-3e657c5aef1b.png)

- Click “Debug All Tests” button first
- Then click "Cancel Test Run" button. The test is not cancelled, need click again.

[2021-06-28 08:35] testforstephen opened #1230 "Display multiple progresses reporter when trigger "Run Test" on a test class"
- Open spring-petclinic project.
- Go to Test Explorer, find ClinicServiceTests and execute "Run Test". It pops up two progresses.
![image](https://user-images.githubusercontent.com/14052197/123605518-80724600-d82e-11eb-8636-15b0b4899e91.png)

[2021-06-28 09:10] testforstephen opened #1231 "Try not to open a new debug console every time"
Tried playing with the new Test API for a while, and found that there are lots of consoles opened in the DEBUG CONSOLE view. I prefer not to create new console, but reuse consoles whenever possible.
![image](https://user-images.githubusercontent.com/14052197/123610288-08f2e580-d833-11eb-8458-7c53996292b0.png)

[2021-06-28 09:46] testforstephen opened #1232 "Should not switch the focus of my current view when running tests"
https://user-images.githubusercontent.com/14052197/123616045-781f0880-d838-11eb-89be-74565a657852.mov

[2021-06-28 14:00] jjwils commented on #779
+1

[2021-06-29 02:00] jdneo commented on #1230
The following code can be used to repro this issue:

[code]

[2021-06-29 05:55] jdneo commented on #1229
Fixed in https://github.com/jdneo/vscode-java-test/commit/8928b7de4f32613d6f106b8d76aea09420ff904c

[2021-06-29 05:55] #1229 closed

[2021-06-29 08:02] jdneo commented on #1231
fixed in https://github.com/jdneo/vscode-java-test/commit/28e00d9dfd7d1eb6a2a479d9042d0223a98a6a3f

[2021-06-29 08:02] #1231 closed

[2021-06-29 18:29] jonathanvila opened #1233 "When running JUnit tests, properties set on surefire plugin are not available"
Setting systemProperties on the surefire plugin seems to not be available when running a test.

Project to test : [github.com/konveyor/tackle-pathfinder ](github.com/konveyor/tackle-pathfinder)
Class to test : AssessmentsResourceTest.java ( any test )

It will fail becayse the system property "keycloak.version" defined in a dependency of this project is not available to the test. This project depe

[2021-06-30 05:42] jdneo commented on #1219
@astrelsky Could you please try:

1. Clean the global cache, which locates at `C:\Users\<user name>\AppData\Roaming\Code\User\globalStorage\redhat.java\<current version of your extension>`
2. Remove the test runner extension which locates at `C:\Users\<user name>\.vscode\extensions\vscjava.vscode-java-test-xxx`
3. Reinstall the test runner extension

[2021-06-30 06:45] #1232 closed

[2021-06-30 09:32] astrelsky commented on #1219
Sure. I will give it a  shot tonight and report back.

[2021-06-30 23:10] astrelsky commented on #1219
It seems to be ok now. If for any reason I missed something and it occurs again I will reopen this ticket.

[2021-06-30 23:10] #1219 closed

[2021-07-03 12:36] jdneo commented on #1227
Looks really strange, Both the extension and Eclipse use the same way to discover test but Eclipse works fine.

Meanwhile, I found two ways to avoid this exception.

1. If the inner most `new Runnable` block is commented, no exception will be observed.
2. Or, If open the file `LambdaScopeTest.java` before searching the test items.

[2021-07-05 02:44] jdneo commented on #1222
Thank you for reporting.

Just FYI, in the near future we will migrate to the VS Code's new test APIs which means the test report view will be deprecated.

See: https://github.com/microsoft/vscode-java-test/issues/1162

[2021-07-05 02:46] jdneo commented on #1221
Thank you for reporting.

Just FYI, in the near future we will migrate to the VS Code's new test APIs which means the test report view will be deprecated.

See: #1162

[2021-07-05 02:47] jdneo commented on #1220
Thank you for reporting.

Just FYI, in the near future we will migrate to the VS Code's new test APIs which has the embedded output terminal.

See: #1162

[2021-07-11 15:10] baincd commented on #1203
I have also experienced this behavior.  This is on a Multi-module Spring Boot project using Maven.  I have not yet been able to reliably reproduce it.

What happens is:
- Test sidebar > Run all tests (never finished searching for tests)
- Cancel
- Run all the tests individually from the Explorer sidebar (by module or package) - they all run fine
- Test sidebar > Run all tests (finds and runs tests

[2021-07-16 08:23] jdneo commented on #1228
In the latest insider, `collapse all` has been moved into the overflow button.

![image](https://user-images.githubusercontent.com/6193897/125916544-b4dc6a2f-6798-4152-9ec5-eaca5e237768.png)

[2021-07-16 08:23] #1228 closed

[2021-07-17 01:45] LetTheAwesomeBegin commented on #1073
Also noticed the same thing when using the following [sample project](https://github.com/LetTheAwesomeBegin/gradle-test-fixtures-example) based off [Gradle's documentation](https://docs.gradle.org/current/userguide/java_testing.html#sec:java_test_fixtures).

Eclipse and IntelliJ IDEA executes the included tests successfully.

[2021-07-17 07:03] #1159 closed

[2021-07-17 07:11] jdneo commented on #1203
Reopen this since @baincd provides steps to repro. Will take a look when I have time.

Thanks.

[2021-07-21 17:39] ghartz-hz commented on #1203
Just a datapoint, if it helps -- this has been a problem for me since early 2021. I'm not positive when it showed up, but it was at least 4-5 months ago.

It only seems to happen at the project root -- going down to a package level (even a package with a lot of tests) finds and starts them instantly. But even a tiny project with a single test, when run at the root of the tree, never actually retur

[2021-07-22 01:42] jdneo commented on #1203
I tried the https://github.com/spring-projects/spring-petclinic project but not able to reproduce this.

Anyway, we are close to release branding-new extension really soon. ([adopting the VS Code new testing API](https://github.com/microsoft/vscode-java-test/issues/1162)), hope that at that time this problem could be resolved.

[2021-07-24 04:04] jdneo commented on #1233
Have you tried to use the test configuration?
https://github.com/microsoft/vscode-java-test/wiki/Run-with-Configuration#tldr

[2021-07-26 01:54] jdneo opened #1235 "All test nodes will be hidden when 'Show in Active File Only'"
Waiting for the author to confirm if this is an upstream issue or not: https://github.com/microsoft/vscode/issues/129476

[2021-07-26 03:35] CsCherrYY opened #1236 "improve the awareness of passing tests from Java Project Manager"
When running or debugging a test from Java Project Manager, if there is no error exists the user should have a proper way to aware of the result. (by status bar, decorating item, etc.)

[2021-07-26 06:49] jdneo commented on #1230
Fixed in https://github.com/jdneo/vscode-java-test/commit/d8352a427c05f0cf6d070ea277f2e56746d9be1a

[2021-07-26 06:49] #1230 closed

[2021-07-29 07:42] jdneo opened #1245 "Better handle workspace folder change event"
When workspace folder changes, the components should take some actions:
- re-register the file watchers
- Update the test source paths
- refresh the test explorer

[2021-08-01 09:14] qinlinwang commented on #977
I had the same problem when my project‘ directory is `~/文档/myproject/demo`. If I run the test, output is "Error: Running the contributed command: 'java.execute.workspaceCommand' failed..". And the output in `Java:Open Java Language Server Log File` is:

[code]

When I change the project directory to `~/myproject/demo`, it works well.
Here is my environment:
[code]

[2021-08-03 06:13] #1162 closed

[2021-08-04 04:44] jdneo commented on #387
For everyone who wants to have this feature, could you please answer the following question to help us better understand the use case?

- What's the coverage tool you are using? (JaCoCo, Clover, Cobertura, JCov, Code Cover, PIT, etc...)
- How do you use the coverage tool? (Maven/Gradle/Eclipse/IntelliJ/CI integration, etc...)

[2021-08-04 07:24] JonathanTrEs commented on #387
- I use JaCoCo
- With the Eclipse/IntelliJ IDE

[2021-08-04 09:14] chenyuanmac opened #1259 "The name of invisible project between Project Explorer and Test Explorer is different"
**Environment:**

OS: Linux
JDK: 11
Java Test Runner Extension: 0.31.0

**Repro steps:**

1. git clone [https://github.com/ZhengJun003/invisble-project.git](https://github.com/ZhengJun003/invisble-project.git)

2. Open invisible-project with VSCode

**Result:**

The name of invisible project between Project Explorer and Test Explorer is different
![image](https://user-images.githubusercontent.com/

[2021-08-04 09:25] chenyuanmac opened #1260 "Error message is not clear when run TestNG project"
**Environment:**

OS: Linux
JDK: 11
Java Test Runner Extension: 0.31.0

**Repro steps:**

1. Download project:[http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip](http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip)
2. Open TestNG-Spring-Example project with VSCode
3. Click Run All Tests

**Result:**
Test cases cannot run
![image](https://user-images.

[2021-08-04 09:32] chenyuanmac opened #1262 "Test Explorer doesn't update when delete the method from the class with only one test method"
**Environment:**

OS: Linux
JDK: 11
Java Test Runner Extension: 0.31.0

**Repro steps:**

1. Prepare a test project
2. Delete the method from the class with only one test method

**Result:**
Test Explorer doesn't update accordingly.
![image](https://user-images.githubusercontent.com/70991161/128158061-99740595-11d4-4261-b2e1-07ff09f789c0.png)

[2021-08-04 11:43] RussellSanders1 commented on #387
* using Intellij IDEA code coverage runner
* from Intellij IDEA (naturally lol)

[2021-08-04 12:29] #1262 closed

[2021-08-04 16:15] TimWebb commented on #1162
@jdneo Is there any chance of leveraging the `TestMessage.location` field to include where the message should be bound in the source for assert failures and exceptions? It would appear from usage you already have this data from other visualizations the plugin does.

The other place `location` is set in `findTestLocation` also seems to set the general location of the test, whereas, I read the `Test

[2021-08-05 01:45] jdneo commented on #1162
@TimWebb Do you mean set the location to the exact line where the case is failed (instead of appearing at the method definition)?

[2021-08-05 02:10] #1259 closed

[2021-08-05 06:45] #1245 closed

[2021-08-05 07:36] jdneo commented on #930
Cannot repro using the sample project.

[2021-08-05 07:36] #930 closed

[2021-08-05 07:47] jdneo commented on #667
We will see this enhancement in the next release working with the VS Code new testing API:

![image](https://user-images.githubusercontent.com/6193897/128312085-b26380e5-72df-4c8f-a2a5-92222f595795.png)

[2021-08-05 13:34] TimWebb commented on #1162
@jdneo Yes, that was my intent.

More specifically, if an assert fails, have the TestMessage's location of the assert match the location in the method for the given assert. Similarly if something triggers an exception, we could have a TestMessage for the exception in potentially even a different file - such as extract from the exception stack the location in testMethod() that resulted in the failu

[2021-08-06 02:14] jdneo commented on #1162
Currently we will put a diff view at the location of assertion failure (in most cases, since it's parsed via regexp)

![image](https://user-images.githubusercontent.com/6193897/128445447-01740e7f-6dc3-4690-bd20-94fa10252824.png)

But I agree put the stacktrace to where it happens is a good idea.

Not quite sure about this. My concern is how user can know which case generates this message if they l

[2021-08-06 02:14] jdneo opened #1266 "Put the test message location to where it happens"
More specifically, if an assert fails, have the TestMessage's location of the assert match the location in the method for the given assert. Similarly if something triggers an exception, we could have a TestMessage for the exception in potentially even a different file - such as extract from the exception stack the location in testMethod() that resulted in the failure.

_Originally posted by @TimWe

[2021-08-06 02:22] jdneo commented on #487
In 0.31.0, we support the newest VS Code testing API in 1.59.0.

The test report is removed, instead, you can use the test explorer to see the status, which supports different sorting:

![image](https://user-images.githubusercontent.com/6193897/128446274-c99d7722-4ef4-4143-bae6-80ba87c50000.png)

[2021-08-06 02:22] #487 closed

[2021-08-06 02:24] jdneo commented on #518
In 0.31.0, we support the newest VS Code testing API in 1.59.0.

The test report is removed. But there is a new entry at the context menu of the editor decoration.

![image](https://user-images.githubusercontent.com/6193897/128446522-594948ed-9848-4449-8019-768083332319.png)

[2021-08-06 02:24] #518 closed

[2021-08-06 02:28] jdneo commented on #531
In 0.31.0, we support the newest VS Code testing API in 1.59.0.

There are some new commands added, which are useful and cover the request of this issue, please have a try!

![image](https://user-images.githubusercontent.com/6193897/128446850-cb8d293e-f5d3-4fbe-bda4-c7c78153dc07.png)

[2021-08-06 02:28] #531 closed

[2021-08-06 02:29] jdneo commented on #571
In 0.31.0, we support the newest VS Code testing API in 1.59.0.

Now the preview can be seen in the editor

![image](https://user-images.githubusercontent.com/6193897/128446900-fcfece0c-dc05-40a6-8e53-bd7a67eb77a8.png)

[2021-08-06 02:29] #571 closed

[2021-08-06 02:30] jdneo commented on #667
0.31.0 is released! 🎉

[2021-08-06 02:30] #667 closed

[2021-08-06 02:33] jdneo commented on #672
In 0.31.0, we support the newest VS Code testing API in 1.59.0.

There is no Code Lens anymore, instead you can see a editor decoration at the left side:
![image](https://user-images.githubusercontent.com/6193897/128447175-e722dc8e-9a53-4996-9abd-15e6dd16f4d1.png)

[2021-08-06 02:33] #672 closed

[2021-08-06 02:34] jdneo commented on #722
Fixed in 0.31.0. See: https://github.com/microsoft/vscode-java-test/issues/667

[2021-08-06 02:34] #722 closed

[2021-08-06 02:35] jdneo commented on #768
This should be addressed in 0.31.0. Those utility class will not show in the test explorer anymore

[2021-08-06 02:35] #768 closed

[2021-08-06 02:36] jdneo commented on #780
Addressed in 0.31.0

[2021-08-06 02:36] #780 closed

[2021-08-06 02:36] jdneo commented on #1070
Finally it comes in 0.31.0 with the integration of the new VS Code testing API!

![image](https://user-images.githubusercontent.com/6193897/128447492-91c2138f-1cb8-4c39-9e08-f81259bba6c9.png)

[2021-08-06 02:36] #1070 closed

[2021-08-06 02:37] jdneo commented on #1001
In 0.31.0, we support the newest VS Code testing API in 1.59.0. The test report is removed so I'll close this issue.

[2021-08-06 02:37] #1001 closed

[2021-08-06 02:38] jdneo commented on #984
In 0.31.0, we support the newest VS Code testing API in 1.59.0. The test report is removed so I'll close this issue

[2021-08-06 02:38] #984 closed

[2021-08-06 02:39] jdneo commented on #966
In 0.31.0, we support the newest VS Code testing API in 1.59.0. The test report is removed.

Also some refactors are made for display name support. This problem should disappear.

[2021-08-06 02:39] #966 closed

[2021-08-06 02:39] jdneo commented on #964
In 0.31.0, we support the newest VS Code testing API in 1.59.0. The test report is removed, so I'll close this issue.

[2021-08-06 02:39] #964 closed

[2021-08-06 02:40] jdneo commented on #957
In 0.31.0, we support the newest VS Code testing API in 1.59.0. The total run time can be found in the test explorer

![image](https://user-images.githubusercontent.com/6193897/128447772-3e63c535-4c41-40c1-aafe-721490403ec3.png)

[2021-08-06 02:40] #957 closed

[2021-08-06 02:40] jdneo commented on #956
Supported in 0.31.0 in test explorer

[2021-08-06 02:40] #956 closed

[2021-08-06 02:42] jdneo commented on #954
Supported in the 0.31.0, which the VS Code testing API. You can see each invocation in the test explorer

![image](https://user-images.githubusercontent.com/6193897/128447949-bc966762-1b03-42af-9e91-8da09c14039d.png)

[2021-08-06 02:42] #954 closed

[2021-08-06 02:43] jdneo commented on #949
In 0.31.0, we support the newest VS Code testing API in 1.59.0. It changes to that the test runner extension contributes the test items to the VS Code (a pushing API model). And the view is not controlled by us. So I'll close this issue.

[2021-08-06 02:43] #949 closed

[2021-08-06 02:44] jdneo commented on #937
In 0.31.0, we support the newest VS Code testing API in 1.59.0. The test explorer is not controlled by us.

[2021-08-06 02:44] #937 closed

[2021-08-06 02:44] jdneo commented on #920
Addressed in 0.31.0

![image](https://user-images.githubusercontent.com/6193897/128448188-9e8f4dea-8044-4cb8-9d4c-f47cc4a083c9.png)

[2021-08-06 02:44] #920 closed

[2021-08-06 02:45] jdneo commented on #907
In 0.31.0 we support multi selection in test explorer, which should mitigate this problem.

[2021-08-06 02:45] #907 closed

[2021-08-06 02:45] jdneo commented on #874
Multi-selection is supported in 0.31.0

[2021-08-06 02:45] #874 closed

[2021-08-06 02:47] jdneo commented on #789
Test report is removed in 0.31.0.

But you can now rerun the tests in the test message view now

![image](https://user-images.githubusercontent.com/6193897/128448424-767579ca-9ba0-41c7-8df1-51bf32436324.png)

[2021-08-06 02:47] #789 closed

[2021-08-06 02:48] jdneo commented on #1115
Multi-selection and run is supported in 0.31.0

[2021-08-06 02:48] #1115 closed

[2021-08-06 02:49] jdneo commented on #1114
Supported in 0.31.0 with the VS Code's latest testing API

![image](https://user-images.githubusercontent.com/6193897/128448539-0e7a6e7f-c4eb-4c89-9e0f-df522aff98cf.png)

[2021-08-06 02:49] #1114 closed

[2021-08-06 02:50] jdneo commented on #1220
In 0.31.0, we support the newest VS Code testing API in 1.59.0.

Test runner's output channel is removed. We are now using the embedded terminal to show the test messages:

![image](https://user-images.githubusercontent.com/6193897/128448679-449943b4-58ca-4ace-ba33-a8b506368a08.png)

[2021-08-06 02:50] #1220 closed

[2021-08-06 02:51] jdneo commented on #1221
0.31.0 is released and the test report is removed. I'll close this issue.

[2021-08-06 02:51] #1221 closed

[2021-08-06 02:51] jdneo commented on #1222
0.31.0 is released which removes the test report.

[2021-08-06 02:51] #1222 closed

[2021-08-06 02:55] TimWebb commented on #1266
@jdneo Your last two points make good sense, focusing on the assertion stack placement in the data model.

[2021-08-06 06:39] jdneo commented on #1203
We released 0.31.0 today which consumed the VS Code's new testing APIs. This release also includes bunch of refactorings. I'm closing this issue for now since so far I cannot find a way to repro this issue.

But feel free to leave comments here if it still occurs in the new extension. Thanks!

[2021-08-06 06:39] #1203 closed

[2021-08-06 17:44] psybers commented on #768
Thanks, I can confirm this works as expected in 0.31.0!

[2021-08-07 05:01] #1233 closed

[2021-08-09 02:11] jdneo opened #1267 "Cannot run PDE test via Test Runner"

[2021-08-09 03:05] #1267 closed

[2021-08-09 03:08] jdneo opened #1269 "Observe 'Failed to create test item. The test controller is not initialized.' error during activate"
Root case is here: https://github.com/microsoft/vscode-java-test/blob/bb2614f2d89fea1684fbb5ec9dbfbdc864feb1ee/src/extension.ts#L140

We call the method `showTestItemsInCurrentFile()` no matter the standard JLS is ready or not. If the JLS is not ready, then test controller is not created.

[2021-08-09 04:32] #1269 closed

[2021-08-09 21:32] mfussenegger opened #1273 "Performance regression for vscode.java.test.junit.argument between 0.30 and 0.31"
Running the `vscode.java.test.junit.argument` command takes around ~50seconds on my machine with vscode-java-test 0.31.
In 0.30 it only took a couple of milliseconds.

I suspect it depends on the project size. So a project to test would be [crate/crate](https://github.com/crate/crate). Within the `PlannerTest`. Full payload:

[code]

Based on a quick flamegraph, it looks as if it is re-parsing / r

[2021-08-10 01:57] jdneo commented on #1273
Thank you for reporting, I'll take a look sometime today.

[2021-08-10 04:51] jdneo commented on #1273
@mfussenegger, could you try this bit and let me know if the perf issue get resolved?

[vscode-java-test-0.31.1.vsix.zip](https://github.com/microsoft/vscode-java-test/files/6959022/vscode-java-test-0.31.1.vsix.zip)

And feel free to let me know if there is any other issues, thanks!

[2021-08-10 18:25] mfussenegger commented on #1273
yes it seems to fix the performance regression.

[2021-08-11 03:10] jdneo opened #1276 "When trigger a refresh, current testing decoration will disappear"
Since refresh will clean all the test items. We need to call `showTestItemsInCurrentFile()` after that.

[2021-08-11 04:46] jdneo commented on #1235
Fixed in upstream

[2021-08-11 04:46] #1235 closed

[2021-08-11 04:48] #934 closed

[2021-08-11 04:49] jdneo commented on #934
Close for inactive for a long time. If you have any questions, please still fell free to leave the comments

[2021-08-11 04:54] jdneo commented on #311
Resolved in 0.31.0

[2021-08-11 04:54] #311 closed

[2021-08-11 04:58] jdneo commented on #1068
Hi @gayanper,

Sorry for such a long time to revisit this issue. Could you provide some screenshot about your project structure? And another question: Is the latest new Test Runner extension meets your requirement?

[2021-08-11 05:24] #1276 closed

[2021-08-11 05:38] jdneo commented on #977
This should be an upstream issue: https://github.com/microsoft/vscode-java-debug/issues/622

[2021-08-11 06:00] #1273 closed

[2021-08-11 19:22] mfussenegger commented on #1273
Thanks for fixing this so quickly :+1:

[2021-08-12 09:21] stefanrybacki commented on #1273
Not sure this is related but I am stuck on "Run Tests: Resolving launch configuration...", After starting a JUnit test a couple of times, where the time this window is shown becomes longer and loger each time a start it until I wait forever. This worked on the old test runner (the one using the HTML report)

![image](https://user-images.githubusercontent.com/29799350/129171498-7a32ed4f-89f9-4d92-9

[2021-08-12 09:26] jdneo commented on #1273
@stefanrybacki I guess so. Planning to make a hotfix release if more people are suffering from this.

[2021-08-12 12:56] stefanrybacki commented on #1273
@jdneo Yes I had to revert back to 0.30.1 as this is not usable as it is for me (though I like the new integration with the testing view etc.)

[2021-08-12 13:35] llgcode commented on #1140
Hi Jdneo, sorry for the late.
A unique classpath for debugging could do the trick but a custom classpath for some specific junit are needed sometimes.
Thanks !

[2021-08-12 14:35] stefanrybacki commented on #1273
@jdneo can you reopen this issue?

[2021-08-13 00:44] jdneo commented on #1092
This can probably be done once the upstream proposed API for tags: https://github.com/microsoft/vscode/issues/129456

[2021-08-13 05:07] jdneo commented on #1273
The issue has been fixed and I plan to make a hotfix release early next week. So I'm not gonna to reopen this one.

[2021-08-15 23:19] leogott opened #1280 "[Request] Offer an easy way to view the Message on failed tests from the Testing Pane"
Currently when investigating the cause of a failing test, I have to switch back and forward between the Test Code and the Code Tested, because the Testing Pane only offers the per-test buttons to jump to the Test Code, or the one to jump to the bottom of the (plaintext and uncolored) Test Output.

If a tooltip in the test-pane displayed the error message on each failed test, that would help me a l

[2021-08-16 00:08] leogott opened #1281 "[Request] Hide the JUnit Callstack from the stacktrace"
There are (few, but there are) cases in which I'd like to take a look at the callstack for a _failed_ (as opposed errored) test. Mainly when using assertThrows. However I would like to have it shortened by default so that in the simplest case every line starting with `at org.junit` is replaced with the `... X more lines` just like the end is shortened right now.

I'd be satisfied with a setting li

[2021-08-16 06:25] chenyuanmac opened #1282 "Dynamic test will disappear after run from the right "Run Test" button"
**Environment:**

OS: Windows
JDK: 11
Java Test Runner Extension: 0.31.2

**Repro steps:**

1.Prepare a test project with dynamic test
2."Run all Tests" firstly, it will show all the dynamic tests:
![image](https://user-images.githubusercontent.com/70991161/129519812-37dfc9f8-6eaf-452f-8cbd-6116974d5bee.png)
3.Run test from the  right "Run Test" button:
![image](https://user-images.githubuserconte

[2021-08-16 06:36] chenyuanmac opened #1283 "Some tests inside static class won't run after click "Run All Tests" button"
**Environment:**

OS: Windows
JDK: 11
Java Test Runner Extension: 0.31.2

**Repro steps:**

1.git clone : [https://github.com/ZhengJun003/junit5-samples/tree/testrunner](https://github.com/ZhengJun003/junit5-samples/tree/testrunner)
2.Open junit5-jupiter-starter-maven with VSCode
3.Click "Run All Tests" from Test Explorer

**Result:**
Tests inside static class don't run.
![image](https://user-imag

[2021-08-16 06:43] jdneo commented on #1282
This might be resolved once the test item tag is supported from API side

[2021-08-16 08:02] jdneo commented on #1273
@stefanrybacki 0.31.2 released

[2021-08-17 09:16] mucham1992 commented on #1273
Hi

this issue ![](https://user-images.githubusercontent.com/29799350/129171498-7a32ed4f-89f9-4d92-9d26-1ef95c900ac1.png)
is sill visible with 0.31.2 for TestNG project  with error:
PM Problems occurred when invoking code from plug-in: \"org.eclipse.jdt.ls.core\". null java.lang.NullPointerException at on the version 0.31.1. this problem didn't occurs

[2021-08-17 09:24] jdneo commented on #1273
@mucham1992 Please create a new issue with repro steps, thanks!

[2021-08-17 09:31] mucham1992 commented on #1273
@jdneo

Yes exactly my project is TestNg type and when i use previous version i don;t have this problem.

[2021-08-17 11:37] jdneo opened #1284 "Cannot run TestNG tests from method level in 0.31.2"
Hi

this issue is sill visible with 0.31.2 for TestNG project  with error:
PM Problems occurred when invoking code from plug-in: \"org.eclipse.jdt.ls.core\". null java.lang.NullPointerException at on the version 0.31.1. this problem didn't occurs

 ![](https://user-images.githubusercontent.com/29799350/129171498-7a32ed4f-89f9-4d92-9d26-1ef95c900ac1.png)

_Originally posted by @mucham1992 in https:

[2021-08-17 11:38] jdneo commented on #1273
@mucham1992 Thank you for reporting, tracking by https://github.com/microsoft/vscode-java-test/issues/1284

[2021-08-17 14:01] CarlPer commented on #1284
I cannot run my tests at all, not sure if it is related.

![NPE](https://user-images.githubusercontent.com/36195670/129739602-705b9e57-da18-489e-aeab-1ff805a77bb1.PNG)

[2021-08-18 01:40] jdneo commented on #1284
@CarlPer Only for the method level as well?

[2021-08-18 05:47] CarlPer commented on #1284
@jdneo Yes it is only for method level

[2021-08-19 01:54] #1284 closed

[2021-08-19 04:54] jdneo commented on #1284
Fixed and should be released in next version. Thanks

[2021-08-19 04:56] jdneo commented on #1281
@leogott Could you give an example of what's the original stack trace looks like?

In the example you gave, why we just hide the first part of the stack trace but leave the second one as it it?

[2021-08-19 05:00] jdneo commented on #1280
The VS Code provides a item called `Peek error` in the context menu of the test decoration. But it's not available in the test explorer.

If it's also available in the text explorer, does that meet your requirement?

[2021-08-20 00:02] mrasmussen opened #1288 "Individual Tests Hang on Run Test: Resolving launch configuration..."
**Environment:**

OS: Mac Big Sur
JDK: 11
JDK Project: 1.8
Java Test Runner Extension: 0.31.2

**Repro steps:**

- Run all tests in a class by clicking "Run Test" next to the class name in Test Explorer
- All tests run and pass
- Click "Run Test" on any individual test within Test Explorer
- Message box in bottom right corner displays "Run Tests: Resolving launch configuration..." and test never r

[2021-08-20 01:42] jdneo commented on #1288
I guess it's TestNG project right?

duplicated with #1284. If that's not the case please reopen this issue and let me know, thanks!

[2021-08-20 01:42] #1288 closed

[2021-08-20 03:30] mrasmussen commented on #1288
Yes, thank you.  I searched for this problem in your issues tracker.  I guess I didn't use the correct keywords. :)

[2021-08-20 10:48] pluckhuang opened #1289 "Resolving launch configuration..... pending, version 0.31.2 also exist"

[2021-08-20 23:46] leogott commented on #1280
I think so? Specifically I'm looking for a way to view the test result without moving my editor-tab to the background.

My "Peek-Error" Code-Lens typically looks something like this:
![grafik](https://user-images.githubusercontent.com/61663141/130302401-6c2f7e29-fb73-45d7-8d9a-df813d041320.png)
which contains a lot of useful information, in a slightly unwieldy format.

When I hover over the failed

[2021-08-21 00:14] leogott commented on #1281
For a small example I wrote (junit5 assert throws expects A but receives B caused by C), I get this unabbreviated result.

Every line beginning with `at org.junit.**` (for example) is part of the testing implementation and I don't care about the junit internals, because I'm confident my own code is the likely cause of the failed test.

I don't care about the callstack of the AssertionFailedError (

[2021-08-21 02:43] jdneo commented on #1289
It's duplicated with #1284 if you are using TestNG.

I'll close it now but please let me know if that's not your case.

Thanks you.

[2021-08-21 02:43] #1289 closed

[2021-08-21 02:55] jdneo commented on #1280
Ok I got your point, you would like to have a tooltip shows the text which is same as hovering over, right?

[2021-08-21 02:56] jdneo commented on #1280
Ok I got your point, you would like to have a tooltip shows the text which is same as hovering over, right?

[2021-08-21 02:58] jdneo commented on #1281
I see, so that is to only reserve the stack trace which belongs to the source?

[2021-08-21 09:45] leogott commented on #1280
Yes, I would consider it a big improvement, if the failed test in the sidebar showed the same tooltip as the assertion that failed.

[2021-08-21 09:48] leogott commented on #1281
Oh you're correct. I didn't look at it that way, but it absolutely is just the parts of the callstack within the source at test.

Yes, I'd like to see a filtered view or something that cuts away the callstack that doesn't belong to the source.

[2021-08-21 11:58] Preranamisra commented on #1283
Hey, can u add me as a contributor? I am working on it. Will solve this within somedays.

[2021-08-22 06:10] waimingkwok opened #1290 "Code Lens not showing "Run Test | Debug Test" since version v0.31.0 under @Test for Junit."
It works again when downgraded to v0.30.1.

[2021-08-22 06:35] jdneo commented on #1280
This could be a UX change request to the VS Code. It's out of control from the extension side given the current API capability. I suggest that you can file an issue VS Code repo.

[2021-08-22 06:37] jdneo commented on #1283
@Preranamisra You can just raise your PR directly if you would like to, and I'll take a look then. This repo is open for any kind of contribution.

[2021-08-22 06:48] jdneo commented on #1290
Because we migrated to the new VS Code testing API. Please make sure you are using the latest VS Code. And then you can find a `decoration` at the left side of the editor:

![Untitled](https://user-images.githubusercontent.com/6193897/130345451-4ede26b7-6271-46d8-9f2a-b1caa9f76acc.png)

_// Feel free to let me know if it's still not working._

[2021-08-22 06:48] #1290 closed

[2021-08-22 07:33] waimingkwok commented on #1290
Thanks for your quick response! It works according to what you have suggested.

[2021-08-22 08:04] itaygoz opened #1291 "Cannot see full stacktrace in TestNG tests"
Hi, this is my env
![image](https://user-images.githubusercontent.com/48314049/130346891-8316ebb2-0ab4-4c67-826b-28315ca0c2aa.png)
and I'm using Test Runner for Java v0.31.2

I'm working on a Spring project and while I'm having Failed to load ApplicationContext Error I can't see the reason.
![image](https://user-images.githubusercontent.com/48314049/130347003-6450e46c-5fa3-40cc-977c-93a715e9c70f.p

[2021-08-23 01:52] jdneo commented on #1291
@itaygoz Could you please provide a sample project which can repro this issue?

[2021-08-23 03:50] ferdyciputra opened #1293 "Cannot Run Single Test with TestNG v7.4.0"
When I Click "Run Test" for single Test with TestNG v7.4.0, The Test not working well.

![image](https://user-images.githubusercontent.com/28496366/130387623-aa4d6ecf-d653-474f-a4c7-b705e39b58c7.png)

[2021-08-23 04:22] jdneo commented on #1293
Duplicated with #1284

We'll release a fix this week.

[2021-08-23 04:22] #1293 closed

[2021-08-23 07:19] itaygoz commented on #1291
Hi yes, https://github.com/itaygoz/Example
![image](https://user-images.githubusercontent.com/48314049/130406456-447224e4-94ae-4f68-a323-19039e08d16d.png)
Can't see what bean was failed.

Thanks!

[2021-08-23 08:18] jdneo commented on #1291
Looks wired. I debugged into the code, originally it's

`... at%20org.testng.internal.Invoker.invokeConfigurationMethod(Invoker.java%3A455)%5C%5Cr%5C%5Cn%5C%5Ctat%20org.testng.internal.Invoker.invokeConfigurations(Invoker.java%3A222)%5C%5Cr%5C%5Cn%5C%5Ct ...`

And passing it to `decodeURIComponent()` gives correct result. But I don't know why VS Code rendered it in that way.

[2021-08-23 08:56] molly-w opened #1294 "Keep showing Run Tests: Resolving launch configuration... but nothing happens when using TestNG"
1. Download [TestNG-7.4.0.jar](https://mvnrepository.com/artifact/org.testng/testng/7.4.0) then add it to referenced libraries
2. Run simple test code from [TestNG docs](https://testng.org/doc/)
[code]
Clicking the triangle button to run test and notification pops up `Run Tests: Resolving launch configuration... `, it keeps resolving and nothing happens:
![image](https://user-images.githubusercont

[2021-08-23 08:59] jdneo commented on #1294
Duplicated with #1284. We will release a fix soon

[2021-08-23 08:59] #1294 closed

[2021-08-23 10:22] jdneo commented on #1291
I guess I found the root cause: It's because a wrong string is passed to generate the stack trace link, which corrupts the markdown string. A fix is provided in #1295.

[2021-08-23 10:24] itaygoz commented on #1291
Great, thanks for the fast reply

[2021-08-23 10:37] stefanrybacki commented on #1273
Thank you, works for me now

[2021-08-25 05:40] #1068 closed

[2021-08-25 05:45] jdneo commented on #1068
@gayanper Please let us know if you have more information, thanks!

[2021-08-27 12:57] Artur- opened #1296 "New test runner reports are really weird for parameterized tests"
Consider for instance this test where `method` is run twice and will once pass and once fail.
[code]

Running in VS Code gives me
![Screenshot 2021-08-27 at 15 53 26](https://user-images.githubusercontent.com/260340/131130247-e9dd3442-ac0a-40f9-9ad8-100dcbcd381f.png)

Changing the method to assert the value is 2 gives
![Screenshot 2021-08-27 at 15 53 52](https://user-images.githubusercontent.com/2

[2021-08-28 03:36] #1260 closed

[2021-08-28 03:38] jdneo commented on #1291
Fixed in #1286

[2021-08-28 03:38] #1291 closed

[2021-08-30 12:27] jdneo commented on #1296
Took a look at the code, it seems that the code here needs to be fixed: https://github.com/microsoft/vscode-java-test/blob/1bc3c5b9a478aff0c069160d71c1703f6e68a267/src/runners/junitRunner/JUnitRunnerResultAnalyzer.ts#L198-L201

[2021-09-01 03:19] jdneo commented on #1283
@Preranamisra Is there anything I can help?

[2021-09-08 03:30] cgillum018 opened #1297 "Cannot add command line arguments via java.test.config"
I'm trying to add listeners when running testNG tests using the Java Test runner.

In my settings.xml I've added:

"java.test.config": {
      "name": "RunWithContinue",
      "workingDirectory": "${workspaceFolder}",
      "args": [
        "-listener", "org.test.TestFilter"
      ]
    },

But when I run:

[ERROR] {"name":"error","attributes":{"message":"Failed to run TestNG tests","trace":"java

[2021-09-08 03:38] jdneo commented on #1297
Hi @cgillum018, currently the TestNG runner in this extension is a customized one. So the usage might be different from the `TestNG command line arguments`.

I think we need to migrate to https://github.com/testng-team/testng-remote to solve this.

[2021-09-09 08:49] jdneo opened #1298 "Should avoid use 'testing.refreshTests'"
`testing.refreshTests` has been removed in VS Code so we need to use the extension customized one

[2021-09-09 08:50] jdneo opened #1300 "'findTestLocation' is not registered as a bundle command"

[2021-09-09 09:21] #1300 closed

[2021-09-10 04:44] aderchox commented on #1152
The settings.json one works! Thanks.

[2021-09-13 01:44] jdneo opened #1303 "Better handling the initialization error in JUnit4"
1. Do not include `hamcrest-core-xx.jar` in a invisible project
2. Run a JUnit 4's test
3. errors could only be seen in output, which is hard for user to diagnostic.

[2021-09-13 01:49] #1298 closed

[2021-09-13 01:50] jdneo commented on #1291
In case anyone is blocked by this issue, you can install this build before the next version is released:
[vscode-java-test-0.31.3.vsix.zip](https://github.com/microsoft/vscode-java-test/files/7150843/vscode-java-test-0.31.3.vsix.zip)

[2021-09-13 06:42] Mahamadovich commented on #1073
Got the same issue :( Any plans to fix this?

[2021-09-13 09:53] numbernumberone commented on #878
@adchang

[2021-09-13 09:53] numbernumberone commented on #878
Can you share how did you solve this issue? I am also getting 'Failed to get workspace folder for test items.' error when trying to run any tests.I am running my project in a remote environment(centos 7)

[2021-09-13 09:54] numbernumberone commented on #878
@adchang
Can you share how did you solve this issue? I am also getting 'Failed to get workspace folder for test items.' error when trying to run any tests.I am running my project in a remote environment(centos 7)
![image](https://user-images.githubusercontent.com/17960477/133063710-2ef19a48-5849-4f57-b553-83deffddc687.png)

[2021-09-15 12:42] Artur- commented on #1013
Thanks, you have re-introduced this in the new test runner.

https://user-images.githubusercontent.com/260340/133435225-1536632f-cd83-47cd-9c9e-9ebe5ac3ddc2.mov

[2021-09-16 01:10] jdneo opened #1304 "Renaming the JUnit test causing the test status could not display correctly"
Thanks, you have re-introduced this in the new test runner.

https://user-images.githubusercontent.com/260340/133435225-1536632f-cd83-47cd-9c9e-9ebe5ac3ddc2.mov

_Originally posted by @Artur- in https://github.com/microsoft/vscode-java-test/issues/1013#issuecomment-919984226_

[2021-09-16 01:11] jdneo commented on #1013
Should be a different bug from the video. I created a new issue https://github.com/microsoft/vscode-java-test/issues/1304 to track.

[2021-09-17 14:15] ryno1234 opened #1305 "Running test of file compiled with Maven / Java 11 produces java.lang.UnsupportedClassVersionError"
I haven't seen anyone else post this issue so I'm wondering if I have a configuration problem.

I have compiled my multi-module Maven project targeting Java 11. While within VS Code, attempts to run a test file's test produces the following error:

[code]

All of my VS Code settings and launch file configurations do not specify an explicit JDK version and I have confirmed that VS Code is launching

[2021-09-18 00:18] jdneo commented on #1305
Would you mind to share a sample project for this issue? I can try it on my side to see what's going on.

[2021-09-18 01:19] ryno1234 commented on #1305
It might be easier for me to ask what determines what version of the java runtime that is launched during test execution? I've confirmed in my task manager in Windows that 1.8 is launched when I execute a test.

What is the switch for this?

[2021-09-19 00:58] jdneo commented on #1305
It's determined by the Java Language Server.

There is a setting called `java.configuration.runtimes` that maps the jdk versions to the installation location on your machine.

Any for example, let's say you are using Maven for your project, and set the Java version to 11. Then, the Java Language Server will automatically pick the matchest JDK to launch it.

[2021-09-19 01:35] ryno1234 commented on #1305
Ah - Ok. So my issue is with my configuration as it relates to the Java Language Server. That's what I thought after further investigation myself. I posted my question over there: https://github.com/microsoft/vscode-java-pack/issues/750

[2021-09-19 14:50] ryno1234 commented on #1305
**SOLVED:** For anyone landing here through search, my issue was the Java Language Server was not correctly picking up my target Java version as configured in my Maven pom.xml. This was able to be confirmed via the `Configure Java Runtime` screen accessible by pressing `ctrl` + `shift` + `p` to access the command pallet and entering "Java: Configure Java Runtime".

To fix this, I needed to execute

[2021-09-20 09:13] cameronbraid commented on #1201
Are there plans to support `preLaunchTask` ?

[2021-09-21 01:24] zzq0324 opened #1306 "Use arthas-memorycompiler dynamic compile class run test error"
### Environment

* VSCode version: Version: 1.60.1 (Universal)
* Operating System version: macOS 10.15.7
* Java Runtime :  JDK 1.8

### Steps to reproduce this issue

1. `pom.xml` add `arthas-memorycompiler` dependency
[code]
2. Test Class
[code]
3. run test
When I run with main method, it compile success;
when i run junit test with test method, it compile error. This is error stack trace:

[code]

[2021-09-21 08:42] jdneo commented on #1305
Thank you @ryno1234 for providing the detailed information!

Closing this issue since it's been resolved.

[2021-09-21 08:42] #1305 closed

[2021-09-21 09:07] jdneo commented on #1306
Could you let me know what's contained in

`/Users/zhengzhq/Library/Application%20Support/Code/User/globalStorage/redhat.java/0.82.0/config_mac/org.eclipse.osgi/81/0/.cp/`?

[2021-09-21 11:44] zzq0324 commented on #1306
It contains:
![image](https://user-images.githubusercontent.com/24889976/134164574-0237e4c5-c6a9-4c19-8577-51cfb3b95c0d.png)
![image](https://user-images.githubusercontent.com/24889976/134164633-c446a585-89ae-4a4d-b886-513e5df69ce7.png)

[2021-09-22 01:50] jdneo commented on #1306
That folder contains compiled class files instead of jar.

To me, it's more likely an issue of arthas-memorycompiler. I've no background information about it, so have no idea why it must be jars to be there.

[2021-09-22 06:50] #1296 closed

[2021-09-22 08:30] jdneo commented on #1298
To verify this issue:

1. Open an invisible project containing unit test
2. Change the source path in classpath configuration page
3. Check if the test explorer will refresh automatically after source page is changed

[2021-09-22 08:32] jdneo commented on #1300
To verify this issue:

1. Open the test project https://github.com/microsoft/vscode-java-test/tree/main/test/test-projects/junit
2. Run https://github.com/microsoft/vscode-java-test/blob/main/test/test-projects/junit/src/test/java/junit4/ParameterizedTest.java
3. See if the error message can show in the editor area

[2021-09-22 08:39] jdneo commented on #1291
To verify this issue:

1. Open a TestNG project, i.e. http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip
2. Run a failed test, i.e. com.mkyong.testng.examples.dependency.App.method1()
3. Check if the stacktrace is not truncated

[2021-09-22 08:40] jdneo commented on #1260
To verify this issue:

1. Open a TestNG project, i.e. http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip
2. `Run All` tests
3. Check if the failure root cause is printed into the debug console

[2021-09-22 08:43] jdneo commented on #1296
To verify this issue (only used for tester):

1. Open the test project https://github.com/microsoft/vscode-java-test/tree/main/test/test-projects/junit
2. Run https://github.com/microsoft/vscode-java-test/blob/main/test/test-projects/junit/src/test/java/junit4/ParameterizedTest.java, or https://github.com/microsoft/vscode-java-test/blob/main/test/test-projects/junit/src/test/java/junit4/Parameteri

[2021-09-23 05:41] Eskibear commented on #1298
verified.

[2021-09-23 06:01] Eskibear commented on #1296
verified

[2021-09-23 06:02] Eskibear commented on #1300
verified

[2021-09-23 06:04] Artur- commented on #1296
Does this also solve #1304 or is it a different problem?

[2021-09-23 06:10] Eskibear commented on #1291
verified

[2021-09-23 06:12] Eskibear commented on #1260
verified that exceptions and callstack printed in debug console

[2021-09-23 06:16] jdneo commented on #1296
It's a different problem.

[2021-09-23 06:54] zzq0324 commented on #1306
Thank you @jdneo, I have submitted a pull requet to `arthas`, see [Bugfix: PackageInternalsFinder support file path with white space and chinese character](https://github.com/alibaba/arthas/pull/1921)

[2021-09-23 06:54] #1306 closed

[2021-09-23 07:34] adchang commented on #878
Sorry, I gave up and was just using eclipse. Haven't been using java for a
while. Were you able to get it to work?

On Mon, Sep 13, 2021 at 4:54 PM wangrui ***@***.***> wrote:

[2021-09-23 07:50] dsyer opened #1310 "Code lenses for tests not showing"
I have seen similar issues (#470, #576, #797) but none of the resolutions seems to apply. The test view is there and it works, but the code lenses just aren't working. They are working for main methods (to run the app) but not for tests. There are no errors in the language server logs. There are errors in the developer tools console, but none of them looks helpful (e.g. timeouts and resource not f

[2021-09-23 08:19] jdneo commented on #1310
What's the version of your test runner? We recently adopted to the new testing APIs from VS Code, now to run a test, you can use the testing decoration at the left side of the editor:

![image](https://user-images.githubusercontent.com/6193897/134475367-0893a94f-72dd-438a-8c59-0a4e6dcd5fd1.png)

[2021-09-23 08:46] Artur- commented on #1304
Tested that this is still a problem with 0.32.0

[2021-09-23 08:47] tsukasa89 opened #1311 "The property file in src/test/resources is not recognized and the test fails."
## Environment:
- OS: Windows10
- VS Code: v1.60.2
- JDK: v11
- Java Test Runner Extension: v0.32.0

## Repro steps:
1. git clone : https://github.com/tsukasa89/test-runner-example
2. Open test-runner-example with VSCode

### VSCode Test run:
Click "Run All Tests"

Result:

The test "test resource properties value" failed.

### Gradle Test run:
[code]
Result:

All tests succeed.

[2021-09-23 09:11] dsyer commented on #1310
Ah. So no code lenses any more. I have those margin markers now when I upgrade everything (extension is now v0.32.0). Amazing,

[2021-09-23 09:11] #1310 closed

[2021-09-23 09:39] jdneo commented on #1311
Took a quick look and found that in the resolved classpath, main folder comes previous of the test folder.

Needs to take a deep look to see what's happening.

[2021-09-23 15:04] CarlPer commented on #1133
This issue is the only reason why I can not completely move away from Eclipse, what is the progress for this issue?

[2021-09-24 17:35] sarahcpage commented on #630
me too - please fix!

**VS Code:**
Version: 1.60.2
Commit: 7f6ab5485bbc008386c4386d08766667e155244e
Date: 2021-09-22T11:59:27.195Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0

**Java test Runner** 0.32.0
Workspace located on remote **Centos 7** VM

[2021-09-26 02:14] jdneo opened #1312 "Support Customized JUnit5 TestEngine that reads test-scenarios from .json files"
_Referenced from @emyklebost:_

Hello. I've created a custom JUnit5 TestEngine that reads test-scenarios from .json files. I would like to run these tests in vscode using the junit-platform-console-standalone.jar without a build tool. I am able to do this manually using PowerShell, e.g.: java -jar junit-standalone.jar -cp engine.jar -f test/my.test.json

I've added the Extension Pack for Java and

[2021-09-26 17:04] emyklebost commented on #1312
[This might be relevant](https://github.com/cucumber/cucumber-jvm/tree/main/junit-platform-engine). Adding support for other [DiscoverySelectors](https://junit.org/junit5/docs/5.0.2/api/org/junit/platform/engine/DiscoverySelector.html) than Class- and Method-Selectors will allow for tests written in Gherkin and other custom DSLs to be discovered and runnable in vscode.

[2021-09-27 02:08] dongshen opened #1314 "Run Tests: Resolving launch configuration..."
when i updated to v0.32.0
i still get Run Tests: Resolving launch configuration... issue

vscode v1.60.2

[2021-09-27 02:16] jdneo commented on #1314
Please provide more information about your issue, a sample project could be much helpful.

[2021-09-27 02:48] dongshen commented on #1314
sorry, is my fault, is working now, thanks.

[2021-09-27 02:48] #1314 closed

[2021-09-28 14:58] adchang commented on #878
Just gave it a try. Seems to be working on my ubuntu now, but still not
working on my ChromeOS

On Thu, Sep 23, 2021 at 2:34 PM Anthony Chang ***@***.***>
wrote:

[2021-09-29 07:44] jdneo commented on #1311
Root cause is that the upstream does not specially put the test output location before the main output location.

Same bug can be seen in Eclipse as well.

[2021-10-01 09:43] tsukasa89 commented on #1311
I know about the eclipse issue.
However, in eclipse, JUnit succeeds by prioritizing src/test in the Java Build Path.
Is it possible to prioritize src/test when running the Java Test Runner in VS Code?

![image](https://user-images.githubusercontent.com/18757739/135599265-02176992-1eab-460e-8d9e-70c8594c4c64.png)

[2021-10-04 02:00] jdneo commented on #1311
Currently the order of the build path is not configurable in VS Code. But that's a good point how we can solve such kind of issues.

[2021-10-04 06:24] tsukasa89 commented on #1311
Thank you. I hope this problem will be solved.

[2021-10-09 01:33] jdneo commented on #1283
@cyberskycat We adopted the new testing APIs from VS Code. It's using the left side 'testing decorations' to run tests now

[2021-10-09 03:01] cyberskycat commented on #1283
ok , get it

[2021-10-09 09:23] BruceChen2017 opened #1316 "Test report does not work"
At first I install test runner, I see test report by click icon on the bottom status bar after finishing test. Recently I don't see this icon on the bottom status thus can't see test report.

I use win10, java11, vscode 1.60.2 before, now with vscode 1.61.0. Vscode of both version have the same problem.

Any idea for this problem? May I provide more message for it?

ctrl+shift+p, search `java: sho

[2021-10-11 11:38] #1316 closed, assigned to nobody

[2021-10-12 14:08] tigerinus opened #1318 "test passing sign is red instead of green"
[provide a description of the issue]

##### Environment

Debugger for Java - v0.36.0
Language Support for Java(TM) by Red Hat - v0.82.0

[code]

##### Steps To Reproduce
Debug run a `org.junit.jupiter.api.Test` without any breakpoint.

##### Current Result
![vscode-java](https://user-images.githubusercontent.com/7172560/136726862-500d1ae8-1234-471f-8e3e-cd0842d64fbb.gif)

![image](https://user-ima

[2021-10-13 01:40] jdneo commented on #1318
It's an upstream issue, see:

https://github.com/microsoft/vscode/issues/127296
https://github.com/microsoft/vscode/issues/114776

[2021-10-14 17:14] mdrossmiller opened #1319 "Enabling vscode-java-test changes behavior of ant targets run from a cmd window"
Setup:
project with multiple sub-projects
use ant to build
some project code generated by antlr
some project code generated by acceleo
with the project folder open in vscode and the vscode-java-test extension enabled,
run ant build from a cmd window.
 build results are unpredictable.

Observations:
It appears that when the extension is enabled, ANT task cannot accurately determine what files exist

[2021-10-14 18:44] mdrossmiller commented on #1319
issue not reproducible after re-install

[2021-10-14 18:44] #1319 closed

[2021-10-18 08:26] nickzhums opened #1344 "Explore better Junit testing experience (brainstorm)"
Theme: Testing

[2021-10-18 18:54] shockdm opened #1320 "Instead of just showing green immediately on a disabled test, show a message saying test is disabled/ignored"
Might be a nice usability improvement to show a notification or special icon when trying to run a disabled test, or a test in a disabled test suite. Today - it just shows as green, which at times may cause several minutes of frantic debugging trying to understand why a test is showing green without seemly doing anything (as sometimes test may fail in before/beforeClass stage and not produce any ou

[2021-10-20 07:53] #971 closed

[2021-10-27 14:14] nickzhums opened #1325 "UX: Switching to test explorer after the user runs a test"
Right now VS code doesn't switch to test explorer after user clicks 'run tests', this caused confusion for customers such as Morgan Stanley, leading them to think that we don't provide any test UI

Let's explore a better UX

[2021-11-02 06:27] #1266 closed

[2021-11-02 06:35] #1214 closed

[2021-11-02 07:46] jdneo commented on #1197
We planed to add `modulePath` field in the test configuration in the next release. Since this issue looks similar to #1101, I'm closing this one and use #1101 to track the request.

Thanks for reporting.

[2021-11-02 08:13] #1201 closed

[2021-11-02 08:13] jdneo commented on #1201
The next release will happen around the end of Nov.

[2021-11-02 08:14] jdneo commented on #1214
The next release will happen around the end of Nov.

[2021-11-03 08:56] #1140 closed

[2021-11-04 04:26] #1101 closed

[2021-11-04 04:32] joshzhuang1 commented on #596
Same here. waiting for this to be implemented before i can dump Eclipse

[2021-11-04 04:43] jdneo commented on #1199
Close this issue since the linked issues are all resolved.

[2021-11-04 04:43] #1199 closed

[2021-11-04 07:22] kpodsiad opened #1330 "Problem with debugging"
Hey!
I wanted to play with the java-test extension, but If I run the extension in debug mode it fails during resolving tests at the `loadJavaProjects()` function. However, when I open my test project with plain (not debugging) vs code, it just works.

I wonder what would be the best way to debug what's happening, does Java Language Server have logs somewhere?

[code]

[2021-11-04 07:31] jdneo commented on #1330
Can you provide the errors when you run it in debug mode? You can find them via the command `Java：Open Java Language Server Log File`

BTW, there is a document about how to setup the dev env: https://github.com/microsoft/vscode-java-test/blob/main/CONTRIBUTING.md#setup
After installing PDE, right click on this file: https://github.com/microsoft/vscode-java-test/blob/main/java-extension/com.microso

[2021-11-04 07:53] kpodsiad commented on #1330
Ok, I found something interesting in logs
`java.nio.file.NoSuchFileException: /Users/kpodsiadlo/***/vscode-java-test/server/com.microsoft.java.test.plugin-0.32.0.jar`

I guess I'll have to run `npm run build-plugin` to build the missing plugin JAR.

But I wonder what caused these issues, I started playing with the java-test in October and everything was working just after `npm install`. I didn't d

[2021-11-04 08:20] jdneo commented on #1330
Not sure what happened. But I can confirm that `npm run build-plugin` is required. 😀

[2021-11-04 08:38] jdneo commented on #1330
I'm closing this issue since it looks like the problem is solved.

Feel free to leave comments if there are any other problems for debugging the extensions.

[2021-11-04 08:38] #1330 closed

[2021-11-04 08:52] kpodsiad commented on #1330
Everything works like a charm, thanks @jdneo!

[2021-11-04 09:31] LinqLover opened #1331 "Feature Request: Only run filtered tests"
I am filtering out large acceptance tests via the filter textbox. I would like to press a button that only runs the tests that are currently in view.

[2021-11-05 01:41] jdneo commented on #1331
Have you tried this button?

![image](https://user-images.githubusercontent.com/6193897/140444055-ee7211a5-6cac-4f8d-8bd7-89a0c4696174.png)

[2021-11-06 02:35] jdneo commented on #1331
Ah, I think I get your point.

Do you mean that in the below case:

![image](https://user-images.githubusercontent.com/6193897/140595033-215af2d3-f8e2-4d80-951d-662104f9379f.png)

When you click the 'play' button, only the case `testInitFindForm()` should be run?

[2021-11-06 10:59] LinqLover commented on #1331
Exactly. :-)

[2021-11-08 01:46] jdneo commented on #1331
Thanks for the confirmation. Currently this behavior is determined by the VS Code testing API. To resolve this issue, we need the upstream API gets an update.

Currently, please use the button in the navigation bar as a workaround.

[2021-11-10 03:28] baincd commented on #387
* Jacoco
* Eclipse and Maven

[2021-11-10 22:58] gsiawGH opened #1334 "how does vscode-java-test find unit tests?"
Hello,
im using vscode-java-test, and it automatically loads most of my Junit tests fine in the explorer, but i have two paths for all my tests, `<project>/src/test and <project>/src/integration`
and vscode-java-test only seem to load the tests in `<project>/src/test`.

 is there some setting that i can tweek to load the other path as well?

[2021-11-11 01:41] jdneo commented on #1334
Thanks for reporting. This is duplicated with https://github.com/microsoft/vscode-java-test/issues/464.

[2021-11-11 01:41] #1334 closed

[2021-11-15 04:54] jdneo commented on #660
Two features need to be implemented here:

1. test target -> test
2. test -> test target

[2021-11-15 09:13] jdneo commented on #1163
Close this and track the issue at #464

Thanks for reporting this to us. Your voice will definitely help us prioritize the tasks.

[2021-11-15 09:13] #1163 closed

[2021-11-16 17:34] gsiawGH commented on #464
has there been any development for this feature?

[2021-11-17 03:06] jdneo commented on #1073
update: Buildship just released 3.1.6 snapshot recently. I guess the problem can be resolved in the near future.

[2021-11-17 09:31] #660 closed

[2021-11-18 03:21] jdneo opened #1337 "Support go to test and go to test target in method level"

[2021-11-22 02:38] jdneo commented on #1266
Verification steps:

1. Run a test case that will fail.
2. Check the test message displayed at where the error happens instead of the method declaration.

[2021-11-22 02:44] jdneo commented on #660
End game verification steps:

1. Open a Java project contains tests.
2. If the project structure follows `src/main/java` & `src/test/java`, commands can be found at the editor context menu. Otherwise, you can find them in the command palette.
3. `Go to Tests` will find all classes that contains the current type's name and display them in the reference view.
4. If only one result found, directly op

[2021-11-22 02:45] jdneo commented on #1201
End game verification steps:

1. Add a task label in `preLaunchTask` field in `java.test.config`
2. Launch the task and see if the the task been executed.

[2021-11-22 02:51] jdneo commented on #1101
End game verification steps:

1. Download this project: https://github.com/Empressia/VSCodeJavaTest01
2. Update `java.test.config` in settings.json:
[code]
3. Run `Test01Tests.java`

[2021-11-22 02:52] jdneo commented on #1214
End game verification steps:

1. Add an .env file in project
2. Add `envFile` in `java.test.config`
3. Write a test case to verify the .env file is picked:
[code]

[2021-11-22 03:03] jdneo commented on #1140
End game verification steps:

1. Download https://github.com/jdneo/invisble-project?organization=jdneo&organization=jdneo
    This project missed a required jar to launch the junit 4 tests. But it's been added in the test configuration via classPaths.
2. Run `MyJunit4Test.java`

[2021-11-22 11:02] llgcode commented on #1140
Hi @jdneo,
thanks for this improvement, I guess it will really help us configuring our projects to launch test. Do you know if it's possible to define some sort of custom variable so we can reuse it in this classpath ?

[2021-11-22 11:31] llgcode commented on #1140
May be it needs to define. It could be a configuration variable in setting (like we could have in Eclipse) or an environment variable. Something that we could help factorise setting to not copy/paste every time we need to define the same classpath.

[2021-11-24 06:52] jdneo commented on #977
For anyone who encountered this problem, please make sure the latest [vscode java debugger](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug) is installed and follow [this instruction](https://github.com/microsoft/vscode-java-debug/blob/main/Troubleshooting_encoding.md) if you still have the encoding related issue.

[2021-11-24 06:52] #977 closed

[2021-11-25 07:08] jdneo commented on #1281
Get a very similar feedback from a customer interview. He hope the stacktrace can be hidden by clicking some buttons like `show more`, `show less`

[2021-11-25 07:31] jdneo opened #1342 "Support clear test result of a certain test item"
A customer feedback:

The editor test message stays at where it is when user is editing the file
    - Or support clear test results for a certain test

[2021-11-29 01:42] jdneo commented on #1073
Hi all,

The [Language Support for Java(TM) by Red Hat](https://marketplace.visualstudio.com/items?itemName=redhat.java)@1.1.0 has been released with the newest buildship. This issue should have been resolved.

Thanks,

[2021-11-29 01:42] #1073 closed

[2021-12-06 12:55] Tazaf commented on #387
* JaCoCo
* Maven (`mvn test`

[2021-12-17 12:37] deekshithanand opened #1348 "[BUG] Java Test Runner Refresh Tests fails with error message "command 'python.refreshTests' not found""
Environment:
OS: Mac
VS Code: 1.63.2
JDK: v11.0.12
Java Test Runner Extension: v0.33.0
Repro steps:
Open test runner.
Click on refresh test icon/Refresh from the 3 dot menu.

Result:
Tests are not refreshed and the following error is shown.
`command 'python.refreshTests' not found
`
Expected Result:
Test cases shoul be refreshed.

Additional comments:
I have disabled python extensions in my hava w

[2021-12-18 02:20] jdneo commented on #1348
I'm confused here, the command `python.refreshTests` is not registered by this extension.

Could you provide detailed steps how I can repro this? Thanks.

[2021-12-23 06:28] nickzhums opened #1350 "Check @Test by default"
Per user feedback "Now I need to select if it is "@Test" or "@Before" or... and I always fail to navigate and check the checkboxes with the keyboard ending up doing it twice and using my mouse."

Based on our survey digest discussion, we propose to check "@Test" by default

[2021-12-23 06:29] nickzhums opened #1351 "Focus on test method name after test creation"
Per user feedback "After creation I would expect to have the cursor in place to directly enter the test method name. Instead it is somewhere above the new method” "

During discussion, we propose that we should put focus direct on test method name

[2021-12-23 11:13] Empressia commented on #1197
#1101 は対応いただきました。ありがとうございます。そちらは解決しました。
しかし、こちらは、依然、問題が継続しています。

確認をお願いできますか？

なお、確認したバージョンは以下の通りです。

-----

#1101 was supported. thank you. That's solved.
However, this problem continues.

Can you check it out?

The confirmed version is as follows.

-----

## Environment
* Windows 10 Pro
* Visual Studio Code 1.63.2
* Java Extension Pack 1.2.0
* Java Test Runner 0.33.1

[2021-12-24 01:55] jdneo commented on #1197
What's the version of `Language Support for Java` extension on your side?

The sample project https://github.com/Empressia/VSCodeJavaTest02 works on my side without any additional settings:
![image](https://user-images.githubusercontent.com/6193897/147306234-ef00777b-2fde-4f41-bb8a-2123e1d80802.png)

[2021-12-24 02:14] Empressia commented on #1197
* Language Support for Java(TM) by Red Hat v1.2.0

↓ click『▷』.
![スクリーンショット 2021-12-24 110707](https://user-images.githubusercontent.com/4579500/147306990-689f15ae-4719-4913-a05c-6125c92b5aa8.png)

↓ run test using gradle.
![スクリーンショット 2021-12-24 110930](https://user-images.githubusercontent.com/4579500/147307187-e2bc8b73-f6be-4934-985b-7d8c5e37ff89.png)

[2021-12-24 02:35] jdneo commented on #1197
Looks like a issue related to the file system.

Have you tried it in Eclipse?

[2021-12-24 02:46] Empressia commented on #1197
ヒントをありがとうございます。
Thank you for the tips.

スペースのないディレクトリパスに移動したら、成功しました（～/Visual Studio Code/VSCodeJaaTest02→～/Temporary/VSCodeJaaTest02）。
I moved to a directory path with no space and it ended successfully.

スペースのあるディレクトリパスでも動くようにしてもらえるものでしょうか？
Can you make sure that directory paths with spaces work?

[2021-12-24 06:23] jdneo commented on #1197
Yes I can repro this issue but have no idea why.

The debug console says:

[code]

But I didn't see any occurrence of the string `META-INF` in the resolved launch configuration

[2021-12-24 07:40] Empressia commented on #1197
わたしの想像ですが……。
It's my idea...

スタックトレースとJUnitのドキュメントから、JUnitではServiceLoaderを使用して設定を読み込んでいると思います。
From the stack trace and JUnit documentation, I think JUnit uses ServiceLoader to load the settings.

https://junit.org/junit5/docs/5.7.0/api/org.junit.platform.launcher/org/junit/platform/launcher/core/LauncherFactory.html

そのパスの一部が、上記URLにあります。
Part of the path can be found at the url above.

その設定をクラスパ

[2021-12-24 08:05] jdneo commented on #1351
A possible solution:

https://github.com/microsoft/vscode-java-test/blob/78717ac77a2168372d6109d6fad82ad439e93900/java-extension/com.microsoft.java.test.plugin/src/main/java/com/microsoft/java/test/plugin/util/TestGenerationUtils.java#L717-L719

iterate the second element of `edit` and find all the occurrence of `void (.+)\(\)` and update the captured element to `${<idx>:<captured string>}`

[2021-12-24 08:15] jdneo commented on #1197
Thank you for the information. I added a breakpoint at

https://github.com/microsoft/vscode-java-test/blob/78717ac77a2168372d6109d6fad82ad439e93900/src/controller/testController.ts#L229

And below is the configuration that test runner will pass to the debugger

[code]

But so far I haven't did into the `org.eclipse.jdt.internal.junit.runner.RemoteTestRunner`.

BTW, if you have any insight of this,

[2021-12-24 08:29] Empressia commented on #1197
情報ありがとうございます。
Thank you for the information.

vmArgs引数の"--patch-module"のあとに、『～;\\VSCodeJavaTest02 master\\bin\\default"』が含まれているのが問題に見えますがどうでしょうか。
For vmArgs arguments, what about the problem is that the arguments after "--patch-module" contain 『～;\\VSCodeJavaTest02 master\\bin\\default"』?

[2021-12-24 10:44] PterX commented on #1348
same issue,when click here got this error
![image](https://user-images.githubusercontent.com/1871048/147346058-ffea7031-640d-4707-8276-0dfe5e849f61.png)

click ... and Refresh is ok

[2021-12-25 02:45] jdneo commented on #1348
Ok, I guess I know what's happening here.

Is it correct that you installed both `Java` and `Python` extension?

If that is true, the one in the navigation bar is contributed by `Python` extension. While the `Refresh` in `...` is contributed by `Java` extension. If in your workspace, the python extension is not activated, click the `refresh` in navigation bar will cause this error.

[2021-12-25 03:02] jdneo commented on #1348
See https://github.com/microsoft/vscode/issues/139737

[2021-12-29 02:36] deekshithanand commented on #1348
Sorry for the delayed response. Yes, I have both Java and python extensions installed. But I had python  disabled on the workspace. (Adding this if it helps) In my case, both the refresh Icon on GUI and refresh option from the list gave this error.

[2022-01-07 07:19] #1350 closed

[2022-01-13 06:58] jdneo commented on #1325
Close since the upstream issue has been fixed.

[2022-01-13 06:58] #1325 closed

[2022-01-17 07:12] yunusemreayhan opened #1355 "default test search folder"
My tests in project reside not inside ./src/test folder they are in ./src/main folder. So tests are not detected because of this. Can we add a parameter for selection of this? Because when I add a link to main in name of test, I see that they are being listed.

Thanks

[2022-01-17 07:29] yunusemreayhan opened #1356 "[Feature Request] TestNG XML Suite Support"
Normally testng allow us to create custom test combinations with [xml files](https://testng.org/doc/documentation-main.html#testng-xml). But it is not allowed to run in vscode I guess. Can we add this feature?

[2022-01-17 07:59] jdneo commented on #1356
Thank you for the feedback. it's duplicated with https://github.com/microsoft/vscode-java-test/issues/596

[2022-01-17 07:59] #1356 closed

[2022-01-17 08:00] jdneo commented on #1355
duplicated with https://github.com/microsoft/vscode-java-test/issues/464

[2022-01-17 08:00] #1355 closed

[2022-01-18 06:23] #1344 closed

[2022-01-18 11:29] abenz1267 commented on #435
having the same problem! Testing the whole class doesn't use the overriden methods.

[2022-01-20 02:56] jdneo commented on #1344
When the workspace contains only an unmanaged folder project and no test framework is found on the project's classpath, then the user will see this button in the `Testing` explorer to enabling Java tests.

https://user-images.githubusercontent.com/6193897/150263963-131f2128-5de1-4cf8-92a3-288985741d82.mp4

[2022-01-20 03:01] nickzhums commented on #1344
Thanks! Another thought from me is to generate an empty test class for them, which will complete the e2e journey.
But Let's wait for some user feedback first

[2022-01-20 03:03] jdneo commented on #1344
@nickzhums Good idea! We can explorer further for sure.

[2022-01-23 22:44] karlvr opened #1360 "target.target contains out of date dependencies?"
I have been unable to develop this project in VS Code as the JDT dependencies could not be resolved. I have followed the steps in the CONTRIBUTING guide to no avail. I believe this is the same issue I encountered that was resolved in the `vscode-checkstyle` plugin https://github.com/jdneo/vscode-checkstyle/issues/287#issuecomment-758370217

I'm not sure what I'm doing in `target.target` files, but

[2022-01-24 02:05] jdneo commented on #1360
It turns out that the some of the module's target definition has been changed. I'll raise a PR to fix this. Thanks for reporting.

[2022-01-24 02:26] #1360 closed

[2022-01-24 02:26] jdneo commented on #1360
Should be working now.

[2022-01-24 07:28] testforstephen opened #1363 ""Generate Tests..." won't generate test methods for test class of unmanaged folder"
See the title.

[2022-01-24 07:32] testforstephen opened #1364 "Test Explorer doesn't recognize test classes with '$' in their names"
![test classes](https://user-images.githubusercontent.com/14052197/150740120-2f92aff5-13c8-4991-8860-be963561f52c.png)

[2022-01-24 08:27] jdneo commented on #1363
This is because now the backend will treat all the classpath entries of unmanaged folder as a source main entry. maybe we can consider to provide both two options to users.

[2022-01-24 08:57] jdneo commented on #1364
The code here returns `null` when the type contains `$`:

https://github.com/microsoft/vscode-java-test/blob/41e71f6b10ede42198c4fbb411bbb084e1f672bb/java-extension/com.microsoft.java.test.plugin/src/main/java/com/microsoft/java/test/plugin/util/TestSearchUtils.java#L274

[2022-01-24 16:32] tsaarni opened #1365 "Question: how to run tests with properties from alternative pom file"
I'm trying to run tests for a project which uses Arquillian integration test framework.  The project has an alternative `pom.xml` file (outside of the root dir of the project) which should be used when runninng tests via maven

[code]

but when running tests from vscode, I get exceptions/errors that seem like I'm missing all the mandatory default properties that are defined in the pom files but ar

[2022-01-25 00:51] jdneo commented on #1365
Will the test configuration help you?

https://github.com/microsoft/vscode-java-test/wiki/Run-with-Configuration

[2022-01-25 05:03] #1364 closed

[2022-01-25 05:10] tsaarni commented on #1365
Thanks for responding @jdneo!

I assume that if I'm able to reproduce 1:1 every needed property setting which the maven build does when running tests with a certain `pom.xml` and maven profile within it, it probably would work inside test runner as well.  But I'm not familiar if this is the way it is assumed to be done?  That is, manually go through the `pom.xml` and its sub-modules and create `ja

[2022-01-25 05:49] jdneo commented on #1365
Currently we have to do it manually. This for sure can be an enhancement.

Not sure how will other IDEs(Eclipse, IntelliJ) deal with this. Have you tried them?

[2022-01-25 05:50] jdneo opened #1367 "Cannot run test class with '$' in its name sometime."
Looks like the upstream test runner could not deal with this case decently.

I can see traces:

[code]

[2022-01-25 06:05] testforstephen commented on #1367
When you use "Generate Tests..." to generate test class for an inner class, it will generate test class with '$' in their names by default. That's why I found the issue https://github.com/microsoft/vscode-java-test/issues/1364.

If test class with '$' is not supported well, you shouldn't generate such test class name by default. For example, using '_' to replace '$'.

[2022-01-25 06:14] jdneo commented on #1367
@testforstephen Make sense.

[2022-01-25 07:42] tsaarni commented on #1365
Thank you @jdneo, now I know I'm not using test runner wrong! :)

Just for curiosity, I did downloaded IntelliJ and imported keycloak as maven based project. It did pick up the properties automatically from the pom files and passed them on command line when running unit test cases. There was 152 properties in the full command line, which was visible in the intellij run console.  I guess similar li

[2022-01-25 07:44] jdneo commented on #1365
This can be a good feature request. Let keep it open.

[2022-01-25 10:03] FieteO commented on #1311
May I ask who the upstream is in this case? Is there already a ticket addressing this issue?

[2022-01-26 00:53] jdneo commented on #1311
@FieteO Since this is a Gradle project, so Buildship is used to resolve the classpaths

[2022-01-26 01:50] jdneo commented on #1367
Dig deeper into the upstream code. The error occurs from [JUnit4TestFinder#internalIsTest()](https://git.eclipse.org/r/plugins/gitiles/jdt/eclipse.jdt.ui/+/refs/heads/master/org.eclipse.jdt.junit.core/src/org/eclipse/jdt/internal/junit/launcher/JUnit4TestFinder.java#235).

It's using `root.findDeclaringNode(type.getKey());` as well

[2022-01-26 16:58] cmitchell commented on #435
Any movement or update on this?  This is a pretty common scenario for decently sized java projects.

[2022-02-09 07:41] azazar commented on #630
It's not fixed yet.

    $ lsb_release -a
    No LSB modules are available.
    Distributor ID:	Ubuntu
    Description:	Ubuntu 20.04.3 LTS
    Release:	20.04
    Codename:	focal

[2022-02-10 06:09] jdneo opened #1370 "Consider to generate a sample test class after the tests are enabled"

[2022-02-11 07:56] silenceJialuo opened #1373 "[BUG] The Testing Explorer may not work quickly for the No Build tools project for 1st time"
#  The Testing Explorer may not work quickly for the No Build tools project for 1st time

When user creates the test class with source action 'Generating Tests' for the JAVA projects of no build tools after Enabling Tests,
the Testing Explorer may not work in time to create the hierarchy level quickly, it may puzzle our users.

![image](https://user-images.githubusercontent.com/99467262/153554310-

[2022-02-11 09:08] jdneo commented on #1373
Could not find a stable reproduce steps. Reload window could solve the problem when it happens

[2022-02-16 19:34] GerobohamAlvarez commented on #596
Any news about this issue ? or any work around to solve it ?

[2022-02-16 19:42] jfmenard commented on #596
Really surprised this is not prioritized more.  This is a pretty basic feature & a must-have IMO.

[2022-02-16 19:59] GerobohamAlvarez commented on #596
Could you at least somehow configure the path to the main testng.xml via settings.json or launch.json?
or reading this property <suiteXmlFiles>

[code]

I know it's complicated, but configuring testng via xml is essential.

Could you follow up on this issue ?

[2022-02-18 07:29] nickzhums commented on #596
Hello folks, we are taking a look at this issue and evaluating the technical feasibility. Will keep you posted

[2022-02-21 11:14] benzman81 commented on #718
Same issue here. A class "B" that inherits tests from class "A" cannot be executed, neither from explorer java projects view, nor from testing view. How are we supposed to run those tests now? Any hint or workaround? In eclipse this wasnt a problem at all.

[2022-02-21 11:16] benzman81 commented on #718
Btw. our test framework is TestNG.

[2022-02-21 11:22] benzman81 commented on #435
Seems to be duplicate or releated to #718.

This makes it almost impossible to switch from eclipse to vscode. We are not able to execute most of our testclasses because of this bug.

[2022-02-22 06:42] jdneo commented on #718
@benzman81 Thanks for reporting.

There will be some problem for TestNG in such cases. JUnit should be fine.

[2022-02-22 06:43] jdneo commented on #435
@cmitchell Are you using TestNG?

[2022-02-24 05:00] jdneo opened #1376 "Cannot show the failed message for JUnit inherited test"
Steps to repro:

1. Having a base class:
[code]
2. Make a extended class:
[code]
3. Run the test class: `MyTest`
4. Open `BaseTest.java`, the editor should show a failed test message

[2022-02-24 06:29] jdneo commented on #1376
Fixed in #1375

[2022-02-24 06:29] #1376 closed

[2022-02-25 08:09] #1303 closed

[2022-02-28 07:47] CsCherrYY opened #1379 "The status of inherited tests is not properly shown in some cases"
Steps to reproduce:

1. follow the steps in #1376 to setup test project
2. in **BaseTest.java**, change `assertTrue(false)` to `assertTrue(true)`, and run test class: **BaseTest**
3. in **BaseTest.java**, rollback from `assertTrue(true)` to `assertTrue(false)`
4. Run test class: **MyTest**
5. open BaseTest.java, can see the test status is passed but the error message is shown.
![image](https://use

[2022-02-28 07:57] CsCherrYY opened #1380 "Consider to expose `Enable Java Tests` command"
When I open a Java project without build tool, **Enable Java Tests** feature always help me to setup my test framework, it saves my life. But if there is something wrong with my test library, e.g., removing hamcrest jar file in JUnit test framework, I have no way to repair the test library since **Enable Java Tests** can't be found in any place now. In this way, is it possible to put it in the com

[2022-02-28 09:11] jdneo commented on #1379
The root cause is that, the fully qualified name reported from the test runner is something like `ERROR MyTest#baseTest()`. The name could not match any existing test item. So currently we only set the test location but not update the test item.

[2022-03-02 10:34] Sandared opened #1381 "Tests are not found anymore since 0.34.1"
When using version 0.34.1 (I did so on Gitpod) none of my tests are recognized anymore.
No play button is shown and  also in the Testing View no tests are shown. Everything works fine with 0.34.0

[2022-03-02 11:31] jdneo commented on #1381
Will it help if you re-load the window? Is it occurring for all Java projects?

[2022-03-02 12:54] Sandared commented on #1381
Reloading does not help. I also don't get any error message. It just doesn't show the tests anymore.
I didn't check it with other Java projects yet, as I don't have that many with tests ^^

[2022-03-02 12:56] jdneo commented on #1381
Thank for the information. Is it possible to share a sample project for this issue?

[2022-03-03 02:25] jdneo commented on #1381
Hi @Sandared,

I tried to make some changes, not sure if I found the root cause or not. Would you mind to try installing this bit and let me know if the problem get solved?

[vscode-java-test-0.34.1.vsix.zip](https://github.com/microsoft/vscode-java-test/files/8174412/vscode-java-test-0.34.1.vsix.zip)

[2022-03-03 07:51] liechtir commented on #1381
Hi @jdneo, I confirm the same issue with the vanilla 0.34.1. When downgrading to 0.34.0 all is back to normal.
Your enhanced version of 0.34.1 also fixes the issue, my tests are back and I can run them.
Thank you, looking forward to get the 0.34.2 then ;-)

[2022-03-03 07:55] jdneo commented on #1381
@liechtir Thank you for the information. I'll wait a little bit more to see if the patch fix @Sandared's problem as well. If yes I'll release a hot fix for this.

Sorry for introducing the issue.

[2022-03-03 08:01] Sandared commented on #1381
Hi @jdneo  ,
awesome work 👍  everything works again!
Thanks for the quick response!

[2022-03-04 02:27] #1381 closed

[2022-03-04 03:01] #1348 closed

[2022-03-04 03:07] jdneo commented on #1381
Hi all,

0.34.2 is now planned to release in early next week. In 0.34.2 we also [adopted one new API from VS Code](https://github.com/microsoft/vscode-java-test/issues/1348), so please remember to update your VS Code to 1.65.0.

[2022-03-08 14:45] steinerthomas commented on #647
I think it's right, that you can't run those inner class tests by design, if you have a test suite.

But I would expect that the inner class tests are at least listed in the Testing View and that I can right click them and "Go to Test".

As it is now, the inner tests only get listed there after they were executed once and you can't right click and "Go to Test". It's only possible to hide a test.

[2022-03-09 01:01] jdneo commented on #647
@steinerthomas please go ahead. And it would be helpful if a sample project could be attached.

[2022-03-09 11:45] steinerthomas opened #1386 ""Go to Test" for nested/inner Tests in a JUnit Test Suite"
I would like to request a feature/fix for the empty context menu for JUnit Tests under a (Custom)TestSuite. At least I would need the "Go to Test" functionality (or a double-click on the Test) as you can see in the screenshots below.

See also original issue: https://github.com/microsoft/vscode-java-test/issues/647

After running a JUnit Test Suite, the executed Tests under the Suite are shown, bu

[2022-03-11 07:52] gruvw commented on #779
I know this issue is old, but we really need this feature so +1

[2022-03-12 16:24] sevapopov2 opened #1387 "Unable to find Java test report after the test completion"
I will be glad if the issue can be closed and if there is the solution to it that already exists, but here's the problem I have:
After some versions of VSCode or test runner plugin, I am not sure, java test report web page stopped displaying after tests with failures are completed. I am screen reader user, this page really helped me in viewing the test results and understanding what went wrong qui

[2022-03-13 07:06] jdneo commented on #1387
Last year we adopted the VS Code's new testing API, with that change the web view page now becomes a editor peek view, which shows the test messages.

@connor4312 Do you know if there is any guidance to help users read the test results via tools like NVDA?

[2022-03-13 11:44] sevapopov2 commented on #1387
Hello, thank you for your answer! How can I choose this editor pick view? What steps should I perform? I may check and report if it's accessible or not and create an issue for that if needed. Thank you!

[2022-03-14 01:34] jdneo commented on #1387
By default, the peek view will automatically open when there are cases failed. You can control the behavior via the setting `testing.automaticallyOpenPeekView`.

And you can leverage the command `Test: Peek Output` to open the peek view.

[2022-03-14 01:35] jdneo commented on #1342
The command `Test: Toggle Inline Test  Output` can be used for this purpose.

[2022-03-14 01:35] #1342 closed

[2022-03-14 12:13] sevapopov2 commented on #1387
Thank you for your answer! I will check this option, I remember that I saw it in the documentation but couldn't find it in the command palet. I will try again. But what I can tell now is that after the test is executed, if there is a failure, screen reader automatically starts reading the error message but the focus is placed in the editor with the code.

[2022-03-14 12:33] jdneo commented on #1387
@connor4312 Maybe this is an accessibility issue which can be fixed at VS Code side?

[2022-03-17 01:22] jdneo commented on #1387
Sounds like might be an issue of VS Code. since we now adopted the testing API. The UX are mostly controlled by VS Code. Would you mind me to migrate this issue to the VS Code repo and we can discuss there?

[2022-03-17 06:44] sevapopov2 commented on #1387
Yes that will be absolutely fine. Maybe we can figure out if it's really an issue or I misunderstand something.

[2022-03-17 08:00] jdneo commented on #1387
Filed a new issue here: https://github.com/microsoft/vscode/issues/145298

[2022-03-24 10:57] officialbishowb opened #1390 "Test runner showing "Configure Python Tests" instead of Java"
I installed the "Test Runner Java" but it is showing "Configure Python Tests" which is very suprising. Any fix?
![grafik](https://user-images.githubusercontent.com/55999477/159901951-db8b4826-70f9-4c85-9487-96f317b2519f.png)

[2022-03-24 11:13] jdneo commented on #1390
The button you seen is contributed by Python extension not Java.

To see Java tests, please make sure you have imported Java projects into VS Code. (Directly open the folder where your project pom.xml/build.gradle locates)

[2022-03-24 12:06] officialbishowb commented on #1390
@jdneo I am working with plain Java project not Maven & co. So there is no pom.xml.. How can i do it in plain Java project?

[2022-03-25 01:29] jdneo commented on #1390
Could you see a thumb up icon at the bottom right status bar?

[2022-03-25 10:48] officialbishowb commented on #1390
@jdneo No the thumb icon is down
![grafik](https://user-images.githubusercontent.com/55999477/160107057-f85c0e46-8c9a-4d62-b8b2-11f104b0ce04.png)

[2022-03-26 05:55] jdneo commented on #1390
Then that means the project is not imported successfully. Check this and see if there is any errors: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting#get-the-java-language-servers-workspace-logs

[2022-03-27 15:24] officialbishowb commented on #1390
@jdneo Sorry for late reply but after I manually download junit-platform-console-standalone where I am not sure if it is correct, from [here ](https://search.maven.org/artifact/org.junit.platform/junit-platform-console-standalone/1.8.2/jar) it is working
![grafik](https://user-images.githubusercontent.com/55999477/160288586-33868f8a-e421-4e96-8e57-6736a625cf83.png)

[2022-03-28 01:52] jdneo commented on #1390
junit-platform-console-standalone is the required jar to run JUnit 5's tests.

I'm closing this issue for now since it seems that the problem has been solved. Free feel to leave comments if you have any questions.

[2022-03-28 01:52] #1390 closed

[2022-03-31 03:17] jdneo opened #1392 "Error message won't append at the method"
Sometimes the error message won't append at the method. For example, when the error happens at the `@before` lifecycle, it will add to the before method, which is wired.

[2022-04-01 00:51] jdneo commented on #1387
I'll close this issue since it's tracked by upstream. Thank you for reporting it @sevapopov2

[2022-04-01 00:51] #1387 closed

[2022-04-01 00:58] jdneo opened #1393 "Simplify the test message"
Currently the test message contains traces which does not belong to the tested project

![image](https://user-images.githubusercontent.com/6193897/161173980-dcc40961-99bb-4c8d-8018-72ac41fcb275.png)

[2022-04-01 01:16] jdneo opened #1394 "Test item range could not be updated correctly"
Especially when applying text edits:
![a](https://user-images.githubusercontent.com/6193897/161175968-00b0ca74-9c0b-4e79-bda3-97b204efa3f6.gif)

[2022-04-01 17:34] fvclaus commented on #534
@jdneo This bug is reproducible with Gradle, but not with Maven. I tried the petclinic project with both Gradle and Maven, but was unable to reproduce it with Maven. The project can be found here: https://github.com/fvclaus/vscode-java-test-application-properties.

I have two `application.properties` with the same property `properties-location` which is either `main` or `test`.
Using Gradle on the

[2022-04-02 01:22] jdneo commented on #534
@fvclaus, it's a known issue that the classpath resolved by Gradle(Buildship) is wrong. In the future we will consider to add a feature that delegate the test execution to Gradle (that will make sure the result is the same as running from command line)

See: https://github.com/microsoft/vscode-java-test/issues/1045#issuecomment-676911725