[2018-12-02 10:12] jdneo commented on #483
@zhangqi26, would you mind to share a sample project to us? This can help us to diagnostic the problem.

[2018-12-03 02:51] jdneo commented on #458
@IMEVER

Try to edit launch.test.json as following:

[code]

Then set the value of `default` to the name of the configuration item you want to use.

Let me know if this could help with your problem.

[2018-12-03 05:39] #107 closed

[2018-12-03 07:36] jdneo commented on #482
@tainer What's your OS?

[2018-12-03 07:50] jdneo commented on #469
Test it again on Mac. Not able to repro.

For anyone who also encountering this issue, please feel free to comment on this issue.

Thanks.

[2018-12-03 07:50] #469 closed

[2018-12-03 08:00] bsaby opened #486 "Cannot navigate to an open test report"
BUild: 359

Repro steps:
	1. Run tests and open the test report
	2. Switch to a java file in vscode editor
	3. Run some tests again
	4. Click code lens or test status test result

Result:
Cannot navigate to an open report when clicking on the test result of test status bar or status code lens

[2018-12-03 08:41] bsaby opened #487 "Sort the classes and methods alphabetically in the test report"
The classes and methods in test report should be sorted alphabetically
Now:
![image](https://user-images.githubusercontent.com/22470312/49362208-257d1e80-f719-11e8-8c47-bfef91eddc2d.png)

[2018-12-03 08:43] bsaby opened #488 "Todo project: skip testEqualsObjects method"
Build: 359
Project: https://github.com/Microsoft/todo-app-java-on-azure

Run from workspace root/workspace folder, the testEqualsObject method will be skipped.
![image](https://user-images.githubusercontent.com/22470312/49362588-1fd40880-f71a-11e8-9568-51b6fc3fcb33.png)
Test output:
![image](https://user-images.githubusercontent.com/22470312/49362602-25315300-f71a-11e8-88fe-c4fa14172219.png)

[2018-12-03 09:00] bsaby opened #489 "Test report size issues"
Test report won't resize fluidly

![image](https://user-images.githubusercontent.com/22470312/49362696-717c9300-f71a-11e8-8825-6c0155e3c634.png)

![image](https://user-images.githubusercontent.com/22470312/49362148-f5358000-f718-11e8-9441-e9ae857c2d82.png)

[2018-12-03 12:02] lfzy commented on #208
all test always skiped!!!  what can I do?

[2018-12-03 15:29] emannuelalmeida opened #493 "Code coverage test"
Issue Type: <b>Feature Request</b>

I'd like to request for the Test Runner to have "code coverage" option. It's very useful when you need to track wheter your code is being tested or not. I'm suggesting it for the Java Test Runner, cause it's what I'm using right now, but it could be for any language, since it doesn't seem to exist.

Extension version: 0.11.1
VS Code version: Code 1.29.1 (bc24f98

[2018-12-03 18:39] amitlevy21 commented on #482
I'm having the same issue, using Ubuntu 16.04 and also happen in Windows 10

[2018-12-03 20:59] chrissantamaria commented on #470
I'm having the same issue on two entirely separate machines; code lenses have stopped appearing and no tests are showing up in the Test Explorer either.

[2018-12-04 01:57] #482 closed

[2018-12-04 02:00] jdneo commented on #482
I found out a potential bug which might be the root cause of this issue and fixed it in #490

@amitlevy21 Tried with the project that you provided. Now it won't always keep running any more.

The fix will be released with v0.12.0. If the issue still occurs after 0.12.0 get released. Feel free to comment here and let me know.

Thanks.

[2018-12-04 02:02] jdneo commented on #493
Thanks for reporting. This is dup with #387.

I'm closing this issue for easy tracking. Feel free to vote for #387 by adding a 👍 in that issue.

[2018-12-04 02:02] #493 closed

[2018-12-04 02:04] jdneo commented on #470
@chrissantamaria Are you using Gradle as your building tools?

[2018-12-04 02:05] #486 closed

[2018-12-04 02:57] jdneo commented on #470
@chrissantamaria Don't worry.

Would you mind to share the content of `.classpath` file? Which is located at the base path of your project.

[2018-12-04 04:52] #489 closed

[2018-12-04 07:10] IMEVER commented on #458
@jdneo Yes, it works. You save my life.
By the way, I have three probjects in the current vscode workspace, can it just automaticly pick the right configuration file when run in test class. Now I have to run test method from left side test pannel with right click and choose configration file.
Below is my config:

<pre>{
    "run": {
        "default": "MobileTracker-Report",
        "items": [

[2018-12-04 07:20] IMEVER commented on #458
@jdneo Now I have to use absolute path in launch.test.json,  Hope launch.test.json will support variable like "${workspaceFolder}" in launch.json.

[2018-12-04 07:48] yaohaizh opened #495 "Improve the extension load time by using webpack"
References:

1.	[VS Code extension sample](https://github.com/Microsoft/vscode-extension-samples/tree/master/webpack-sample)
2.	[Improving load times and performance of Python Extension for VS Code with WebPack](https://medium.com/@don.jayamanne/improving-performance-of-python-extension-for-vs-code-with-webpack-8e4469533f09)

[2018-12-04 08:00] IMEVER opened #496 "Automatically pick the right configuration file"
I have several projects in one vscode workspace.
When running test by "Code lens", it always use default configuration in launch.test.json.
I hope it can pick the right config by project name automatically.

[2018-12-04 10:40] tainer commented on #482
Hi @jdneo, i'm using win10.

[2018-12-04 17:09] chrissantamaria commented on #470
@jdneo

[code]

[2018-12-05 01:30] joshmanderson commented on #470
@jdneo Apologies for the late reply.
The test explorer appears in the sidebar, but there are no tests shown within it.

[2018-12-05 01:46] jdneo commented on #470
I guess I got the root cause of this problem.

In our implementation, we will only search for the test items in the `test` folders. Here is the [implementation](https://github.com/Microsoft/vscode-java-test/blob/master/java-extension/com.microsoft.java.test.plugin/src/main/java/com/microsoft/java/test/plugin/util/ProjectUtils.java#L88-L100) to determine the location of the test folder.

But the im

[2018-12-05 02:48] jdneo commented on #3
Dup with #470

[2018-12-05 02:48] #3 closed

[2018-12-05 02:52] jdneo commented on #273
We refactored the code recently. So the issue may be resolved or become other error messages.

So I'm closing this issue. But feel free to open new issues if you meet any problems.

[2018-12-05 02:52] #273 closed

[2018-12-05 02:52] #314 closed

[2018-12-05 02:53] jdneo commented on #314
Now the `fail` filter button will only appear when there are failed cases.

[2018-12-05 02:56] jdneo commented on #274
Looks like it's dup with #208

We refactored the code recently. So the issue may be resolved or become other error messages.

So I'm closing this issue. But feel free to open new issues if you meet any problems.

[2018-12-05 02:56] #274 closed

[2018-12-05 02:59] jdneo commented on #333
@ronaldperezs

We refactored the code recently. Is the issue still occurs on your side now?

[2018-12-05 03:21] jdneo opened #498 "0.12.0 Endgame"
# Build
- [x]  12/7 - Bump version to 0.12.0  - @jdneo
- [x]  12/7 - Add change log for 0.12.0 - @jdneo
- [x]  12/7 - Signed RC Bits - @jdneo

# Test
- [x]  12/11 - Run [test plan](https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan) - @bsaby
- [x]  12/11 - Verify common test scenarios - @jdneo
- [x]  12/11 - Check BI goes to prod - @jdneo

# Release
- [x] 12/13 - Add 0.12.0 tag for vscod

[2018-12-05 04:52] #429 closed

[2018-12-05 04:52] #452 closed

[2018-12-05 04:52] jdneo commented on #429
@bsaby Fixed in the newest bits

[2018-12-05 17:58] jbelford commented on #477
I will need to look into this more. I do not know why it doesn't work for large workspaces - so far only that selecting modules causes issue and doesn't seem to be needed.

[2018-12-05 22:49] joshmanderson commented on #470
@jdneo
I can confirm that changing my `.classpath` from this:
[code]
to this:
[code]
fixes the issue. Tests are now appearing in the test explorer, and code lenses are appearing again (and working).

[2018-12-06 01:44] jdneo commented on #477
@jbelford Much appreciate for your effort! 😄

[2018-12-06 01:48] jdneo commented on #470
@joshmanderson Glad to know we have a workaround now. 😄

[2018-12-06 08:20] bsaby opened #501 "Can't trigger command Java: Open Test Runner Log to show the log file"
Build: 366

Repro steps:
1. Open a Project in vscode and activating extension
1. Run tests
1. Pre F1 and choose the command: Java: Open Test Runner Log

Result:
It always shows that the log file does not exist.
![image](https://user-images.githubusercontent.com/22470312/49569064-daa81480-f96d-11e8-9f1b-a5ca820ec5c4.png)

[2018-12-06 08:20] bsaby opened #502 "Cannot always show test report in side view"
Build: 366

Repro steps:
1. config the report position as sideView
1. After running tests, open the test report through status icon or status bar and keep it open
1. Click on a status icon again

Result:
The position of the test report has changed to currentView
![image](https://user-images.githubusercontent.com/22470312/49569769-d0871580-f96f-11e8-8777-d2ce86fb3a46.png)

Expext:
The position shou

[2018-12-06 09:03] bsaby opened #503 "The methods number in the "All" button doesn't match the number of methods actually displayed"
Build: 366

Repro steps:
1. Select one method to run test
1. After running test, open test report through status icon of class level

Result:
The number in the "All" button is the number of all test methods under current class.
Only methods that have been run in the current class are displayed in the panel
![image](https://user-images.githubusercontent.com/22470312/49573267-95d5ab00-f978-11e8-916b

[2018-12-06 09:04] bsaby opened #504 "Cannot trigger test through workspace folder level"
Build: 366
Project: https://github.com/angelozerr/lsp4xml

Result:
![image](https://user-images.githubusercontent.com/22470312/49573146-44c5b700-f978-11e8-808f-0f40df4013d8.png)

[2018-12-06 09:07] bsaby opened #505 "The test output is poorly readable"
Build: 366

Result:
![image](https://user-images.githubusercontent.com/22470312/49573566-42b02800-f979-11e8-9602-313d7a6a1aba.png)

[2018-12-06 10:04] bsaby opened #507 "All cases will be skipped when running tests"
Build: 366
Project: https://github.com/checkstyle/checkstyle
Configurations:
[code]

Result:
![image](https://user-images.githubusercontent.com/22470312/49576727-d20d0980-f980-11e8-8f5d-df8050067117.png)

[2018-12-06 19:52] rileyma opened #508 "Can't run test cases"
Installed Java Test Runner.
Tagged test methods with *Test* tag.
imported org.junit.*;
imported org.mockito.Mockito.*;

Can't run any of the tests from the method level. There's no "Run" button on either of the methods.

[2018-12-07 01:34] jdneo commented on #508
Looks duplicated with #470

Will your problem be solved according to the workaround mentioned in #470?

[2018-12-07 01:35] #501 closed

[2018-12-07 01:35] jdneo commented on #501
Fixed. Please help verify in the newest build

[2018-12-07 03:12] bsaby commented on #501
Test passed.
Build used: 369

[2018-12-07 05:57] #502 closed

[2018-12-07 05:57] jdneo commented on #502
Fixed

[2018-12-07 05:59] bsaby opened #510 "Unable to update test log file immediately"
Build: 369
OS: Windows

Steps:
1. Open a java project
2. Run tests and open test log file, keep the log file in the active editor
3. Run some tests

Result:
The log file cannot be updated immediately unless you switch to another file and switch back.

[2018-12-07 06:00] bsaby commented on #504
Project: http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip
BUild: 369

Can't trigger tests from workspace root level and workspace folder level
![image](https://user-images.githubusercontent.com/22470312/49630067-7fd2f380-fa27-11e8-9ab3-147ed47a9c19.png)

[2018-12-07 06:19] bsaby opened #511 "Tokennization is skipped for lines longer than 20k characters for performance resons"
Build:369
Project: https://github.com/angelozerr/lsp4xml

How to repro?
Scenario1. open the project in vscode and run all tests, then open log file
Scenario2. keep the log file in the active editor, run all tests
Scenario3. keep the log file in the editor but not the active one, switch to log file after running all tests

Result:
Only the first scenario will prompt the notification message in the

[2018-12-07 06:47] jdneo commented on #511
This is VS Code behavior and we could do nothing for now about this issue.

[2018-12-07 06:47] #511 closed

[2018-12-07 07:15] jdneo commented on #510
A workaround is to toggle the focus of the log file off and on.

Closing it for now.

[2018-12-07 07:15] #510 closed

[2018-12-10 10:21] bsaby commented on #498
### Run [test plan](https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan)
#### 1. Configurations

Windows | Linux
-- | --
Vscode:   1.29.1   JDK   1.8.0_181 | Vscode: 1.29.1   JDK   1.8.0_181

#### 2. Bugs
No new bugs
#### 3. Result

Test case | Windows | Linux | Issue
-- | -- | -- | --
Clean   install | Pass | Pass |  
Update | Pass | Pass |  
Uninstall | Pass | Pass |  
Basic | Pass | Pa

[2018-12-10 22:16] lnngo commented on #460
I found the same issue but for classes with only one test

[2018-12-11 02:13] #498 closed

[2018-12-11 02:14] #451 closed

[2018-12-11 02:35] mitDarkMomo opened #515 "Some tests skipped"
Try to test: [https://github.com/web3j/web3j](url)

Some tests passed while some skipped(for example: folder under web3j/core) : prompt `java.lang.ClassNotFoundException`

Configurations:
[code]

I'm not familiar with gradle, is there something i'm missing?

[2018-12-11 02:40] jdneo opened #516 "Activate the extension when the workspace contains pom.xml/build.gradle"
Current the extension will be activated only if the extension command is triggered. Or user opened a java file.

We need to consider to change the activation event. For example https://github.com/redhat-developer/vscode-java/blob/master/package.json

Here are some changes that need to be done:
- [x] Activate the extension when the workspace contains pom.xml/build.gradle
- [ ] Activate the extensio

[2018-12-11 02:44] jdneo opened #517 "Improve the test report"
- [x] Add hover style
- [ ] Add arrow before each method line

[2018-12-11 02:44] jdneo opened #518 "Add show test report command in the explorer context menu"

[2018-12-11 20:45] jbelford commented on #477
Small update to this problem - it turns out that multi-root workspaces are likely not the problem here.

The tests I am seeing getting skipped and run into errors are when a maven project is part of a multi-maven project.

[2018-12-12 18:10] jbelford commented on #284
One way to debug at least the test.runner code in vscode is to do as follows:

1. hit f5 to launch the extension
2. in the *[Extension Development Host]* instance of vscode - set a breakpoint on java files in `java-extension` - easiest way to do this is add the `java-extension` as a folder to whatever workspace opens by default for you.
3. on any test hit `debug test` and it should stop at your br

[2018-12-13 01:52] jdneo commented on #284
Thanks @jbelford. Will you see some compilation errors when you import the java code into your workspace? I think there might be several because the VS Code could not set the `target platform` as that in Eclipse.

[2018-12-13 02:01] jbelford commented on #284
Yeah I don’t know if it is possible to debug the plugin project from vscode because there’s no way to set the target platform

[2018-12-14 04:57] jdneo opened #523 "0.13.0 Iteration Plan"
Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

- [ ] Improve the test report #517
- [ ] Activate the extension when the workspace contains pom.xml/build.gradle #516

[2018-12-14 04:57] #517 closed

[2018-12-14 05:29] jdneo opened #524 "Redesign the user experience about running/debugging with configuration"
### Related Issues
#496, #476, #438
#458, #372, #354, ...

### Description
Currently, the extension will generate the `launch.test.json` for users who want to run/debug with configuration for his test cases. While this approach has a lot of problems that hurt the user experices, including:
- No documents
- The schema is hard to understand
- Could not resolve variables such as `${workspaceFolders}`

[2018-12-14 05:56] jdneo commented on #496
Hi @IMEVER:

We are planning to redesign the launch with configuration experience. Please feel free to let us know your thought in this issue: https://github.com/Microsoft/vscode-java-test/issues/524

thanks.

[2018-12-14 21:45] jbelford opened #526 "@ParameterizedTest skipped when invoked from method level"
@ParameterizedTest works when run from the class level but I run into errors when executed from the method level.

[code]

[2018-12-17 01:42] jdneo commented on #526
@jbelford Thanks for reporting. Looks like this is caused by this issue: #134

And we are planning to solve it in the next version: 0.13.0

[2018-12-17 07:45] #495 closed

[2018-12-17 19:56] RaviH commented on #425
Hi @mpodlodowski,

Any luck?

[2018-12-18 00:23] franciscocpg opened #531 "Keyboard shortcut"
I was able to configure a keyboard shortcut to run **all project tests** with the following configuration at `keybindings.json`.
[code]
But I want to be able to configure 2 more shortcuts to:
1. Run all tests from the current file
2. Run test from the current focused method

Is there a way to do so?

[2018-12-18 09:14] jdneo commented on #531
@franciscocpg Unfortunately, there is no way to do this for now.

We will consider adding this support in the future.

[2018-12-19 09:41] jdneo commented on #461
## Root cause
The extension will create a file watcher listening to the changes of all the java files.

During the project building, the LS might create/delete java files in the target folder, then the file watcher will keep triggering the explorer to refresh.

## Solution
Add a `testPathProvider`, when the file watcher receives the event, check the changed file is in the test path or not.

This c

[2018-12-19 14:49] pablo-parra opened #534 "Test context reading 'wrong' application properties file"
In a Spring Boot sample project using a MySQL db as main data source and H2 as test data source, when launching the test using Java Test Runner extension the application properties file read by the app is the one located in the "main" package instead the one located in the "test" package. Due to that all the test fail as are not finding the expected infrastructure.

The test of the project are wor

[2018-12-20 06:16] jdneo commented on #488
## Root cause
The code logic [here](https://github.com/Microsoft/vscode-java-test/blob/master/java-extension/com.microsoft.java.test.runner/src/main/java/com/microsoft/java/test/runner/junit4/JUnit4RunnerUtil.java#L36) is wrong:

[code]

We should determine the suite is a method or class by its full name, not the array length.

[2018-12-20 07:55] #488 closed

[2018-12-20 07:55] jdneo commented on #488
@bsaby Fixed.

[2018-12-20 08:01] jdneo commented on #515
## Root cause
Classpaths not calculated correctly. For each test suite, we should check all the projects in the workspace for the classpaths.

[2018-12-20 08:14] #461 closed

[2018-12-20 09:02] jdneo opened #537 "TestNG test cases will be skipped"
According to https://github.com/Microsoft/vscode-java-test/issues/504#issuecomment-445131893 by @bsaby

The TestNG test cases will be skipped if triggering from workspace root level and workspace folder level.

## Root cause
In `com.mkyong.testng.examples.group.TestGroup`, some of the codes are commented. Release them will make the runner running successfully.

## How to fix
I will investigating i

[2018-12-20 09:56] jdneo commented on #460
The root cause is same as #515. Let's track this in #515

This should be fixed with #536

[2018-12-20 09:58] jdneo commented on #434
The extension consumes the results provided by LS.

On the other hand, I think it is good if the extension can find the test cases no matter what kind of folder is opened by the user. 😃

[2018-12-20 09:58] #434 closed

[2018-12-20 10:05] jdneo commented on #245
As the error message says: Could not run build action using Gradle distribution 'https://services.gradle.org/distributions/gradle-3.4.1-bin.zip'.

This is a build error, nothing to do with the extension.

Will close this issue for now. Since the code base has been changed a lot compared with the time this issue is created.

Please file new issues if meet any problems.

Thanks.

[2018-12-20 10:05] #245 closed

[2018-12-20 10:12] jdneo commented on #236
@bsaby This is as expected.

Because the same named files contain the classes which have the same fully qualified names. They are introduced by different building tools. But the underlying Java Element is the same.

[2018-12-20 10:12] #236 closed

[2018-12-20 13:44] Scott4man commented on #208
Did you try a clean and then rebuild?

For me, that is “mvn clean install”

[2018-12-20 13:52] keigezellig commented on #208
@Scott4man Yes, but still go the same result (even after restarting vscode)

[2018-12-21 02:08] #504 closed

[2018-12-21 03:03] rutcreate commented on #534
Same problem here. If there is any workaround please share.

For my case, I use DBRider to test database. It will delete tables in database before or after start test case. From this problem cause dev's database tables will be deleted instead of test's database.

[2018-12-23 01:12] mpodlodowski commented on #425
Just met some problems trying to debug the Java code - I can't attach to remote debugging port 1044. Is the guide on cs/contributing still valid?

[2018-12-24 01:31] jdneo commented on #425
@mpodlodowski Are you debugging the code under `com.microsoft.java.test.plugin` or `com.microsoft.java.test.runner`

[2018-12-24 07:09] ecormaksin opened #621 "Spring Boot Test Fails with NoSuchBeanDefinitionException."
Any advice would be appreciated.

[provide a description of the issue]

##### Environment
- Operating System: macOS High Sierra 10.13.6
- JDK version: 1.8.0_151
- Visual Studio Code version: 1.30.1
- Java extension version: 0.5.0
- Java Debugger extension version: 0.16.0

##### Steps To Reproduce
1. Create Spring Boot project by following the page below. https://code.visualstudio.com/docs/java/jav

[2018-12-25 04:46] #134 closed

[2018-12-25 04:47] jdneo commented on #526
This should be fixed with #539

[2018-12-25 04:47] #526 closed

[2018-12-26 08:33] bsaby opened #541 "Tests can't be run correctly in multi-root workspace"
Bits: 389

Steps to repro:
1. Open a multi-root workspace in Vscode
1. Trigger test from one workspace folder level

**Result:**
Run all tests under current multi-root workspace

**Expect:**
Only run the tests under current workspace folder

[2018-12-26 10:02] bsaby commented on #460
Reopen this issue because it can still be reproduced.

**For TestNG project:**
1. Open a TestNG project in Vscode, for example: https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-testng
1. Manually add a inner class
1. Trigger test from a level that contains an inner class in test explorer

Result:
All tests will be skipped
![image](https://user-image

[2018-12-26 10:49] #541 closed

[2018-12-26 10:49] jdneo commented on #541
@bsaby Fixed in the newest bits

[2018-12-26 13:43] mpodlodowski commented on #425
`com.microsoft.java.test.plugin`

At least I'm trying to. Is it possible?

[2018-12-26 15:05] finfou commented on #208
You need "ps | grep vscode" and killl all related process. Since service is hosted in a seperate one, which still running even you close vscode.

[2018-12-26 18:34] JasonHenriksen commented on #508
I used the classpath fix in #470 which caused the test to appear.
However, when I attempt to run the test is always says "skipped".
It looks like the compiled tests don't go where the runner is expecting them?  There was an error saying "Can't have test code compiled to the same directory as main code" so I'm trying to sort out if the .classpath file is pointing things to a directory that they're

[2018-12-26 19:37] JasonHenriksen opened #543 "Unexpected value in property "user.dir" under TestNG"
![image](https://user-images.githubusercontent.com/40472779/50455389-8eb01600-0902-11e9-9b8e-baf24bc76838.png)

I was expecting the user.dir to be the root of my workspace.
Instead, the user.dir is equal to my home directory.
This causes relative file lookups to fail.

[2018-12-27 01:43] jdneo commented on #425
Yes, it should be possible. Did you launch the extension first then attach to the remote application?

[2018-12-27 01:46] jdneo commented on #543
Hi @JasonHenriksen

I think set the `launch.test.json` can help with your problem. You can look into this issue for a reference: https://github.com/Microsoft/vscode-java-test/issues/476

Well, I have to admit that this feature is not well designed, so we are planning to change it in the near future, you can track the progress here: https://github.com/Microsoft/vscode-java-test/issues/524

It would

[2018-12-27 02:22] jdneo opened #544 "0.13.0 Endgame"
# Build
- [x]  12/27 - Bump version to 0.13.0  - @jdneo
- [x]  12/27 - Add change log for 0.13.0 - @jdneo
- [x]  12/27 - Signed RC Bits - @jdneo

# Test
- [x]  12/28 - Run [test plan](https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan) - @bsaby
- [x]  12/28 - Verify common test scenarios - @jdneo
- [x]  12/28 - Check BI goes to prod - @jdneo

# Release
- [x] 12/29 - Add 0.13.0 tag for vs

[2018-12-27 02:44] ZhengJun003 commented on #541
Verify this issue in Build 390, it's fixed.

[2018-12-27 10:37] mpodlodowski commented on #425
I did (with "Launch Extension" config from the repo).

I tried the following:
1. gulp build-server
2. Launch Extension
3. attach debugger

Am I missing something?

[2018-12-27 23:40] JasonHenriksen commented on #543
Thanks for getting back to me!

It's much better than not being able to run our TestNG suite at all.

I have hundreds of tests, so it doesn't make sense for me to have a launch config for all of them. For example:
![image](https://user-images.githubusercontent.com/40472779/50497475-bf6c7a00-09ec-11e9-9efb-f0c0be0ab7a3.png)

It would be handy if the tree allowed me to collapse by package section in

[2018-12-28 01:38] jdneo commented on #425
Did you set the target platform in Eclipse when importing the `com.microsoft.java.test.plugin`?

After importing the project, you can find a file called [target.target](https://github.com/Microsoft/vscode-java-test/blob/master/java-extension/com.microsoft.java.test.plugin/target.target). Double click it in Eclipse, and in the right top of the editor, click `Set as active target platform`

[2018-12-28 01:57] jdneo commented on #543
Thanks for the feedback. 👍  I saw three problems there, correct me if I'm wrong.

### Launch config problem
Could you please let me know the reason why one launch config is not suitable for you?

### Collapse by package section
Currently, the explorer will show all the package roots which are in the project's `test` classpath, for example, `src/test/java`. But sometimes, it is possible that a pack

[2018-12-28 05:16] bsaby commented on #544
### Run test plan
#### 1. Configuration:
Windows | Mac
-- | --
Vscode: 1.30.1 JDK 1.8.0_181 | Vscode: 1.30.1 JDK 1.8.0_191

#### 2. Bug
 No new bugs

#### 3. Test Result

Test case | Windows | Mac
-- | -- | --
Clean   install | Pass | Pass
Update | Pass | Pass
Uninstall | Pass | Pass
Version | Pass | Pass
Basic | Pass | Pass
Test   Explorer - UI | Pass | Pass
Test   Explorer - Run/Debug Test | #53

[2018-12-28 05:25] #544 closed, assigned to nobody

[2018-12-28 08:37] jdneo commented on #34
@jgheewala Did you still see this errors in the latest Test Runner extension?

[2018-12-28 08:39] #460 closed

[2018-12-28 08:40] jdneo commented on #477
@jbelford Does this problem still occur in the newest Test Runner extension?

[2018-12-28 08:46] #411 closed

[2018-12-28 09:58] mpodlodowski commented on #425
Done. Still no luck.
[code]

[2018-12-28 13:42] neilghosh opened #549 "Wrong working direcrtory"
My launch.test.json file has the following entry

"workingDirectory": "/Users/userid/dev/project_dir",

But when I run the tests the files are created to the root directory of the machine i.e. "/" instead of relative to the working directory. My code works fine (files are created relative to the working directory ) when I run the tests from the command line .

Does the workingDirectory config real

[2018-12-28 17:38] JasonHenriksen commented on #543
That sums it up.  Thanks!
And I'm fine with one launch config, My only concern is that it can be used to run at package, class & test levels without having to do any re-config.

I'm really excited for this project and I'm happy to contribute if I can.  Let me know if there's anything I could lend a hand with.

[2018-12-28 18:10] fwcd opened #550 "Pack the test report resource files into the extension vsix"
Usually, the individual test cases from the report can be expanded by clicking on them:

![output](https://user-images.githubusercontent.com/30873659/50524093-1305c300-0ad4-11e9-89ce-930b40ec199d.gif)

This does not work, however, when the user is offline.

OS: macOS 10.13.5
VSCode: 1.30.1
Test Runner Version: 0.12.0

[2018-12-28 18:17] fwcd commented on #550
![screenshot](https://user-images.githubusercontent.com/30873659/50524239-deded200-0ad4-11e9-85f6-a65e3fec8d00.png)

The reason for this might be (missing) remote script dependencies, since Code attempts to connect to `bootstrapcdn.com`, `jquery.com` and `cloudflare.com` when opening the report.

[2018-12-29 03:18] jdneo commented on #425
Hmm, another thing needs to pay attention is that we need to wait until the extension has been activated, then we can attach to the remote VM using Eclipse.

You can check whether the extension has been activated by checking if the `Java Test Runner` output channel has been created.

[2018-12-29 03:19] jdneo commented on #549
@neilghosh Is the `default` field set in your `launch.test.json`?

[2018-12-29 07:02] jdneo commented on #105
Closing this issue since it's inactive for a long time.

[2018-12-29 07:02] #105 closed

[2018-12-29 12:56] neilghosh commented on #549
Yes this file as it was created when I installed the plugin and run/debug
from the editor itself .

On Sat, 29 Dec 2018, 08:49 Sheng Chen <notifications@github.com wrote:

[2018-12-29 22:05] thoni56 commented on #470
This workaround definitely worked for me too.

[2018-12-31 01:33] jdneo commented on #549
@neilghosh

Would you mind to share your `launch.test.json`?

[2018-12-31 02:00] #550 closed

[2018-12-31 10:59] thoni56 commented on #126
This could be done by providing an adapter for the [Test Explorer UI](https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer).

[2019-01-01 13:38] yaohaizh opened #552 "Java Test Explorer"
_From @thoni56 on December 31, 2018 9:55_

[Test Explorer UI](https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer) is a handy way to explore, run and visualize your tests directly from the test explorer.

I'm wishing for a Test Adapter for Junit et al. I'm really missing a red/green bar...

_Copied from original issue: Microsoft/vscode-java-pack#88_

[2019-01-01 13:39] yaohaizh commented on #552
@jdneo

[2019-01-02 01:10] jdneo commented on #549
Please try to set the `default` to `mypubsub` and let me know if this could help.

[2019-01-02 02:46] neilghosh commented on #549
@jdneo that worked!

Thanks, I think I misread your first comment.

[2019-01-02 02:49] neilghosh commented on #549
I have one more issue - I could create a new discussion for that.
I don't see the console logs when I run the tests in line. I do see them in the `output` window and select `Java Test Runner` in the dropdown but the text is not well formatted.

[2019-01-02 02:51] jdneo commented on #549
Yes, the output should be better formatted. We have an issue tracking that: #505

Thank you for your feedback! 😃

[2019-01-02 02:58] jdneo commented on #534
@pablo-parra @rutcreate

It might have a better solution to this issue. For now, you can try the following workaround:

1. Check if the `application.properties` is in `/target/test-classes/`
2. If yes, then open your `launch.test.json` file, in `env` field, add the following setting: `"spring.config.location": "classpath:/target/test-classes/"`
3. Do not forget to set the `default` field as well,

[2019-01-02 08:43] jdneo opened #555 "Add the log level setting"

[2019-01-02 09:14] #505 closed

[2019-01-02 17:14] pablo-parra commented on #534
Hi @jdneo, I have followed the steps you mention and it's working now 👍.
I guess it is something that could be done automatically by the extension or at least should be mentioned in the "Usage" section of the extension landing page.

Thanks for your help!! :)

[2019-01-02 18:16] jbelford commented on #477
@jdneo Unfortunately this is still present 😕

[2019-01-03 06:57] jdneo opened #558 "Support navigate to the source from the test report"
If a user finds a test case failed in the report, and want to take a look at the source code. It is difficult because he can not navigate to the source code from the report.

[2019-01-03 07:45] #555 closed

[2019-01-03 08:04] jdneo commented on #76
There is a workaround here: https://github.com/Microsoft/vscode-java-test/issues/534#issuecomment-450779581

Closing this issue and let's track it in #534

[2019-01-03 08:04] #76 closed

[2019-01-03 08:06] jdneo commented on #226
Should be fixed in #556

[2019-01-03 08:06] #226 closed

[2019-01-03 08:09] jdneo commented on #264
@lashchev I think your requirement should be achieved if we resolve  #524.

Please feel free to let us know your thoughts about it.

[2019-01-04 07:11] SupinePandora43 opened #559 "Test explorer not show functions, Run|Debug code lens showed only on main(String[] args)"
Code lens Run|Debug work, but only for main function, and not show report(green/red).
Test explorer show: package->.java file->nothing, but in there place must stand function main()!!!

my java file:

package main;
import org.junit.*;
public class Main{
@Test
public static void main(String[] args){
System.out.println("Hello Test");
}
}

[2019-01-04 07:35] jdneo commented on #559
@SupinePandora43

Could you please provide a screenshot of your problem?

I do not quite understand your problem.

But from the source code you provided, this is not a valid JUnit 4 testable method because the method you are testing is a static one.

[2019-01-04 08:34] yaohaizh commented on #534
@jdneo, please document this either on readme or wiki page.

[2019-01-04 08:51] pablo-parra commented on #534
I'm doing now further testing and seems that the workaround is fixing the issue only partially. With the referred configuration `"spring.config.location": "classpath:/target/test-classes/"` in the _env_ property we avoid reading the `\main\resources\application.properties` and the default configurations (H2 in my case) are applied. The problem is that now the context is not reading apparently any

[2019-01-05 00:18] rdcoe commented on #470
I have run into this error on one laptop but not another.  Different code bases, so it may be project related, however I can successfully run the test goal using maven externally, so it's not a classpath problem.  I have also confirmed that my .classpath test setup has the "test" attribute set to "true"

	`<classpathentry kind="src" output="target/test-classes" path="src/test/java">
		<attributes>

[2019-01-06 06:13] jdneo opened #561 "Run tests fail"
_From @rdcoe in https://github.com/Microsoft/vscode-java-test/issues/470#issuecomment-451607576_:

I have run into this error on one laptop but not another.  Different code bases, so it may be project related, however I can successfully run the test goal using maven externally, so it's not a classpath problem.  I have also confirmed that my .classpath test setup has the "test" attribute set to "tr

[2019-01-06 06:14] jdneo commented on #470
Hi @rdcoe,

Thanks for reporting.

If you can see the Code Lens but cannot run the test, then the problem you met seems to be different from this issue. Let's open a new issue and track it there: https://github.com/Microsoft/vscode-java-test/issues/561

Thanks.

[2019-01-06 06:15] jdneo commented on #561
@rdcoe Would you mind to share a sample project which can reproduce this issue to us?

[2019-01-06 06:19] jdneo commented on #534
@pablo-parra Thanks, I'll look into it.

[2019-01-06 06:30] jdneo commented on #552
Hi @thoni56

[Test Explorer UI](https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer) is an awesome extension, and I like the design of decoupling UI and data adapters.

For now my only concern is that the Test Explorer UI does not support lazy-loading the tree node, and this feature is not in their roadmap. (See: https://github.com/hbenl/vscode-test-explorer/issues/30)

[2019-01-06 06:30] #552 closed

[2019-01-07 04:25] jdneo opened #562 "0.14.0 Iteration Plan"
Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

## Add
- [X] Add the log level setting. #555
- [x] 💪 Support navigates to the source from the test report. #558

## Chang
- [x] Redesign the user experience about running/debuggi

[2019-01-08 09:07] SupinePandora43 commented on #559
can you show Junit 4 valid test?

[2019-01-08 23:54] rdcoe commented on #561
This code resides in a private repo.  I can share it with you if you can get me your public key.  It's a super simple test, though:

`import org.junit.Assert;
import org.junit.Test;

public class MainVerticleTest
{
    @Test
    public void testConfigFileResolverFindsFileInWorkingDirectory()
    {
        Assert.assertTrue( "not implemented", true );
    }
}`

The underlying code doesn't invoke an

[2019-01-09 02:37] jdneo commented on #561
Hmm, may I ask what do you mean by the 'hidden file'? Could you see any output in the Test Runner's output channel?

[2019-01-09 02:48] rdcoe commented on #561
For hidden files, I'm referring to things like .classpath, .project, .factorypath, etc.  In fact, one or more of those files must have been corrupt.  I have a maven multi-module source tree and I went through all my projects and deleted this hidden files as well as the bin/ directories.  Now when I use the test runner it works.  I also now have a working PROBLEMS tab.  Before I deleted those hidde

[2019-01-09 03:10] jdneo commented on #561
@rdoce

Glad to know the problem has been solved. Those files (.classpath, .project, ...) are generated by the Java Language Server, just as you said, by some unknown reason, these files might be corrupted. Since Test Runner depends on the Java Language Server, thus it cannot work properly if something wrong happens at the Java Language Server side. The workaround is just what you have done: remov

[2019-01-09 03:10] #561 closed

[2019-01-09 09:19] jdneo commented on #487
The order here is actually the order in which the functions are defined.

We can add another sort button if we have users thumb up for this issue.

[2019-01-10 02:54] jdneo opened #571 "Show failed message for method in Code Lens"
If a test method fails, we can show it's failed message on the code lens. Then for some simple cases, the user does not need to open the test report for details.

[2019-01-10 06:04] joshmanderson commented on #435
I might also add that along with tests inherited from a parent class, it would be useful to also be able to run tests from `default` interface methods. Note: I'm pretty sure this requires running the tests using junit 5+ (if using junit).

E.g. Given:
[code]
[code]
Running `BasketballPlayerTest` should run the `canJumpToExpectedHeight` test.

[2019-01-10 06:18] keigezellig commented on #208
@jdneo I think #477 is related, although in my case i didn't have a multi-maven project

[2019-01-10 06:32] keigezellig commented on #477
@jdneo Well, not entirely, it is the same error message, but in my case it occurs like i mentioned in #208 when i try to run any JUnit 5 test with the test runner.

[2019-01-10 15:43] Magefo commented on #203
Hi, i have the same issue running tests with JMockit dependeny, mi project is configured with gradle and throws me the same error:

`Caused by: java.lang.IllegalStateException: JMockit didn't get initialized; please check the -javaagent JVM initialization parameter was used`

My gradle dependency configuration is this:

`dependencies {
    testCompile group: 'junit', name: 'junit', version: '4.12'

[2019-01-10 17:44] shawmanz32na opened #573 "Watch expressions don't evaluate when test launched from debug code lens"
None of my debugging watch expressions are evaluating when running my test(s) using the "Debug Test" code lens, claiming `Cannot evaluate because of java.lang.IllegalStateException: Cannot evaulate, please specify projectName in launch.json`. This occurs when debugging from the test class' lens and when debugging from the test method's lens.

![image](https://user-images.githubusercontent.com/5596

[2019-01-11 01:31] andxu commented on #573
@jdneo Please add projectName in generated launching/debugging configuration of test cases, eclipse jdt will require them to perform evaluation(in eclipse attach/launch, projectName is required)

[2019-01-11 01:51] jdneo commented on #573
@shawmanz32na The problem may be related to the `launch.test.json`.

The extension will read the project name from it. please check this file, then update the debug related field. For example:

[code]

BTW, we are planning to redesign the experience about run/debug with configuration. Users should not take care of the project name. You can track the status in #524

[2019-01-11 01:54] jdneo commented on #203
@Magefo In the `launch.test.json`, did you also set the value of the `default` filed to `bocc-empresas-approval`?

[2019-01-11 02:35] #573 closed

[2019-01-11 04:12] jdneo commented on #477
@keigezellig @jbelford Would be very appreciated if you can provide any sample project that can help us to repro this issue.

[2019-01-11 08:22] ppatierno opened #575 "Unit tests "abstract" classes not recognized"
Hello I have a project with an abstract class containing some JUnit tests and an abstract method.
Then I have another class deriving from the first one implementing that method.
I see that the java test extention don't recognize these classes as valid for running tests.
I mean, their methods are showed in the tests lists but in the source code file, the "Run Test | Debug Test" isn't showed.
If I t

[2019-01-11 09:13] llgcode opened #576 "TestSuite are not discovered, can't launch test (since end of 2018)"
Hi,
I found this extension very useful, thank you.
I'm not able to see and run Junit test since enf of  2018, I was waiting an update that fix the problem, I thought I saw an issue about that but seems to be closed now.
I have a simple eclipse java project with some src(s) and lib(s) and jar(s) declared in classpath that I edit manually, it works great for compilation, launching my main(s). But si

[2019-01-11 10:23] jdneo commented on #576
Looks very similar to this issue: https://github.com/Microsoft/vscode-java-test/issues/470

Could you please check if the `classpathentry` and the `test` attribute?

[2019-01-11 10:32] jdneo commented on #575
Dup with #435

[2019-01-11 10:32] #575 closed

[2019-01-11 13:45] llgcode commented on #576
You're right @jdneo
I've added an attribute test to true and it's workig now:
[code]
It could be great to add this to a check list, if no test is display.

Thanks.

[2019-01-11 13:45] #576 closed

[2019-01-14 06:06] jdneo commented on #559
@SupinePandora43 You may take this for reference: https://junit.org/junit4/javadoc/4.12/org/junit/Test.html

Please Note:

The method which is annotated by `@Test` should not be `static`

[2019-01-14 06:10] #549 closed

[2019-01-14 08:38] jdneo commented on #477
So after some investigation, I think I might find out the root cause of this issue:

Now we are using the [assembly plugin](https://github.com/Microsoft/vscode-java-test/blob/master/java-extension/com.microsoft.java.test.runner/pom.xml#L55-L77) to generate a fat jar and sign the fat jar, this will break the sign information of the dependencies.

The recommended way is to use jar-plugin to package

[2019-01-15 08:09] bsaby opened #580 "User should be able to cancel a test that runs with configuration"
### Build:
 411

### Repro steps:

1. Set configuration in settings.json using the key _java.test.config_.
2. Trigger tests from codelens or test teplorer
3. Click on the **Cancel** button to cancel the test
![image](https://user-images.githubusercontent.com/22470312/51166627-23dd7380-18df-11e9-89ca-7cf05b6bfd86.png)

### Expect:
All test processes should be stopped including exiting the selection

[2019-01-15 08:40] bsaby opened #581 "Sometimes, tests will be executed several times in multi-root workspace"
### Build:
411

### Repro steps

1. Open a multi-root workspace, my workspace has the following projects:

- https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-testng
- https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-junit-jupiter
-  https://github.com/Microsoft/todo-app-java-on-azure

2. Trigger tests

[2019-01-15 13:34] Eskibear commented on #558
In the PR, I see an additional column is added to place the navigation button.

How about adding the listener directly to method names? Clicking on the method name looks more **straightforward**  to me.  Just my 2 cents, current behavior in the PR is totally ok to me.

[2019-01-15 19:18] ronaldperezs commented on #333
![ok](https://user-images.githubusercontent.com/6565721/51203806-fb9a4880-18cf-11e9-84d1-e3085b59fe80.png)
Excellent, the issue was solved. thanks

[2019-01-15 19:18] #333 closed

[2019-01-16 01:57] jdneo commented on #558
I prefer putting the navigation button in an additional column to expose this feature. Add listeners to the method names will somehow mix with expanding to see details

[2019-01-16 03:03] #558 closed

[2019-01-16 04:30] jdneo commented on #581
Could not repro, close for now.

[2019-01-16 06:15] #524 closed

[2019-01-17 08:33] bsaby commented on #580
Build：416

First, make sure you have a launch.test.json file in project or configuration in workspace settings.
### Steps:

1. Trigger tests from codelens or test teplorer
2. Click on the Cancel button to cancel the test

### Result:
The selection list does not disappear. If you manually exit the selection list, the following warning pops up, but the fact is that the test was canceled.
![image](ht

[2019-01-17 09:18] bsaby opened #586 "A question status icon will be added as the third Code Lens automatically for inner class"
### Build
416
### Steps:

1. Open a java file.
2. Trigger tests from the outer class codelens

OR
1. Open a java file and  and make sure you have the class with a status icon
2. Add a new inner class
3. Save file

### Result:
A question status icon will be added automatically for inner class
Screenshot1:
![image](https://user-images.githubusercontent.com/22470312/51307617-1eb52b80-1a7b-11e9-90cb-9

[2019-01-18 02:04] #586 closed

[2019-01-18 02:31] jdneo commented on #586
@bsaby Please help verify it in the newest bits, thanks

[2019-01-18 02:31] jdneo commented on #580
@bsaby Please help verify it in the newest bits, thanks

[2019-01-18 02:49] bsaby commented on #586
Build: 418
Test passed.

[2019-01-18 04:03] bsaby commented on #580
Build: 418
Test passed.

[2019-01-18 06:53] jdneo opened #590 "0.14.0 Endgame"
# Build
- [x]  1/18 - Bump version to 0.14.0  - @jdneo
- [x]  1/18 - Add change log for 0.14.0 - @jdneo
- [x]  1/18 - Signed RC Bits - @jdneo

# Test
- [x]  1/21 - Run [test plan](https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan) - @bsaby
- [x]  1/21 - Verify common test scenarios - @jdneo
- [x]  1/21 - Check BI goes to prod - @jdneo

# Release
- [x] 1/21 - Add 0.14.0 tag for vscode-ja

[2019-01-19 14:51] SupinePandora43 commented on #559
thanks! but failed test icon in code lens have missing symbol icon

[2019-01-19 14:51] #559 closed

[2019-01-21 07:01] bsaby commented on #590
### Run [Test Plan](https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan)

#### 1. Configuration

Windows | Linux
-- | --
Vscode:   1.30.2(user setup)   JDK:   1.8.0_181 | Vscode:   1.30.2   JDK:   1.8.0_181

#### 2. Bug
No new bugs
#### 3. Test Result

Test case | Windows | Linux | Comment
-- | -- | -- | --
Clean   install | Pass | Pass |  
Update | Pass | Pass |  
Uninstall | Pass | Pass

[2019-01-21 10:47] #590 closed

[2019-01-21 10:47] #562 closed

[2019-01-21 10:48] jdneo commented on #496
Closing this issue since the experience of running/debugging with configuration has been changed. More details can be found here: https://aka.ms/java-test-config

[2019-01-21 10:48] #496 closed

[2019-01-21 10:49] jdneo commented on #438
Closing this issue since the experience of running/debugging with configuration has been changed. Meanwhile, the `${workspaveFolder ` has been supported.

More details can be found here: https://aka.ms/java-test-config

[2019-01-21 10:49] #438 closed

[2019-01-21 10:50] jdneo commented on #264
Closing this issue since the experience of running/debugging with configuration has been changed.

More details can be found here: https://aka.ms/java-test-config

[2019-01-21 10:50] #264 closed

[2019-01-21 13:15] llgcode commented on #264
Works great for me. Thank you.

[2019-01-21 17:56] jbelford commented on #477
Thanks for taking a look :D I'll try changing the plugins and testing on my local to see if the issue is present.

[2019-01-22 01:55] jdneo commented on #477
Thank you for your help@jbelford.

I'll check if it is possible to provide a private signed-build to you 😃

[2019-01-22 01:58] jdneo commented on #543
Closing this issue since the experience of running/debugging with configuration has been changed. Briefly speaking, you can set workingDirectory to update the `user.dir`.

More details can be found here: https://aka.ms/java-test-config.

[2019-01-22 01:58] #543 closed

[2019-01-22 01:58] jdneo commented on #476
Closing this issue since the experience of running/debugging with configuration has been changed.

More details can be found here: https://aka.ms/java-test-config

[2019-01-22 01:58] #476 closed

[2019-01-22 06:40] SupinePandora43 opened #591 "Junit5 test skipped"
i use #470 fix.

i can run Junit4 test cases, but not Junit5.
if i write:
@org.junit.Test // passed
public void Junit4Test(){
assertEquals(1,1);
}
@org.junit.jupiter.api.Test // skipped
public void Junit5Test(){
assertEquals(1,1);
}
but if i write junit5 test first, junit5 and junit4 test's skipped
(junit5/4 from jar in test runner extension (included using .classpath))

[2019-01-22 11:44] jdneo commented on #591
@SupinePandora43 Could you please provide a sample project? This could help to investigate the problem.

[2019-01-23 01:52] #591 closed

[2019-01-23 06:42] SupinePandora43 commented on #591
how add -n option to runner? i trying to create config(java.test.config), but i see 'Unrecognized option: -n'. @jdneo

[2019-01-23 10:07] jdneo commented on #591
@SupinePandora43 How about changing the class name from `Main` to `MainTest`

[2019-01-23 10:16] jdneo opened #592 "The order of the argument passed to the runner is wrong"
### The expected params order should be:
- vmArgs
- MainClassName
- runner type & its test items
- args to pass to the specific runner

### Current order
- vmArgs
- args to pass to the specific runner
- MainClassName
- runner type & its test items

Note that the `args to pass to the specific runner` has the wrong order, which will cause `Unrecognized option: -n` error if the user has his customize

[2019-01-23 10:17] jdneo commented on #591
@SupinePandora43 By the way, during investigating the problem, I found a bug which will cause the problem `Unrecognized option: -n`, the tracking issue is here: https://github.com/Microsoft/vscode-java-test/issues/592

Thank you for let us know this problem!

[2019-01-23 15:44] SupinePandora43 commented on #591
@jdneo thanks, i just create class MainTest, but first trying add -n option to runner!

[2019-01-24 07:16] #592 closed

[2019-01-24 07:47] jdneo commented on #477
Hi @jbelford, could you please find me in the [gitter channel](https://gitter.im/Microsoft/vscode-java-test), I'll give you a private build there. Thank you.

[2019-01-24 09:47] badsyntax commented on #470
Hi. Thanks for the tip @jdneo. I'm using gradle and I have another scenario, in that we separate out our tests into "test" and "integration" and thus the `gradle_scope` for the integration tests is "integration". I'm not extremely experienced with gradle but I understand I shouldn't manually be editing the classpath file. Could the vscode extension be configured to look for something other than "t

[2019-01-24 13:02] jdneo commented on #470
@badsyntax Good point! Let me consider how to expose such a kind of setting to the users. Thanks

[2019-01-24 13:21] badsyntax commented on #470
Awesome thanks @jdneo I'm curious as to why test paths need to be specified in the first place, and why tests can't be discovered just via the Junit annotations? (If I were to guess, it would be for performance reasons)

[2019-01-24 23:59] bengreenberg commented on #208
I had this problem and it turned out the issue was that my code wouldn't compile.

[2019-01-25 08:35] SupinePandora43 opened #594 "Support @RepeatedTest in JUnit 5"
i must write

@RepeatedTest(5)
@Test
public void repeatTest(){}

but with @RepeatedTest and @Test in console: warning: multiplie test descriptors
without @Test, (only with @RepeatedTest), code lens not showing, test explorer not see, but 'gradle test' see this RepeatedTest!

[2019-01-27 05:40] jdneo commented on #18
JUnit 3 is not on our roadmap for now. Currently we will let users know this from the README page.

[2019-01-27 05:40] #18 closed

[2019-01-27 05:52] jdneo commented on #358
We recently added an extension setting: `java.test.log.level`. By setting it to `info`, only application output will be shown in the output channel. This could resolve the original problem somehow.

BTW, if anyone wants to see the full logs, simply set it to `verbose`.

[2019-01-27 05:52] #358 closed

[2019-01-28 01:47] jdneo opened #596 "Support run TestNG suites toward XML file"

[2019-01-28 07:31] jdneo opened #599 "Failed to resolve configurations which contains ${workspacefolder}"
We supported `${workspaceFolder}` in the latest release but the implementation has limitations.

Say, `${workspacefolder}` -> `/a/b`
Currently, `${workspacefolder}/c` is resolved to `/a/b`
While it should be resolved to `/a/b/c`

[2019-01-28 08:35] #599 closed

[2019-01-29 01:34] jdneo opened #602 "${workspaceFolder} expansion should be supported in all the fields in the test configurations"
We need to support `${workspaceFolder}` expansion in all the fields in the test configurations except the `name` field, which includes the following fields:
- `workingDirectory`
- `vmargs`
- `args`
- the value of each entry in `env`

[2019-01-29 01:35] jdneo commented on #524
Thank you for reporting @chuckb. Tracking issue: #602

[2019-01-29 06:01] bsaby opened #605 "Some tests will be skipped when running lsp4xml project"
This issue repro on Windows but works on Mac and Linux.

Project:  https://github.com/angelozerr/lsp4xml
**Trigger tests from workspace root or workspace folder, most of the tests are skipped.**
![image](https://user-images.githubusercontent.com/22470312/51887169-beed4780-23cd-11e9-8a2c-916dac67b0ac.png)

**Trigger tests from the following packages level, tests are skipped.**
Org.eclipse.lsp4xml.e

[2019-01-29 06:10] bsaby opened #606 "The report page always returns to the top after you click the navigation button."
#### Repro steps:
1. Open a project in vscode
2. Trigger some tests and open the test report
3. Click a navigation button in the test report

#### Result:
The extension will navigate to the source code and the test report page will return to the top.
Before:
![image](https://user-images.githubusercontent.com/22470312/51887604-69199f00-23cf-11e9-82bc-722b7b1e460c.png)
After
![image](https://user-im

[2019-01-29 06:13] bsaby opened #607 "Sometimes an error occurs after clicking the navigation button"
#### Repro steps:

1. Open a project in vscode
2. Run tests and open the test report
3. click the navigation button in test report

#### Result:
Sometimes, an error occurs in toggle developer tools
Mac:
![image](https://user-images.githubusercontent.com/22470312/51887803-f4933000-23cf-11e9-88dc-37dff38662f0.png)
Windows:
![image](https://user-images.githubusercontent.com/22470312/51887827-08d72d00

[2019-01-29 06:14] bsaby opened #608 "Prompt user that a test session is currently running but actually there is no session before"
This issue is only found on Mac now.

#### Steps:

1. Open a test project in vscode.
2. Trigger some tests.

#### Result:
Occasionally, the extension will show the following message box.
But in fact there is no test session before tests are triggered.

![image](https://user-images.githubusercontent.com/22470312/51885967-c9f1a900-23c8-11e9-84ef-aab7a3a469e6.png)

[2019-01-29 07:11] jdneo commented on #607
@andxu Would you mind to take a look at this?

[2019-01-29 07:15] jdneo commented on #608
Could repro but not stable. Need more investigation.

[2019-01-29 07:17] #477 closed

[2019-01-29 07:33] #606 closed

[2019-01-29 08:16] jdneo commented on #605
Root cause is that the source code has errors, if remove the classes, these tests work fine.

So no more action for this issue.

Tracking #355 instead.

[2019-01-29 08:16] #605 closed

[2019-02-05 22:47] rrmistry commented on #208
Thanks @MsaasAPI. Your comment above really helped:

⚠️ **NOTE:** As of Version: 1.30.2, **launch.test.json** is now depricated.

I looked at [Java Test Runner Config](https://github.com/Microsoft/vscode-java-test/blob/master/runner-config.md) to see latest implementation.

I was using:
[code]

After looking at [documentation](https://github.com/Microsoft/vscode-java-test) I got it to work with fo

[2019-02-07 17:12] baker-travis commented on #468
Or even just the test file you push the run button from. I often find myself writing a test and then running and not getting expected results because the test file didn't save.

[2019-02-09 05:55] jdneo commented on #468
@NikolasKomonen @baker-travis

From my understanding, the Java language server will auto-build the workspace when the file is changed(No matter the file is saved or not).

Do you guys stably meet this problem, or it just happens sometimes?

[2019-02-10 16:50] mccreery opened #611 "NPE occur when expanding the default package"
I have a very simple Gradle (5.1.1) project with JUnit 4 tests configured in my `build.gradle`. The resulting `.classpath` file used by Eclipse JDT contains the following entries:<details>
<summary>Eclipse <code>.classpath</code> entries</summary>

[code]
</details>

(I added the `"test"` attribute to the test entry manually, as per #470.)

Everything is compiled correctly and the VS Code Problems

[2019-02-11 02:43] jdneo commented on #611
@mccreery Thank you for reporting, will take a look

[2019-02-11 14:59] NikolasKomonen commented on #468
@jdneo

Sorry, what I wanted was basically what @baker-travis was asking for.
If the tests are run in any way, to save the file before they execute.

And if

is the case, I guess just saving the test files will do.

[2019-02-12 02:30] jdneo commented on #468
@NikolasKomonen After trying, it's just the same as what you said. The Language Server will only update the class file after the saving action.

So here is the basic idea coming up in my mind to solve this issue:

The experience could be similar to that in Eclipse:
![wechat screenshot_20190212095502](https://user-images.githubusercontent.com/6193897/52607165-36cc6f00-2eb0-11e9-9ab1-02ea8b366084.pn

[2019-02-12 02:34] baker-travis commented on #468
@jdneo I approve of this. 😀It will make life much better!

[2019-02-12 03:38] NikolasKomonen commented on #468
@jdneo Sounds great, I'm looking forward to it!

[2019-02-12 10:02] kid1412621 commented on #594
So it says support JUnit 5 (v5.1.0+) in description is false.

[2019-02-12 10:28] sandy081 opened #612 "Adopt extension for no reload on install"
Hi, I am a developer from VS Code and in the last release `1.31`, we added a new feature - no reload is required on installing an extension - https://code.visualstudio.com/updates/v1_31#_no-reload-on-install

But there are some exceptions to it as mentioned in the doc. If the extension is contributing to external contribution points, then the extension requires reload after installing. Hence, we a

[2019-02-13 01:30] jdneo commented on #612
@sandy081 Thank you for notification.

[2019-02-13 07:11] #279 closed

[2019-02-13 07:17] jdneo commented on #284
After some investigation, it looks like there is no smooth way to debug the Language Server plugin part in VS Code for now.

For anyone who wants to contribute, please refer to our [contributing document](https://github.com/Microsoft/vscode-java-test/blob/master/CONTRIBUTING.md)

[2019-02-13 07:17] #284 closed

[2019-02-13 09:03] #602 closed

[2019-02-13 09:06] jdneo commented on #483
Closing for inactive. @zhangqi5 Please feel free to let us know if the problem still occurred.

[2019-02-13 09:06] #483 closed

[2019-02-15 01:59] sh-tech opened #616 "Packages cannot be resolved"
## Enviroment

- macOS Mojave 10.14.3
- Visual Studio Code 1.31.1
- Java Test Runner 0.14.0

## issue

I want to use jUnit 5 on VSCode so I use Java Test Runner. However after installation console display errors saying `can not be resolved` for jUnit5. How can I solve it?  Please tell me solution. I have finished setting Java's PATH.

## Images

![image](https://user-images.githubusercontent.com/3

[2019-02-15 02:19] jdneo commented on #616
Looks like an issue related with Java Language Server.

@yaohaizh @testforstephen Could you please take a look?

[2019-02-15 02:24] testforstephen commented on #616
@sh-tech Could you try the command below?
![image](https://user-images.githubusercontent.com/14052197/52830496-ddf91280-310b-11e9-8461-adecdbff8376.png)

[2019-02-15 02:47] sh-tech commented on #616
@testforstephen  I have just executed that command. But, The result did not change anything.

[2019-02-15 02:48] sh-tech commented on #616
Hum.. I will try it several times.

[2019-02-15 03:16] jdneo opened #618 "0.14.1 Endgame"
# Build
- [x]  2/15 - Bump version to 0.14.1  - @jdneo
- [x]  2/15 - Add change log for 0.14.1 - @jdneo
- [x]  2/15 - Signed RC Bits - @jdneo

# Test
- [x]  2/19 - Run [test plan](https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan) - @bsaby
- [x]  2/19 - Verify common test scenarios - @jdneo
- [x]  2/19 - Check BI goes to prod - @jdneo

# Release
- [x] 2/19 - Add 0.14.1 tag for vscode-ja

[2019-02-15 05:00] testforstephen commented on #616
@sh-tech what's your project type? Can you use `tree` cli command to list the workspace structure?

[2019-02-15 05:41] sh-tech commented on #616
@testforstephen
This is a Gradle project using Java8.
Yes, I can.
I used `tree -L 2`.

[code]

[2019-02-15 08:23] sh-tech commented on #616
I think that it is a problem of the Java Language Server, so I will move to that issue.

[2019-02-15 09:50] testforstephen commented on #616
I don't see `.project` and `.classpath` files in your workspace, looks like your gradle project is not loaded by java language server.

Could you share the java server log via vscode command `Java: Open Java Language Server log file`?

[2019-02-15 11:02] bsaby opened #619 "Can't get the value of env from java.test.config"
### Version:
[code]

### Repro steps:
1. Open a project in vscode
2. Set following configuration in setting.json using the key ` java.test.config`
[code]
2. Write code in test method to get env
`System.out.println("[OUTPUT-env]: " + System.getenv("key"));`
3. Run test

### Result:
Can't get the value of env
![image](https://user-images.githubusercontent.com/22470312/52852384-62bb4f00-3153-11e9-934

[2019-02-15 13:55] #619 closed

[2019-02-15 14:23] yaohaizh commented on #616
This issue was moved to redhat-developer/vscode-java#800

[2019-02-15 14:23] #616 closed

[2019-02-18 10:19] bsaby opened #622 "An error occurred after activating the extension"
### Version:
[code]

### Repro Steps:
1. Install Java Test Runner extension in VScode
2. Reload it
3. Click Test Explorer to activate the extension

### Result:
An error occured in toggle developer tools
![image](https://user-images.githubusercontent.com/22470312/52943968-54ff0700-33a9-11e9-8536-fc5f1a2747c2.png)

[2019-02-18 10:24] bsaby commented on #618
## Run [test plan](https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan)

#### 1. Configuration

Windows | Mac
-- | --
Vscode: 1.31.1(user setup)   JDK:   1.8.0_202 | Vscode   1.31.1   JDK:   1.8.0_191

#### 2. Bug

 #622,  #619(fixed)

#### 3. Test result

Test case | Windows | Mac | Comment
-- | -- | -- | --
Clean   install | Pass | Pass |  
Update | Pass | Pass |  
Uninstall | Pass | Pa

[2019-02-18 12:15] falco467 opened #623 "Multi-Root Workspace with two Maven projects uses wrong pom dependencies"
VS Code 1.31.1 - Java Test Runner 0.14.0 - Maven for Java 0.14.2

I have two Maven Projects, each with UnitTests. If I open them individually all Tests run without problems. If I open them in a multi-root workspace and run Tests of the second Project, it seems to try and run the Tests with the dependencies of the first Project. The Projects use different Spring versions and the Testrunner tries to

[2019-02-18 12:50] jdneo commented on #623
@falco467 Thank you for reporting the issue to us.

May I ask if it is possible for you to share a sample project for us to repro this issue? This will make it much easier to investigate the problem.

[2019-02-18 15:10] falco467 commented on #623
[mavenTest.zip](https://github.com/Microsoft/vscode-java-test/files/2876205/mavenTest.zip)

I have created a minimal example Workspace to reproduce the error.

The error seems to only happen, if the projects depend on each other:

Project1 has old version of dependency.
Project2 has Project1 as dependency and newer version of the library as dependency.

Testrunner in Project2 somehow loads the old

[2019-02-19 01:36] jdneo commented on #623
@falco467 Thank you! I'll take a look.

[2019-02-19 02:50] jdneo commented on #622
@Eskibear I guess you may want to take a look. It seems that we need to update the version of `vscode-extension-telemetry` in the wrapper.

[2019-02-19 03:34] #618 closed

[2019-02-19 04:50] Eskibear commented on #622
Verified, should not be the wrapper's issue, via following facts:
- By disabling test runner, but leaving other extension which depends on the wrapper, the issue is gone.
- By updating the wrapper's dependency, the issue still exists.

Any other possibility?

[2019-02-19 13:41] zhangqi5 commented on #483
The issue can no longer be reproduced with latest build. Thanks.
________________________________
From: Sheng Chen <notifications@github.com>
Sent: Wednesday, February 13, 2019 5:06 PM
To: Microsoft/vscode-java-test
Cc: Samuel Zhang; Mention
Subject: Re: [Microsoft/vscode-java-test] NPE with Spring Boot Data LDAP (#483)

Closing for inactive. @zhangqi5<https://nam05.safelinks.protection.outlook.co

[2019-02-19 15:13] Justas-S commented on #594
Support for  `@TestFactory` would also be nice.

[2019-02-20 11:09] ANK-13 commented on #53
Testng is not able to throwing class not found Error. Can Anyone help? In eclipse, it works fine

[2019-02-20 11:43] jdneo commented on #53
@ANK-13 Sorry for this issue. The root cause is that the error handling mechanism needs to be improved.  We have an issue tracking that: https://github.com/Microsoft/vscode-java-test/issues/355

[2019-02-20 21:59] Gueka opened #624 "Error command 'java.test.explorer.run' not found"
Hi,
I'm trying to run some java test using spring boot and the project dependency manager is gradle.
I'm not able to see any test. The extension should auto detect my tests in my test folder or I'm missing a configuration?
I'm able to run my application successfully with vscode but when I try to run the test, there is no test shown in the Test section and when I try to force to run any test (click

[2019-02-21 01:38] jdneo commented on #624
Hmm... Most;y, the error `command 'xxx' not found` means the extension failed to startup.

Have no idea about it for now. Would you mind to share a sample project which can repro this issue with us for investigation?

[2019-02-21 02:16] yaohaizh commented on #624
@Gueka Could you take a look at this? And mark the related the folder as test? @jdneo  https://github.com/redhat-developer/vscode-java/issues/797 Please see this issue whether need handle on test explorer?

[2019-02-21 14:58] Gueka commented on #624
Hi everyone, I was trying to generate a project to reproduce this error, it looks like I had a previous vs code version. I updated it and work as a charm, sorry to bother and thanks for the help.

[2019-02-21 14:58] #624 closed

[2019-02-23 20:13] sceee opened #625 "Java Test Runner fails to discover JUnit5 tests when invoked from method level"
I have multiple JUnit4 tests already in a project and now added a new class with a JUnit5 test.

Unfortunately, since then I can no longer execute or debug tests from the method level. It just does not execute or jump in the debugger.

The log in the Java Test Runner log is
[code]

I'm using the latest vscode with the latest Java Test Runner 0.14.1.

I have the following gradle dependencies in my

[2019-02-23 22:09] chuckb opened #626 "Can't set PATH environment variable on OSX"
OSX 10.12.5
VSCode 1.31.1
Java Test Runner 0.14.1
JVM 11.0.2

My java project relies on several JNI libraries being loaded. The following configuration works on Windows 10. It does NOT on my mac.

[code]
When I use an absolute reference it makes no difference. Further, when print System.getenv("PATH") from within my test, I do not get my expected path.

[2019-02-25 03:05] jdneo commented on #626
@chuckb

The root cause might be here: https://github.com/Microsoft/vscode-java-test/blob/master/src/runners/baseRunner/BaseRunner.ts#L61 the `PATH` env in the config is overridden by the system `PATH` env.

But I'm confused about why windows works. Does your windows not have the `PATH` env?

[2019-02-25 04:42] jdneo commented on #625
@sceee Is it possible for you to share a sample project which can repro this issue?

[2019-02-25 06:47] jdneo commented on #621
Hi @ecormaksin,

Thank you for reporting the issue and give us the sample project. After some investigation, I think I might found out the root cause.

The root cause is that when the extension running the tests, it will read the `application.properties` under the target folder. But the content of it is the same as that in the `src` (not the one in `test`). After I copied the `application.properti

[2019-02-25 07:14] jdneo commented on #534
Sorry for the late reply.

After some investigation, I found out that it is because the classpath generated from the Java Language Server will put the `target/classes` higher than `target/test-class`, thus failed to load the correct `appllication.properties` for testing.

I'll figure out if there is any solution to correct the order.

[2019-02-25 07:15] jdneo commented on #621
More investigation result here: https://github.com/Microsoft/vscode-java-test/issues/534#issuecomment-466897041

[2019-02-25 08:45] jdneo commented on #623
@falco467 The root cause looks like the classpath resolved by JDT is wrong. It treats the `oldGuava` as a project instead of dependency.

I'll do some more investigation to see if it is possible to implement a method to resolve the classpath instead of calling `JavaRuntime.computeDefaultRuntimeClassPath(project)`

[2019-02-25 16:20] chuckb commented on #626
My Windows machine has a long PATH, but not the location specified in the java.test.config. And in fact, if I do not specify that additional path, I will get an UnsatisfiedLinkException on Windows.

All I can say is that I have the following three files that are required for my tests to run: ntcore.dll, ntcorejni.dll, wpiutil.dll. On Windows 10, when I run the test, it works. When I run on OSX, th

[2019-02-25 16:32] chuckb commented on #626
And by the way, I know you guys are putting in the effort on VSCode. And I love the tool. Automated testing with codelens and test report support is the bomb. However, I have fought with getting it to work reliably for the past 6 months. I have been trying to get a group of students to develop testing skills, but every time they try to use integrated testing features, something goes wrong. This ha

[2019-02-26 01:45] dpursehouse opened #628 "Test runner does not discover or run tests using JUnit's `Theories` runner"
When a class is annotated as `@RunWith(Theories.class)` and the tests are annotated with `@Theory`, the tests are not discovered.  I.e. the "Run Test" and "Debug Test" actions don't appear inline in the file when opened in the editor, and the tests don't get listed or run when browsing or starting tests from the test explorer.

[2019-02-26 02:05] bsaby commented on #622
According to https://github.com/Microsoft/vscode-java-debug/issues/538,  related to webpack?

[2019-02-26 06:25] jdneo commented on #626
@chuckb Thank you for your patience and enthusiasm for out extensions. Just as you said, the extension do have a lot of room for improvement. We will keep making it become better.

For the issue we are discussing, it looks like we need to support a new substitution in our settings, which could be `${env:XXX}`. This substitution will look for the value of the environment variables. After this subst

[2019-02-26 06:34] jdneo commented on #621
Closing this issue and let's track it in #534

[2019-02-26 06:34] #621 closed

[2019-02-26 07:23] jdneo commented on #534
Fixed in #629 and will be released within `0.15.0`

[2019-02-26 07:23] #534 closed

[2019-02-26 15:02] chuckb commented on #626
That would enable you to keep the existing PATH and then add on to it, which is good. But I don't think that covers my specific use case, which is, I need to know what the current reference is to my root workspace (at least), and the root of the current project (ideally), so that I can construct absolute path references to resources within variables that get substituted at execution time.

[2019-02-26 20:59] mweirauch opened #630 "JUnit tests not found on symlinked project folder"
#### Setup
* `/tmp/project` contains a Java maven project with ordinary `src/main/java` and `src/test/java` folders. The latter containing JUnit4 test classes
* a symlink from `/tmp/project` to `/tmp/symlinked` exists.
* open `/tmp/symlinked` in vs-code
* note: it doesn't matter if the last section of the path is a symlink or any section before (e.g. `/tmp/symlinked-path/project`)

#### Observed
*

[2019-02-26 23:08] chuckb commented on #626
You can see (and download/build if you wish) the project in question at https://github.com/Team997Coders/2019DeepSpace

[2019-02-27 01:47] jdneo commented on #626
Hmm, I'm a little bit confused here. To construct the current workspace folder path, why not using the `${workspaceFolder}/build/tmp/jniExtractDir`?

[2019-02-27 15:39] chuckb commented on #626
Right, it does not work, or at least it didn't last I tried. And further, an absolute reference on Mac didn't work either. And I am talking about the PATH environment variable in the env parameter.

[2019-02-27 15:40] chuckb commented on #626
I will try again both ways, on both platforms, and report back.

[2019-02-27 16:41] chuckb commented on #626
Here are my results:

Test set up: Using https://github.com/Team997Coders/2019DeepSpace, go in to src/test/java/frc/robot/commands/DriveToDistanceIntegrationTest.java. Set a breakpoint on line 20. Click "Debug Test" above test.

Test runner settings in settings.json like so:

  "java.test.config": [
    {
      "name": "includeNativesConfiguration",
      "workingDirectory": "${workspaceFolder}",

[2019-02-28 02:13] jdneo commented on #626
@chuckb

Thank you for trying out.

Just as we have discussed before, according to the current implementation, the system env will override the customized env:
https://github.com/Microsoft/vscode-java-test/blob/master/src/runners/baseRunner/BaseRunner.ts#L61,

If we switch the overriding order, I guess the issue should somehow be fixed. Would you mind to help test it and let me know if things work

[2019-02-28 02:15] chuckb commented on #626
Be glad to help. Will do it in the morning and report back. Thanks!

[2019-02-28 10:37] sunnynie opened #632 "Output encoding issue of the Test Runner"
Issue Type: <b>Bug</b>

Chinese is not supported,The output of English is acceptable.
    @Test
    public void test(){
        System.out.println("dd");
        System.out.println("等待");
    }

Extension version: 0.14.1
VS Code version: Code 1.31.1 (1b8e8302e405050205e69b59abb3559592bb9e60, 2019-02-12T02:20:54.427Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

[2019-02-28 10:38] sunnynie commented on #632
I hope it can be repaired as soon as possible. Thank you.

[2019-02-28 12:17] chuckb commented on #626
When I run `npm run build-plugin`, I get:

[code]

[2019-02-28 12:22] yaohaizh commented on #632
@sunnynie Which part of Chinese is not display? The output? What is the version of VSCode Java redhat extension?

[2019-02-28 12:26] jdneo commented on #626
Oh, that should be caused by low version of node.js

[2019-02-28 12:41] chuckb commented on #626
On a hunch that either my node.js or npm was badly out of date, I installed latest LTS (Version: 10.15.1 (includes npm 6.4.1)), deleted project, refetch from git, and now I get (on OSX):

[code]

[2019-02-28 12:56] chuckb commented on #626
So I tried it on Windows 10. The Windows build complained that I did not have JAVA_HOME defined, so I did that. Build seems to be running. Interestingly, I do not have JAVA_HOME defined on OSX, but I got no complaint. So I will define that env var and try again on OSX.

[2019-02-28 13:03] chuckb commented on #626
When I do `npm run vscode:prepublish`, is VSCode supposed to start, or do I start it from desktop? If from desktop, how do I know that all the bits I just did made it into the version installed on machine?

[2019-02-28 13:20] chuckb commented on #626
On Windows 10, I started VSCode from desktop. Java Test Runner badge says "preview", so I assume local install contains fixed bits. Ran through all conditions. Setting env to `
"PATH":"${workspaceFolder}/build/tmp/jniExtractDir"` still works as expected.

I set JAVA_HOME on OSX to $(/usr/libexec/java_home) per Apple recommendations, deleted project, recloned, ran through your instructions, and I g

[2019-03-01 01:56] jdneo commented on #626
@chuckb Ok, don't worry, I can provide a private build to you later.

[2019-03-02 19:07] pmverma commented on #534
Having same problem, waiting for next release!

[2019-03-04 08:52] #622 closed

[2019-03-05 07:50] #628 closed

[2019-03-05 08:10] jdneo opened #640 "The method which annotated with @RunWith cannot show status"
After running the test class which annotated with `@RunWith`, we should show the status.

[2019-03-05 08:12] jdneo opened #641 "The test cases will run multiple times."
If the user triggers tests from the workspace level, and if the user has some classes annotated with `@Suite`, then some of the test cases will run multiple time.

[2019-03-05 08:12] #594 closed

[2019-03-05 08:18] jdneo commented on #140
Resolved in #633.

One limitation is that users need to get the report by clicking the status in the status bar. Tracking issue: #640

[2019-03-05 08:18] #140 closed

[2019-03-05 08:20] jdneo commented on #272
Resolved in #633.

The current implementation has several problems, which are tracked in #640, #641

Closing this issue for now.

[2019-03-05 08:20] #272 closed

[2019-03-05 09:40] jdneo commented on #626
@chuckb sorry for the late reply. Please try the private build here: [vscode-java-test-0.14.1.zip](https://github.com/Microsoft/vscode-java-test/files/2930227/vscode-java-test-0.14.1.zip)

Before installation, plaese make sure:
- Rename the file `.zip` -> `.vsix`
- Remove all the files under: `$HOME/.vscode/extensions/vscjava.vscode-java-test-*`

[2019-03-05 19:38] chuckb commented on #626
I followed your instructions below. On OSX, I still get the same behavior.

itInitializesDriveTrainPIDFromRobotMap
Failed
6ms

Message:

no ntcorejni in java.library.path: [/Users/chuck_benedict/Library/Java/Extensions, /Library/Java/Extensions, /Network/Library/Java/Extensions, /System/Library/Java/Extensions, /usr/lib/java, .]

Stack trace:

java.lang.UnsatisfiedLinkError: no ntcorejni in java.l

[2019-03-05 19:44] chuckb commented on #626
By the way, all settings used to run this test are available here: https://github.com/Team997Coders/2019DeepSpace

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, March 5, 2019 1:40 AM, Sheng Chen <notifications@github.com> wrote:

[2019-03-06 01:31] jdneo commented on #626
@chuckb

What if you write your config like this:
"java.test.config": {
    "env": {"PATH" : "/Users/chuck_benedict/Projects/2019DeepSpace/build/tmp/jniExtractDir"},
    "vmargs": ["/Users/chuck_benedict/Projects/2019DeepSpace/build/tmp/jniExtractDir"]
}

[2019-03-06 02:06] jdneo opened #644 "Support JUnit 5 TestFactory annotation"
_As mentioned by @Justas-S in https://github.com/Microsoft/vscode-java-test/issues/594#issuecomment-465169798_:

[2019-03-06 02:06] jdneo commented on #594
@Justas-S tracked here: https://github.com/Microsoft/vscode-java-test/issues/644

[2019-03-06 04:42] kid1412621 commented on #594
It did supported. But somehow doesn't show run test on the method.

[2019-03-06 09:05] jdneo commented on #611
@mccreery For now the extension does not support the `default` package. I'll figure out if there is any way to support it.

[2019-03-06 10:27] mccreery commented on #611
Using a package is a good fix for the time being, thanks.

[2019-03-06 14:21] chuckb commented on #626
Passing the directory as indicated for vmargs causes a java.lang.ClassNotFoundException.

If you mean pass -Djava.library.path=/Users/chuck_benedict/Projects/2019DeepSpace/build/tmp/jniExtractDir in vmargs (with the path in env as you requested), then I get:

itInitializesDriveTrainPIDFromRobotMap
Failed
8ms

Message:

/Users/chuck_benedict/Projects/2019DeepSpace/build/tmp/jniExtractDir/libntcorej

[2019-03-07 10:06] bsaby opened #646 "Class level displays incorrect status icon"
### How to repro:
1. Open a java project and open a test java file containing multiple test methods
2. Trigger test from one method

### Result:
![image](https://user-images.githubusercontent.com/22470312/53948629-34ea7a00-4103-11e9-8626-bcbc4cb58c28.png)

### Expect:
![image](https://user-images.githubusercontent.com/22470312/53948691-5c414700-4103-11e9-9891-c7f075689d27.png)

[2019-03-07 10:27] bsaby opened #647 "Cannot run inner class if triggering test from @RunWith(Suite.class)"
### Code:
[code]
### How to repro
Trigger test from TestSuite in test explorer
![image](https://user-images.githubusercontent.com/22470312/53949658-7aa84200-4105-11e9-9039-943d51ab0c04.png)

### Result:
Unable to run inner class contained in TodoItemTest class, but if I trigger test from TodoItemTest calss level in test explorer, the inner class can be run.

[2019-03-08 02:43] fromsilence520 opened #649 "The import junit cannot be resolved"
![image](https://user-images.githubusercontent.com/12153595/54003972-ef738e80-418e-11e9-9586-bb383c806ded.png)

TestCase cannot be resolved to a type
![image](https://user-images.githubusercontent.com/12153595/54003985-fdc1aa80-418e-11e9-9140-d0f7c6ee5810.png)

[2019-03-08 02:44] jdneo commented on #647
Hmm... This is by design.

But, if anyone thinks that this behavior is not right, please let us know or reopen this issue.

Thanks.

[2019-03-08 02:44] #647 closed

[2019-03-08 02:45] jdneo commented on #649
Looks like an issue related with Java Language Server.

@yaohaizh @testforstephen Would you mind helping take a look?

[2019-03-08 03:01] jdneo commented on #435
This issue will be addressed in `0.15.0`

We refactored the logic of parsing the test results recently.

[2019-03-08 03:10] #646 closed

[2019-03-08 03:14] jdneo commented on #646
@bsaby

Fixed, please help verify in the newest bits.

Thanks.

[2019-03-08 03:20] jdneo commented on #503
This issue should be addressed in `0.15.0`

[2019-03-08 03:20] #503 closed

[2019-03-08 03:22] jdneo commented on #607
Closing because it's not related with the Test Runner extension.

[2019-03-08 03:22] #607 closed

[2019-03-08 03:34] jdneo opened #650 "Stop honor the deprecated 'launch.test.json'"
The extension will stop read the configurations in `launch.test.json` start from `0.16.0`.

For the users who are still using this configuration file, please read the [document](https://github.com/Microsoft/vscode-java-test/blob/master/runner-config.md) for migration.

[2019-03-08 05:55] jdneo commented on #34
Closing this issue since it's inactive for a long time.

[2019-03-08 05:55] #34 closed

[2019-03-08 05:57] jdneo commented on #355
Resolved in `0.15.0` and will release recently.

[2019-03-08 05:57] #355 closed

[2019-03-08 06:03] jdneo commented on #507
Cannot repro in the latest bits.

[2019-03-08 06:03] #507 closed

[2019-03-08 06:35] jdneo commented on #203
@andybarilla Is it possible for you to share a sample project which can repro this issue?

[2019-03-08 06:39] bsaby opened #651 "TestNG inner class will be run if triggering test from other test methods"
### Repro steps:
1. Open a TestNG project
2. Trigger test from a method(1 or 2), shown as the following screenshot
![image](https://user-images.githubusercontent.com/22470312/54011934-42f5d480-41af-11e9-982d-fbbc042f1d8f.png)

### Result:
The inner class will be run , see 3 adnd 4 in the screenshot above.

[2019-03-08 06:40] bsaby commented on #646
Test passed.
Build used: 442

[2019-03-08 18:06] 4F2E4A2E commented on #346
That's how I've got it to work: https://stackoverflow.com/a/50632086/543426 :man_facepalming:

[2019-03-09 17:02] panjrui opened #652 "messy code in java test runner"
Issue Type: <b>Bug</b>

When I use Java Test Runner to run Java demo test. If  string contanis chinese character ,the Output panel print messy code.But I use main function to run Java app ,the Debug Console print right code,why ? plese tell me,Thanks.

![1 (1)](https://user-images.githubusercontent.com/37069868/54074649-1dacb780-42d0-11e9-9aa3-e2f0f591debd.png)
![1 (2)](https://user-images.githubu

[2019-03-10 10:52] sceee commented on #625
@jdneo I created a sample project here: https://github.com/sceee/demo-vscode-junit5-debugger

When trying to debug it using Java Test Runner, I get the following output:
[code]

If I execute the tests with gradle, it works:
[code]

[2019-03-10 11:52] jdneo commented on #625
@sceee Thank you for the sample project, It works well on my laptop:

<img width="678" alt="Screen Shot 2019-03-10 at 7 51 02 PM" src="https://user-images.githubusercontent.com/6193897/54084608-dc6ae500-436d-11e9-99da-348154480f57.png">

Could you see any warning in the VS Code `Problems` panel?

[2019-03-10 11:54] sceee commented on #625
@jdneo hm, strange.

No, I don't see any errors in the `Problems` panel:
![image](https://user-images.githubusercontent.com/11340487/54084645-92fda400-4333-11e9-94e0-85e71e843044.png)

[2019-03-10 12:06] jdneo commented on #625
Try:

Execute palette command: Java: Clean the Java language server workspace
 - Choose Restart and delete

And recompile your project by: `Java: Force Java Compilation`?

[2019-03-10 13:28] sceee commented on #625
@jdneo now it worked. Do you have any hint how I can avoid cleaning up the workspace in the future to get this working?

[2019-03-10 14:06] yaohaizh commented on #649
@fromsilence520 Could you provide a sample project?

[2019-03-11 01:39] jdneo commented on #652
Duplicated with #632, looks like we have something to improve due to encoding.

[2019-03-11 01:39] #652 closed

[2019-03-11 02:44] fromsilence520 commented on #649
@yaohaizh After I deleted the .classpath file in the project, It no longer reported an error.

[2019-03-11 02:44] #649 closed

[2019-03-11 04:23] yaohaizh commented on #625
@sceee, something, the workspace will contain stale data when VSCode Java extension update, JDK changed. In this situation, it will need clean the workspace to regenereate the binaries.  Not sure if this is the situation of your case here.

[2019-03-11 04:39] jdneo commented on #625
Since the issue has been solved, I'll close it for now.

@sceee If you have more questions about the `Java Language Support`, feel free to raise them in the [Gitter channel](https://gitter.im/redhat-developer/vscode-java?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

Thanks.

[2019-03-11 04:39] #625 closed

[2019-03-11 11:21] Salandia commented on #632
me too
Language Support for Java(TM) by Red Hat redhat.java @0.40.0

[2019-03-11 11:23] Salandia commented on #632
me too,like #652
Language Support for Java(TM) by Red Hat redhat.java @0.40.0
Java Test Runner @0.15.0

[2019-03-11 17:11] gculik commented on #632
Same here, the Java Test Runner Output is not handling Unicode properly, while the standard Output works fine.
`
    @Test
    public void testEncoding()
    {
        System.out.println("\u00B0C");
    }
`
outputs
`�C`

whereas
`
    public static void main(String[] args)
    {
        System.out.println("\u00B0C");
    }
`
correctly outputs
`°C`

[2019-03-14 02:32] jdneo commented on #632
@all, the root cause of this issue is that:

When the Java language server compiling the source file, the file encoding will set to `utf-8` by default, or the user can customize the encoding with the setting `files.encoding`.

When running the test cases with the Test Runner, if the encoding setting is not equal with the files getting compiled, then those messy code will appear.

If you hasn't set

[2019-03-14 22:08] foxpluto opened #653 "No test file recognised with import org.junit.*;"
Dear team,

I think I found a strange behaviour.

If i write a test class importing Junit with
[code]
the tests are not recognised by Java Test Runner.

If I change the import with:
[code]
all the test appears.
Is this a bug?

Regards,
S.

[2019-03-15 01:21] jdneo commented on #653
Hi @foxpluto,

Would you mind to share your code samples to help us diagnostic?

[2019-03-15 05:31] #632 closed

[2019-03-15 09:01] foxpluto commented on #653
No problem,

here is my code:

[code]

With this code I have the possibility to run the test:
![Screenshot 2019-03-15 at 09 56 33](https://user-images.githubusercontent.com/26223813/54419834-abd9d100-4708-11e9-94b6-c1219d3ca0ac.png)
![Screenshot 2019-03-15 at 09 55 55](https://user-images.githubusercontent.com/26223813/54419851-b3997580-4708-11e9-95fb-7bbc72fefe9c.png)

If I modify the code import

[2019-03-15 13:47] jbrackin01 commented on #653
See the same issue.  The tests are recognised when I add specific import for:
import org.junit.Test;

VS Code version 1.31.1

[2019-03-15 21:32] visahannula commented on #653
For me this issue started with 0.15.0. When I use "Install another version" and roll back to 0.14.1, tests work again.

![image](https://user-images.githubusercontent.com/46907790/54462824-b1bbca80-4779-11e9-8458-c34880b8769b.png)

VSCode:
Version: 1.32.3 (user setup)
Commit: a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2

[2019-03-16 11:26] jdneo commented on #653
Thank you all for reporting this, I'll take a look!

[2019-03-18 05:03] #653 closed

[2019-03-18 06:11] jdneo commented on #323
This issue should be fixed in #654.

So we have several ways to set the file encoding when running tests:

1. By default is `utf-8`.
2. The encoding set in the setting `files.encoding`
3. The encoding set in the test configuration. for example:
[code]

The higher ones will be overridden by the lower ones.

[2019-03-18 06:11] #323 closed

[2019-03-18 06:12] jdneo commented on #632
This issue should be fixed in #654.

So we have several ways to set the file encoding when running tests:

1. By default is `utf-8`.
2. The encoding set in the setting `files.encoding`
3. The encoding set in the test configuration. for example:
[code]

The higher ones will be overridden by the lower ones.

[2019-03-18 12:04] Yi-yi opened #658 "How to use JUnit in VSCode"
It's a question from beginners. I use JUnit in eclipse and IntelliJ. Both of them are designed for JAVA so it's not difficult to find tutorials about setting JUnit environment. But I cann't find any detailed solution on github or stackoverflow. When I insert the `import static org.junit.Assert.*;` at the front of the file, there's an error `The import org.junit cannot be resolved`.

I've downloade

[2019-03-18 12:14] jdneo commented on #658
Hi @Yi-yi,

Thank you for trying out our extension. May I ask what kind of project is it?
- Is it a Maven project?
- Or is it a Gradle project?
- Or is it an Eclipse/IntelliJ project?

In other words, how do you manage your dependencies within your project, like JUnit?

// cc @yaohaizh

[2019-03-18 12:36] Yi-yi commented on #658
Sorry I'm not sure what kind of project it is. It's the java file I create originally/directly from VSCode.

[2019-03-19 07:33] bsaby opened #659 "Accessing a resource scoped configuration without providing a resource is not expected"
### Version:
[code]

### Repro steps:

1. Open a java project in vscode
2. Trigger any test from test explorer or codelens

### Result:
![image](https://user-images.githubusercontent.com/22470312/54587812-26358880-4a5c-11e9-9eba-524348ec9755.png)

[2019-03-19 08:59] jdneo commented on #658
Hmm, if you don't mind, is it possible for you to share your project with us?

[2019-03-19 09:47] akaroml opened #660 "Jump between code and corresponding test case"
Can we have a feature to allow users to jump back and forth between the application code and the logic?

[2019-03-19 12:15] Yi-yi commented on #658
[JunitVSCode.zip](https://github.com/Microsoft/vscode-java-test/files/2983163/JunitVSCode.zip)
It's a 'HelloWorld' project I create to test/practise `Junit` in VSCode. In the `AppTest.java`, errors: `The import org.junit cannot be resolved`

Should I modify/configure the files of '.classpath' and '.project'? Or, import the 'junit.jar' into the project?

Thank you.

[2019-03-19 17:09] jbrandli commented on #464
I have the same configuration and issue. The test runner does not see the integration tests unless i add the integration test directory to the test source sets but that behavior is undesirable since then gradle will run the integration tests with the regular unit tests.

I tried setting the test config option in my settings.json file to both of the below and that had no change.
`
"java.test.defaul

[2019-03-20 09:02] jdneo commented on #464
@jbrandli Can you explain more about this? Sorry I do not quite get your idea.

[2019-03-20 19:50] fabb opened #661 "org.openqa.selenium.WebDriverException: Driver isn't initialized. This extension can only be used in combination with the DriverParameterResolver"
I'm trying to run junit5 selenium tests with the Java Test Runner. I always get this error message:

[code]

I guess this is related to the `webDriver` parameter that the test method expects:

[code]

I googled for `DriverParameterResolver` but found absolutely nothing. Is it possible to run selenium tests with this extension, and if yes, how?

[2019-03-20 21:02] jbrandli commented on #464
Right now, my integrationTests are not recognized by the java test runner, even though they are junit tests, and they have the gradle category of test.

I can make the java test runner recognize these tests by adding the integration-test directory to the "test" SourceSet configuration, but then i lose the ability to run my integration tests independently of the unit tests.

I would like the java t

[2019-03-20 21:05] jbrandli commented on #464
I think the easiest option would be a setting for the extension that allows me to add another name for the test runner to look for.

[code]

[2019-03-22 01:56] jdneo commented on #348
Now the Java Language Server supports to manage the dependencies into the `lib` folder, this does not need the user to have building tools like Maven or Gradle in their project. See: https://github.com/redhat-developer/vscode-java/issues/501#issuecomment-461234115

I will start to investigate how to support this kind of project in the Test Runner and unblock those kinds of users.

[2019-03-22 12:09] jenny-ci commented on #470
I'm encountering the problem that the code lenses aren't appearing for my tests and the test explorer isn't populated, even though the .classpath in my Maven-generated project does have the section
[code]
Is there any other workaround for the issue?

[2019-03-23 02:13] praenubilus commented on #348
I hope you can let the plugin configure a universal default lib/jar path, that means if the user does not explicitly configure a custom lib, jars, classes under that path will always being included by default. Then we can put some default framework jar files under that lib.
Another idea is, let the user to specify a testing library path globally/workspace-wise, it can be junit/test-ng and extra te

[2019-03-23 13:28] SupinePandora43 commented on #658
i'm recommend you use gradle project. its a easy way to run test's, just include junit in build.gradle

[2019-03-24 03:37] jdneo commented on #658
Thank you @SupinePandora43.

@Yi-yi Yes, As @SupinePandora43 has said, for now, using the build tool: Maven/Gradle could be a workaround to solve your problem.

[2019-03-25 07:34] #659 closed

[2019-03-25 08:21] jdneo commented on #661
Hi @fabb,

Is it possible to share a sample project which can repro your problem with us? This can help us investigate the problem. I tried [a project](https://github.com/bonigarcia/mastering-junit5/tree/master/junit5-selenium) which contains junit5 selenium test but cannot repro the error your reported.

Thanks

[2019-03-25 08:26] jdneo commented on #470
@jenny-ci Is the `Language Support for Java` startup correctly?

[2019-03-25 09:02] jdneo commented on #91
`JUnit-dataprovider` has been supported now.

You can click on these two places to see the test report

![image](https://user-images.githubusercontent.com/6193897/54906360-16b3b500-4f1e-11e9-8330-49da8b25ed8d.png)

[2019-03-25 09:02] #91 closed

[2019-03-25 09:13] jdneo commented on #208
@All

I'm closing this issue since the issue description is too generic, for anyone who still meets this problem, please first try the [solution](https://github.com/Microsoft/vscode-java-test/issues/208#issuecomment-460835123) that @rrmistry has provided. If you still meet the problem after adopting the [solution](https://github.com/Microsoft/vscode-java-test/issues/208#issuecomment-460835123), Pl

[2019-03-25 09:13] #208 closed

[2019-03-26 07:55] SupinePandora43 commented on #661
@fabb you trying run 'gradle test' or something else ? if also getting error, then error caused not by java test runner

[2019-03-26 08:35] jdneo commented on #658
Closing since this issue is duplicated with #348

@Yi-yi Sorry that the extension does not support the project without the build tools(Maven/Gradle). For now, you can try to add Maven/Gradle into the project, or wait for us resolving #348

[2019-03-26 08:35] #658 closed

[2019-03-26 10:24] #650 closed

[2019-03-26 10:56] fabb commented on #661
I found a likely reason for the problem. My project uses an `@ExtendWith` annotation (from `jupiter`) for injecting the webdriver and other stuff into test classes:
[code]

It seems like the Java Test Runner does not correctly apply those annotations when running tests.

[2019-03-27 01:36] jdneo commented on #661
@fabb Thank you for the information, I'll take a look and update you when I have any progress.

[2019-03-28 15:08] fbricon opened #667 "Add support for Junit 5.4's @DisplayNameGeneration generators"
Following up on #446,  `@DisplayNameGeneration` generators from Junit 5.4 should be supported. See https://junit.org/junit5/docs/5.4.0/user-guide/index.html#writing-tests-display-name-generator

[code]
Should yield
[code]

[2019-03-29 15:31] fbricon opened #669 "Automatically add --enable-preview to vmargs, when necessary"
Following on https://github.com/redhat-developer/vscode-java/issues/671, when trying to test Java 12 code using preview features, you need to add the `--enable-preview` flag in the test configuration's `vmargs`, in settings.json:
[code]

This could be done automatically by the vscode-java-test extension. Also see https://github.com/Microsoft/vscode-java-debug/issues/553

[2019-03-31 12:39] #203 closed

[2019-03-31 12:39] #508 closed

[2019-03-31 22:10] Mohannad91 commented on #596
Thanks,
It would be a great feature that will help in debugging for automation testing frameworks written in Java.
Are we getting this soon or not ?

[2019-03-31 23:28] yllekz commented on #669
+1 to this. This has been driving me crazy. Programs previously functioning under JDK 8 suddenly give me all this hassle under JDK 12.

[2019-04-01 01:08] ccescobar commented on #669
+1

[2019-04-01 01:36] jdneo commented on #596
Hi @Mohannad91,

Do you mean in the context menu, you want another item called `Debug Test`?

[2019-04-01 08:40] bsaby opened #671 "The status code lens of the class is displayed incorrectly"
Bits: 454
First, make sure there are only two methods in your test class.
### Repro Steps:
1. Trigger test from one test method
![image](https://user-images.githubusercontent.com/22470312/55314334-81c03700-549c-11e9-8515-ebd90e18a80d.png)
2. Delete or comment the test method.

### Result:
![image](https://user-images.githubusercontent.com/22470312/55314381-9ac8e800-549c-11e9-9c74-ffeaceba97bc.png)

[2019-04-01 08:44] bsaby opened #672 "Disabled methods should not show status Code Lens"
Bits: 454
### Repro steps:

1. Open a Junit5 project
2. Run the disabled case

### Result:
![image](https://user-images.githubusercontent.com/22470312/55314520-e1b6dd80-549c-11e9-86c3-459ebda2a22f.png)

[2019-04-02 19:25] stubifox commented on #669
+1 :)

[2019-04-03 09:00] jdneo opened #673 "Automatically open the test report after test execution is finished"

[2019-04-03 11:35] ecormaksin commented on #621
I apoligize for too late reply. Thank you so much!

[2019-04-05 13:01] jdneo commented on #348
Thank you @praenubilus. About the default lib path, this could be a feature request for https://github.com/eclipse/eclipse.jdt.ls, which is also known as the Java Language Server.

And for the testing lib path, I'll consider it. Thank you.

[2019-04-05 18:21] jaydee864 opened #675 "Test working directory not set correctly for multi-module Maven projects"
VS Code Version 1.33.0
Java Test Runner version 0.15.1
Maven for Java version 0.16.0
OS: Windows 10 Enterprise 1803

Steps to repro:

1. Clone https://github.com/jaydee864/multi-module-test-repro
2. Run `mvn test` -- this should succeed.
  a. output from print statements (where I print `System.getProperty("user.dir")`):
     1. FirstExampleTest -- (parent directory)`\multi-module-test-repro\first`

[2019-04-08 05:12] #348 closed

[2019-04-08 05:24] jdneo commented on #348
Now the test runner can run the test even if the project does not have Maven or Gradle. See:
![demo](https://user-images.githubusercontent.com/6193897/55700331-740d3300-5a01-11e9-8f67-cf3f6dcfcfde.gif)

The limitation is that there is no Code Lens and cannot explore in the Test Explorer. This issue should be tracked in #470

[2019-04-09 10:16] bsaby opened #676 "Print more information when exception happens in Test Runner"
### Environment:
[code]

### Repro steps:
1. Git clone https://github.com/bsaby/invisble-project
2. Open the project in VSCode
3. Run all test cases from test explorer

### Result:
Can't run a testng case in the invisible project
![image](https://user-images.githubusercontent.com/22470312/55792198-b3677c80-5af2-11e9-98db-7869e865bf78.png)

[2019-04-09 10:24] bsaby opened #677 "Can't update classpath unless reloading vscode window"
### Environment:
[code]
### Repro steps:
1. Create an empty folder
2. Create a java test file and write some test case.
2. Add the dependency jar file into the lib folder.
3. Force build
### Result:
Build failed but works after reloading VSCode window.
![image](https://user-images.githubusercontent.com/22470312/55793053-9af86180-5af4-11e9-9f82-2606cad70ae2.png)

[2019-04-09 10:35] jdneo commented on #677
@yaohaizh @testforstephen

[2019-04-09 10:37] jdneo commented on #676
## Root cause
the dependency `com.beust.jcommander` is missing in the classpath

## Workaround
https://github.com/cbeust/testng/issues/1932#issuecomment-432512257

## Action to Take
The Test Runner should print more information to help user/dev to diagnostic.

[2019-04-09 10:51] jdneo commented on #470
I'm thinking to add a command like `Mark as Test Folder` to update the `.classpath` file.

[2019-04-09 18:52] Mohannad91 commented on #596
Hi @jdneo .. yeah exactly what i meant..
it's a popular and important feature for automation engineers using java and TestNG to build their framework.. it'll make life way easier

[2019-04-09 19:24] gabloe opened #678 "Support Groovy"
My maven config is working fine for running JUnit tests against a groovy codebase, but the Java test runner does not show any test content.  Does it depend on the file extension being .java?

[2019-04-10 00:40] jdneo commented on #678
Hi @gabloe,
Yes, so far the Java Test Runner only supports Java language.

[2019-04-10 17:20] badsyntax commented on #470
Would gradle not overwrite this change to the .classpath file when rebuilding?

[2019-04-11 00:43] jdneo commented on #470
@badsyntax For some unknown reason, the `.classpath` does not have test entry for some Gradle project. That's why we plan to add this command

[2019-04-11 20:49] praenubilus commented on #348
@jdneo thanks for the update. But I'm just a little bit confusing, how does the vscode now where is my junit.jar file?

[2019-04-12 05:00] jdneo commented on #348
Hey @praenubilus,

For the projects that do not have `Maven` or `Gradle`, the Java Language Server will search the dependency in the `lib` folder.

[2019-04-12 14:59] lyneca opened #679 "Unable to find tests in Gradle project"
I'm unable to refresh the test explorer window. I'm able to run tests fine from the inline "Run Test" button in the editor, but hitting refresh (or on first loading a project) returns:

Under the `Java Test Runner` output section:

[code]

Under the `Language Support for Java` output section

[code]

My `build.gradle`:

[code]

Testing [the sample project](https://github.com/junit-team/junit5-samp

[2019-04-12 15:04] lyneca commented on #679
Sorry, duplicate of #611

[2019-04-12 15:04] #679 closed

[2019-04-15 08:47] #608 closed

[2019-04-16 00:52] dg-ceiland commented on #596
@jdneo: While the "Run Test" context menu command would be handy, users can get equivalent functionality by right clicking a Maven project and choosing the `test` goal. To expand on the comments above, one thing that the VSCode extension can't do right now is run or debug at the class and method level using info specified in testng.xml.

Example: With TestNG, I can use the `@Parameters` decorator

[2019-04-16 03:25] jdneo commented on #677
Tracking in https://github.com/redhat-developer/vscode-java/issues/882

[2019-04-16 03:25] #677 closed

[2019-04-16 20:58] rdcoe commented on #675
I have exactly this same problem.  I was trying to fix it by using the java.test.config settings but have not had success.

[2019-04-16 22:14] KulowRainer commented on #348
I'm trying to recreate your test environment @jdneo to run tests from a single file (without the project environment) - unfortunately this causes an error:

`@@<TestRunner-{"name":"error","attributes":{"message":"No test found to run for suite MyTest#test. Details: MyTest.","trace":"java.lang.ClassNotFoundException: MyTest
\tat java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClas

[2019-04-17 01:52] jdneo commented on #348
@KulowRainer Not sure if you have the same problem like this one: https://github.com/redhat-developer/vscode-java/issues/882

Is the problem still occur if you reload the VS Code?

[2019-04-17 06:34] Nukepayload2 commented on #561
Ran into the same issue. I'm not using Maven, so I can't delete `.classpath` and `.project` files. My projects were created with an old version of Eclipse. My test project uses junit 4.8 .

Logs from "Language support for Java":
[code]

[2019-04-17 08:19] KulowRainer commented on #348
Good mention @jdneo, but the problem ist still occurring after reloading VS Code.
The java code checker returns no errors.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/10656542/56271897-ce8d4a00-60f9-11e9-8df4-87988c1c6b3c.gif)

I also cloud reproduce the same error on a fresh ubuntu 18.04 installation with vs code, meanwhile the screenshot above was taken in Windows 10.

[2019-04-18 02:46] xhawk18 commented on #623
fixed ?

[2019-04-18 04:39] yaohaizh commented on #623
@jdneo What's the status

[2019-04-18 05:35] jdneo commented on #348
@KulowRainer Could you please try `Java: Clean the Java Language Server workspace` > `Restart and Delete`

[2019-04-21 05:01] SupinePandora43 commented on #518
show test report(passed, failed, skipped) in test explorer?

[2019-04-21 10:53] jdneo commented on #518
Hi @SupinePandora43,

The feature that you mentioned is tracked by #126

[2019-04-22 18:22] marvingreenberg opened #680 "Test Explorer not displaying any java tests, but tests run successfully"
I have tried this with several different projects.  I am currently using java test runner 0.16.0 (but also tried 0.15.0 and 0.15.1), along with Java Debugger 0.17.0 and Language Support for Java  0.43.0

The (24) tests run from the test explorer if I select "run tests".  But no tests are displayed in Test Explorer.  I have observed the same behavior in classes using junit4 and junit5 style tests.

[2019-04-23 01:18] jdneo commented on #680
Hi @marvingreenberg,

Will this workaround help solve your problem?

[2019-04-23 01:49] marvingreenberg commented on #680
```this?```  Did your comment drop a link reference?

[2019-04-23 02:24] jdneo commented on #680
@marvingreenberg Sorry, my bad. https://github.com/Microsoft/vscode-java-test/issues/470#issuecomment-444327456

[2019-04-23 12:37] KulowRainer commented on #348
@jdneo Now I can confirm `Java: Clean the Java Language Server workspace` > `Restart and Delete` solved this problem.

[2019-04-23 14:31] marvingreenberg commented on #470
Regarding "Mark as test Folder..."  That might be fine.  But at a minimum, some kind of warning when the Test Explorer is displayed, or maybe when refresh is run, that No "Test Folder" was found on classpath, or something.

[2019-04-23 14:53] marvingreenberg commented on #680
Yes, work around is fine. Thanks! This is a duplicate of #470, essentially.

[2019-04-23 14:53] #680 closed

[2019-04-26 13:51] asharron commented on #678
Hey! I would also like groovy support for unit tests, as I use groovy for my tests at work.

How much work would this take?

I would be willing to help out if we could break this up into smaller tickets, or at least have a general outline for what would need to be completed.

TL;DR I want to help, but need a few pointers on where to get started.

[2019-04-29 08:41] jdneo commented on #678
Hey @asharron

Thank you for your enthusiasm! Briefly speaking, the Java Test Runner depends on [Java Language Server](https://github.com/redhat-developer/vscode-java) to resolve project information. To support Groovy, I guess we need first find out how to resolve the Groovy project information first. So far I have no idea how to achieve that. 😞

[2019-04-29 08:58] Nukepayload2 opened #682 "NPE when invoking test with codelens or test explorer"
Our tests can be executed with eclipse oxygen with the testng plugin. But when I try to run tests with vscode, tests won't run, and vscode shows a notification "Error". I've tried to remove "%AppData%\Code\User\workspaceStorage" and restart vscode. It didn't solve my problem.

Java test runner version: 0.16.0
JDK version: 8u201

.classpath file
[code]
Java test runner log
[code]
Output of "Languag

[2019-04-29 09:00] jdneo commented on #682
Are you using default package?

[2019-04-29 14:06] Nukepayload2 commented on #682
@jdneo
No, all test classes have package names. We are migrating our C# MSTest projects to Java testng. So, some names of the packages have capital characters, and they are not start with `com.` or `org.` . Does the naming convention violation cause this bug?

[2019-05-02 13:25] jdneo commented on #678
@asharron.

Exactly, and that's at least of what we need. Actually, things might become more complex, since the Groovy Language Server needs to have some APIs exposed that the Test Runner can leverage. For example, calculate the classpaths of the project.

[2019-05-05 09:20] ibuziuk opened #684 "Latest releases do not contain `vsix` files"
Latest 0.15 / 0.16 releases do not contain the `vsix` files.. Will it be possible to add the `vsix` files also for the latest releases to make it consistent with previous ones e.g. 0.14.1 ?

[1] https://github.com/Microsoft/vscode-java-test/releases
[2] https://github.com/Microsoft/vscode-java-test/releases/tag/0.14.1

[2019-05-05 10:52] jdneo commented on #684
Thank you for the suggestion. The vsix files have been added.

[2019-05-05 10:52] #684 closed

[2019-05-06 03:16] coolboy0961 commented on #470
My situation is that only the @Nested test does not show Run/Debug code lenses.Normal test,ParameterizedTest is OK.

- The version of VS Code
1.33.1
- Your operating system
macOS High Sierra 10.13.6
- Reproducible steps
just use @Nested annotation to write test case.
- What you expected to see, versus what you actually saw
  - expected
    Run/Debug code lenses appear on class definition and test

[2019-05-06 03:32] jdneo opened #685 "Support JUnit5 @Nested test"
My situation is that only the @Nested test does not show Run/Debug code lenses.Normal test,ParameterizedTest is OK.

- The version of VS Code
1.33.1
- Your operating system
macOS High Sierra 10.13.6
- Reproducible steps
just use @Nested annotation to write test case.
- What you expected to see, versus what you actually saw
  - expected
    Run/Debug code lenses appear on class definition and test

[2019-05-06 03:33] jdneo commented on #470
Hi @coolboy0961,

We haven't supported that annotation yet. Tracked by #685

[2019-05-06 15:09] sjetha-pason opened #687 "Add support for showing the Test Report below the current editor window"
My development monitor is in portrait orientation. Having the Report open to the right side of the current editor just squishes a lot of content into a small space. Changing it to appear inside the editor is a nice alternative but a better alternative would be to allow the report runner to appear below the current editor window, possibly in the same window as the Output and Terminal appear in, but

[2019-05-08 03:16] jdneo opened #691 "Refine the log mechanism"
Make it possible to let the server side can pass error information into the client side.

[2019-05-08 03:26] #611 closed

[2019-05-08 06:19] jdneo commented on #682
@Nukepayload2 is it possible for you to share a sample project which can repro this issue to us?

[2019-05-08 09:31] GeraldNDA opened #693 "JUnit4 parameterized test fails"
Simplified definition:
[code]

Results in (simplified error) when doing trying to find all errors:
[code]

[2019-05-10 02:55] jdneo commented on #687
Hi @sjetha-pason

Thank you for reporting this to us. Unfortunately. As far as I know, so far the VS Code does not have the API to put the column in the bottom position.

But there still can have some workaround for your issue:
1. update the setting `java.test.report.position` to `currentView`, then the report will always show in the active column.
2. Move the report to the bottom and do not close

[2019-05-10 02:56] #687 closed

[2019-05-10 11:40] rohinwork opened #694 "Junit xml reports for gradle project"
I am trying to fetch the generated junit test reports for my gradle project.

This is the test part of my gradle file:
[code]
I am not able to
1. Figure out where this build directory for test cases reside
2. Even if I change the destination directory; there is no junit xml file there.

I have done lots of exploration and still unable to figure this out.

Any help is greatly appreciated! :)

[2019-05-14 06:14] jdneo commented on #693
Hi @GeraldNDA,

Is it possible for you to share the project to us?

[2019-05-14 07:46] jdneo commented on #694
Hi @rohinwork

Are you using JUnit 5?

[2019-05-14 09:49] rohinwork commented on #694
Hi @jdneo
Yes, I am using JUnit 5.
Can you tell me where the test reports get generated?

Thanks for you response :)

[2019-05-15 02:15] jdneo opened #698 "Failed to get workspace folder for the test items when running the test cases"
### Repro step:

1. Open a test project
2. Open another test file with is not belong to the project (This operation will cause the JLS to create a new project in the workspace storage)
3. Run tests at root level in the test explorer

### Root cause:
The test searcher will find the single file as a testable file, but it does not belong to the current workspace actually.

[2019-05-15 04:31] jdneo commented on #694
Hi @rohinwork,

I'm afraid the current implementation will not be able to generate the test report. To achieve that, you have to run the test cases through Gradle command as a workaround for now.

[2019-05-15 04:31] #698 closed

[2019-05-15 09:00] #669 closed

[2019-05-16 02:18] rohinwork opened #702 "No stacktrace/message in code-server"
When you run a test case with vscode-java-test within [code-server](https://github.com/cdr/code-server) the message and stacktrace does not show up for the test case. However the report says wether the test case passed/failed. (Gradle with JUnit5)

Note: To install vscode-java-test in code-server; the regular installation through GUI seems to broken; you will have to follow instructions from this

[2019-05-16 02:18] rohinwork commented on #694
Thank you for the update @jdneo :+1:

[2019-05-16 02:18] #694 closed

[2019-05-16 02:28] jdneo commented on #702
Hi @rohinwork,

Would you mind to share some screenshot to us?

[2019-05-16 03:19] rohinwork commented on #702
Hi @jdneo,

Sure here you go:
<img width="662" alt="Screenshot 2019-05-16 at 8 47 38 AM" src="https://user-images.githubusercontent.com/50485978/57824056-5b89f880-77b7-11e9-8204-71953dc3215c.png">

I could also provision a temporary code-server workspace if you would like to debug.

Thanks for your continued support on this! :)

[2019-05-16 04:36] jdneo commented on #702
Thank you @rohinwork.

The test report is actually an HTML page and gets rendered by VS Code's webview. And I guess what you are encountering is that the report cannot be expanded.

If that is the case, then I think this should be a bug/issue of Code Server. What we can do from the extension side is really limited since we are just using the API provided by VS Code itself.

[2019-05-16 05:40] yaohaizh opened #854 "Bug: Failed to activate tester extension when install pack extension"
**Environment:**a

Version: 1.34.20-insider (user setup)
Commit: e83e24a0c9225becd7341e56952177a20d5d4629
Date: 2019-05-15T18:06:45.467Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

**Step to Reproduce:**

1. Clean setup of VSCode
2. Install java extension pack

**Expected Behavior:**
Extension should load correctly

**Actual Behavior:**
Java

[2019-05-16 05:57] rohinwork commented on #702
Hi @jdneo

I looked around a little bit more and found out that there is no output in Java Test Runner View. Would this indicate that there is a problem with the extension not capturing/receiving any output?

Are there any files you would like ne t

Local Setup:
<img width="1632" alt="Screenshot 2019-05-16 at 11 13 47 AM" src="https://user-images.githubusercontent.com/50485978/57829164-be858a80-77

[2019-05-16 07:20] jdneo commented on #702
I see. What's the setting `java.test.log.level` in your code server?

[2019-05-16 07:21] #470 closed

[2019-05-16 07:32] jdneo commented on #470
Here is the final solution for this issue:
### For Maven projects
The user can use [`<testSourceDirectory/>`](https://maven.apache.org/pom.html#Build_Element) to configure the test source paths.

### For Gradle projects
The user can use [`sourceSets`](https://docs.gradle.org/current/userguide/java_plugin.html#source_sets) to configure the test source paths.

### For Eclipse & Invisible projects
Al

[2019-05-16 09:21] jdneo commented on #675
Hi all,

Sorry for my late reply and thank you @jaydee864 for providing the source code to help me repro.

To solve this problem, you can import your projects in the `multi-root` way, which means:
1. First Open the folder `\multi-module-test-repro\first` in your VS Code.
2. In the File Explorer, right click on a blank area, and you can find an option named `Add Folder to Workspace...`:
![image](ht

[2019-05-16 09:24] jdneo commented on #612
The issue is handled on the vscode java side. Thanks.

[2019-05-16 09:24] #612 closed

[2019-05-16 09:28] rohinwork commented on #702
@jdneo sorry my bad. I set it to verbose on remote machine and now I am able to see the logs. However logs are visible without this setting on my local machine.

On remote machine, even after I made this change I am not able to see the stacktrace in the test report. Is there someplace where this report is getting persisted, if so, I could manually check it out.

Quick aside question:
Whenever I tr

[2019-05-16 09:32] jdneo commented on #464
Thank you @jbrandli for your feedback. I'll take a look.

[2019-05-16 09:34] jdneo commented on #702
This is because the setting has the default value: `info`

For the two questions, you asked. I guess your project is neither a Maven project nor Gradle project. Am I right?

[2019-05-16 09:45] rohinwork commented on #702
@jdneo It is a gradle project actually. So here's what's happening
 - if I install vscode and the extension from the extension ui: codelens and test explorer all work as it should.
 - if I install vscode and the extension in debug mode (based on instructions from your contribution page) these things are not working.

[2019-05-16 22:04] jaydee864 commented on #675
Hi @jdneo,

Thank you for your suggestion. I have tried it and confirmed that it fixes the working directory issue, but unfortunately, I ran into another error in the code base from which I first discovered this. In my original code base, I have a dependency on environment variables in my application, which for the most part we can ignore, except the one environment variable which we need to parse

[2019-05-17 01:43] jdneo commented on #702
Have you run `npm run build-plugin`?

[2019-05-17 01:57] jdneo commented on #675
Hi @jaydee864,

I guess there might be some misunderstanding here. The `${workspaceFolder}` is a variable which will always point to the path of the workspace folder. Here the difference between `single-root` and `multi-root` is:
- single-root: when you directly open `multi-module-test-repro` in VS Code, your workspace only contains one folder, in that case, the `${workspaceFolder}` will point to

[2019-05-17 02:21] rohinwork commented on #702
Yes I have actually. I am able to set breakpoints within the code and debug as well. Is there a possibility for you to check if this is working for you locally with a fresh clone of the repo and a new project with [spring initializer](https://start.spring.io/)

Here's a recap of what I did:
1. clone this repo
2. npm install
3. npm run build-plugin
4. F5

I did not setup eclipse and other tools sin

[2019-05-17 03:05] jdneo commented on #702
Thank you for reporting this. I have to apologize for that there is a step missing in the contributing page.

I have updated the docs in this PR: https://github.com/microsoft/vscode-java-test/pull/705

[2019-05-17 03:56] rohinwork commented on #702
@jdneo No problem 👍and thank you for the update.

This aside, I am still not able to this up and running on code-server the right way.

Another observation that I made was that if I set the logger level to info (manually) on my remote machine; no logs show up on the output window. However, only when I set it to verbose the right logs are showing up with stacktrace, etc which means that the HTML th

[2019-05-17 04:45] jdneo commented on #702
`info` is only to show the application's output. For example. in your code, you write `system.out.printlin("hi")`.

I think the problem is that code server has some problem for rendering the webview, causing that the test report cannot be expanded.

[2019-05-17 04:54] sridherj commented on #702
Hi @jdneo, I am Sridher, Rohin's colleague.

Awesome to see such quick replies/commitment for an open-source project from a Microsoft employee :+1: . That's definitely unheard of in the past :)

[2019-05-17 05:05] jdneo commented on #702
Hi @sridherj,

We are embracing the open-source world 😃. Nice to meet you!

[2019-05-17 05:19] jdneo commented on #437
Closing this for now since we have [package.nls.zh.json](https://github.com/microsoft/vscode-java-test/blob/master/package.nls.zh.json) now.

Will reopen this it turns out that we have other more works to do.

[2019-05-17 05:19] #437 closed

[2019-05-17 05:45] rohinwork commented on #702
@jdneo Thanks for clearing that up. Raised an issue on the code-server repo [here](https://github.com/cdr/code-server/issues/688).

[2019-05-17 06:41] rohinwork opened #706 "Unable to setup in development mode"
I am not able to setup Codelens and the Test explorer view in debug extension mode.

<img width="442" alt="57842370-f56a9900-77e9-11e9-8d0e-3754c28d11d6" src="https://user-images.githubusercontent.com/50485978/57907664-bac13900-789b-11e9-8e07-8a9c466bbb8f.png">

To Reproduce:
1. follow instruction for development setup on Contributing page (follow instruction only till step 5)
2. create a new proj

[2019-05-17 06:47] jdneo commented on #706
Could you provide more information about your project generated by spring initializr?

[2019-05-17 07:04] rohinwork commented on #706
@jdneo Sorry I did not mention.
Gradle Project -> Java -> Spring Boot 2.1.5

[2019-05-17 07:13] jdneo commented on #706
Hmm, that's wired. I cannot repro this on my side. Do you encounter this issue only in dev mode?

[2019-05-17 07:24] rohinwork commented on #706
Yes, this issue is only encountered in dev mode/if I clone your repo, compile package and install manually in regular vscode.

I can send you setup this scenario in a machine (linux, ubuntu) which you can RDP to if that's okay with you. I can send you the credentials on the email id shared on your profile page.

Is that okay?

By the way, this is my current configuration:
macOS Mojave
node: v8.15.

[2019-05-17 07:24] jdneo commented on #630
Hi @mweirauch

Do you mean by this?

![demo1](https://user-images.githubusercontent.com/6193897/57910410-d20e1f80-78b7-11e9-85e2-fc83f097e7dd.gif)

[2019-05-17 07:27] jdneo commented on #706
@rohinwork Is your local repo updated with the latest commit?

[2019-05-17 07:30] jdneo commented on #661
Hi @fabb

Is that possible for you to share a sample project which can repro the issue?

[2019-05-17 07:59] fabb commented on #661
I‘ll try to reproduce it in an example project, could take me a while as I‘m swamped currently.

[2019-05-17 08:00] rohinrohin commented on #706
@jdneo yes I have pulled the latest changes before running the all the tasks mentioned.

[2019-05-17 08:09] jdneo commented on #661
That will be great. Thanks a lot

[2019-05-17 08:15] bsaby opened #707 "Cannot stop the debugging process automatically"
### Environment:
OS: Windows
JDK: 8
Java Test Runner Extension: 0.16.0

### Repro steps:
1. Open a test project in vscode
2. Debug test

### Result:
Cannot actively stop the debugging process after running test
![image](https://user-images.githubusercontent.com/22470312/57913185-a3477780-78be-11e9-9bde-4000def7face.png)

[2019-05-17 08:28] jdneo commented on #706
Ok now I can repro this. The root cause seems lie in here https://github.com/microsoft/vscode-java-test/blob/master/java-extension/com.microsoft.java.test.plugin/src/main/java/com/microsoft/java/test/plugin/util/ProjectTestUtils.java#L79

I'll send a PR to fix it later.

[2019-05-17 08:36] rohinwork commented on #706
@jdneo that's great!
Let me know if you need anything else from me in the meantime.

Thank you once again :)

[2019-05-17 08:57] jdneo commented on #706
Just pushed a fix commit under: https://github.com/microsoft/vscode-java-test/tree/cs/path-issue

Feel free to have a try if you would like to.

Thanks.

[2019-05-17 09:02] rohinwork commented on #706
@jdneo works perfectly! Thank you 👍

[2019-05-17 09:29] rohinwork commented on #706
Also is there anything specific that you do besides vsce package to get the `.vsix` extension file?

[2019-05-17 20:46] jaydee864 commented on #675
Hi @jdneo,

Ah, you're right, it does work as expected once I remove the sub-folders! Thank you for clearing up my misunderstanding.

Thanks,
jaydee864

[2019-05-17 20:46] #675 closed

[2019-05-17 21:53] mweirauch commented on #630
Yap that basically describes it. I have tried with a simple Spring Boot starter project as you did and it fails with the same error message.
* I am on vscode `1.34.0` and vscode-java-test `0.16.0` in between.
* I tried disabling all extensions, enabling only the relevant vscode-java-test, which triggers re-enabling of the other java required ones.
* I tried with a maven and a gradle project, same

[2019-05-18 04:01] GeraldNDA commented on #693
Example Project:
[JtestBug.tar.gz](https://github.com/microsoft/vscode-java-test/files/3193635/JtestBug.tar.gz)

I'm running AdoptOpenJDK 8 on Windows 10

Expected Result:
![image](https://user-images.githubusercontent.com/11413630/57964247-ff7ebb80-78ff-11e9-84aa-54dd137f0eae.png)

[2019-05-18 06:52] jdneo commented on #630
I see. I'll run it in Fedora 29 in a VM later when I have time. Please also feel free to comment if you find anything.

Thanks.

[2019-05-20 03:07] jdneo commented on #702
Closing this one and watch on the upstream issue.

[2019-05-20 03:07] #702 closed

[2019-05-20 03:09] jdneo commented on #706
Nothing special. Just:
- npm install
- npm run build-plugin
- vsce package

[2019-05-20 05:46] #706 closed

[2019-05-21 06:47] jdneo commented on #693
Hi @GeraldNDA,

Thank you for your sample project. I tested locally with the newest bits. And the tests could be run successfully:

![demo](https://user-images.githubusercontent.com/6193897/58074193-34786000-7bd7-11e9-853e-1fa9377a2838.gif)

The newest bits is version `0.17.0` which should be published in this week. Please just wait and feel free to have a try when it gets released.

Thank you for

[2019-05-21 07:40] jdneo commented on #630
I can now repro it on Fedora 30. Will look deep into it.

[2019-05-22 08:23] bsaby opened #709 "There is no test result or status after running the testng method"
Project: http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip
### Environment:
OS: Windows/Mac
JDK: 8/12
Java Test Runner Extension: 0.17.0
### Repro steps:
1. Download and open the project in VSCode
2. Open TestParameterXML.java file
3. Run test
### Result:
![image](https://user-images.githubusercontent.com/22470312/58158770-ac18be80-7cad-11e9-8dd1-5b1378ecb7fc.png)

[2019-05-22 09:03] bsaby opened #710 "Cannot print the Chinese character correctly in JDK12 environment on Mac"
Project: https://github.com/bsaby/todo-app-java-on-azure/tree/testrunner

### Environment:

- OS: Mac
- JDK: 12
- Java Test Runner Extension: 0.17.0

### Repro steps:
1. Open the project in vscode
2. Change the `files.encoding `settings to gbk and make sure the encoding used by language server is gbk too.
3. Run encoding test method

### Result:
![image](https://user-images.githubusercontent.com/2

[2019-05-23 01:55] #537 closed

[2019-05-23 01:58] jdneo commented on #693
Closing this since the `0.17.0` has been released.

@GeraldNDA, feel free to let us know if you have any other problems during using the extension. You can reach us through filing an issue or in the Gitter channel.

Thanks.

[2019-05-23 01:58] #693 closed

[2019-05-23 02:39] jdneo commented on #676
Fixed in #711

[2019-05-23 02:55] jdneo commented on #596
Hi @dg-ceiland,

Sorry for my late reply and thank you for the detailed explanation. Just as you have said, the extension currently has limited support on TestNG. And your suggestion is very inspiring.

I think I can first support running/debugging towards the `testng.xml` and then make the codelens(Run Test/Debug Test) more intelligent.

[2019-05-23 07:59] #673 closed

[2019-05-23 08:06] jdneo commented on #630
Update: Create an issue in the VS Code repo: https://github.com/microsoft/vscode/issues/74104

[2019-05-23 14:19] GeraldNDA commented on #693
So I was able to reproduce the issue in `0.17.0`. It seems like the tests are being run differently via the explorer than from the test file. Here's a gif showing the issue (sorry for the poor quality). Basically, the test explorer and running the specific method does not work. However, running the class works.
![Failing Test Run](https://user-images.githubusercontent.com/11413630/58260080-d289390

[2019-05-24 02:30] bsaby commented on #676
Now:
![image](https://user-images.githubusercontent.com/22470312/58298661-da61df80-7e0e-11e9-853f-0804635caa5e.png)

[2019-05-24 02:38] bsaby commented on #537
Now:
![image](https://user-images.githubusercontent.com/22470312/58298753-3fb5d080-7e0f-11e9-81bf-5bdd529318cd.png)

[2019-05-24 03:20] bsaby commented on #313
Project: https://github.com/Microsoft/todo-app-java-on-azure
### Environment:
[code]
### Steps:
1. Open the project in VSCode
2. Edit pom.xml, remove a dependency, show as below:
![image](https://user-images.githubusercontent.com/22470312/58299903-33337700-7e13-11e9-9823-f8488395c249.png)
3. Run test from the workspace root

### Result:
1. There are two failed tests in the left bottom test result,

[2019-05-27 13:14] hgodoy commented on #344
I still have this problem, not output showing on debug console
vscode version : 1.34.0
maven plugin version: 0.17.0

[2019-05-28 02:24] jdneo commented on #313
Closing this issue since it has been fixed.

[2019-05-28 02:24] #313 closed

[2019-05-28 02:32] bsaby opened #713 "Cannot print test error when log level is set to error"
Take the TestNG project as an example：
Project: http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip
###  Repro steps:
1. Download and open the project in VSCode
2. Run all test cases from the workspace root level
3. Set the log level to error
4. Do step2 again
###  Result:
The error level is info, and the error will not be printed after the log level is set to error.
Log:
[c

[2019-05-28 02:38] jdneo commented on #468
Update:

To implement this feature, we need VS Code to provide the API to get all the opened editors. So far it seems that there is no such API to achieve this. See: https://github.com/Microsoft/vscode/issues/15178

[2019-05-28 02:54] jdneo opened #714 "Got 'No tests found matching Method' on JUnit 4 Parameterized tests"
Sample project: [JtestBug.tar.gz](https://github.com/microsoft/vscode-java-test/files/3193635/JtestBug.tar.gz)

Will get `No tests found matching Method` if click Code Lens on the method level or from the test explorer.

Click the Code Lens on class level works fine.

[2019-05-28 02:55] jdneo commented on #693
Filed a new issue here: https://github.com/microsoft/vscode-java-test/issues/714.

[2019-05-28 03:16] #713 closed

[2019-05-28 04:24] Nukepayload2 commented on #682
@jdneo I can't reproduce this issue after upgrading vscode to `1.34.0` .

[2019-05-28 04:24] #682 closed

[2019-05-28 05:12] bsaby commented on #713
The test passed.

Log:
[code]

[2019-05-28 05:52] jdneo commented on #596
Hi @all,

Now have one problem with this issue. The [VS Code `when` API](https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts) can only check the file name but has no ability to check the content. This limitation may introduce some problems here:
- Add `Run/Debug Test` menu item for all `*.xml` file: This implementation can make sure that we won't miss any TestNG XML fil

[2019-05-28 17:07] dg-ceiland commented on #596
@jdneo Just to confirm we're talking about the same thing (I don't believe we are), I've included a screenshot of the Run / Debug Test UI clickables that I'm thinking of.

![image](https://user-images.githubusercontent.com/46506794/58497222-553d3a00-8130-11e9-81c3-a9b83f30dadb.png)

Perhaps my suggestion is outside of the scope of this issue. In any case, it's tricky to say which of your options i

[2019-05-29 02:13] jdneo commented on #596
@dg-ceiland I think you are talking about bringing the context defined in testng.xml to the `Run Test` & `Debug Test` actions. Am I right?

[2019-05-29 16:37] dg-ceiland commented on #596
Yes. Is this within scope, or even doable? If so, is this something that should be put into a different issue?

[2019-05-29 16:37] dg-ceiland commented on #596
@jdneo Yes. Is this within scope, or even doable? If so, is this something that should be put into a different issue?

[2019-05-30 00:17] jdneo commented on #596
@dg-ceiland Yes, I think it would be better to file this into another new issue.

Would you mind to file a new issue for that?

[2019-05-31 04:48] #685 closed

[2019-06-01 15:27] GeraldNDA opened #718 "Inherited tests not supported"
Codelens appears for the abstract test class even though it cannot be run directly (IntelliJ redirects you to the classes that inherit from the abstract class instead ...)

Codelens does not appear on the classes that inherit from the abstract test class

Sidebar only runs tests in abstract class resulting in `InstantiationException` because it's abstract.

[2019-06-01 15:28] GeraldNDA commented on #718
Sample Project (with failing tests under polytests)
[JTestBug.zip](https://github.com/microsoft/vscode-java-test/files/3243909/JTestBug.zip)

[2019-06-01 16:27] chandr3sh commented on #718
See #716
It will be supported in version 0.17.1

[2019-06-02 02:41] GeraldNDA commented on #718
I'm not sure if that would fix the issue for this project because the child
class isn't annotated with `@RunWith` or `@Nested` ....

On Sat, Jun 1, 2019 at 12:27 PM Chandresh <notifications@github.com> wrote:

[2019-06-05 12:48] jbrackin01 opened #719 "@Nested subclass tests do not provide inline Run Test | Debug Test links"
Issue Type: <b>Bug</b>

The steps to reproduce this issue are:
1) Create a java test class
2) Use JUnit 5 testing (i.e import org.junit.jupiter.api.*;)
3) Created a test method annotated with @Test
4) Create a subclass within the test class and annotate it with @Nested
5) Create a test method within the subclass

Expected:
- In addition to having the inline Run Test | Debug Test links above the ma

[2019-06-06 09:35] bsaby opened #720 "The class which only contains nested classes can't show code lens"
### Environment:
OS: Mac
JDK: 8
Java Test Runner Extension: 0.17.0
### Repro steps:
1. Git clone https://github.com/bsaby/junit5-samples/tree/testrunner/junit5-jupiter-starter-maven
2. Open the MyNestedTest  java file

### Result:
You will find that no code lens on the class MyNestedTest
![image](https://user-images.githubusercontent.com/22470312/59022638-b8417600-8880-11e9-9dc7-bf7fa93cf89d.png)

[2019-06-08 06:31] jdneo commented on #719
Hi @jbrackin01

Thank you for the feedback. We added the @Nested annotation support several days before and will get released recently. The tracking issue is here: #685

Thanks

[2019-06-08 06:31] #719 closed

[2019-06-10 01:53] bsaby opened #722 "Cannot show display name of the test class"
### Environment:
OS: Mac
JDK: 8
Java Test Runner Extension: 0.17.0

### Result
Cannot show the display name of the test class
![image](https://user-images.githubusercontent.com/22470312/59167433-d4d0fd00-8b63-11e9-9df0-c8c4534870a6.png)

[2019-06-10 08:33] bsaby opened #723 "Wrong collapsed icon in test report"
### Result:
![image](https://user-images.githubusercontent.com/22470312/59180548-d4525980-8b97-11e9-907e-8822f3fe61fe.png)

### Expected
![image](https://user-images.githubusercontent.com/22470312/59180555-d7e5e080-8b97-11e9-9dc2-8687cf2cf041.png)

[2019-06-10 08:46] #723 closed

[2019-06-11 18:05] praenubilus commented on #348
@jdneo Any plan for the testing lib path support (Other than the lib path from language server) in the near future?

[2019-06-11 20:04] Faadza opened #725 "Extension causes high cpu load"
[vscjava.vscode-java-test-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-java-test/files/3278346/vscjava.vscode-java-test-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-java-test`
- Extension Version: `0.18.0`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.35.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:w

[2019-06-11 20:06] #725 closed

[2019-06-12 01:25] jdneo commented on #348
@praenubilus No such a plan so far at the Test Runner side. I think it should be better to let the Java Language Server support customized classpath for the `invisible` project.

[2019-06-12 13:57] valentin-dm opened #726 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-test`
- Extension Version: `0.18.0`
- OS Version: `Darwin x64 18.6.0`
- VSCode version: `1.35.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/vdittmar/vscjava.vscode-java-test-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes

[2019-06-13 00:34] jdneo commented on #726
@valentin-dm Could you share the profile txt?

[2019-06-15 18:22] fwcd opened #727 "Running a test causes the report to re-open in the same window section"
Previously, I could have the test report and the code side-by-side open while running tests:
![grafik](https://user-images.githubusercontent.com/30873659/59554891-76b07980-8faa-11e9-9527-0141f0bd3e11.png)

However, if I click `Run Test` in the current version of the test runner, the report automatically re-opens in the "code window section":

![grafik](https://user-images.githubusercontent.com/308

[2019-06-16 12:19] fabb commented on #661
I could reduce the project enough to also trigger a similar error in IntelliJ. It seems to be connected to auto-activated profiles in the pom. I have this section in my pom:

[code]

I will upload my project shortly, yet need to kick a few private things out first.

[2019-06-16 18:16] fabb commented on #661
Ok, here you go: https://github.com/fabb/vscode-java-test-bug

The bug really seems to be related to the `<activation>` setting in the profiles in pom.xml.

[2019-06-17 02:17] jdneo commented on #727
Hi @fwcd,

What's the value of your `java.test.report.position` setting? Do you set it to `currentView`?

If that is the case, you can set it to `sideView` to make the report always show in the second column.

![image](https://user-images.githubusercontent.com/6193897/59574263-24c23d80-90e9-11e9-99b4-324109b7a50a.png)

[2019-06-17 02:48] jdneo commented on #661
Hi @fabb,

Thank you for the sample project you have provided, which is very useful! I can now repro the issue now and here are my findings so far.

###  Root Cause

The Test Runner does not honor the section:

[code]

### Workaround

For now, there is a workaround which is to manually pass the properties into the JVM. You can add a new setting into your workspace:

[code]

Open the `Setting` page

[2019-06-17 04:46] jdneo commented on #623
Update:

looks like the `JavaRuntime.computeDefaultRuntimeClassPath(project)` will use DFS to resolve the dependency which is not the case in Maven. Seems the Java debugger has the same problem and @testforstephen has provided a solution in https://github.com/microsoft/java-debug/pull/281. I will try and see if that change can solve this issue.

[2019-06-17 04:51] jdneo commented on #381
Hi @boyarsky, is the problem still occur by using the newest version of Test Runner?

If yes, would you mind to provide a sample project with us to repro the issue?

[2019-06-17 05:09] fabb commented on #661
Thank you a lot for your fast response!

[2019-06-17 09:04] deduper opened #728 "Use socket to deliver the test results"
[code]
----

Out of twenty-five or so test classes, some test methods in about five or six of them are always skipped. Some test methods in the same test class file are not skipped.

In [*DependencySummarizerTest.java*](https://github.com/lingocoder/abi.cli/blob/refactor.summary.accuracy/src/test/java/com/lingocoder/abi/DependencySummarizerTest.java), there are four test methods. Clicking the clas

[2019-06-17 12:38] fwcd commented on #727
Hi, I did not change the default value, which seems to be `sideView`:

![grafik](https://user-images.githubusercontent.com/30873659/59604462-8e077800-910c-11e9-9f45-9c53b1af1c7f.png)

It seems as if the test report always chooses the second window column regardless of where the code is located in which I started the test. This leads to strange issues where, e.g. the following layout

[code]

switc

[2019-06-17 13:01] jdneo commented on #727
I see...

Honestly, things might become tricky in such a scenario. What I think is a safe fix is that:
- When the report is not opened in the editor, reveal it as the setting specified.
- When the report is opened in the editor, just update the report and do not change its column.

@fwcd what do you think?

[2019-06-17 14:47] fwcd commented on #727
That sounds good!

[2019-06-17 23:28] boyarsky commented on #381
It actually got worse. Now when I click "run test" on JeanneIT, it doesn't show anything in the report or the bottom bar.

Here's a project with just the two classes in it. JeanneTest behaves as expected. JeanneIT does not. Other than the name, the files are the same.
https://github.com/boyarsky/vs-code-test-runner-issue-381

[2019-06-18 03:30] jdneo commented on #728
Hi @deduper,

I tried to import the project into the VS Code, but there are some compile errors in the project
![image](https://user-images.githubusercontent.com/6193897/59651420-4b9d7400-91bc-11e9-818a-9af04dc1ae53.png)

Would you mind to take a look?

[2019-06-18 04:35] jdneo commented on #381
### Root Cause

We are using Junit 5's junit-platform-console to launch the test execution. The CLI has an option to restrict the class name,

see here: https://github.com/junit-team/junit5/blob/master/junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java#L172-L177

### Workaround

You can change the default value by setting a workspace setting for `java.tes

[2019-06-18 05:49] #727 closed

[2019-06-18 05:50] jdneo commented on #727
Fixed in #737. The fix will be released in `0.18.1`

[2019-06-18 09:30] jdneo commented on #710
I found that the same issue could not be repro on Windows, but can only repro on Mac with JDK12. Don't know who should be blamed. The `defaultCharset` will always be `UTF-8` even if I pass `-Dfile.encoding=gbk` into the JVM args. 🙀

Closing it for now since it seems not an issue of the extension. If anyone meets this problem, just feel free to comment and let us know.

Thanks,

[2019-06-18 09:30] #710 closed

[2019-06-19 05:28] jdneo commented on #714
### Root Cause
So far, running only a test of a class with `Parameterized` runner is not supported.

### Workaround
Run from class level

[2019-06-19 05:30] jdneo opened #731 "Multiple '--enable-preview' will be added into JVM args"
### How to repro

1. Using JDK 12
2. Run some tests multiple times

### Root cause
The `Built-in config` is always reused and modified, actually, it should be immutable.

[2019-06-19 08:12] #381 closed

[2019-06-19 08:28] #731 closed

[2019-06-19 14:49] deduper commented on #728
Hi,

Thanks for looking into this. I will see why that's happening and get back to you.

Thanks again.

[2019-06-20 03:29] jdneo commented on #42
## TL;DR

Instead of clearing the results when code changes, I prefer to clear the related results before running the tests.

### Why not clear results when code changes
To clear the results when code changes, we need to listen to the code change at the client side, then let the server side to resolve the changed part and return back to the client side. Actually, things will become much more compl

[2019-06-20 04:26] jdneo commented on #42
Copied from @sappersix in https://github.com/redhat-developer/vscode-java/issues/944#issue-451006185

[2019-06-20 07:54] #42 closed

[2019-06-20 12:48] deduper commented on #728
Hi again,

I forgot that that version of the bitcoinj SNAPSHOT is not their published one. I build that version locally  and use it for testing. I've edited *`build.gradle`* to replace the unpublished version (*`0.16-SNAPSHOT`*) with the published one (*`0.15-SNAPSHOT`*). You should be OK now. Please let me know otherwise?

You gotta make sure you're in [*the `refactor.summary.accuracy` branch*](h

[2019-06-20 13:06] deduper commented on #728
I forgot to mention. It's important to that code's functionality to have a Gradle distribution installed plus a *`GRADLE_USER_HOME`* environment variable set on your machine.

[2019-06-20 13:29] praenubilus commented on #348
Is there a Document for how Test Discover(JUnit5/4) works for invisible project? In my observation, it seems only working for Test classes at top level (workspace folder), but if I put test Class down to some levels, the test runner cannot discover the unit test classes. Can we specify which folder will be used for test discover? Just like the python plugin, you can specify which folder(s) will be

[2019-06-20 19:57] tkleczek opened #735 "Show shell command used to run tests in the output window"
It would be helpful to see the command when debugging configuration issues etc.

[2019-06-21 00:55] jdneo commented on #348
Would you mind to share a sample project with us? I would like to have a try to see what's happening.

From my observation, no it's not working for a symlink. But I suggest raising the question at the [Language Server repo](https://github.com/redhat-developer/vscode-java) to get the correct answer

[2019-06-21 01:35] jdneo commented on #728
@deduper Here is some analysis for this issue

### Root Cause
The Test Runner jar will output test results into `system.out` and the client side will receive the output from `system.out` and parse the result.

In the sample code, `AbiIo::summarize()` will close the steam so that the client side could not receive output anymore.

### Workaround
Honestly, I could not find a good way to workaround th

[2019-06-21 02:24] deduper commented on #728
That is exceptionally well done analysis, @jdneo! Thank you very much. It never would have occurred to me that *`System.out`* would be at the root of the problem.

It was determined during earlier development of *`AbiIo::summarize()`* that closing that *`PrintStream`* solved another issue that was encountered at that time. I will look into whether the feature can be implemented without the need to

[2019-06-21 02:57] jdneo commented on #728
@deduper Yes, it should be caused by the `system.out` thing too.

[2019-06-21 03:23] #374 closed

[2019-06-21 05:08] #735 closed

[2019-06-21 05:10] jdneo commented on #735
Fixed in #736 and will be released in next version. The output could be seen with the `verbose` log level

[2019-06-21 08:20] tkleczek commented on #531
Would be also nice to be able to configure shortcut to re-run last "Run test" command

[2019-06-21 12:26] sapelkinAV commented on #425
Any news guys?)

[2019-06-21 14:56] niccolomineo commented on #658
Hi, I have the same issue. How to sort this out? I put the junit.jar file in a /lib directory at the same level as my proejct's /bin and /src, but to no avail. If that's correct, I understand I have to set up the classpath. But how to do that?

[2019-06-21 15:12] SupinePandora43 commented on #658
@niccolomineo

you need:
workspaceFolder ->
/lib -> junit.jar
/yourClass.java

(yourJavaFile and lib folder in one folder)

[2019-06-21 15:19] niccolomineo commented on #658
Hi, thanks, done that, but I am still getting "The import org.junit cannot be resolve".

[2019-06-22 00:38] praenubilus commented on #348
@jdneo
This is weird. I have two machines: One Ubuntu workstation w/ java11 everything seems working. Another Mac OS laptop, I cannot remember whether the invisible project used to work or not.

But now any invisible projects, the test runner cannot discover the tests. Even after reinstallation of vscode and all plugins. There is no errors raised for unresolved package, so I assume the jars under

[2019-06-22 01:00] jdneo commented on #658
Thank you for the help @SupinePandora43.

@niccolomineo If you still have the classpath problem, that might be related with the Java Language Server. Could you please try to trigger the command `Java: Clean the Java Language Server workspace` > `Restart and delete`.

[2019-06-22 01:10] jdneo commented on #348
Hi @praenubilus,

I took a look at your sample project and find the code is written as:

[code]

The method `myTest()` is not decorated with the `public` modifier, so just add the `public` to it should solve your problem I guess.

[2019-06-22 02:24] praenubilus commented on #348
@jdneo
Thanks for the quick reply. I tried to update the modifier to `public`, but it is still not working(I have cleaned language server workspace and restarted). And I tested the exact same code on _Ubuntu_ machine, it works.

<img width="1033" alt="Screen Shot 2019-06-21 at 22 24 14" src="https://user-images.githubusercontent.com/547418/59958364-56356300-9473-11e9-93c5-31287e16523a.png">

[2019-06-22 02:40] jdneo commented on #348
Hmm... so wired. I tried on my Mac and it works fine 😞
<img width="608" alt="Screen Shot 2019-06-22 at 10 35 15 AM" src="https://user-images.githubusercontent.com/6193897/59958448-7e57ad00-94d9-11e9-8dc1-ad6be950b597.png">

Could you please try to uninstall the following plugins:
- redhat.java
- vscjava.vscode-java-debug
- vscjava.vscode-java-test

Then remove the extension folders under `$home/.v

[2019-06-22 03:14] praenubilus commented on #348
@jdneo
Followed your instructions. I did following steps

- delete plugins(ms java extension pack), all plugins deleted
- delete subfolders under .vscode/exteionsions
- install them back
Boom, test discovered. Code-Lens appeared.

HOWEVER, delete the `public` modifier, everything go away. Change back to public, everything failed. Even in other invisible projects. Then I
- delete the plugins
- inst

[2019-06-22 03:22] jdneo commented on #348
Is the `java.autobuild.enabled` set to `true`?

[2019-06-22 03:35] praenubilus commented on #348
By default, it is checked. After I turned it off, the current working space works every time I delete `public`, add back public.
But for another irrelevant workspace(project), that one has previously being "polluted" w/ the operations I mentioned previously, the test discover and codelens never come back, unless I delete the plugins and install them back.
**And this only happens on my Mac.**

[2019-06-22 04:33] jdneo commented on #348
Have no ideas so far.

If anyone meets the same problem as @praenubilus described, please feel free to let us know. We need to repro it for further investigation.

[2019-06-22 08:11] niccolomineo commented on #658
Thank you jdneo, unfortunately doing so doesn't have any effect.

- Do I need to add anything to my Bash Profile?
- Is the junit.jar filename expected to be in a certain way?
- Do I need to change anything in VSCode's configuration?
- Do I need any other plugin besides Java Test Runner?

Thank you.

[2019-06-22 08:24] SupinePandora43 commented on #658
@niccomineo try to open `battleship` folder as workspace

[2019-06-22 08:36] niccolomineo commented on #658
Ok, now that seems to work, thank you, but I get:

<img width="466" alt="Schermata 2019-06-22 alle 10 35 22" src="https://user-images.githubusercontent.com/5409469/59961553-8dd6f600-94d9-11e9-9ecc-83afbf0fd172.png">

[2019-06-22 08:53] niccolomineo commented on #658
Ok, that seems to get rid of the JUnit-related errors, thank you! Now I get this message, though:

<img width="466" alt="Schermata 2019-06-22 alle 10 35 22" src="https://user-images.githubusercontent.com/5409469/59961553-8dd6f600-94d9-11e9-9ecc-83afbf0fd172.png">

Should also the `.classpath` file be in the workspace?

Also, when I click on the play arrow in Test Explorer nothing happens.

[2019-06-22 09:04] SupinePandora43 commented on #658
try to move all your files/folders in workspace to previous workspace folder

structure like:
workspace
| .vscode
| lib
.. | junit.jar
| BattleCruiser.java
| OceanTest.java
(".." for indent)

[2019-06-22 09:32] niccolomineo commented on #658
Ok, I put the `.vscode` folder in the `src/battleship` folder. The latter is now my workspace folder.

- What should be in `launch.json`?
- Also, I have a `.classpath` and `.project` file where `/bin` and `/src `are. Where should it go and what should be in them?
- what shou
- what module should I import in each `.java` file?

[2019-06-22 12:31] SupinePandora43 commented on #658
@niccolomineo NO, i tryed say to don't use `src/battleship` folder!

[2019-06-22 12:35] niccolomineo commented on #658
Can you please attach a dummy project so that I can see what it should be like? It should be able not only to run tests but also to compile java classes. Thanks.

[2019-06-22 12:37] SupinePandora43 commented on #658
@niccolomineo wait ~5 minutes

[2019-06-22 13:33] SupinePandora43 commented on #658
@niccolomineo
[dummy.zip](https://github.com/microsoft/vscode-java-test/files/3316879/dummy.zip)

[2019-06-22 15:53] niccolomineo commented on #658
Thanks, it works now and I'd suggest to somehow add this dummy project to the docs.
In addition, all those having issues may install Eclipse and create a workspace/project to check how to include all paths properly, specifically in `.classpath`.

[2019-06-22 15:54] niccolomineo commented on #658
Thanks, it works now and I'd suggest to somehow add this dummy project to the docs.
In addition, all those having issues may install Eclipse and create a workspace/project to check how to include all paths properly (particularly in `.classpath`).

[2019-06-22 15:55] niccolomineo commented on #658
Thanks, it works now and I'd suggest to somehow add this dummy project to the docs.
In addition, all those having issues may install Eclipse and create a workspace/project to check how to include all paths properly (particularly those in and related with `.classpath`).

[2019-06-23 11:23] jdneo commented on #658
Thank you @SupinePandora43 again for your great work and contribution! Well done!! 👍

@niccolomineo Thank you for your advice, we will consider it!

[2019-06-23 11:24] jdneo opened #737 "Support Junit 5 Meta-Annotations and Composed Annotations"
Reference: https://junit.org/junit5/docs/current/user-guide/#writing-tests-meta-annotations

[2019-06-24 13:18] efredriksson-modelon commented on #675
I also ran into this problem. It would be nice if the Java Test Runner could use Maven to check what working directory should be used if no `workingDirectory` is given.

[2019-06-24 16:42] praenubilus commented on #348
@jdneo
I can repro the problem sometime even on Linux now. Is there any hidden folder, test runner(especially for test discover) will have cache on local disc? For example, somewhere under ~/.vscode folder?

[2019-06-25 01:09] jdneo commented on #348
@praenubilus there is no cache for the test discovery. Can you just rename your workspace folder to have a try? rename the workspace folder will force the language server to create new workspace storage.

[2019-06-25 04:18] praenubilus commented on #348
@jdneo rename workspace is not working(as I tried). Also to clarify for the linux version, a restart of vscode brings back the codelens and discovered all tests. Here I attached a sample project w/ verbose Java Language Server Trace Log(before and after rename workspace), hope that will be helpful to locate the problem.
[javatest.zip](https://github.com/microsoft/vscode-java-test/files/3323540/jav

[2019-06-25 06:00] #623 closed

[2019-06-25 22:36] rothfels opened #739 "Can't easily cancel test if notification is dismissed"
## Problem

Launching a test with this extension produces a notification with a "Cancel" button:

![image](https://user-images.githubusercontent.com/1095573/60137776-deaa5100-975c-11e9-83b6-ee714493ba24.png)

If the notification is accidentally dismissed (the "x" in the right corner) the test will continue but after that point I've found no way to cancel the test other than to find the test launch

[2019-06-26 01:38] jdneo commented on #739
Hi @rothfels

Another solution is to use the command to cancel the test job:
![image](https://user-images.githubusercontent.com/6193897/60144722-1a452980-97f6-11e9-9a8f-81ed6853fa8c.png)

[2019-06-26 08:48] bsaby opened #740 "Running an outer class test will cause the previous inner class state CodeLens to disappear"
### Environment:
OS: Windows
JDK: 8
### Steps to reproduce
1. Run the inner class test
2. Run the outer class test
### Result
Status CodeLens disappears in 2
![image](https://user-images.githubusercontent.com/22470312/60165418-d4a65200-9831-11e9-997d-ffb23b2dcac6.png)

[2019-06-26 17:12] rothfels commented on #739
@jdneo oooh sorry I didn't notice that and thanks for the pointer! Yeah that's awesome, much better than my workaround. Will start using. 👍

[2019-06-27 00:15] jdneo commented on #739
You are welcome @rothfels.

We should mention it in the documents. Thanks for trying!

Closing the issue since the problem should be solved.

[2019-06-27 00:15] #739 closed

[2019-06-27 00:52] #726 closed

[2019-06-28 22:40] LeonardoJaques opened #742 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-java-test`
- Extension Version: `0.18.0`
- OS Version: `Darwin x64 18.6.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/leonardojaques/vscjava.vscode-java-test-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension

[2019-06-29 05:04] nobody-famous opened #743 "Test output not showing in console"
I'm using VSCode 1.35.1 with Java Test Runner 0.18.1.

I created a project using Maven and the quickstart archetype. When I open the generated AppTest.java unit test, the Run Test|Debug Test links show up and the test runs fine when I click one of those. I added a println() to test the output and it's not showing up in any of the consoles. If I run the test with Maven from the command line, I see

[2019-06-29 05:14] jdneo commented on #742
@LeonardoJaques Could you attach the cpuprofile.txt in the comment

[2019-06-29 05:22] jdneo commented on #743
Hi @nobody-famous, could you please try the following action to see if it could help:
- Make sure you are focus on the output channel.
<img width="878" alt="Screen Shot 2019-06-29 at 1 19 49 PM" src="https://user-images.githubusercontent.com/6193897/60380027-b24e4780-9a70-11e9-98c2-e9b4e05e7eaa.png">

- Make sure the setting `java.test.log.level` is **not** `error`
<img width="659" alt="Screen Sho

[2019-06-29 12:06] nobody-famous commented on #743
Ah, ok. I didn't notice the drop down on the Output panel, it was set to Tasks.

[2019-06-29 12:06] #743 closed

[2019-07-12 16:23] bcsrepo commented on #470
@jdneo - could you put this ^^ final solution info (or a link to your comment) into the README? It took me quite a bit of searching to find out that code lens was using my Gradle sourceSets, and more experimentation to find out that my additional test source sets needed to have
`test {}`
around them in order for them to get the code lens "Run Test | Debug Test" shortcuts added.
Thanks!

[2019-07-13 05:14] #742 closed

[2019-07-14 06:56] jdneo commented on #470
@bcsrepo Sure, that's a good idea. I'll do it.

[2019-07-15 21:50] dampcake commented on #470
@jdneo I have tried setting `<testSourceDirectory/>` in multiple different Maven projects and it doesn't seem to make a difference. It's always empty unless I manually edit the .classpath file.

Note that I am using the default `src/test/java` paths in all of these projects.

[2019-07-16 01:23] jdneo commented on #470
@dampcake It would be helpful if you could share a sample project to repro the issue. This would be helpful for us to investigate what is going on?

[2019-07-16 01:29] dampcake commented on #470
https://github.com/dampcake/bencode (small single module Maven sample).
https://github.com/dampcake/incubator-druid/tree/fix-eclipse (large multi-module Maven).

I have tried adding `<testSourceDirectory/>` in the parent pom.xml as well as in each individual child pom.xml for multi module projects. After adding I have even tried cleaning the Java workspace and restarting. Nothing I do outside of m

[2019-07-16 02:20] GeraldNDA commented on #718
After thinking about this, the Java Test Runner seems to have access to the class tree because it is able to build the explorer tree. It'd be useful to instead mark up this tree with whether or not this class has tests through the tree (and whether or not it can be run if it's abstract). Not sure if this is possible to translate codewise. If you want, I can look deeper in the code w/ some help

[2019-07-16 02:51] jdneo commented on #470
@dampcake I tried the first one and it works on my side. Here are some places that you may take a look:
- Is the auto build turned on?
   ![image](https://user-images.githubusercontent.com/6193897/61262276-50ebdf80-a7b7-11e9-9b32-7390e82d6f6b.png)
- Try to trigger compilation task before running the test to see if it could help. It's `F1` > `Java: Force Java Compilation` > `Full`
- Is there any ou

[2019-07-16 02:55] jdneo commented on #718
Thank you for the suggestion @GeraldNDA.

Yes, since the Test Runner is an extension of the Java Language Server, it has the knowledge of the classes actually. It would be great if you are willing to help. Any contributions are welcome!

[2019-07-16 05:27] dampcake commented on #470
Still not able to enable it:
- Auto build is turned on.
- Triggering a full build made no difference.
- There is no output in the Java Test Runner output channel.

More info:
Java Test Runner version: 0.18.1
VSCode version: 1.36.1
OS: macOS 10.14.5
Java version: 1.8.0_201
Maven version: 3.6.0

Other things tried:
- running `git clean -fdX` and opening to regenerate everything
- cleaning the java s

[2019-07-16 05:40] jdneo commented on #470
Hmmm, tried on Mac as well.
<img width="847" alt="Screen Shot 2019-07-16 at 1 38 25 PM" src="https://user-images.githubusercontent.com/6193897/61268761-10985b80-a7cf-11e9-8867-416009d8e251.png">

So far I've no idea what is going on. Would you mind to share the `.classpath` file that generated by the Java Language Server? You can find it at the root of your project.

[2019-07-16 05:56] dampcake commented on #470
Here is the generated `.classpath` file:

[code]

[2019-07-16 06:01] jdneo commented on #470
One thing I observed is that test scope is missing in the generated file. Here is mine:
[code]

[2019-07-16 06:08] dampcake commented on #470
Yes and if added manually like in https://github.com/microsoft/vscode-java-test/issues/470#issuecomment-444681714 it works, but it will not generate it with it in there. Was yours automatically generated like that?

[2019-07-16 06:14] jdneo commented on #470
Yes it's automatically generated. Wired....

[2019-07-18 06:13] beyond369 opened #747 "Please support tomcat servers for the development environment of Spring MVC.Spring MVC in China accounts for more than 70% #379"
Please support tomcat servers for the development environment of Spring MVC.Spring MVC in China accounts for more than 70% #379

[2019-07-18 06:18] beyond369 opened #748 "Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379"
Ask Microsoft to develop a Tomcat server support plug-in, Please support tomcat servers for the development environment of Spring MVC. Spring MVC in China accounts for more than 70% #379

[2019-07-18 07:33] jdneo commented on #747
Out of scope. Original isue: redhat-developer/vscode-server-connector#379

[2019-07-18 07:33] #747 closed

[2019-07-18 07:33] jdneo commented on #748
Out of scope. Original isue: redhat-developer/vscode-server-connector#379

[2019-07-18 07:33] #748 closed

[2019-07-19 06:52] bsaby opened #749 "Cannot expand folder in test explorer with property cannot be null error"
### Environment:
1. OS: Windows
2. JDK: 8
3. Extension:
[code]

### Steps to reproduce
1. Open a project in VSCode
2. Open Test Explorer
3. Expand workspace folder

### Result
An error occurs and cannot expand the project.
![image](https://user-images.githubusercontent.com/22470312/61515213-9a952e00-aa34-11e9-9c43-b668da11fe08.png)

[2019-07-19 12:41] romainjacquet commented on #749
Same problem on my computer with a slightly different environment:

1. OS: CentOS 7.4
2. JDK 1.8.0_171
Extension (same as @bsaby ):
 - Language Support for Java(TM) by Red Hat： 0.47.0
 - Debugger for Java: 0.20.0
 - Java Test Runner: 0.18.1

[2019-07-19 14:46] chriszwickerocteris opened #750 "Unmet Assumptions Pass Test - Should Skip"
JUnit's Assume.* can be used to skip tests when certain assumptions are not met. Unfortunately, this extension marks tests with unmet assumptions as passed instead of skipped.

Note: even better than just setting tests with unmet assumptions to skipped would be to mark them explicitly, e.g. as "Unfit" and showing them with a yellow or grey background.

P.S. Skipped / ignored tests don't show up in

[2019-07-19 14:46] luisbaldissera commented on #749
Same here:

OS: Ubuntu 19.04
OpenJDK 11.0.3

Extension (same as @bsaby )

[2019-07-21 18:32] mmcmm opened #751 "Property must not be null: range"
I can't see any tests in the test explorer and when I click refresh I'm getting this error message. `Property must not be null: range`. I'm using Spring Boot and JUnit5.

Thanks

[2019-07-22 01:56] jdneo commented on #749
Hi @all,

I'm fixing this issue right now. Hopefully we can release the fix very soon. Sorry for the inconvenience.

Thanks,

[2019-07-22 01:57] jdneo commented on #751
Thanks for reporting. We already have the issue #749 for tracking it. So I'm closing this one.

[2019-07-22 01:57] #751 closed

[2019-07-22 01:57] #749 closed

[2019-07-22 02:20] jdneo opened #754 "Skipped tests can be toggled out in the report"
_From @chriszwickerocteris in https://github.com/microsoft/vscode-java-test/issues/750#issue-470363999:_

[2019-07-22 02:21] jdneo commented on #750
Thanks for the suggestion. BTW, I separate the issue into two: https://github.com/microsoft/vscode-java-test/issues/754

[2019-07-22 07:27] bsaby opened #755 "The extension doesn't work when switching versions"
### Environment:
1. OS: Windows
2. JDK: 8/12
3. Java Extensions:
[code]

### Steps to reproduce
1. Install extension 0.18.1
2. Open a java project in Vscode and activate test runner extension
3. Install extension 0.18.2
4. Reload then expand folder in the test explorer

### Result
An error occurs and the code lens also doesn't work.
![image](https://user-images.githubusercontent.com/22470312/61613

[2019-07-24 13:55] katzelad opened #757 "Ignored tests cannot be run individually"
When manually executing (using CodeLens) a `@Test` method with `@Ignore` in IntelliJ the test is still executed, which is useful in order to run tests which should not be executed by the CI service.
With this extension, the test is ignored and nothing happens.
I think the test should still run, as this is the most intuitive behavior for the per-method CodeLens.
Thanks

[2019-07-24 17:09] stanlick opened #758 "Adding new java package under test/src doesn't reveal tests in Test Explorer"
I started with a Spring Boot starter and the included tests worked fine.  I added a new package and the tests never showed up under the test explorer.  Strange, the folder name of the new source folder (package) was a different color as well.  If I add new tests to the original folder, it all works great

[2019-07-25 01:40] jdneo commented on #757
Hi @katzelad,

This might be related with https://github.com/microsoft/vscode-java-test/issues/672. I'll move your comment there as a different opinion for open discussion.

Thank you!

[2019-07-25 01:40] #757 closed

[2019-07-25 01:41] jdneo commented on #672
_Comments from @katzelad in https://github.com/microsoft/vscode-java-test/issues/757:_

When manually executing (using CodeLens) a @Test method with @Ignore in IntelliJ the test is still executed, which is useful in order to run tests which should not be executed by the CI service.
With this extension, the test is ignored and nothing happens.
I think the test should still run, as this is the most

[2019-07-25 01:42] jdneo commented on #672
So we now have two choices here:

- Do not show CodeLens for Disabled/Ignored tests
- Show CodeLens for Disabled/Ignored tests and make them runnable.

[2019-07-25 01:58] jdneo commented on #758
Hi @stanlick,

I tried on my side but not able to repro the problem. Some questions might need your help to clarify.
- Are you creating new package under `test/src`, or do you mean `src/test/java`.
- Is it possible for you to share your sample project to let us help investigate the problem?

Thanks.

[2019-07-25 13:44] stanlick commented on #758
Project is [here](https://github.com/stanlick/JavaGently). It started off as a Spring project where I added a new folder (path segment) under test/java/com/example/demo named **weird**.  I then added a **MiscTests**.java there that does not appear under Test Explorer.

Peace,
Scott

[2019-07-26 07:40] jdneo commented on #758
Thank you @stanlick

I can repro it now. Let me investigate the root cause. For now, a workaround would be reload the VS Code to make it appear in the explorer. Sorry for the inconvenience.

[2019-07-31 14:08] tthorntone commented on #470
@jdneo Thanks for working this through with everyone! I'm experiencing another weird issue, related to this--

My .classpath does not by default generate the <attribute name="test" value="true"/> for my test sources, and my configuration is a bit complicated, so instead of a re-work I implemented this into my build.gradle:
`eclipse.classpath.file.whenMerged {
	def testSources = entries.findAll {el

[2019-07-31 15:51] sayonsur commented on #387
I would like to help although i am new to VScode extensions and typescript.
Looking at jacoco, can we do this ?

- code coverage can be enabled from json config.
- prerequisite can be jacoco dependency.
- whenever a UT runs we trigger jacoco command to generate report.
- the output is xml , it can be shown in UI.

[2019-08-01 01:23] jdneo commented on #387
Hi @sayonsur,

Thank you for your enthusiasm for this feature. Yes, all kind of contribution is welcome! Let me spend some time to do some investigation for this issue. I'll get back to you when I get some ideas.

Thanks.

[2019-08-01 01:29] jdneo commented on #470
@dampcake is your problem get resolved?

If the test attribute is still not auto generated in your `.classpath`, I suggest to file an issue in the Language Server repo: https://github.com/eclipse/eclipse.jdt.ls

[2019-08-01 01:36] jdneo opened #759 "Failed to resolve test scope"
_From @@tthorntone in https://github.com/microsoft/vscode-java-test/issues/470:_

@jdneo Thanks for working this through with everyone! I'm experiencing another weird issue, related to this--

My .classpath does not by default generate the <attribute name="test" value="true"/> for my test sources, and my configuration is a bit complicated, so instead of a re-work I implemented this into my build.g

[2019-08-01 01:37] jdneo commented on #470
Thank you @tthorntone for reporting this. I find a potential bug in the implementation. Let's discuss it in @759

[2019-08-01 01:43] jdneo commented on #759
@tthorntone the implementation is here: https://github.com/microsoft/vscode-java-test/blob/7ff7a3243c616634d218f79aa231810412a2fe7d/java-extension/com.microsoft.java.test.plugin/src/main/java/com/microsoft/java/test/plugin/util/ProjectTestUtils.java#L120-L135

It seems that there are two potential issues there:
- It should keep searching instead of just returning in line 128.
- We only consider `t

[2019-08-01 03:21] #737 closed

[2019-08-02 08:10] jdneo commented on #387
Hi @sayonsur, I have some questions:

Do you mean that we will embedded a jacoco jar in the extension?

Does that mean that we will parse the xml and show it in the VS Code webview?

[2019-08-02 11:43] pyramid-johng commented on #641
i found that if i had my test suite in the "java.test.config" args array, i got the double-run behavior when selecting a specific test/class via the code lens links.  after i removed it from my `settings.json` that behavior went "back to normal".

however, in the test explorer, there is still this behavior, because the test runner runs the whole suite when it gets to that class.  for example if yo

[2019-08-02 13:20] sayonsur commented on #387
Hi @jdneo,

I believe it can be achieved in both ways. You can embed the Jacobo jar and programmatically generate code coverage whenever a test is run.
Or we can rely on the jar being present in system and have a configurable path to use it.

It generates a xml . So it can be easily parsed for a web view report. In fact there are many vscode plugins which already parses xml and show report or colo

[2019-08-02 13:36] jdneo commented on #641
Hi @pyramid-johng,

Thank you for the feedback. Based on your comments, besides the `@TestSuite` issue, another request is to make the test explorer only show items which are really test related, right?

[2019-08-02 17:12] tthorntone commented on #759
@jdneo sorry for my delayed response-- I tested this change and it worked! Thank you so much.

[2019-08-03 12:21] jdneo commented on #759
@tthorntone Glad to know the problem is solved. Thank you for the information!

[2019-08-05 01:32] jdneo commented on #387
The embedded solution looks better since it could avoid breaking changes of the `jacoco`. But one thing we need to take care is about its license.

BTW, would you like to contribute for this feature?

[2019-08-05 15:57] DuckNrOne opened #764 "Missing compatibility with Junit 5.4.0+"
Hey,

maybe you can help me. I'm trying to use feature @Order() from the Junit version 5.4.1. But if I want to run the test, nothing happens. In the java, test window stands that 0 tests appear.

Can you help me?

greetz
DuckNr.1

[2019-08-05 18:04] dampcake commented on #470
@jdneo it's still not working on my macbook. I just tried opening a couple projects today in Ubuntu and it's working fine there. I will try to dig in later this week and see if I can figure out what's going on.

[2019-08-05 18:38] ThadHouse opened #765 "Why was launch.test.json removed?"
I have an extension that provides jni based java builds to users. Because of this, in order to run tests, I must set JNI paths correctly. I didn't implement it for our 2019 product, but I wanted to for our 2020 product. However, I'm seeing now that using `launch.test.json` was removed, and replaced with definitions in `settings.json`. However this is a huge pain, since our projects commit settings

[2019-08-06 01:24] jdneo commented on #765
@ThadHouse Could you explain more about why full paths are needed?

[2019-08-06 01:33] ThadHouse commented on #765
Because of the way our gradle build is set up and how gradle tranforms work, the native libraries are actually not in the workspace, but are in the gradle cache folder in the users home directory. So without the java.library.path being set to that extraction directory, our tests cannot run. And we can't generate a relative path from the workspace to that, it doesn't seem to work.

[2019-08-06 07:12] jdneo commented on #764
Hi @DuckNrOne,

Thank you for reporting this. I just tested on my side, but failed to repro. See:

![demo](https://user-images.githubusercontent.com/6193897/62518541-699e6100-b85c-11e9-9c11-6fe399083397.gif)

So I guess it might not an issue related with `@order` but some other problems there. Is it possible for you to share a sample project to us to repro it? Then I can investigate deeper.

Thank

[2019-08-06 07:24] jdneo commented on #765
I see. The reason that we stop using `launch.test.json` is that it makes users confused. Many of users think that the `launch.test.json` is the VS Code official file, which is not correct. As an extension, generate files inside `.vscode` is out of the extension's scope and should be stopped.

Actually there is an upstream issue related with this: https://github.com/microsoft/vscode/issues/15909. A

[2019-08-06 10:32] DuckNrOne commented on #764
Thanks for your quick help.

 I'm kind of confused, but oke :D

I have briefly made the repository public, so that you can have a look.
[Here ](https://github.com/DuckNrOne/TimeTable/blob/master/src/test/java/czg/antony/timetable/UtilClasses/TestDay.java) is the file.

[2019-08-06 11:53] pyramid-johng commented on #641
thanks for your reply.  your assessment is correct:  i think it would provide a less-confusing UX if the Test Explorer could confine its display of classes using one of the alternatives i described in my previous comment.

[2019-08-06 12:33] jdneo commented on #764
Yes I can repro now. actually the test cases could not run in IntelliJ and Eclipse either:

<img width="1073" alt="Screen Shot 2019-08-06 at 8 29 09 PM" src="https://user-images.githubusercontent.com/6193897/62539898-e0e9ea00-b888-11e9-93c5-c9d284b58077.png">

<img width="744" alt="Screen Shot 2019-08-06 at 8 29 53 PM" src="https://user-images.githubusercontent.com/6193897/62539936-f7904100-b888-1

[2019-08-06 13:26] DuckNrOne commented on #764
Thank you very much!

[2019-08-06 20:00] AdsonEsteves opened #767 "Wrong directory when running JavaCompiler/Executor. Can't find project packages."
Our project is an IDE in our main language (portuguese).
It was setup as a NetBeans project, but I' trying to run it as a vscode project also.
Everything worked fine until running some specific tests that uses **JavaCompiler** or **Executor** to compile some java files.
They apparently can't find the packages that are necessary to run the file, even though they are located in the workspace.
![imag

[2019-08-06 21:25] psybers commented on #672
Third option?

* Show CodeLens for Disabled/Ignored tests, but don't have it include the 'status' of the test unless that test was manually run (in other words the Lens would show `Run Test | Debug Test` only)

In other words, right now it shows `?` for status and that affects the overall class's test status as well.

The default behavior could be to ignore them when running all tests in the class

[2019-08-06 23:28] psybers opened #768 "Test Explorer should only show classes with tests"
This might be an artifact of my project using Ant, but right now the Test Explorer shows every class in my system - even ones that do not contain any tests at all.

FEATURE REQUEST: What would be preferred is if the explorer only lists classes containing at least 1 test and filters out the non-test classes.

[2019-08-07 01:26] jdneo commented on #641
Thanks @pyramid-johng. Just found that there is a new request of this #768. Let's track this issue there.

[2019-08-07 01:31] jdneo commented on #764
@DuckNrOne

I'm closing this issue since it is resolved.

One thing I missed in the above comment is that you can see test runner output in it's output channel.

![image](https://user-images.githubusercontent.com/6193897/62587804-17aa1980-b8f6-11e9-80bb-89b11a0fbede.png)

The log level can be specified with `java.test.log.level`.

[2019-08-07 01:31] #764 closed

[2019-08-07 01:37] jdneo commented on #768
Thank you @psybers for the feedback.

A background of this is that, In order to get all the test packages/classes, the extension needs to search deeply to the method level to know that if the class is really test related. This might take a long time especially in large projects. So the current implementation is just kind of lazy-load.

But I agree with your that if the explorer can only show the t

[2019-08-07 01:39] jdneo commented on #672
@psybers yes, that sounds better!

[2019-08-07 01:54] jdneo commented on #767
Hi @AdsonEsteves,

I think I need more information to understand the problem. May I ask if it is possible for you to share a sample project to repro this issue? I can use it to investigate where is the gap.

[2019-08-08 03:20] ZhengJun003 opened #769 "The changelog has the wrong version"
**Environment:**
OS: Win10
JDK: 8
Java Test Runner Extension: 0.19.0

**Result:**
![image](https://user-images.githubusercontent.com/41051257/62672590-eb61cc00-b9cd-11e9-947c-d9d4068ade2d.png)

[2019-08-08 10:57] sayonsur commented on #387
Hi @jdneo,
I don't have expertise on TS. Although I would love to give it a shot. Is there a timeline ? I might need more time , to understand both the code base and embed jacoco to achieve this.

[2019-08-08 11:29] jdneo commented on #387
Hi @sayonsur, there is no timeline. Just give it a shot whenever you want. If you meet any problem, just feel free to let me know.

[2019-08-08 11:30] jdneo commented on #769
Thanks. Have updated here: https://github.com/microsoft/vscode-java-test/pull/766

[2019-08-08 11:30] #769 closed

[2019-08-09 01:33] jdneo opened #772 "Test report show the test engine as a class and have a null result by mistake."
With the following code:

[code]

will get

<img width="956" alt="Screen Shot 2019-08-09 at 9 30 29 AM" src="https://user-images.githubusercontent.com/6193897/62747825-b4042580-ba88-11e9-85c3-4b82b47110ab.png">

[2019-08-09 01:58] #772 closed

[2019-08-09 06:01] sayonsur commented on #387
Sure thing. I will give it a shot and reach out to you in case i need any guidance on the Test project.

[2019-08-09 07:15] ZhengJun003 opened #773 "Cannot run meta annotation tests from test explorer"
**Environment:**
OS: Win10
JDK: 8/12
Java Test Runner Extension: 0.19.0

**Repro steps:**

1. Git clone https://github.com/bsaby/junit5-samples/tree/testrunner/junit5-jupiter-starter-maven
2. Run the MyFastTestIT java file

**Result:**
Cannot run meta annotation tests from test explorer, works from CodeLens.
![image](https://user-images.githubusercontent.com/41051257/62761094-4839b100-bab8-11e9-9c

[2019-08-09 19:39] AdsonEsteves commented on #767
Sorry for the late reply.
It's a complex project, so I've been trying to reduce to you, but since it's an IDE, I couldn't do much.
Here I have a zip with the project: https://drive.google.com/open?id=1VE4W3OTF-q-ogb7Klgbyxa88sG7jsbIX

It has a lot of Portuguese words used on it, so it might be difficult to understand, so I will try to explain.
It uses 3 modules, Core, IDE and Console.
The problem

[2019-08-10 16:55] 65350 opened #774 "https://github.com/Microsoft/vscode-java-test/issues/83"

[2019-08-12 01:36] jdneo commented on #774
Hi @65350,

I'm closing this issue since I'm not sure what kind of action should I take. If you want to know why the status bar item has the same color for different test result. See this issue for the reason: #467

[2019-08-12 01:36] #774 closed

[2019-08-12 23:06] JasonHenriksen commented on #531
I'm considering writing a PR to do exactly this.  Would the Test Runner team be open to a PR like that?

[2019-08-13 01:24] jdneo commented on #531
@JasonHenriksen All the contributions are welcome! Please go ahead!

[2019-08-13 07:10] lkachun9129 opened #775 "NoClassDefFoundError when running test in project with classifiers"
VSCode version: 1.37.0
Java Test Runner version: 0.19.0

The workspace contains two projects, i.e. A and B. Project A depends on Project B.

When executing an unit test of Project A, the test failed due to a missing Java class definition from Project B.

[code]

When browsing the dependency of Project A using `Java Dependency Viewer`, Project B is missing from Maven Dependencies.

If I remove Proj

[2019-08-13 07:58] jdneo commented on #775
Hi @lkachun9129,

Would you mind to provide a sample project for this issue? With that project we can take a look at this issue.

[2019-08-13 08:38] jdneo opened #776 "Cannot see tests in the project"
Hey, I am trying to view the tests in the "Test" , but I see no tests, though I have few jUnit and the sample project from [discussion](https://github.com/microsoft/vscode-java-test/files/3323540/javatest.zip).

I have VSCode July V 1.37, "Java Test Runner" extension installed. Do you have any reference, using which I can configure my workspace?

_Originally posted by @maddy302 in https://github.c

[2019-08-13 08:41] jdneo commented on #776
Hi @maddy302,

I tried your sample project from my side and it can work properly.

![image](https://user-images.githubusercontent.com/6193897/62927398-0a56c880-bde9-11e9-8ea6-d57e424a0e5a.png)

Is there any output in the `Java Test Runner` output channel? Or try to reload the VS Code?

[2019-08-13 09:43] lkachun9129 commented on #775
I tried to reproduce the case by creating two simple maven projects but in vain.

Is there any log file I can provide for the investigation?

[2019-08-13 10:06] jdneo commented on #775
Yes there are some places to get the log. See: https://github.com/redhat-developer/vscode-java/wiki/Troubleshooting

Besides, based on your comments: `When browsing the dependency of Project A using Java Dependency Viewer, Project B is missing from Maven Dependencies.`

I guess this might be an issue related with the Language Server.

[2019-08-13 10:30] lkachun9129 commented on #775
I will get you the log tomorrow.

The reason Project B is missing from the dependency viewer might be due to classes are directly loaded from the workspace instead of JAR file from the maven repository.

[2019-08-13 19:43] sanketjpatel opened #777 "Does not run tests"
Issue Type: <b>Bug</b>

I do not get test output when clicking on "Run Tests"

Extension version: 0.19.0
VS Code version: Code 1.37.0 (036a6b1d3ac84e5ca96a17a44e63a87971f8fcc8, 2019-08-08T02:33:50.993Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz (8 x 2904)|
|GPU Status|2d_canvas: enabled<br

[2019-08-14 01:22] lkachun9129 commented on #775
Good morning.

I have checked the log of Language Server and discovered the following

[code]

Maybe the Language Server failed to include classes of workspace dependencies into the class path.

[2019-08-14 01:26] jdneo commented on #777
Hi @sanketjpatel,

Could you provide a sample project to repro this issue? I can use that to investigate further.

[2019-08-14 01:28] lkachun9129 commented on #775
I check the same log from the two sample projects, class path is constructed correctly.

[code]

I think I should pass this issue to Language Server for their follow-up.

[2019-08-14 01:30] jdneo commented on #775
I see. Basically the test runner will ask Language Server for the classpath (as you can see in the log). Something wrong must happen inside that, which also cause the `Java Dependency Viewer` cannot show the project B either.

@lkachun9129 it will still be useful if there is a sample project which can repro this issue. Then I can go deep to see what's happening inside the Language Server. I'll try

[2019-08-14 01:32] jdneo commented on #775
Sorry, could you explain more about:
`I check the same log from the two sample projects, class path is constructed correctly`?

[2019-08-14 01:57] lkachun9129 commented on #775
I tried to create two simple maven projects to replicate the issue. However, the class path issue could not be found on the two simple projects.

The first log comes from my original projects, which is currently affected by the class path issue.

The second log comes from the two simple projects, which is not affected by the class path issue.

[2019-08-14 02:01] jdneo commented on #775
I see. Are all the dependency scope of the dependencies the same from the origin project and the sample project?

[2019-08-14 02:08] lkachun9129 commented on #775
Yes.

[2019-08-14 02:34] lkachun9129 commented on #775
After checking once again, I can finally reproduce the issue. The issue happens when the classifier is marked as `classes`

[code]

Sample projects attached below:
[sample-projects.zip](https://github.com/microsoft/vscode-java-test/files/3499595/sample-projects.zip)

[2019-08-14 05:20] tedddybear commented on #435
Is this issue fixed? encounter the same issue in 0.19.0.

[2019-08-14 07:54] jdneo commented on #775
Why the `<classifier>classes</classifier>` is needed here? If you open the sample project in Eclipse and run the test in `project-a`, you will get the same error.

![image](https://user-images.githubusercontent.com/6193897/63003908-d0022f80-beab-11e9-903e-d64e5537c24d.png)

[2019-08-14 08:40] lkachun9129 commented on #775
Project A and Project B are separate web applications. That's why they are packed as a WAR instead of JAR.

Since Project A requires some services defined in Project B, only classes of Project B are included in Project A and hence Project B is marked as `classes` only in the classifier.

[2019-08-14 09:11] jdneo commented on #775
I see. But from the sample project, if I run `mvn install` for `project-b`, it won't generate `project-b-1.0.0-classes.jar` in my local maven repo. Please correct me if I have any misunderstanding here.

[2019-08-14 10:09] lkachun9129 commented on #775
Oh I missed the `attachClasses` config in the Maven WAR plugin.

[code]

However, this missing config is not the cause of the problem.

Here is the updated sample project:
[sample-projects-v2.zip](https://github.com/microsoft/vscode-java-test/files/3500875/sample-projects-v2.zip)

[2019-08-15 11:04] pyramid-johng commented on #641
Awesome, tyvm for your attention!

[2019-08-15 15:10] tger opened #778 "Stack traces not clickable"
When an exception is thrown during tests I would like to be able to click on a line of it to jump to the corresponding location in the code. Since file and line numbers are given in the trace it should be straightforward to implement.

[2019-08-16 01:34] jdneo commented on #778
@tger Do you mean click the location in the test report and navigate to the source code?

[2019-08-16 12:20] tger commented on #778
Yes

fre 16 aug. 2019 kl. 03:34 skrev Sheng Chen <notifications@github.com>:

--
-Tobias

[2019-08-16 12:28] jdneo commented on #778
Hi @tger, we have another issue with just the same request as yours. Let's track it there #384.

Thank you.

[2019-08-16 12:28] #778 closed

[2019-08-16 13:24] sayonsur commented on #387
@jdneo,

Is there any documentation for the Java test runner ? I don't see any associated test project.
What parameters to pass to debug and check the flow.
Could you please help me out.

Thanks,
Sayon

[2019-08-17 00:45] jdneo commented on #387
Hi @sayonsur,

Please refer to this page: https://github.com/microsoft/vscode-java-test/blob/master/CONTRIBUTING.md

If you find anything missing, please let me know.

Thanks.

[2019-08-18 01:20] iskandarumidov opened #779 "Live Share Support"
I noticed that your VS Code extension does not support Live Share, so basically the guest cannot see host's tests in the test explorer window.

When using Live Share with your test explorer, this is how the **host's** test explorer window looks like:
![image_2019-08-17_21-01-55](https://user-images.githubusercontent.com/30881757/63218851-545de800-c122-11e9-8a35-b119f02ba0e7.png)

And this is how t

[2019-08-19 06:19] jdneo commented on #775
Yes I can repro it now. Just curious that have you run the tests in other platforms, do they work as expect?

[2019-08-19 06:21] jdneo commented on #779
Hi @iskandarumidov,

Thank you for reporting the issue. Let me do some investigation to figure out what's missing to enable the Live Share.

If you find anything, please also feel free to let us know.

Thanks.

[2019-08-19 06:58] iskandarumidov commented on #779
Hello @jdneo,
As far as I understand from the source code, the extension does not use VSLS (Visual Studio Live Share) at all at this point. I'm guessing you'd have to get your extension on the allow list first (see https://github.com/MicrosoftDocs/live-share/issues/736#issuecomment-509501912)

And then you'd have to add functionality to your code to send over the results of the test runs over the

[2019-08-19 07:37] jdneo commented on #779
Thank you @iskandarumidov for the information.

Live Share is an interesting area that we are looking at. I suggest that we can wait for a while to see if there are more users echo for this request, then we can put this fancy story into our plan.

[2019-08-19 07:52] lkachun9129 commented on #775
Tried on both RedHat Linux and Windows, both failed to run.

[2019-08-19 08:10] jdneo commented on #775
Ah, I mean, other IDEs?

[2019-08-19 10:12] gerdint opened #780 "Tests run should be queued"
If one attempts to start a test while the test runner is already in the process of running tests a notice indicating that
When requesting a test to be run there is a message saying "A test session is currently running. Please wait until it finishes." It would be more useful if the tests instead were queued and then run once the first tests are finished.

[2019-08-19 16:20] lkachun9129 commented on #775
No

[2019-08-20 01:16] jdneo commented on #775
Ok, let's see if we can solve it from upstream first.

[2019-08-20 01:50] StefanoDeVuono opened #781 "Need to rebuild before tests"
When I add imports or change associated files, my tests will often fail until I run `mvn test-compile` in a terminal.

Is there a way to make this a prelaunch task to running my tests?

[2019-08-20 07:53] jdneo commented on #781
As a workaround, you can turn on `java.autobuild.enabled`.

<img width="304" alt="Screen Shot 2019-08-20 at 3 51 38 PM" src="https://user-images.githubusercontent.com/6193897/63328264-704fcc80-c362-11e9-823d-9b9bfcd8a256.png">

This will make sure your project will be incrementally built after each save event.

I'll send out a PR later to provide a setting whether to force build the workspace befo