[2017-11-28 09:19] bsaby opened #1 "Can't save test result file in vscode"
##### Environment
- Operating System: win10 x64
- JDK version: 1.18.0_152 x64
- Visual Studio Code version: 1.18.1 x64
- Java test extension version: #22

![image](https://user-images.githubusercontent.com/22470312/33311542-0b692070-d460-11e7-9a13-0a167ec76993.png)

[2017-11-28 10:17] bsaby opened #2 "The method test result content should be displayed wrapped"
##### Environment

- Operating System: win10 x64
- JDK version: 1.18.0_152 x64
- Visual Studio Code version: 1.18.1 x64
- Java test extension version: #22

Current result:
![image](https://user-images.githubusercontent.com/22470312/33313828-bf7688e0-d466-11e7-852e-117a242b4831.png)

[2017-11-29 06:11] sallyur opened #3 "No test found to run when run test test project color-checker."
Environment

- Operating System: mac
- JDK version: 1.18.0_144
- Visual Studio Code version: 1.18.1
- Java test extension version: build25

Current result:
![image](https://user-images.githubusercontent.com/28860891/33360353-540f4120-d50e-11e7-8ad8-77a21f2680fc.png)

[2017-11-30 09:52] bsaby commented on #1
The file can be saved now.
But an error occurs when i click status icon after saving test result file.
![image](https://user-images.githubusercontent.com/22470312/33424517-07e2a94c-d5f7-11e7-85e2-2dc0e81085f2.png)

[2017-11-30 11:18] bsaby opened #6 "Debug Console will open when first debug test a project"
Result:
![image](https://user-images.githubusercontent.com/22470312/33428270-1d957f56-d603-11e7-8dfa-f12df8f19656.png)

Expect:
![image](https://user-images.githubusercontent.com/22470312/33428289-3102fee2-d603-11e7-9b47-a3a63f4e859b.png)

[2017-11-30 11:18] bsaby opened #7 "Should always save class test result file in multiple files with the same name?"
Sample:
Method test result file:
![image](https://user-images.githubusercontent.com/22470312/33428004-3c4209ca-d602-11e7-8977-49529574f28f.png)
Class test result file:
![image](https://user-images.githubusercontent.com/22470312/33428016-48bd1578-d602-11e7-8dd0-1b7d5cd86d7f.png)

both of them have same file name, when i save files of them at the same time, Is it reasonable to always save the class

[2017-11-30 12:03] akaroml opened #10 "0.1.0 Endgame"
# Build
- [x] 11/30 - Instrument production AI key - @testforstephen
([Jenkins RC build job](https://vscjavaci.cloudapp.net/job/vscode-java-test.vsix-withSign/))
- [x] 11/30 - Bump version to 0.1.0 - @testforstephen
(PR #16)
- [x] 11/30 - Add change log for 0.1.0 #15 - @yaohaizh
- [x] 11/30 - Signed RC Bits - @testforstephen
([#2](https://vscjavaci.cloudapp.net/job/vscode-java-test.vsix-withSign/2

[2017-11-30 19:50] mickaelistria opened #14 "[Question] Relationship with debug protocol or other protocol?"
Are the test messages (commands, results) conform to any existing protocol that could be reused in other tools? Is this an extension of the debug-server protocol with additional message to report test progress and results?

[2017-12-01 03:26] testforstephen opened #17 "[Mac] Couldn't find Java home..."
After install `Java Test Runner` extension, vscode pop up a message box saying `Couldn't find Java home...`.
But vscode-java-debug and jdt.ls extensions can work successfully.

[2017-12-01 03:42] testforstephen opened #18 "Running the extension on the legacy junit 3.8.1, nothing happens"
When user opens a legacy test project that is using junit 3.8.1, no any `Run Test` and `Debug Test` codelens are displayed. It's better to show some message to guide user that the extension doesn't support the legacy junit project.

[2017-12-01 04:04] testforstephen opened #20 "[Mac] debug icon is not clear on black theme"
color is not right for black theme:
<img width="189" alt="screen shot 2017-12-01 at 12 02 07 pm" src="https://user-images.githubusercontent.com/14052197/33467460-947a90e8-d68f-11e7-8610-06e467fba0e1.png">

small:
<img width="196" alt="screen shot 2017-12-01 at 12 03 20 pm" src="https://user-images.githubusercontent.com/14052197/33467477-ad424756-d68f-11e7-900a-bba0e7893fff.png">

[2017-12-01 04:18] testforstephen opened #21 "[Mac] Click Debug Test multiple times will launch duplicated test servers"
Run `Color checker` test project, if click `Debug Test` multiple times at the same location, it will launch duplicated test servers.

![screen shot 2017-12-01 at 12 10 49 pm](https://user-images.githubusercontent.com/14052197/33467730-ab06e94a-d691-11e7-96c2-320555602a13.jpg)

[2017-12-01 05:11] testforstephen opened #22 "[Mac] Click 'Debug Test' codelens but the extension executes the wrong test case"
Open `Color checker` test project, find `ColorCheckerUnitTests.java` file.

1. Add a breakpoint Line 79, and click `Debug Test` to debug test case `testShouldReturnSameValues`.
2. The program stops at Line 92, that belongs to another test case `testShouldNotReturnTheSameValues`, not my target test case.

![screen shot 2017-12-01 at 1 11 18 pm](https://user-images.githubusercontent.com/14052197/334

[2017-12-01 05:53] yaohaizh commented on #10
# Java9/Ubuntu

- VSCode Insider
- Ubuntu 1.18.0
- Follow test plan, it will take 2~3 times to successfully to load test cases.

[2017-12-01 06:11] testforstephen commented on #10
# Java 9 on Mac

1. Install RC#2, and open `color-checker` project from test plan, VSCode pop up a message box saying "Couldn't find Java home...". See bug #17
2. Install RC#3 again, verify that bug #17 is fixed.
3. Continue to debug test case from `color-checker` project, found several bugs: #20 #21 #22

[2017-12-01 06:35] akaroml opened #23 "Should not prompt save when closing test log"
Test logs should be able to be closed without asking users to save the logs.

This can be achieved by using the DocumentContentProvider  API.

[2017-12-01 06:48] testforstephen opened #24 "[Mac] Click 'Debug Test' codelens could pop up 'Failed to attach to remote debuggee VM. Reason...'"
Open `spring-boot-junit-project`, click `Debug Test` on some test case, it could pop up message box saying "Failed to attach to remote debugger VM. Reason: java.net.ConnectException: Connection refused (Connection refused)".
<img width="1025" alt="screen shot 2017-12-01 at 2 46 26 pm" src="https://user-images.githubusercontent.com/14052197/33471055-714e6074-d6a6-11e7-9cb7-872fc7d0b605.png">

This

[2017-12-01 07:09] songkaiape opened #25 "Testcase summary show duration "NaN" when disable one testcase in the test class"
If ignore one testcase, the duration of all testcases will be NaN but I think it should be the sum of the rest testcase duration

After disable one case
![image](https://user-images.githubusercontent.com/4318793/33471379-08c51a78-d6a8-11e7-8b27-761d6639b70c.png)

Before disable one case
![image](https://user-images.githubusercontent.com/4318793/33471394-21ad69fa-d6a8-11e7-86f1-209b84439977.png)

[2017-12-01 07:10] akaroml commented on #10
#20 is fixed by #26

[2017-12-01 08:00] sallyur opened #27 "[MAC]Add @Ignore attribute in a test method prompt to import org.junit"
![image](https://user-images.githubusercontent.com/28860891/33472915-3400d93c-d6af-11e7-9f41-65ae7d45a6d3.png)
If do not choose org.junit, run class the method will failer.
![image](https://user-images.githubusercontent.com/28860891/33473097-0727ec38-d6b0-11e7-8003-1f511b1c0261.png)
It doesn't repro in windows.

[2017-12-01 08:04] songkaiape commented on #10
Following the steps from here: https://github.com/vscjavaci/java-test-ci/issues/1

1. Configurations

Platform | Win10 x64 | Mac |
-- | -- | --
Configurations | VSCode 1.18.1 x64 JDK8 x64| VSCode 1.18.1  JDK8

2. Duration show issue:#25
   Add Ignore issue:#27

3. Test result details:

Test case | Win10 x64 | Mac Sierra 10.12.4 | issue
-- | -- | -- | --
Configurations | VSCode   1.18.1 x64   JDK1.

[2017-12-01 08:18] ansyral opened #29 "BI add eventid into err logs"
We have three type of events: `run test`, `debug test`, `show details`. right now only perf data contains eventid, we'd better pass eventid into all the err/info logs that are recorded in the session of event.

[2017-12-01 09:14] sallyur commented on #27
This is not a problem.

[2017-12-01 09:14] #27 closed

[2017-12-01 11:21] #17 closed

[2017-12-01 11:36] testforstephen commented on #10
Issue #20 is fixed by PR #26.
Issue #21 is fixed by PR #31.
Issue #22 is fixed by PR #28, #30, #33.

[2017-12-01 17:07] #22 closed

[2017-12-01 17:08] #21 closed

[2017-12-01 17:11] #10 closed

[2017-12-01 19:24] dsyer opened #34 "NoClassDefFoundError: org/junit/runner/JUnitCore"
I can run tests in a single module project, but as soon as I have multiple modules (e.g. opening up https://github.com/spring-cloud/spring-cloud-function/tree/master/spring-cloud-function-samples since that was what I was working on), I get this:

[code]

[2017-12-01 19:31] dsyer opened #35 "Doesn't work with Parameterized"
[code]

Click on "Run Test" on the class level and it runs them, but no status is available. And actually, if the test fails, it's just the same (status is a big "?").

Click on "Run Test" (on the `@Test`). Result:

[code]

[2017-12-01 22:21] pandabrand commented on #34
I'm having this issue as well, I have creating a fresh project using Maven, and trying to use this extension I get the above error.

[2017-12-02 00:48] gorkem opened #36 "Code Lenses are not in the correct place"
I am not sure how it got to this stage, I was simply adding the logic for the tests.
![image](https://user-images.githubusercontent.com/82738/33509522-6d771304-d6d0-11e7-85d1-e2913c0ff47e.png)

[2017-12-02 03:08] eric2877 opened #37 "How to change default encoding in output"
Error occured: ʮ���� 02, 2017 11:03:44 ���� org.springframework.context.support.ClassPathXmlApplicationContext prepareRefresh
��Ϣ: Refreshing org.springframework.context.support.ClassPathXmlApplicationContext@532760d8: startup date [Sat Dec 02 11:03:44 CST 2017]; root of context hierarchy
Error occured: ʮ���� 02, 2017 11:03:44 ���� org.springframework.beans.factory.xml.XmlBeanDefinitionReader load

[2017-12-04 01:40] #20 closed

[2017-12-04 02:05] ansyral commented on #36
@gorkem Could you help give me more details how you trigger this? I cannot repro it at my side.

[2017-12-04 02:29] ansyral commented on #37
@eric2877 does changing the default encoding of your operating system's console to `UTF-8` works?

[2017-12-04 03:47] ansyral commented on #34
@dsyer @pandabrand  thanks a lot for the feedback! I can repro it and it is class path resolution issue. I'm Working on it.

[2017-12-04 03:57] ansyral commented on #14
@mickaelistria we don't extend the debug protocol. The extension works with [java debugger](https://github.com/Microsoft/vscode-java-debug) to debug the tests.

[2017-12-04 04:07] eric2877 commented on #37
I changed the log4j default encoding into utf-8,  it works,  but use " system.out.println " in java file,  it outputs  messy code in vscode' output-window.

12:05:38.113 [main] INFO  log - around....环绕开始
12:05:38.113 [main] INFO  log - logger1....before
saving user......����
12:05:38.114 [main] INFO  log - around....环绕结束
12:05:38.114 [main] INFO  log - logger1....after

the same code works well in

[2017-12-04 07:59] sallyur commented on #24
It is also repro in windows.

[2017-12-04 08:04] mickaelistria commented on #14
Ok, thanks.
The question was more how does the test runtime (application under test) notifies the IDE (VSCode) about test results? Do you use plain JUnit notifications/reports between the test runtime and VSCode, or is there something mre generic in between?

[2017-12-04 15:02] ansyral commented on #34
accidently closed it when merging pr..

[2017-12-05 02:54] ansyral commented on #14
@mickaelistria we customized `org.junit.runner.JUnitCore` and `org.junit.runner.notification.RunListener` to get test results. Right now it is not that generic, but later as we plan to support more test framework such as JUnit5, TestNG, we might consider to make it more generic.

[2017-12-05 03:27] vincent1147 opened #40 "How to install Java Test Runner?"
I want to use Junit. But I don't know how to install it...

I have Java Test Runner installed. But not Junit

Somebody help!

[2017-12-05 05:52] akaroml opened #41 "Provide switch to optionally show output window"
Currently, we force showing output window whenever users run test cases. This could be disruptive when users are currently working on debug console or integrated terminal.

We can provide an option in user settings to allow switch that behavior on and off.

[2017-12-05 05:58] akaroml opened #42 "Clear test result when test code changed"
Currently, the test result stays when a user changes the actual test code. This could be misleading.

Please clear the test result whenever the test code is changed.

[2017-12-05 06:16] akaroml opened #43 "0.2.0 Plan"
- [x] Test Explorer #45
- [x] Show test statistics in status bar #46
- [x] Should not prompt save when closing test log #23
- [ ] Clear test result when test code changes #42
- [x] Provide switch to optionally show output window #41
- [ ] Use the right color scheme to show test case status vividly #47
- [x] Fix #34
- [x] Make test report more user friendly

Test Plan - #49

[2017-12-05 06:18] akaroml opened #44 "Auto-resolve checkstyle JAR files"

[2017-12-05 06:42] #44 closed

[2017-12-05 06:45] akaroml opened #45 "Test explorer"
We need an explorer to show all the cases inside the current workspace.

Users should be able to run and debug test cases by right-clicking the tree nodes.

[2017-12-05 06:54] akaroml opened #46 "Show test statistics in status bar"
Currently, we cannot see the numbers of passed or failed cases. This can be displayed inside the status bar.

[2017-12-05 07:00] akaroml opened #47 "Use the right color scheme to show test case status vividly"
We need to adopt the correct color scheme to highlight test results for users to easily read the test report.

[2017-12-05 07:06] akaroml opened #49 "Test Plan"

[2017-12-05 07:17] ansyral commented on #40
@vincent1147 do you have a project that uses junit4 as test framework? To install JUnit, if you are using maven, you could update the `pom.xml` of your project to include junit as a dependency, you can refer [this wiki](https://github.com/junit-team/junit4/wiki/use-with-maven) for more info.

[2017-12-05 07:30] mickaelistria commented on #14
Ok. I have the impression that those test result notification (mimicking JUnit notifications) could be directly included in the debug protocol, so they would get somehow generic and could support any languages/test framework/IDE.

[2017-12-06 17:14] fbricon commented on #36
I'm seeing something similar:
<img width="685" alt="screen shot 2017-12-06 at 12 12 36 pm" src="https://user-images.githubusercontent.com/148698/33674905-f0834a40-da7e-11e7-8ec3-7f99f8da7b78.png">

I installed the Azure tooling, created a new Java project and organized imports in FunctionTest

[2017-12-13 00:39] oakad opened #53 "Support for TestNG"
TestNG may be a bit of a niche, but it's a good and cozy niche to be in. Are there any plans to support it as well?

[2017-12-13 08:21] ansyral commented on #53
@oakad TestNG is in our plan :smile:

[2017-12-13 08:31] ansyral commented on #36
@fbricon Thanks for the detailed info and I can also repro it . Seems to be related to event trigger, i'll take a look at it.

[2017-12-15 11:26] eric2877 commented on #37
when i ust system environment variable “JAVA_TOOLS_OPTIONS="-Dfile.encoding=utf-8"，the system.out.printline  becomes right!!

[2017-12-15 17:25] stnguyen90 commented on #3
+1 I'm also having this issue.

[2017-12-18 09:24] ansyral commented on #49
## Test explorer
1. open a folder, check language server is up
2. check `test explorer` is up
3. check hierarchy is correct
4. click on class level, editor jumps to specified file of the class
5. click on method level, editor jumps to specified range of the method
6. update test code, check whether test explorer is auto-synced

[2017-12-18 09:25] ansyral commented on #49
## Test explorer of Multi-root

1. open a workspace that contains multiple projects
2. check test explorer hierarchy

[2017-12-19 02:21] ansyral commented on #49
## Test report

1. test class's report: check whether filter radio('All tests', 'Passed', 'Failed') works.
2. verify bug #1 #2 #7 #23 #25

[2017-12-19 02:23] ansyral commented on #49
## Multi module project

1. clone code from `https://github.com/spring-cloud/spring-cloud-function/tree/master/spring-cloud-function-samples`
2. use vscode to open folder `spring-cloud-function-samples`, verify tests can be run/debug successfully

[2017-12-19 02:32] #40 closed

[2017-12-19 08:19] ansyral commented on #35
To support `parameterized`, it need much more work than I expected before and we need to redesign how to show the test's status in codelens and test explorer since it is a compound status for parameterized case.
Move this to next milestone.

[2017-12-19 08:24] ansyral commented on #43
#35 would be postponed as we need to redesign how to support a compound test(with parameter), etc.

[2017-12-20 07:54] ansyral commented on #49
## Test status bar
1. after triggering running/debugging tests, check whether status bar is synced
2. click on status bar item, check whether output panel would open.

[2017-12-21 01:52] ansyral opened #60 "0.2.0 Endgame"
# Build
- [x] 12/21 - Bump version to 0.2.0 (PR #61 #63) - @ansyral
- [x] 12/21 - Add change log for 0.2.0 - @ansyral
- [x] 12/21 - Signed RC Bits - @ansyral

# Test
- [x] 12/21 - Run test plan #49 - @bsaby @sallyur (found new bug #65 #66)
- [ ] 12/21 - Test multi-module project - @ansyral
- [x] 12/21 - Test report on Mac - @akaroml
- [ ] 12/21 - Test test explorer for multiroot - @yaohaizh
- [ ]

[2017-12-22 08:14] bsaby commented on #46
It would be better to show progress when loading test explorer in status bar

[2017-12-22 08:22] bsaby opened #65 "Output info doesn't match test report when a project has duplicate name test classes"
![image](https://user-images.githubusercontent.com/22470312/34290776-37c48a9c-e734-11e7-843c-6ed788a3fc4d.png)

[2017-12-22 08:28] bsaby commented on #1
Now, the test report is read-only, so close it.

[2017-12-22 08:28] #1 closed

[2017-12-22 08:38] bsaby opened #66 "No codelens are displayed when first run test the project"
![image](https://user-images.githubusercontent.com/22470312/34291277-825cd0d0-e736-11e7-8708-17ac7a7bfda5.png)

[2017-12-22 08:45] #2 closed

[2017-12-22 08:45] #7 closed

[2017-12-22 08:45] bsaby commented on #2
Test passed.
Build used: Code-sign build7
**Pass**
![image](https://user-images.githubusercontent.com/22470312/34291031-5382cd88-e735-11e7-9ea1-6deac7e8a7a2.png)
**Skip**
![image](https://user-images.githubusercontent.com/22470312/34291067-86ccd828-e735-11e7-873b-31863d92064e.png)
**Fail**
![image](https://user-images.githubusercontent.com/22470312/34291447-4700964c-e737-11e7-860d-6f213182456f.png

[2017-12-22 08:45] #23 closed

[2017-12-22 08:46] #25 closed

[2017-12-22 08:47] ansyral commented on #6
duplicate of #41

[2017-12-22 08:47] #6 closed

[2017-12-22 08:53] bsaby commented on #60
# Run test plan #49
1. Configuration

- Windows10: Vscode 1.19.1; jdk 1.8.0_152
- Mac: Vscode 1.19.1; jdk 1.8.0_144

2. Open Bugs:
#65 #66
3. Test result

Test case | Win10 x64 | Mac Sierra   10.12.4
-- | -- | --
Configurations | VSCode   1.19.1 x64   JDK1.8.0_151 x64 | VSCode   1.19.1   JDK1.8.0_144
Owner | Mona | Sally
Clean   install | Pass | Pass
Uninstall | Pass | Pass
Update | Pass | Pass
Te

[2017-12-29 02:10] ansyral commented on #66
@bsaby could you help verify whether the bug is fixed?

[2017-12-29 06:54] bsaby opened #73 "The existing test report will not be updated automatically after clicking a codelens"
In most cases,	the test report will not be updated automatically unless you close the previous one.

1. Open a project
2. Run test a class: e.g. A class
3. Click the codelen of A class to open test report
4. Add @ignore on one method in A class
5. Run test A class again
6. Click the A class codelen
![image](https://user-images.githubusercontent.com/22470312/34431117-2281ebca-eca7-11e7-94e9-f179751

[2017-12-29 06:58] sallyur opened #74 "Sometimes Failed doesn't work when no failed cases"
![image](https://user-images.githubusercontent.com/28860891/34431241-7533db0c-eca8-11e7-95b9-2e450c55b352.png)

[2017-12-29 06:59] bsaby commented on #66
Test passed.
Build used: dailybuild 71

[2017-12-29 06:59] #66 closed

[2017-12-29 07:07] sallyur opened #75 "report window made adaptive will be better."
![image](https://user-images.githubusercontent.com/28860891/34431411-e9806d1c-eca9-11e7-98d4-6dce9f9de6bb.png)

[2018-01-03 05:59] danielludan opened #76 "Not working well in spring boot junit test"
It seems the spring boot context can't read configuration properly when running case, the test case src structure is followed maven default standard. The case can be executed on Eclipse IDE so it can't be case issue. Not sure if there is someway to config resource in test running to solve the issue. Thanks for your attention.

[2018-01-04 07:56] ansyral commented on #60
# Build
- [ ] 1/5 - Update change log for 0.2.0 - @ansyral
- [ ] 1/5 - Signed RC Bits - @ansyral

# Test
- [ ] 1/5 - Run test plan #49 - @bsaby @sallyur
- [ ] 1/5 - Test multi-module project - @ansyral
- [ ] 1/5 - Test report on Mac - @akaroml
- [ ] 1/5 - Test test explorer for multiroot - @akaroml
- [ ] 1/5 - Test basic feature on Linux - @ansyral
- [ ] 1/5 - Test basic feature on VSCode insider

[2018-01-05 06:19] ansyral commented on #60
# VSCode 1.20.0-insider

## test spring-petclinic

1.  open spring-petclinic project folder, verify that status bar has `Loading test` info
2.  [has bug!]run tests, after test finishes, status bar shows that "Failed to run tests", however the test succeeded with warning output.
3.  open test report,  also repro #74
4.  open command panel to use 'java: show test output' command, it works. and vscod

[2018-01-05 06:57] bsaby opened #81 "No All tests/Passed/Failed filter radio in test report of one method class"
After running test, click on class codelens or test statistics from status bar to open class report
![image](https://user-images.githubusercontent.com/22470312/34598383-657b3b22-f227-11e7-9ffb-ae6ad148b0b5.png)

[2018-01-05 07:03] ansyral commented on #81
#80

[2018-01-05 07:07] bsaby commented on #60
#  Run test plan #49

1. Configuration

- Windows10: Vscode 1.19.1;   jdk 1.8.0_152
- Mac: Vscode 1.19.1;    jdk 1.8.0_144

2. Open Bugs:
#81
3. Test result:

Test case | Win10 x64 | Mac Sierra   10.12.4
-- | -- | --
Configurations | VSCode   1.19.1 x64   JDK1.8.0_151 x64 | VSCode   1.19.1   JDK1.8.0_144
Clean   install | Pass | Pass
Uninstall | Pass | Pass
Update | Pass | Pass
Test   explorer | P

[2018-01-05 07:20] #46 closed

[2018-01-05 07:20] #41 closed

[2018-01-05 07:26] ansyral commented on #76
@danielludan could you help share a sample about it? Thanks.

[2018-01-05 07:26] akaroml commented on #60
Tested on Mac with spring-petclinic project.

1. Test cases were executed at both class level and member level
2. Test report was correctly generated from class, member and status bar
3. Status bar showed the correct state (running, test statistics)
4. Test output was shown when clicking the `Running tests...` on status bar
5. Test explorer showed test cases correctly
6. Jumped to test cases corre

[2018-01-05 07:34] bsaby commented on #81
Test passed on both windows and mac and filter radios are work fine.
Using build sign9.

![image](https://user-images.githubusercontent.com/22470312/34599489-9479ae80-f22d-11e7-97a6-db93167a3cdc.png)

[2018-01-05 07:34] #81 closed

[2018-01-05 07:41] akaroml opened #82 "Add options to optionally show test report in side view"
Now test reports are always shown in side view. This is disturbing for users with smaller screens (laptop).

Please add an option to show test report in side view (defauts to true). So when users set it to false, then the reports are shown in the current column.

[2018-01-05 07:42] #60 closed

[2018-01-05 07:45] akaroml opened #83 "Correct color on status bar item"
Now we use different colors to reflect different result state. And we need to change a bit:

1. Running - default color (white)
2. All passing - green
3. 1 or more errors - red
4. Initial (no results) - default color (white)

[2018-01-05 07:45] ansyral commented on #34
The issue has been fixed in 0.2.0 release. So I'm gonna close it right now. You are free to reopen it if it still doesn't work.

[2018-01-08 11:19] wurst44 opened #84 "no icons"
using the latest version it does not seem to show me the cancle/setting icon?

![image](https://user-images.githubusercontent.com/2656697/34668496-fda22d50-f46d-11e7-8585-1426d721d883.png)

[2018-01-09 05:05] ansyral commented on #84
@wurst44 do you mean canceling a running test? We haven't supported this feature.

[2018-01-09 07:06] wurst44 commented on #84
No, my first screen shows the green check icon, pickaxe icon and red X icon missing.
I mean this kind of stop (red X?) button were you can apparently stop the test run.

How it should be:
![image](https://user-images.githubusercontent.com/2656697/34708475-341391c6-f513-11e7-8fa1-3931011f6b56.png)

Also the info "0 references" is missing, and the separator pipes characters.
I need to always restart

[2018-01-09 07:30] wurst44 commented on #84
![image](https://user-images.githubusercontent.com/2656697/34709385-522dead6-f517-11e7-996c-405dc35bfc73.png)

[2018-01-09 08:57] ansyral commented on #84
The red cross or green check mark show the status of the test, cross mark means that the test failed and check mark means that the test succeeded. They only show when you have run or debugged the test. And seems that the screen is from our demo? sorry it is a bit outdated, we've made some changes about the look. I'll record a new one later.

You can show the references by editing your settings fil

[2018-01-09 21:44] Dekadee opened #86 "Class name is not set correctly"
I'm trying to make this extension work, but the first letter of the class name is always cut off. The problem is depicted in these Pictures:

![vscodejunitexplorer](https://user-images.githubusercontent.com/24483904/34744361-3f6e6f6c-f58d-11e7-9a34-d6b55da60b39.png)

![vscodejunittest](https://user-images.githubusercontent.com/24483904/34744344-357c6f68-f58d-11e7-8e3c-b091355db07d.png)

The name o

[2018-01-10 07:56] ansyral commented on #86
@Dekadee Thanks for reporting this, I can repro it and it only happens for default package. Will make a fix.

[2018-01-10 18:39] bdway opened #89 "Test Runner should be visible even when not viewing a test file."
As soon as I navigate away from a test file the Test Runner disappears. When I navigate back to a test file the Test Runner re-appears but the tree is collapsed.

[2018-01-10 22:10] gorkem opened #90 "incorrect code lens"
The code lenses for  testing are not removed when the `@Test` annotation is removed from a test method.

![image](https://user-images.githubusercontent.com/82738/34798185-0abcc4ca-f629-11e7-9797-8e821880966f.png)

[2018-01-11 08:28] ansyral commented on #90
After some investigation, it seems to be a bug of JDT. When removing the annotation`@Test`, `IAnnotatable.getAnnotation("Test")` would still exist while `IAnnotatable.getAnnotations()` is empty. will make a  workaround for it first.

[2018-01-11 08:39] aloifolia opened #91 "Support JUnit-dataprovider"
Our tests make heavy use of https://github.com/TNG/junit-dataprovider. All of those are skipped. Furthermore, if I run all tests of a class (by clicking the _Run Test_ button above the class declaration), even the plain JUnit tests are skipped as soon as the data-provided tests are encountered.

Are you planning on supporting the dataprovider package?

[2018-01-11 09:06] ansyral commented on #89
@bdway, right now only java file(no matter a test file or not) would trigger test explorer. This is not to bother users when they open a node project or something else.

[2018-01-11 09:32] andifalk opened #93 "JUnit 5 Support"
As the java community progresses to use JUnit 5 instead of JUnit 4 please add support for JUnit 5 as well

[2018-01-12 11:05] #86 closed

[2018-01-12 11:09] #90 closed

[2018-01-12 11:51] gorkem commented on #90
@ansyral Is this already reported on JDT?

[2018-01-12 19:13] bootrider opened #94 "Junit starts from a different location"
Hello fellows,

in a project with several files an including some integration tests, I am trying to perform the following actions:

`File csFile = new File("src/test/resources/Program.cs").getAbsoluteFile();`

Let's say that my project is in C:\temp\myproject therefore i will expect to get something like:

C:\temp\myproject\src\test\resources\Program.cs

but instead i got:

[code]
Is possible to s

[2018-01-15 03:51] gjlaubenstein opened #95 "Junit Kotlin Support"

[2018-01-15 08:48] charlvictor opened #97 "Spring Boot integration test hanging test runner"
I have a vanilla Spring Boot app, and when running the default integration test supplied the test runner just hangs in the "Running tests..." state. I can see that the tests actually execute by looking at the test output window, but it seems it never returns the state. Normal unit tests without spring context works 100%.

Sample Class:
[code]

[2018-01-16 15:35] bobderrico opened #99 "Status bar displays "Failed to run tests" even though tests were run successfully"
When I click "Run Test," the status bar displays "Running tests..." and the changes to "Failed to run tests" after the testing has finished running.

However, the tests to did run successfully. I see the correct reporting on test cases in the code and can click the icon to see test results.

When I look at the test output, I see several lines start with `Error occurred`. This all prefix expected l

[2018-01-17 12:42] falco467 opened #100 "Allow launch configuration for tests"
It would be great if one could add command-line arguments to the testrunner.

I work with a code-base which needs a custom property set for running local tests
(VM Argument: -Dconfig="local_test") - but I cannot find a way to pass this argument to the Testrunner Plugin...

[2018-01-17 13:31] falco467 opened #101 "Cannot abort a hanging test-session"
Most of the time when I run a Test-Suite in a Spring MVC-Application the Java-Process keeps hanging after all Tests are run. The "Running Tests" indicator will keep spinning indefinitely although the last line of output reads:
`Total tests run: 1, Failures: 0, Skips: 0`

The Java-Process will even keep running as a zombie-process if I close VS-Code. The only way to stop it is to kill it via Task-M

[2018-01-17 15:47] wurst44 commented on #84
Ok, well I think it was another problem with the Spring Boot Context not beeing started so the Test will not end somehow at all when started separately. On other testcases the icons appear and tests end properly.
Thanks for your time.

[2018-01-17 15:47] #84 closed

[2018-01-17 21:21] jeffgbutler commented on #89
Could you add a command to open, and keep open, the test explorer?

[2018-01-21 19:00] goncealex opened #102 "Adding watches/Evaluating expressions fails during debug"
Running a test in debug mode and evaluating and/or adding watches to expressions fails with the error:
`Please specify projectName in launch.json.`

Expected Behavior:
1. Add a breakpoint anywhere in the test method
2. Press "Debug Test" link
3. Evaluate or add a watch on an expression
4. View the result value of the expression

[2018-01-21 19:11] goncealex commented on #102
If someone can confirm this behavior as a bug, i can create a pull request which should solve the problem.

[2018-01-22 06:20] yaohaizh commented on #102
@goncealex  This is related to the PR for auto detect the project name: https://github.com/Microsoft/java-debug/pull/146.

For you now, you can specify the projectname in the launch.json.

And PR to specific the projectName is welcome.

[2018-01-22 06:44] ansyral commented on #94
@bootrider one way to solve this might be a test configuration where you could configure your working folder.  We plan to support this later. What do you think about this? BTW, right now you could use `getClass().getClassLoader().getResource()` to walkaround if it is ok to update the code.

[2018-01-22 07:36] ansyral commented on #97
@charlvictor I could not repro using the sample above. Do you have any special logic in your test setup?

[2018-01-23 08:09] whmmm opened #103 "some problems in Chinese"
![image](https://user-images.githubusercontent.com/22763406/35264353-655b2d44-0057-11e8-9266-3bbd6f2ef293.png)
There has some question in Chinese display...How can i fix this？

[2018-01-25 07:52] ansyral commented on #103
Same to #37. Does adding the environment variable “JAVA_TOOLS_OPTIONS="-Dfile.encoding=utf-8" work?

[2018-01-26 18:52] charlvictor commented on #97
@ansyral I just did another test with a fresh sample and it seems to work now. Maybe there has been an update since or I just had a funky setup.  Appreciate you looking into it.

[2018-01-26 18:52] #97 closed

[2018-01-27 19:15] DeadRabbits307 commented on #34
Using 0.2.0 I still get the same errors...

[2018-02-01 17:19] treeno opened #104 "Definition of current working directory is missing"
Lets say we would like to read a file in a test using a relative path. In that case I would expect that the path could be expressed relative to the current Folder that is opend by vs Code. But the current working Directory is the Installation directory of vs Code. Is there a way to change that? If not, would you like to add a configration for that?

[2018-02-02 08:48] dsyer opened #105 "Test runner widgets not appearing in some environments"
I sometimes (e.g. on one of my laptops) don't see any test runner features, despite the fact that the language server is running and all the normal java features are working. I'm pretty sure it used to work. And I can't see any errors in the UI. Maybe there are some logs I can mine for more detail?

See discussion here for more detail: https://github.com/redhat-developer/vscode-java/issues/427.

[2018-02-02 13:36] michelkaporin opened #106 "Debug console does not allow evaluation on the fly in 'Test debug' mode"
Reproduce:
1. Create test where you set some variable and put a breakpoint on the line after you set it.
2. Press 'Debug test' on the test method code lens.
3. Go to Debug Console and type your variable name.
Debug Console prints: `Please specify projectName in launch.json.`

Seems like runtime generated launch.json `projectName` attribute is missing.

[2018-02-02 15:58] dsyer opened #107 "Support for JUnit 5 parameterized tests"
This actually runs:

[code]

But the status is "?" and the report says that no tests were run, with no failures.

Logs:

[code]

[2018-02-06 09:00] UHaooooo opened #110 "Unable To Run Java Test Runner"
![image](https://user-images.githubusercontent.com/29447608/35851877-3ec27bde-0b64-11e8-9af0-c04337248e3a.png)

There's no symbol beside the "Run Test".
And there's error showing
"Exception occers while parsing params. Details: TypeError: Cannot read property 'Symbol(Symbol.iterator)' of undefined"

[2018-02-08 07:40] ansyral commented on #49
## Trigger tests from test explorer

trigger tests from every level: all tests/folder level/package level/class level/method level

[2018-02-09 02:33] sswane commented on #99
👍 The same thing is happening to me. The tests run successfully and the status bar text is green, but it says "Failed to run tests". I also see in the output `Error occured:` followed by complaints about multiple SLF4J bindings. What is interesting though is when I run `mvn clean install` on my project, I do not see those errors in the console.

[2018-02-09 05:52] ansyral commented on #105
@dsyer, currently we don't expose test logs. we would support this next release.

[2018-02-09 06:15] ansyral commented on #106
@michelkaporin  thanks for reporting this, it is duplicate of https://github.com/Microsoft/vscode-java-test/issues/102

[2018-02-09 06:15] #106 closed

[2018-02-09 06:51] ansyral commented on #102
@goncealex https://github.com/Microsoft/java-debug/pull/146 only resolves project name when test name is not duplicate in multiple projects. A better way i think it is to support test configuration where user could configure their test project, what do you think about this?

[2018-02-09 06:52] #45 closed

[2018-02-09 06:52] #47 closed

[2018-02-09 07:12] ansyral commented on #110
@UHaooooo how did you trigger the test? clicking on "Run Test" codelens?

[2018-02-09 07:17] ansyral commented on #49
## Open Test Log command

1. make some operations like running tests, open test report, and so on.
2. command panel, choose "Java: Open Log", validate logs file could be opened

[2018-02-09 07:22] ansyral commented on #107
@dsyer The feature for parameterized tests is postponed as we need to redesign how to show the status of a composite test which is actually a test collection.

[2018-02-09 07:23] ansyral commented on #104
@treeno, currently unfortunately no, but we plan to add configuration support later

[2018-02-09 08:05] bsaby opened #112 "An error occurs when test explorer is up"
Open a java file and the test explorer up, then an error occurs

![image](https://user-images.githubusercontent.com/22470312/36017452-c4f4fa88-0db2-11e8-9d88-abb67ccba2bc.png)

[2018-02-09 08:07] bsaby opened #113 "Unexpected end of JSON input"
1. clone code from https://github.com/spring-cloud/spring-cloud-function/tree/master/spring-cloud-function-samples
2. Run functionTests class: error occurs in toggle developer tools shown as below

![image](https://user-images.githubusercontent.com/22470312/36017526-09917266-0db3-11e8-8d86-8bfef1c17bfe.png)

[2018-02-09 08:10] bsaby opened #114 "Some information will displayed when the mouse hover over filter radio in test export"
When the mouse hovers over the All/Failed/Passed filter radio will display the information as below screenshot.
![image](https://user-images.githubusercontent.com/22470312/36017622-7bc8c050-0db3-11e8-9759-240a77b698d7.png)

[2018-02-09 16:42] Stiixxy commented on #34
Using 0.2.0 as well also getting the same error
`Error occured: Exception in thread "main" Error occured: java.lang.NoClassDefFoundError: org/junit/runner/JUnitCore
Error occured: 	at java.lang.ClassLoader.defineClass1(Native Method)
Error occured: 	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.UR

[2018-02-11 04:00] ansyral commented on #83
#116

[2018-02-11 05:54] ansyral commented on #114
#117

[2018-02-11 06:09] ansyral commented on #113
cannot repro locally. I'll update code to add the illegal json content into log. Let's run the tests again and see the logs.

[2018-02-11 06:56] ansyral commented on #112
open an issue in vscode to track. https://github.com/Microsoft/vscode/issues/43412

[2018-02-11 07:30] ansyral opened #119 "0.3.0 End Game"
# Build
- [x] 2/11 - bump version to 0.3.0(pr #121) - @ansyral
- [x] 2/12 - Update change log for 0.3.0 - @ansyral
- [x] 2/12 - Signed RC Bits - @ansyral

# Test
- [x] 2/12 - Run test plan #49, verify bug #114 #83 - @bsaby @sallyur
- [x] 2/12 - Test basic feature on VSCode insider - @ansyral
- [x] 2/12 - Verify bug #83 -@ansyral

# Release
- [x] 2/12 - Add 0.3.0 tag for vscode-java-test - @ansyral

[2018-02-11 08:08] ansyral commented on #82
#120

[2018-02-11 08:13] ansyral commented on #49
## Config test report position

1. go to File->Preferences-> Settings, add config `"java.test.report.position": "currentView"`
2. run test, open test report, verify that the report opens in current view column.

[2018-02-11 09:06] ansyral commented on #89
@jeffgbutler yes, that could be an enhancement

[2018-02-11 09:07] ansyral commented on #29
already refactored the logging

[2018-02-11 09:07] #29 closed

[2018-02-11 15:38] UHaooooo commented on #110
@ansyral Ya. Btw those test do appear in test navigator

[2018-02-12 05:04] ansyral opened #123 "`Cannot read property 'path' of undefined` error when selecting node in test explorer"
project: a simple project which contains tests with default package
error: select the project node to expand its children, vscode pop out error:
![image](https://user-images.githubusercontent.com/1982828/36084085-b81bfa52-0ff4-11e8-9290-49c12df677f7.png)

Toggled developer tools, the stack trace is as below:
![image](https://user-images.githubusercontent.com/1982828/36084096-d5e0b690-0ff4-11e8-9ba

[2018-02-12 05:06] ansyral commented on #119
## simple maven project with tests whose package is default package
VSCode version:  1.20.0, 1.20.0-insider
OS version: window10
find an issue #123

[2018-02-12 05:24] #123 closed

[2018-02-12 06:18] ansyral opened #126 "show test status on test explorer nodes"
Currently we don't show test status on nodes of test explorer, so when user choose to run all tests from test explorer, if some tests failed, they can open test report to check the failed tests but it is hard for them to locate the file that contains the failed tests.

[2018-02-12 06:55] ansyral commented on #119
## maven project with multiple tests

VSCode version: 1.20.0-insider
OS version: windows10

- trigger tests from test explorer, all tests/project level/package level/class level/method level
- check status bar item color is correct
- check report. when opening the report, test explorer wouldn't disappear
- trigger test from codelens.

find **one issue**:
1. trigger tests from class level, it would

[2018-02-12 07:35] ansyral opened #127 "[regression] test status corrupted"
repro steps:

1. run tests by clicking on class's codelens, it will run all tests defined in the test class, and test class has a status either 'check mark' or 'cross mark'
2. run one test by clicking on one method's codelens. However, the test class's status is changed to 'question mark'

[2018-02-12 07:41] ansyral commented on #127
This is due to the change of runner's interface. class's status is an aggregated one and it need to access all children methods' status. To resolve this, we need to move the status update of class to runner framework

[2018-02-12 08:10] bsaby commented on #119
# Run test plan
1. Configurations

Win10 x64 | Mac Sierra   10.12.4
-- | --
VSCode   1.20.0   JDK1.8.0_161 | VSCode   1.20.0   JDK1.8.0_144
2. Test result

Find known bugs: #65, #73, #74, #112, #123, #127

Test case | Win10 x64 | Mac
-- | -- | --
Clean   install | Pass | Pass
Uninstall | Pass | Pass
Update | Pass | Pass
Test   explorer | #112 | #112
Test   explorer of Multi-root | Pass | Pass
Test

[2018-02-12 09:03] #113 closed

[2018-02-12 09:04] #114 closed

[2018-02-12 09:04] #83 closed

[2018-02-12 09:04] #82 closed

[2018-02-12 09:06] #127 closed

[2018-02-12 09:46] #43 closed

[2018-02-12 10:00] #119 closed

[2018-02-12 19:51] coderfin commented on #34
I was able to resolve this problem in v0.3.0 by installing the [Java IDE Pack extension](https://github.com/paulvi/vscode-java-ide-pack).  I can now `Run Test` and `Debug Test` directly in VSCode and view the Test Report.

[2018-02-12 20:08] supersonicclay opened #130 "False green test"
I found a scenario using [mockito](http://site.mockito.org/) where this plugin gives a false green result (i.e. says the test passed when in fact, it threw an exception).

## Repro:

[code]

## Actual result:

* Green result in VS Code

## Expected result:

* Red result in VS Code with exception that arguments are different (similar to `mvn test` run).

## Note

Running `mvn test` produces the des

[2018-02-15 20:47] davidaorr commented on #99
I am experiencing the same issue.

[2018-02-15 20:54] roguechad commented on #99
I am having the same issue.

[2018-02-19 05:28] nrc4867 commented on #34
I'm also having this issue on v0.3.0 and could not replicate @coderfin resoultion

'Error occurred: Exception in thread "main" Error occurred: java.lang.NoClassDefFoundError: org/junit/runner/JUnitCoreError occurred:
Error occurred: 	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass(ClassLoader.java:1007)
	at java.base/java.security.Secu

[2018-02-23 20:17] nazneen84 commented on #94
@ansyral Is this the right issue to track to allow JUnit tests run from a configured location?

[2018-02-26 02:45] ansyral commented on #130
@supersonicclay  thanks for reporting this, it is a bug, the test actually failed.

[2018-02-26 05:23] #130 closed

[2018-02-26 05:40] #112 closed

[2018-02-26 06:17] ansyral commented on #110
@UHaooooo I couldn't repro this case. We've added a command "Java:log" to open test log in recent release, Could you repro this locally and share your logs here?

[2018-02-26 06:18] ansyral commented on #105
@dsyer, you can now open test log by invoking command "Java: Log"

[2018-02-26 07:09] ansyral commented on #99
Seems the test itself would output something to system.err. I would add some label to tell errors outputted by junit runner and those from the tests themselves.

[2018-02-26 07:12] ansyral commented on #35
duplicate of #107

[2018-02-26 07:12] #35 closed

[2018-02-26 07:24] ansyral commented on #34
seems some class path isn't successfully resolved, could someone help share a piece of code to repro the error?

[2018-02-26 07:31] ansyral commented on #104
let's use #100 to track this

[2018-02-26 07:31] #104 closed

[2018-02-26 07:32] ansyral commented on #94
let's use #100 to track this

[2018-02-26 07:32] #94 closed

[2018-02-26 07:33] ansyral commented on #100
other requests to configure test location: #94 #104

[2018-02-26 09:08] ansyral commented on #34
BTW, which version of Junit are you using?

[2018-02-26 09:16] ansyral commented on #99
5cf1acc

[2018-02-26 09:16] #99 closed

[2018-02-26 21:34] vasilescur commented on #34
I'm running into the same issue. I downloaded the junit-4.12.jar and hamcrest-core-1.3.jar and placed them in my project's folder as per the JUnit installation guide, but the classpath generated by this extension that gets used in the command to run the tests seems not to be able to see jar files in the folder. I suggest apending `./*` to the generated classpath.

[2018-02-27 02:38] ansyral commented on #34
@vasilescur which kind of project management are you using? maven, gradle or eclipse projects, .etc? could you check whether your project'classpath contains junit-4.12.jar?

[2018-02-27 03:31] vasilescur commented on #34
@ansyral That solved my issue. I wasn't using any of those, just placing classes in a folder. I've (learned and) switched to using Gradle, and everything works fine now.

[2018-02-27 07:41] ansyral commented on #34
@Stiixxy are you using Junit5? We haven't supported it yet, we'll work on it soon.

[2018-02-28 04:22] PratimGhosh86 commented on #101
Same issue here. For reference, i'm using the following project: https://github.com/PratimGhosh86/quick-poc

[2018-02-28 09:32] angelozerr commented on #93
I think it's more an issue with JUnit support of Eclipse JDT. I have created a bug for that https://bugs.eclipse.org/bugs/show_bug.cgi?id=531779

[2018-03-01 14:40] parkertomatoes opened #131 "Maven Surefire Plugin isn't run, breaking tests"
Tests that pass via "mvn test" fail when run from VS Code, seemingly because it isn't executing the Maven Surefire plugin to remove some run-time dependencies from the test classpath.

Background:
The SLF4J folks officially recommend using this testing SLF4J implementation for unit tests:
http://projects.lidalia.org.uk/slf4j-test/
Because SLF4J doesn't like multiple implementations, the test libra

[2018-03-02 02:06] ansyral commented on #131
@parkertomatoes it is "mvn test" that executes the maven plugin to remove logback from the test classpath. If I understand it correctly, you want to the ability to configure some preprocess action before runner running the tests? Currently we don't support this.

[2018-03-02 04:25] andxu opened #132 "After rerunning a test, previously opened report should refresh"
Reported at https://github.com/Microsoft/vscode-java-debug/issues/222, I think it should be referencing
to this project.

    After rerunning a test, previously opened report should refresh.

    ##### Environment
    - Operating System: macOS 10.13.2
    - JDK version: 1.8.0_161
    - Visual Studio Code version: 1.20-0 insiders
    - Java extension version: 0.18.0
    - Java Debugger extension ve

[2018-03-02 05:20] akaroml commented on #132
@ansyral Please take a look.

[2018-03-06 09:10] ansyral commented on #49
## JUnit5 test

1. clone junit projects from https://github.com/junit-team/junit5-samples
2. open the junit5 project, e.g. junit5-maven-consumer, this projects contain both junit4 and junit5 tests.  After tests are loaded, check whether codelens are ok, trigger tests from codelens, check status and report
3. trigger tests from test explorer, check whether it handles all the tests well

[2018-03-06 09:16] ansyral opened #133 "0.4.0 End Game"
# Build
- [x] 3/7 - bump version to 0.4.0 - @ansyral
- [x] 3/7 - Update change log for 0.4.0 - @ansyral
- [x] 3/7 - Signed RC Bits - @ansyral

# Test
- [x] 3/7 - Run test plan #49, verify bug #130 #99 - @bsaby
- [x] 3/7 - Test basic feature on VSCode insider - @ansyral
- [x] 3/7 - Verify bug #130 #99 -@ansyral

# Release
- [x] 3/7 - Add 0.4.0 tag for vscode-java-test - @ansyral
- [x] 3/7 - Release

[2018-03-07 00:56] jacobohidalgo commented on #101
Same issue

[2018-03-07 03:07] ansyral commented on #93
we'll support basic feature of JUnit5 in 0.4.0

[2018-03-07 05:52] bsaby opened #134 "Could not run the tests through code lens if the method has parameters"
1. Clone Junit projects from https://github.com/junit-team/junit5-samples
2. Open the junit5 project, e.g. junit5-maven-consumer
3. Trigger test from FirstTest class level: test passed
4. Trigger test from FirstTest method level: test skipped

![image](https://user-images.githubusercontent.com/22470312/37075787-6c68ad22-220e-11e8-82bb-535dae150c1d.png)

LOG:
![image](https://user-images.githubuser

[2018-03-07 06:00] ansyral commented on #134
The test has a parameter with `TestInfo` injected, that is why runner failed to parse test name

[2018-03-07 07:38] bsaby opened #135 "An unknown error occured"
Project: https://github.com/Microsoft/todo-app-java-on-azure.git

1. Make sure the class only has one method
2. Delete the method in this class
![image](https://user-images.githubusercontent.com/22470312/37079412-7f4401da-221d-11e8-959e-43f8cdb4e26d.png)

Log:
![image](https://user-images.githubusercontent.com/22470312/37079421-84edb9aa-221d-11e8-8e1e-0f95e0f1e437.png)

[2018-03-07 07:40] bsaby opened #136 "Multi root-> can't run/debug all tests"
Always skip most tests

![image](https://user-images.githubusercontent.com/22470312/37079469-ae569da2-221d-11e8-8efe-4b55e558b549.png)

[2018-03-07 07:48] bsaby commented on #133
# Run test plan
1. Configuration

     Win10 x64 | Mac
     -- | --
     VSCode1.20.1   Jdk1:1.8.0_161 | VSCode:1.20.1   JDK:1.8.0_144

2. Open new bugs:

     #134 #135 #136
# Verify bugs

Bugs | Windows | Mac
-- | -- | --
#130 | Pass | Pass

[2018-03-07 08:00] ansyral commented on #136
both of the two projects contain junit4 tests and classpath resolver failed to resolve all classpath

[2018-03-07 08:36] #135 closed

[2018-03-07 08:36] #136 closed

[2018-03-07 08:36] ansyral commented on #133
#135 #136 are fixed

[2018-03-07 15:21] stejsoftware commented on #34
I had the same issue.
My test were in the default package. It appear to have cleaned its self up when I put the test in a package and then restarted VSCode.

[2018-03-09 06:58] ansyral commented on #34
@stejsoftware  sorry I couldn't repro using your code.  Could you check whether your pom.xml configure junit correctly?

[2018-03-09 07:04] #133 closed

[2018-03-09 07:08] IzakMarais commented on #131
I also have some similar problems. We use protocolbuffer definitions that generate java source files that are included in the tests. They are not picked up when using this plugin.

Source files are generated like so in the pom:
[code]

we event try to add it to the test class path like so (this is not needed for `mvn test` to work).
[code]

[2018-03-09 16:54] shawmanz32na opened #138 "Maven test classpath not respected"
When running the tests from the command line using `mvn verify`, I see different test behavior/results than when those same tests are run from this plugin. Much of the time, the failures reported by VS Code are due to `NoClassDefFoundError`s. I can only assume that the plugin is not accurately picking up the classpath as configured in the Maven.

![image](https://user-images.githubusercontent.com/

[2018-03-12 22:51] jsun6383 commented on #138
I had the same issue with one of my test cases. Restarting the vscode seem to allow the test runner to resolve the correct dependencies.

[2018-03-16 04:39] PratimGhosh86 opened #139 "spring boot test hanging java test runner"
Test runner hangs at *__Running Tests__* even though the output log shows that the test completed successfully.

![image](https://user-images.githubusercontent.com/17795322/37503728-09690c1e-2900-11e8-8f12-acc05340f7b0.png)

Trying to run any subsequent test results in

![image](https://user-images.githubusercontent.com/17795322/37503776-47ede4b4-2900-11e8-933f-e5f745d6b0f9.png)

Using versions:
`

[2018-03-16 21:15] PratimGhosh86 commented on #139
solved by using the following the test class

`@DirtiesContext(classMode = ClassMode.AFTER_CLASS)`

[2018-03-16 21:15] #139 closed

[2018-03-19 05:26] ansyral commented on #139
@PratimGhosh86 thanks for reporting this. I'm not  sure whether  [Java language server](https://github.com/redhat-developer/vscode-java) has supported lombok well.  I couldn't get the project compiled in vscode, may I ask how you got it compiled in vscode?

[2018-03-19 05:30] ansyral commented on #138
@shawmanz32na thanks for reporting this, could you help share a sample code to repro this class path issue?

[2018-03-19 13:36] LuoDL opened #140 "Support JUnit Nested tests"
Here is the screenshot.

<img width="1206" alt="2018-03-19 21 32 34" src="https://user-images.githubusercontent.com/6195232/37598400-13fec1ae-2bbd-11e8-9ba6-85f577316971.png">

The information in the "Test Output" window is:

@@<{"name":"rootName", "attributes":{"name":"Default Suite"}}>
@@<{"name":"suiteTreeStarted", "attributes":{"name":"tetris.Step1_FallingBlocksTest", "location":"java:test://t

[2018-03-19 16:41] shawmanz32na commented on #138
@ansyral Unfortunately, the code that's failing is proprietary and I can't share it. I'll try to get a simplified project together that demonstrates the problem in short order.

[2018-03-20 01:51] ansyral commented on #138
@shawmanz32na great, thanks

[2018-03-20 02:03] ansyral commented on #140
@LuoDL are the tests parameterized? or could you help share the log? You can open the log using command"Java: open log"

[2018-03-20 13:45] LuoDL commented on #140
The code is come from [tdd-tetris-tutorial](https://github.com/orfjackal/tdd-tetris-tutorial).
Maybe you want to try it yourself.

[2018-03-21 02:28] Romalouz opened #143 "Test execution working directory points toward vscode installation folder"
Hello,

The working directory of the test execution points towards VS Code installation folder when starting a test from the Run Test & Debug Test controls.

Here is a simple test that expose the issue:

[code]

Running this test with `mvn test` outputs:
[code]

Whereas starting it with the Run Test control or `Java: Run Test` command gives:
[code]

Would it be possible to define the user.dir prop

[2018-03-21 02:28] ansyral commented on #140
@LuoDL thanks for the detailed info. Nested tests are not handled well, will fix it.

[2018-03-21 08:26] ansyral commented on #143
@Romalouz we'll support test configuration later and you can configure properties from UI

[2018-03-21 16:21] Romalouz commented on #143
@ansyral Can you explain how I can configure the properties from UI?
Thanks in advance.

[2018-03-21 19:10] braetkuegeli opened #144 "java.io.FileNotFoundException because target-Folder not available"
In my Junit-Tests I'm creating a file in the target-Folder, which works with Maven and Eclipse. But with Java Test Runner I'm getting a java.io.FileNotFoundException.

[code]
In the launch configuration I can add the target folder to the source path to make it work. But I don't know how to configure it for the Java: Run Test

[code]

[2018-03-22 03:07] ansyral commented on #143
@Romalouz  sorry it hasn't been supported yet, we'll work on it later.

[2018-03-22 03:10] ansyral commented on #144
@braetkuegeli we haven't supported test configuration yet, will work on it soon!

[2018-03-22 08:09] ansyral commented on #131
@parkertomatoes @IzakMarais we'll support test configuration this release, where you can configure `prelanchTask` to execute maven goals, what do you think about this?

[2018-03-22 11:51] braetkuegeli commented on #144
@ansyral I expect the same behaviour regardless if I use Eclipse, Maven, VS Code with Maven for Java or VS Code with Java Test Runner Extension.

[2018-03-23 02:51] ansyral commented on #144
@braetkuegeli make sense, the default working directory could be changed to current workspace folder if other IDEs all follow this way

[2018-03-27 03:41] ansyral commented on #49
## Test configuration

1. ctrl+shift+p open command panel, trigger command `Java: Edit test configuration`, configure projectname, workingdirectory, prelaunchtask
2. trigger tests from codelens/test explorer `Run with config`
3. debug a test, check variable evaluation works

[2018-03-28 06:45] ansyral opened #150 "0.5.0 EndGame"
# Build
- [x]  3/29 - Bump version to 0.5.0  - @ansyral
- [x]  3/29 - Add change log for 0.5.0 - @ansyral
- [ ]  3/29 - Signed RC Bits - @ansyral

# Test
- [x]  3/29 - Run test plan #49 - @bsaby
- [x]  3/29 - Test configuration - @ansyral

# Release
- [x]  4/3 - Add 0.5.0 tag for vscode-java-test - @ansyral
- [x]  4/3 - Release to marketplace - @ansyral

# Notes
Before you check an item, please re

[2018-03-29 09:17] bsaby opened #152 "Extension is activated without opening any folder"
1. Without opening any folder
2. Ctrl+Shift+p -> open command panel, trigger java test command, e.g.  Java: Edit test configuration

Result:
![image](https://user-images.githubusercontent.com/22470312/38083820-4af293e4-337d-11e8-9cbb-7a1b9c9abb37.png)

[2018-03-29 09:24] bsaby opened #153 "No specific error message when the config file has some errors"
Make sure there is some error in test-launch.config file
Result:
1. Click Run with config or debug with config, there is no specific error message pops up from the vscode lower right corner and it is difficult to find errors if the file has large contents.
2. If you close the config file at this time, you will not be able to open it again through the command: Java: Edit test configuration

[2018-03-29 09:32] bsaby opened #154 "Config file can't auto-generate project configuration information"
1. Open A project
2. Open config file by triggering command  `Java: Edit test configuration`
3. The config file will generate configuration content for A project
4. Close A project and open B project
5. Open config file again by triggering command  `Java: Edit test configuration`

Result:
Configuration content without any updates

[2018-03-29 09:34] sallyur opened #155 "Cannot read property 'viewColumn' of undefined"
1. Open one project
2. Make sure there is no .java file opened
3. Ctrl+shift+p open command panel
4. Trigger command java: Edit test configuration
Error in toggle developer tools:
![image](https://user-images.githubusercontent.com/28860891/38081114-c99e867e-3375-11e8-8de2-baeef74478be.png)

[2018-03-29 09:47] sallyur opened #156 "Repeated codelens"
It is not a regression issue ,it is also repro in  0.4.0
1. Clone junit projects from https://github.com/junit-team/junit5-samples
2. Open the junit5-samples-master project
3. Open firstTest.java file

![image](https://user-images.githubusercontent.com/28860891/38082292-c41a8222-3378-11e8-80e2-7504c11a609f.png)

[2018-03-29 10:19] bsaby commented on #150
# Run test plan

1. Configuration：

Win10 x64 | Mac
-- | --
VSCode1.20.1 Jdk1:1.8.0_161 | VSCode:1.20.1 JDK:1.8.0_144

2. Open bugs:
 #152 #153  #154 #155 #156
3. Test result:

Test case | Win10 | Mac
-- | -- | --
Clean   install | Pass | Pass
Update | Pass | Pass
Uninstall | Pass | Pass
Test   explorer | Pass | Pass
Test   explorer of Multi-root | Pass | Pass
Test   report | Pass | Pass
Test   st

[2018-03-29 17:29] smoyer64 commented on #93
@angelozerr - I don't think that the issue you raised in https://github.com/Microsoft/vscode-java-test/issues/93#issuecomment-369178017 is going to help with JUnit 5 support.  When running JUnit 5 tests in Eclipse, the plugin uses the JUnit5 Engine for discovery and for execution.  The structure of a JUnit5 test plan includes both tests and containers which can form an arbitrarily deep hierarchy (

[2018-03-31 02:16] smoyer64 commented on #93
After running a few more JUnit5 tests through VS Code's Java test extension I've also realized that the ``@DisplayName`` annotations are not being used when present.  I can submit a separate issue for this problem if you want (along with a small code sample and Eclipse output.

[2018-04-03 03:42] #155 closed

[2018-04-03 03:43] #152 closed

[2018-04-03 05:16] #154 closed

[2018-04-03 05:16] #153 closed

[2018-04-03 05:49] ansyral commented on #150
fixed #152 #153 #154 #155

[2018-04-03 06:30] #150 closed

[2018-04-03 06:30] ansyral commented on #144
@braetkuegeli could you try the latest version of the extension? It should work now

[2018-04-03 06:32] ansyral commented on #143
@Romalouz could you try the latest version of the extension? By default the working directory would be current workspace folder, and you could configure it by command `Java: Edit Test Configuration`

[2018-04-03 06:33] ansyral commented on #131
@parkertomatoes @IzakMarais we've supported test configuration this release and you can configure the `preLaunchTask` to add maven goal script

[2018-04-03 06:36] ansyral commented on #102
This should work now in the latest version of the extension, @goncealex would you like to have a try?

[2018-04-03 06:37] ansyral commented on #100
delivered in 0.5.0

[2018-04-03 06:37] #100 closed

[2018-04-03 11:55] falco467 opened #160 "Provide Flag for default Test Configuration"
Test Configuration works great!
But as far as I can tell a simple "Run Test" will run without any configuration.

If we could set one Configuration as default for a project, so it is used when I just press "Run Test" would be a nice time-saver.

[2018-04-03 15:30] Romalouz commented on #143
@ansyral Just tested it and it work nicely.
Thanks for your support.

[2018-04-03 15:30] #143 closed

[2018-04-04 20:32] RogueHat commented on #53
@ansyral  Got an ETA for that?

[2018-04-04 22:47] viperx77 commented on #101
Same issue

[2018-04-06 22:34] cagdasgerede commented on #34
Make sure you open the root folder of the project. If you open an individual file or a sub folder in VS code then you will see this error.

[2018-04-07 13:11] goncealex commented on #102
Hi @ansyral ,
i did few tests and it works great! Thanks for the feature!
I tried it few days ago and couldn't find the configurations for all the projects in my workspace, but now it works! ( i guess it was some problem with my setup )

One little thing: if i don't choose a project to test, i get 2 notifications saying "Please specify the test config to use **!**" ( one with exclamation mark at t

[2018-04-08 16:53] braetkuegeli commented on #144
It works now as excpeted!

Thank you @ansyral

[2018-04-08 16:53] #144 closed

[2018-04-09 02:04] ansyral commented on #160
@falco467 simple "Run Test" would run with working directory pointing to current workspace folder, no other configurations except for this. Do you mean that you want to be able to configure a default configuration from your configuration file?

[2018-04-09 07:03] falco467 commented on #160
Yes! If one configuration could be set as default that would be a nice feature.

[2018-04-10 06:09] ansyral commented on #160
@falco467 I would add a `default` section in the config, and you might need to fill it in to make "Run test" run with the specified default config.

[2018-04-10 08:41] llgcode opened #161 "Define environment variable and cwd"
I need to define environment variables for a test case and also change the current directory of the test.

[2018-04-11 21:36] dannormond commented on #131
I'm not sure the preLaunchTask is what is wanted for this.  I've put in a preLaunchTask to call 'mvn test' but that just runs all my tests through maven before attempting to run one test through Code.

[2018-04-13 05:36] akaroml opened #163 "'Loading Test...' is blocking users from debugging"
Copied from Gitter:

Aleksei Gurianov @Guria Apr 10 20:12
Hi. I installed Java Extension Pack with vscode-java-debug. I have set up config to attach my local tomcat and it works. But the problem is that when I am trying to start Debug session for the first time since project opened I have a very long (decades of minutes) waiting period with "Loading tests..." in status bar. Can I avoid this someho

[2018-04-13 06:41] ansyral commented on #161
@llgcode you could edit test configuration through command `Java: Edit Test Configuration`

[2018-04-13 07:01] ansyral commented on #131
@dannormond does your pom.xml contain customized goal execution in or before "test" phase? If so, you could add script like `mvn groupID:artifactID:version:goal` in the preLaunchTask to achieve the same effect with maven test.

[2018-04-13 07:02] akaroml opened #164 "User should be able to cancel a running test session"
Reported by multiple sources. User should be able to cancel a running test session.

[2018-04-13 07:12] ansyral commented on #102
@goncealex thanks for your test and feedback! Seems the notification behavior of vscode between debugging and normal usage are different, will fix it.

[2018-04-13 07:14] ansyral opened #165 "Notification: two notifications when user doesn't specify a test config"
![image](https://user-images.githubusercontent.com/1982828/38721555-4c6c841c-3f2d-11e8-818f-fddd8945e373.png)

Also need to check other places that throw errors

[2018-04-13 07:16] ansyral commented on #164
duplicate of #101

[2018-04-13 07:18] ansyral commented on #102
@goncealex I added an issue #165 to track the notification bug, so I'm gonna close this one.

[2018-04-17 08:00] #161 closed

[2018-04-17 08:07] #164 closed

[2018-04-18 02:02] #165 closed

[2018-04-19 03:03] ansyral commented on #49
## Cancel a test run

1. start a test run that lasts for a long period, for example, run the whole tests in a project, or add `Thread.sleep` in your test.
2. click `Cancel` button on the notification message or from test explorer, verify the test run is stopped.

[2018-04-19 03:05] ansyral commented on #49
## Run with default configuration

1. Edit test configuration, fill in `default` section with the name of the config that you specify as default configuration
2. Click `Run Test` codelens, verify the default configuration is picked(e.g. set up working directory in the config)

[2018-04-19 20:47] Azune opened #172 "View details not working"
When you get the tests results and you have failed tests, on the output log you can see the failure cause.
On the test reporter, you can see the failed tests but whenever you want to see the failure cause and click on the failed test "View details", it doesn't show up.

I've removed the method path/name from the image below, so just to be clear, the names are showing fine but the failure details a

[2018-04-20 02:01] ansyral commented on #172
@Azune  does the behavior occur on other tests or is it specific for this one? Could you help share the code to repro? Thanks.

[2018-04-20 13:34] llgcode commented on #161
It works, thanks

[2018-04-20 14:45] Azune commented on #172
It was doing this on all tests, I uninstalled the extension and reinstalled it and it solved the issue. If I get the issue again I try to get logs and code to reproduce the issue.

[2018-04-24 06:29] ansyral commented on #172
@Azune I'm gonna close this one and feel free to open an issue if it reproduces again

[2018-04-24 06:29] #172 closed

[2018-04-24 07:38] ansyral commented on #163
I did a test to add a timeout in test runner's `activate` function, and it turns out that runner isn't up you can still trigger debugging. So I suppose vscode wouldn't block other extension's operation till all extensions to load. One suspect is that full compilation leads to debugger to take a long time to respond.

[2018-04-25 03:40] JavaHello opened #176 "多模块项目classpath问题"
在工作空间有多个项目时(A,B)，运行A项目的test case，classpath中有B项目的目录,A并没有依赖于B,使用maven运行test case是正常的

[2018-04-25 07:39] ansyral commented on #176
@JavaHello could you help share more details about the error message or stack trace? The test case cannot run successfully because class path contains the bin directory of project B and it couldn't be resolved?

[2018-04-25 11:09] JavaHello commented on #176
## 我的是spring boot项目，加载到了A项目加载了B项目的配置文件导致无法启动。

[code]

[2018-04-26 10:48] Bfindlay opened #177 "Report only runs once and then is unable to be refreshed."
When i run a test using Test Explorer, it will only run the tests once,
after that if i run the tests again and then try and open the report i get this message:
"Test file has been changed, try open the report again..."

The only way to resolve this i see is to close vscode and re-open.
Is there a solution to this yet?

[2018-04-27 06:04] ansyral commented on #177
@Bfindlay did you make any change to your test class? Does the case always repro? Could you help share your test log? You can open test log by command:"Java: Open Log", thanks.

[2018-04-27 07:31] JavaHello commented on #176
@ansyral 谢谢你的解答，这样可以使他们正常运行

[2018-04-27 11:36] thegabriele97 opened #180 "'Failed to run tests' error"
Hi,
I don't know why today Junit seems stopped working..

![image](https://user-images.githubusercontent.com/35406071/39360348-3225ea2a-4a1e-11e8-993b-f561af337a50.png)

You can find my test case and .classpath here
https://gist.github.com/thegabriele97/558bce9ae5e4aff5964e5be009785b64

[2018-04-28 00:47] ansyral opened #181 "0.6.0 End game"
# Build
- [x]  4/28 - Bump version to 0.6.0  - @ansyral
- [x]  4/28 - Add change log for 0.6.0 - @ansyral
- [x]  4/28 - Signed RC Bits - @ansyral

# Test
- [x]  4/28 - Run test plan #49 - @bsaby
- [x]  4/28 - Cancel test - @ansyral
- [x]  5/3  -#183 #184 are fixed

# Release
- [x]  5/3 - Add 0.6.0 tag for vscode-java-test - @ansyral
- [x]  5/3 - Release to marketplace - @ansyral

# Notes
Before yo

[2018-04-28 08:03] bsaby opened #183 "Different method status after canceling the run test"
Project:
• https://github.com/Microsoft/todo-app-java-on-azure.git
• https://github.com/junit-team/junit5-samples/tree/master/junit5-maven-consumer

Repro steps:
1. Open the Workspace and  run all test
2. Cancel the run test
3. Open test report
![image](https://user-images.githubusercontent.com/22470312/39393868-0d84b54a-4afd-11e8-9bc5-bc6a6a08d187.png)

[2018-04-28 08:07] bsaby opened #184 "Unable cancel run/debug test with prelaunchtask"
1. For example, set the preLaunchTask: "mvn clean package" then set the default section with the configuration name, shown as below
![image](https://user-images.githubusercontent.com/22470312/39393953-ebd50b2e-4afd-11e8-880c-4a330b5cd09a.png)
	2. Click Run Test codelens
	3. Click Cancel button on the notification message

Result:
The run test can't be stopped

[2018-05-03 01:44] #183 closed

[2018-05-03 02:51] #184 closed

[2018-05-04 14:25] bozoh opened #189 "Don't detecting end on test exection"
I try to run a test,  in the output windows tests are running ok, but after that, the extension
 don't detect the end of execution, and the symbol (Runnig) stay in that way forever (no timeout or a way to cancel), and i can't run any tests anymore using this plugin, it's give a alert message
'Skip this run cause we only support running one session at the same time'

I'm latest version of vcode(1.2

[2018-05-05 15:48] jiangdequan opened #190 "Problem to get the root path of class when run a test"
When I use the extension to run a test, in some case I use the code below to get the root path
`Thread.currentThread().getContextClassLoader().getResource("").getFile()`

In vscode the result is: the/path/of/the/project/target/classes
In IDEA or Eclipse the result is: the/path/of/the/project/target/test-classes

Therefore, my previous unit tests could not be performed properly.
Could you help me o

[2018-05-07 07:48] ansyral commented on #190
@jiangdequan might because in the calculated class path, `the/path/of/the/project/target/test-classes` is listed after `the/path/of/the/project/target/classes`. Do you also meet the problem when you try to access a resource ? or your code depends on the the value of `getResource("")`?

[2018-05-07 08:07] ansyral commented on #189
@bozoh, could you help share a sample code to reproduce this? Thanks

[2018-05-07 08:09] jiangdequan commented on #190
@ansyral In the dir `the/path/of/the/project/target`, both test-classes and classes are there.

Yes, I want to use the result to access a resource about test.

[2018-05-07 09:09] #181 closed

[2018-05-07 12:07] bozoh commented on #189
This is my test case, it's working before,  but now it's not,  and don't work well for any test case

[code]

[2018-05-10 01:03] jiangdequan commented on #190
Hi, @ansyral !
Is this problem related to this extension or vscode?

[2018-05-14 06:45] ansyral commented on #190
@jiangdequan do you have same resources in both src and test folder? It seems no problem to access the resource file if it resides in test folder. Or could you help share a piece of code to repro it?

[2018-05-14 06:46] ansyral commented on #189
@bozoh if this is the case, I'm gonna close it and you can open an issue once it happens again. Thanks.

[2018-05-14 06:46] #189 closed

[2018-05-14 06:51] ansyral commented on #180
@thegabriele97 seems a strange case. Could you help share logs during that period? You can open the log by invoking the command `Java:Open log` in the command palette.

[2018-05-14 08:22] ansyral opened #195 "the status of codelens and status bar might not be consistent"
How to repro?

change `AssertTrue` to `AssertFalse` back and forth, then sometimes the status of codelens is not updated.
cannot repro every time, need to investigate the root cause.

[2018-05-15 02:58] ansyral commented on #190
@jiangdequan I think you can use `Thread.currentThread().getContextClassLoader().getResource("test.properties").getFile()` directly, does it work for you?

[2018-05-15 04:49] jiangdequan commented on #190
It works fine.

My unit tests are working fine in other IDEs or maven.Modifying the code may be a good solution.

But, why are there different results with plugins and maven?

[2018-05-15 07:54] ansyral commented on #190
the test runner doesn't use `maven test` to run the tests, the implementations might be different.

[2018-05-16 01:55] jiangdequan commented on #190
Do you have a plan to make it the same as maven?

[2018-05-17 13:52] chrisaige commented on #53
When will we get this?

[2018-05-18 09:11] mouadino opened #198 "Restart is necessary after changing dependencies with Gradle"
**VS Code:** 1.23.1
**Java Test Runner:** 0.6.1

Each time I add a new dependency to `build.gradle`, tests fail in case they need the specific class (e.g. JDBC driver) while running `gradle test` from terminal works, and it seems (happens already 2 times) that it only works after I restart vs code.

[2018-05-21 10:44] thwfreak opened #200 "not possbile to set environment variables"
there is no option in launch.test.json to set environment variables as in launch.json.

my test cases are configured via these env variables and so it is not possible for me to run these tests in vscode.

Any plans or ideas for supporting env variables for the test environment?

[2018-05-21 17:21] bmcgreer commented on #101
Same issue here.  IMO, it's not that we want to cancel a running session, it's that we don't want the session to hang in the first place.

[2018-05-22 01:56] ansyral commented on #200
@thwfreak  thanks for the suggestion, yes, we would add support for env variables later.

[2018-05-22 02:42] ansyral commented on #198
@mouadino , thanks for the report. Seems class path are not updated automatically when updating `build.gradle`. Will fix it.

[2018-05-22 05:59] ansyral commented on #160
@psychelzh thanks for the suggestion, we would add some documentation later.

[2018-05-22 05:59] #160 closed

[2018-05-22 06:00] #131 closed

[2018-05-22 19:03] bozoh opened #201 "The runner are runnig tests methods with @Ignore tags"
The teste runner seems to ignore the junit Ignore Tag (@Ignore) and run the method (not skiping it)

OS: LINUX
vscode version: 1.23.1
java test runner test: 0.6.1

![spectacle tj9823](https://user-images.githubusercontent.com/2317639/40384332-96760748-5dd9-11e8-9fa1-8765237d8815.jpeg)

[2018-05-24 08:58] ansyral commented on #201
@bozoh do other tests which have `Ignore` annotation also get executed? I am not able to repro it on windows. Although I don't think it is platform related, I would try to see whether I could repro it on linux.

[2018-05-24 13:37] bozoh commented on #201
hummm, i don't have any other ignore tags yet,
but when i put some in other place it's works !!!

and this error has gone too,  very very odd
i was thought  it could be the @RunWith tag but it's not, it's working now !!!!

[2018-05-25 02:48] cryizzle opened #202 "[BUG] Conflicting Test Results depending on project folder."
I have a project consisting of 2 maven components.
The folder structure is as follows:
[code]
I'm working on tests in one component, however, I have it opened at its parent folder (Main Project).
When Running the tests, it fails with the following message
![image](https://user-images.githubusercontent.com/5437366/40523586-00430f1e-6009-11e8-99e8-3764107fe449.png)
![image](https://user-images.githu

[2018-05-31 20:05] andybarilla opened #203 "Tests with Junit and Jmockit fail"
When trying to run tests that use Jmockit and Junit the error below occurs. Is there a way to set the classpath for the unit tests?

`java.lang.IllegalStateException: JMockit wasn't properly initialized; check that jmockit.jar precedes junit.jar in the classpath (if using JUnit; if not, check the documentation)`

When run with mvn test and from Eclipse all of these tests run as expected.

[2018-06-04 09:27] ansyral commented on #203
@ndbrlla  classpath is automatically set by the runner. Could you check your pom.xml, does dependency `jmockit` precede `junit`? Or could you share a code snippet to repro this issue? I cannot repro it right now.

[2018-06-04 09:31] ansyral commented on #202
@cryizzle could you help share more detailed error messages or call stack?

[2018-06-05 07:48] mojo2012 opened #204 "Disable auto-load/search of tests"
I'm working with a huge codebase (SAP Hybris) with 10k+ tests. It takes like 15 minutes to load all tests.
Actually I don't want to index the Hybris tests, I just want to have my own tests visible.
So please provde a way to disable the index for certain files or paths.

Another way would be to not try to detect tests each time the workspac is opened. Why not persist the index somewhere?

[2018-06-06 14:32] khe817 opened #205 "Restart is necessary after changing dependencies with Maven"
**VS Code**: 1.23.1
**Java Test Runner**: 0.6.1

Each time I add a new dependency to `pom.xml`, tests fail because they need some specific classes from the new dependency (throws error `NoClassDefFoundErrors`). Running `$ mvn test` from terminal works fine.

Test Runner only works again after I restart VSCode.

Possibly related issues: #198 , #138

[2018-06-12 02:58] akaroml opened #206 "Test results not refreshed after rerun"
https://www.linkedin.com/pulse/update-using-vs-code-java-scott-shipp/

According to this article, the test results were not refreshed after rerunning. Please help fix this.

[2018-06-12 03:16] jdneo opened #207 "Tests cannot be run correctly"
Steps to repro:

1. The code I'm using is: https://github.com/Microsoft/azure-maven-plugins
2. the unit tests can be run successfully by `mvn test`
3. using Java Test Runner failed to run tests

Logs:
[code]

[2018-06-13 06:19] ansyral commented on #206
`TextDocumentContentProvider` interface has `onDidChange` event, which could be used to update the test result.

[2018-06-13 06:34] ansyral commented on #205
@khe817 thanks for reporting this, this should be the same issue with 198. Also you reminds me of issue 138, which I didn't recall before that it could be related to updating pom.xml. Thanks again.

[2018-06-13 06:46] ansyral commented on #204
@mojo2012 thanks for reporting this. Yes, it could be a headache when you have a lot of tests in the workspace at first load. Persisting the index in local disk could be an option, but I 'm not sure whether it could be much faster to reload from disk. I'll do a test first. Thanks again.

[2018-06-13 07:20] mojo2012 commented on #204
Personally, I'd also be happy if I can just right click on a test method and click run (or use the command palette).
I don't need the panel with all the tests.

[2018-06-15 01:42] akaroml commented on #206
Is there any progress?

[2018-06-15 05:40] ansyral commented on #206
Current API cannot get access to the report window. I opened an issue to track. https://github.com/Microsoft/vscode/issues/51959

[2018-06-16 19:37] ckfrank opened #208 "Java test runner did not run test and always shows skipped."
![image](https://user-images.githubusercontent.com/19375542/41501900-1835df24-717b-11e8-8bdd-011c63b0acc0.png)
When I try to use this function to test on JUnit,  the tests are not actually running and all of my cases are just skipped.
![image](https://user-images.githubusercontent.com/19375542/41501907-314b8626-717b-11e8-96eb-83bdf7fd43a8.png)

These test are running in eclipse without any problem

[2018-06-18 08:03] kzmuhia commented on #208
I am also facing this issue for all my tests

[2018-06-19 03:58] ansyral commented on #206
The feature request for the API has been there for a while, so I used a walkaround to track text document open/close to get all uris to update.

[2018-06-19 06:40] #132 closed

[2018-06-19 06:41] #206 closed

[2018-06-19 21:40] senekis commented on #208
same issue here

[2018-06-20 02:20] ansyral commented on #208
@ckfrank @kzmuhia @senekis  could you help share the code snippets that repro the case or the test log during that period? thanks.

[2018-06-20 06:57] ansyral commented on #138
@shawmanz32na did you meet such errors after you updates pom.xml in vscode? Does it still occur when you restart vscode?

[2018-06-20 08:15] bsaby opened #212 "Can’t open test report by clicking status bar item"
Repro steps:
1. clone code from https://github.com/spring-cloud/spring-cloud-function/tree/master/spring-cloud-function-samples
2. Run all tests

Results:
Can't open test report by clicking status bar item
![image](https://user-images.githubusercontent.com/22470312/41645932-0aa2a590-74a5-11e8-8978-cefab17c5e54.png)

[2018-06-20 08:21] bsaby opened #213 "Failed to load the test config"
I cannot repro this issue stably, it highly occurs when first opening a project
Steps:
1. Install test runner extension
2. open a project
3. Run all tests after loading tests

Result:
An error occurred shown below screenshot.
Run all the tests again and it will be successful
![image](https://user-images.githubusercontent.com/22470312/41646136-9908e664-74a5-11e8-889e-357b5b0ec3b3.png)

[2018-06-20 09:46] ansyral opened #214 "Endgame 0.7.0"
# Build
- [x]  6/21 - Bump version to 0.7.0  - @ansyral
- [x]  6/21 - Add change log for 0.7.0 - @ansyral
- [x]  6/21 - Signed RC Bits - @ansyral

# Test
- [x]  6/21 - Run test plan #49  - @bsaby
- [x]  6/21 - verify bug #206 #205 #198  - @ansyral

# Release
- [x]  6/28 - Add 0.7.0 tag for vscode-java-test - @ansyral
- [x]  6/28 - Release to marketplace - @ansyral

# Notes
Before you check an item

[2018-06-20 09:54] ansyral commented on #49
## Class path is refreshed when build file(pom.xml, build.gradle) is updated

1. Edit pom.xml, remove a dependency.
2. Run test, it is expected to fail because some dependency cannot be resolved.
3. Edit pom.xml to add the dependency back and rerun the test.
4. test runs successfully

[2018-06-20 12:47] miho opened #216 "Test not recognized if @org.junit.Test is used instead of @Test"
The editor UI for running tests does not show up if `@org.junit.Test` is used instead of `@Test` with prior import.

**@org.junit.Test:**

![screenshot 2018-06-20 14 45 09](https://user-images.githubusercontent.com/225266/41659143-bff2f920-7498-11e8-952a-88c8122f4106.png)

**@Test:**

![screenshot 2018-06-20 14 44 52](https://user-images.githubusercontent.com/225266/41659158-c9a99c80-7498-11e8-998

[2018-06-20 13:20] shawmanz32na commented on #138
@ansyral Thanks for the ping.
I never did get around to creating a POM that reproduces the problem, but I haven't been witnessing this issue any longer. We did **a lot** of work to our project's POM to simplify it, so I can't say if vscode-java-test resolved the issue or our POM work did.

To answer your question, when I was seeing this problem, restarting VS code would not solve the issue.

[2018-06-21 08:05] bsaby commented on #214
### Run test plan
1. Conguration

Win10 | Mac
-- | --
Vscode   1.24.1   Jdk   1.8.0_171 | Vscode   1.24.1   Jdk   1.8.0_161

2. No new bugs found
3. Test result

Test case | Win10 | Mac
-- | -- | --
Configurations | Vscode   1.24.1   Jdk   1.8.0_171 | Vscode   1.24.1   Jdk   1.8.0_161
Clean   install | Pass | Pass
Update | Pass | Pass
Uninstall | Pass | Pass
Test   explorer | Pass | Pass
Test   ex

[2018-06-21 08:10] bsaby commented on #73
Close this issue because it was fixed.

[2018-06-21 08:10] #73 closed

[2018-06-21 08:39] ansyral commented on #208
@kzmuhia did you trigger the test from test explorer? Could you try to triger the test run from codelens, something like below:
![image](https://user-images.githubusercontent.com/1982828/41707814-9497c2ae-7571-11e8-8fd0-15def2aff8f8.png)
Does it also meet this problem?

[2018-06-21 08:58] bsaby commented on #213
Error Log
[code]

[2018-06-21 09:28] kzmuhia commented on #208
Yes it does, I actually got the message while using codelens

[2018-06-21 09:33] bsaby commented on #212
![image](https://user-images.githubusercontent.com/22470312/41710828-384fe17c-7579-11e8-81b1-8c956b10c220.png)

[2018-06-21 09:48] ansyral commented on #208
Then it seems to have nothing to do with the log message above. @kzmuhia could you help share a code snippet that repro the case?

[2018-06-22 03:07] ansyral commented on #212
tests are now identified with its qualified name, which might be duplicate if two projects use same package name and method name, and thus leading to the weird behavior

[2018-06-22 07:59] BrightSoul commented on #180
I cannot run tests either. Here's my log.
[code]
I just run a test by clicking the code lens link "Run Test", then the message "Failed to run tests" appears in the status bar. When I click it, the side panel tells me the test was skipped (it's the only test I have in the project currently).
![java_tests](https://user-images.githubusercontent.com/1888641/41764960-eac4e74c-7602-11e8-8364-345175a3c27

[2018-06-22 08:01] BrightSoul commented on #207
@ansyral Please see my comment on issue #180 as it might be related to this.
[https://github.com/Microsoft/vscode-java-test/issues/180#issuecomment-399357078](https://github.com/Microsoft/vscode-java-test/issues/180#issuecomment-399357078)

[2018-06-25 02:44] #205 closed

[2018-06-25 04:35] #198 closed

[2018-06-25 05:19] #200 closed

[2018-06-26 01:09] msandim opened #220 "Tests keep skipping!"
Hello everyone! I'm using Visual Code on a Java 8 project with Gradle.

My problem is that the tests keep skipping when start them in the UI through "Run Test" and "Debug Test". What's wrong?

![image](https://user-images.githubusercontent.com/5846459/41883314-e1bc6fd6-78e5-11e8-915e-ba574e2fb59d.png)

[2018-06-26 07:19] kzmuhia commented on #208
Hi,

I went to the link https://code.visualstudio.com/docs/java/java-tutorial
Pulled the code from git as per the instruction
Attempted to run the test under HelloControllerTest-> getHello

I am currently using the preview version of vs-code, although I got the same results on the regular one

[2018-06-26 09:53] #214 closed

[2018-06-26 09:55] ansyral commented on #177
@Bfindlay the newly published release has the change, would you like to have a try and tell us whether it solves this issue?

[2018-06-27 00:49] flakobatako opened #222 "Environment Variables not passed to test"
Edit: I downgraded to v 0.6.0 and worked like a charm. So definitely something messed up my projects in the new release:
![image](https://user-images.githubusercontent.com/28810524/41947887-db87060e-797f-11e8-893d-b9ba99a34b8d.png)

Prior to the latest extension update all my tests used to behave correctly, they would grab my user's environment variables (i'm on windows 7, 64 bits) whenever I expl

[2018-06-27 03:30] ansyral commented on #222
hi @flakobatako,
1. Test explorer has been moved to test view container.
![image](https://user-images.githubusercontent.com/1982828/41951316-d1da6560-79fc-11e8-8421-fb8d14f4d192.png)
2. I suppose you triggered the test directly from the codelens `Run Test`? Configuring env variables only works by triggering `Run Test with config`, which is only visible in the context menu of the test explorer(we k

[2018-06-27 04:20] flakobatako commented on #222
Ok, good to know.

I'll try tomorrow to test it like you say, and yes i tried to run it via code lens.

As for 3, i use to setup my env variables directly in windows via setx command.

Thank you.

[2018-06-27 05:19] ansyral commented on #222
@flakobatako I figured out that we have a bug that  kind of ignores the environment variables set by process, but before I fix it , you could try the `Run with config` command.

[2018-06-27 05:55] #222 closed

[2018-06-29 06:08] songxianpeng opened #224 "encoding in the test output window."
I'm using Chinese and my file encoding is UTF-8,and my output when I use debug and maven test is correct.
but when I use `Java:Show test output`: open the test output window. There's a garbled:

![image](https://user-images.githubusercontent.com/9303424/42075800-2d040f78-7ba5-11e8-8400-4c2fd762ae60.png)

I have tired to set  system environment variable “JAVA_TOOLS_OPTIONS", but it failed, is there

[2018-06-30 02:31] lramosduarte commented on #208
Here this problem was solved changed pattern name to `*Test.java`.

[2018-06-30 04:10] ansyral commented on #208
@kzmuhia I cannot repro your case, could you help paste your test output? You can open test output window by opening command palette, and choose `Java: show test output`.
![image](https://user-images.githubusercontent.com/1982828/42121287-88b76914-7c5e-11e8-8b82-f87f2fbbb63e.png)

[2018-06-30 04:13] ansyral commented on #208
@lramosduarte It isn't necessary to follow the pattern `*Test.java` as long as you follow junit annotation. Are you using some plugin like `maven-surefire-plugin` which could filter specific tests by config?

[2018-06-30 11:46] lramosduarte commented on #208
I am  to use default config.

sample `pom.xml`:

[code]

[2018-07-03 08:08] MyselfJar commented on #208
same issue cause hamcrest-all-1.3.jar miss .
 java:show test output
java.lang.NoClassDefFoundError: org/hamcrest/SelfDescribing

[2018-07-04 00:49] sherl0cks opened #226 "Stack Trace is Illegible"
This is the text in the test output window. I would like to see the new lines properly formatted so the stack trace is legible:

[code]

[2018-07-04 04:51] ansyral commented on #101
@falco467 @PratimGhosh86 @jacobohidalgo @viperx77 @bmcgreer I've merged a fix, this would be released in 0.7.1.

[2018-07-04 10:48] ansyral commented on #180
@BrightSoul sorry for the late. It seems to be a different issue(java.lang.NoClassDefFoundError: org/junit/runner/JUnitCore). Could you help open another issue to track it? Thanks.

[2018-07-04 10:55] ansyral opened #229 "default workingdirectory points to root folder"
how to repro?

Open a folder which contains several projects in subfolders. Say,
[code]
 'Edit test configuration' to generate default config. Then both the configs for project1 and project2 have their working directory pointed to rootfolder

[2018-07-04 10:55] ansyral commented on #207
After some investigation, It's more likely the test project contains conflict dependency. However, I do find a bug about working directory, filed in #229

[2018-07-04 11:05] ansyral commented on #226
@sherl0cks You can view formatted stack trace in test report. Click on test result on the status bar or codelens can open the test report.

[2018-07-04 11:07] ansyral commented on #224
@songxianpeng so `“JAVA_TOOLS_OPTIONS="-Dfile.encoding=utf-8"` does not work for you?

[2018-07-04 11:18] ansyral commented on #202
@cryizzle do your tests rely on workingdirectory? we have a bug #229, not sure whether it is related to your problem?

[2018-07-04 13:19] ansyral commented on #208
@MyselfJar `java.lang.NoClassDefFoundError` seems to be classpath issue, could you open another issue to track it? A small codesnippet and steps to repro your issue would be appreciated. Thanks.

[2018-07-04 13:21] ansyral commented on #208
@lramosduarte could you help share a sample code to repro your issue? Thanks.

[2018-07-04 13:44] lramosduarte commented on #208
i had created 1 scenario to test this problem, and if i give name file `*Test.Java` it work.

But if i rename to pattern Test*.java, the runner always skip class TestCase.

Prints:

![export](https://user-images.githubusercontent.com/8976314/42280328-cd8372ca-7f76-11e8-9b74-78903301fcc8.png)

![captura de tela de 2018-07-04 10-27-13](https://user-images.githubusercontent.com/8976314/42280308-bee80

[2018-07-04 14:14] ansyral opened #230 "no such file or directory, open xxx\launch.test.json"

[2018-07-04 14:14] ansyral opened #231 "Failed to analyze runner output data"

[2018-07-05 03:37] #207 closed

[2018-07-05 04:59] ansyral commented on #231
sample error message:
"Failed to analyze runner output data. Data: {"name":"testStarted", "attributes":{"name":"testSave", "location":"java:test://de.pse.skill_news.processing.RegexSaveIntentTest.testSave"}}>
### setUp
### testSave

[2018-07-05 06:49] #231 closed

[2018-07-05 15:48] sherl0cks commented on #226
My stack trace is happening in a @BeforeClass, there does not appear to be a way to view this in the test report.

[2018-07-06 08:05] ansyral commented on #226
@sherl0cks I got your idea now.

[2018-07-06 09:12] JanusWu opened #235 "Sometimes Test Explorer would not show when I click on a Test Report"
**To Reproduce**
	1. Open project junit5-migration-maven, select one java test file, the Test icon would show up
	2. Click on the Test  icon to open the Test Explorer, then run all test
	3. Open the Test Report, then swith the Test Explorer to File Explorer
	4. Select a folder in the File Explorer, the Test icon would disapper
	5. Click on the Test Report, the Test icon would not show up again

![

[2018-07-06 09:17] JanusWu commented on #235
A similar issue is that:
The Test Explorer would also not show up when I select a test java file in the editor (and not select a java test file in the Explorer). I think it's not make sense.
![image](https://user-images.githubusercontent.com/17060520/42370795-48fbd5e4-8140-11e8-964e-f3c945802a4b.png)

[2018-07-06 09:39] JanusWu opened #236 "Test explorer sometimes detect wrong tests when there have test functions with same name in different class"
**To Reproduce**
1. Open project _junit5-samples_ in vscode
2. Open the Test Explorer, wait for the finish of test detecting
3. Open all java files one by one to let all tests show in the Test Explorer
4. There would have 3 _addsTwoNumbers_ test under class _CalculatorTetsts_
5. Check the file paths of three _addsTwoNumbers_ functions, you will see two of the functions have the same file path. (to

[2018-07-06 10:13] ansyral commented on #236
@JanusWu thanks for the report, this is a known issue. Currently, runner uses fully qualified name of a test method as the unique identifier, which is not enough for the case above.

[2018-07-06 10:16] ansyral commented on #236
root cause is same as #212

[2018-07-06 23:09] sherl0cks opened #238 "Java Test Runner Never Completes When Test Fails"
In the test output window, I can see the test execution complete `Total tests run: 1, Failures: 1, Skips: 0` but the test runner tool still shows "Running tests..." and never completes.

[2018-07-09 02:51] #229 closed

[2018-07-09 02:54] ansyral commented on #238
it is fixed in #227, this would be released in 0.7.1

[2018-07-09 02:54] #238 closed

[2018-07-09 05:55] ansyral opened #240 "should invoke a runner per project"
scenario: if the user triggers a list of tests from multiple projects(say, trigger from test explorer), then should invoke a runner for each project as the different projects might contain conflict dependency and if we use a runner to run them all together, the class path might be resolved wrongly.

[2018-07-09 06:46] #176 closed

[2018-07-09 19:15] SSimcox commented on #107
Is there any headway on this? This is actually the last thing keeping Netbeans installed on my computer right now.

[2018-07-10 07:56] ansyral commented on #107
@SSimcox thanks for the feedback, we'll take it in consideration!

[2018-07-10 08:12] ansyral opened #243 "Endgame 0.7.1"
# Build
- [x]  7/11 - Bump version to 0.7.1  - @ansyral
- [x]  7/11 - Add change log for 0.7.1 - @ansyral
- [x]  7/11 - Signed RC Bits - @ansyral

# Test
- [x]  7/11 - Run test plan #49, verify #213 - @bsaby
- [x]  7/11 - verify bug #230 #222 #176  - @ansyral

# Release
- [x]  7/11 - Add 0.7.1 tag for vscode-java-test - @ansyral
- [x]  7/11 - Release to marketplace - @ansyral

# Notes
Before you c

[2018-07-11 06:45] bsaby commented on #213
Build: 0.7.1(build 274)
 I can't repro this bug, close it.

[2018-07-11 06:45] #213 closed

[2018-07-11 07:05] JanusWu opened #245 "Get error "undefined is not a function" when run test of spring-cloud-function-samples"
Build#274

Repro Steps:
1. clone code from https://github.com/spring-cloud/spring-cloud-function/tree/master/spring-cloud-function-samples
2. use vscode to open folder spring-cloud-function-samples, run all test in Test Explorer

get below error:
![image](https://user-images.githubusercontent.com/17060520/42555001-775fc35a-8519-11e8-8804-40d963061723.png)

error message in Developer Tools:
![image

[2018-07-11 07:11] bsaby commented on #243
### Ru test plan
1. Configurations

Test case | Windows | Mac
-- | -- | --
Configurations | Vscode   1.25   Jdk   1.8.1_171 | Vscode   1.25   JDK   1.8.1_171

2. Open bug:  #245
3. Test result

Test case | Windows | Mac
-- | -- | --
Configurations | Vscode   1.25   Jdk   1.8.1_171 | Vscode   1.25   JDK   1.8.1_171
Clean   install | Pass | Pass
Update | Pass | Pass
Uninstall | Pass | Pass
Test   ex

[2018-07-11 09:21] #243 closed

[2018-07-11 15:10] chrisaige opened #248 "TestNG Support"
Because #53 seems abandoned I am creating a new Issue.
Are there any updates on the Progress for TestNG Support by this Plugin?

Or is there a way I can help out implementing it?

[2018-07-12 02:48] ansyral commented on #180
@BrightSoul we've just released a new version, which has the fix and exposes a command `Java: Refresh Classpath`, could you help verify whether you could still meet above error and if so would invoking the command resolve it? Thanks. And if you still meet the error, opening a separate issue with details would be appreciated.

[2018-07-12 10:45] medialwerk opened #249 "Getting Error "undefined is not a function" after 0.7.1 update"
Hello everybody,

after the latest update, I'm getting an `undefined is not a function` error if I want to run my java specs. So now, I can't work on my code anymore.

vscode-java-test version: 0.7.1

The TestOutput shows the following error message:
[code]

I have a Gradle repository with 3 java projects in it.

I tried to let the plugin write a new launch.test.json, but it doesn't resolve my iss

[2018-07-13 04:13] ansyral commented on #249
@medialwerk what do the folder structures for project `sub-project` and `project` look like?

[2018-07-13 04:53] ansyral commented on #245
@JanusWu I cannot repro it locally. Could you add more info about test output?

[2018-07-13 07:45] BrightSoul commented on #180
@ansyral, thank you so much! It's working fine now :) Test are run correctly.
![tests](https://user-images.githubusercontent.com/1888641/42678978-d47f7676-8680-11e8-970e-1677d193703e.png)
The issue is resolved for me.

[2018-07-17 06:00] ansyral opened #250 "`Found multiple projects` error when parsing the project"

[2018-07-17 08:11] ansyral commented on #245
#251

[2018-07-18 08:58] ansyral commented on #248
hi @chrisaige We haven't started implementing TestNG yet. It's great to hear that you'd like to contribute to this feature and you're welcome to open pull requests. I think to support TestNG, we might need the following steps:
1. discover tests of TestNG, the code is placed in `com.microsoft.java.test.plugin`
2. implement the TestNG runner Console to run the tests, might need to add another projec

[2018-07-18 21:13] chrisaige commented on #248
Ok I made a fork (https://github.com/chrisaige/vscode-java-test) and pushed my changes.
I'm to incompetent to test the Plugin tho.
I'll try again tommorow maybe I can test my changes then.

[2018-07-20 04:58] bsaby commented on #245
@ansyral This issue can still be reproduced in build #281

[2018-07-21 02:48] BrendanBurkhart commented on #208
Having this issue too

[2018-07-23 06:45] ansyral commented on #245
After investigation, it turns out that eclipse JDT cannot successfully recognize the project `function-sample-azure`. This could also reproduce in eclipse.

[2018-07-23 08:06] jdneo opened #256 "Get error when first running the test"
log:

`Failed to load the test config! Please check whether your test configuration is a valid JSON file. Details: Unexpected end of JSON input.`

call stack:
[code]

[2018-07-26 04:37] ansyral opened #258 "Make runner better consume test output"
currently the runner would analyze test output from runner console but it has some shortcomings.
1. error messages output by the tests would also be printed to the System.error stream. So it had to tell runner error or test error.
2. the regex expression cannot cover all the cases as the stack trace could contain any text if the test failed.

[2018-07-26 13:50] akaroml opened #259 "Load test cases only when necessary (Delay load)"
Loading test cases occupies considerable amount of time of project load. Check the performance test result below:

<img width="774" alt="screen shot 2018-07-26 at 9 42 08 pm" src="https://user-images.githubusercontent.com/16755094/43266113-16b326ae-911d-11e8-8cef-303b9848aaa0.png">

There is a significant gap between loading a project with or without the test runner.

Please delay load test cases

[2018-07-27 07:24] akaroml opened #260 "Test runners interfere with Java language server"
redhat-developer/vscode-java#592 One user is reporting that LS stops running occasionally. The issue was mitigated by disabling Java Test Runner.

Java Test Runner should not interfere with Language Server and stops it from working properly.

[2018-07-27 07:50] ansyral commented on #163
test runner itself wouldn't block user from debugging.

[2018-07-27 08:18] ansyral commented on #260
the extension would observe the `DidSaveTextDocument` event and update the test storage(only the edited document) if user saves the document. Since the granularity is only one file, I don't think it would take that long time. So the action plan is:
1. investigate whether there is a performance issue to fetch tests per document.
2. investigate whether there is a way to check current text document i

[2018-07-27 10:56] revz79 opened #261 "Adding watches/evaluating expressions fails during debug with multiple projects."
All was fine with one project only, but then i added a second project. Now, running a test in debug mode and evaluating and/or adding watches to expressions fails with the error:
Please specify projectName in launch.json.

Expected Behavior:

Add a breakpoint anywhere in the test method
Press "Debug Test" link
Evaluate or add a watch on an expression
View the result value of the expression

[2018-07-30 16:58] nhuyvan1106 commented on #93
@smoyer64 What is the progress on the problem with `@DisplayName` ?

[2018-08-01 09:14] ansyral commented on #258
#262

[2018-08-01 09:30] ansyral commented on #258
I'd like to redesign the output format generated by the runner. The output item would have following fields as below:
[code]
And the runner would always output in the following way:
length + serialized json string of the outputitem

How to consume?

recognize all the numbers in the data, if the length of the rest of data is less than the number, store the data, not consume for now. Otherwise, take

[2018-08-02 07:02] ansyral commented on #258
#263

[2018-08-03 03:09] ansyral commented on #258
The above solution could solve problem1. While for problem2, I found another issue due to the limit of console, if the stacktrace is huge, then the data received would be trimmed and the data cannot be successfully analyzed.

[2018-08-05 09:25] aholstenson commented on #260
This occurs a lot for me and a colleague, several times a day if we're lucky and several times an hour if we're unlucky.

Here is a capture of the stack trace of a thread when the Java Language Server stops responding:

[code]

The error occurs both with the Oracle distribution for Java 8 and the OpenJDK one for Java 9.

[2018-08-05 15:10] lashchev opened #264 "Always use test configuration or make it configurable"
Java Test Runner 0.7.1

For out tests we need to provide env and vmargs, but they don't work with code lens (which actually took quite some time to realize). We use Code lens a lot since we practice TDD.

Ideally, once we define test run/debug configuration - it should be automatically picked up everywhere: in Test Explorer, Code Lens, Maven test, etc.

It would help to have the following configur

[2018-08-06 12:26] ansyral commented on #264
@lashchev unfortunately we removed `Run/Debug with Config` from the code lens as it would make the code lens rather long and not every one needs this feature. Adding an option to show/hide is a good way. However, we also provide a `default` property for people who use this feature often, you can edit your test config and specify the `default` field with the name of a config item, and then this con

[2018-08-06 19:29] cshen4 commented on #208
Having the same issue

[2018-08-07 02:36] ansyral commented on #261
hi @revz79  this is a [bug](https://github.com/Microsoft/vscode-java-debug/issues/307) in `Java Debugger` extension.
Before it is resolved, could you try following walk around?

1. Execute the command `Java: Edit Test Configuration`, it would generate a test configuration.
2. Debug the test from test explorer with `Debug with config`

[2018-08-07 02:41] ansyral commented on #258
It turns out the truncation issue is due to the limitation of `exec`, I've sent a [pr](https://github.com/Microsoft/vscode-java-test/pull/266) to use `spawn` instead.

[2018-08-07 22:56] neelkrishna commented on #208
Same issue. Is the only solution to add a * before each test file name? For me, if I add the * before a test name (ex: UserControllerTests.java --> *UserControllerTests.java), not only does the issue not get fixed, but the file doesn't even show up in the Test Explorer

[2018-08-08 01:22] ansyral opened #268 "0.8.0 End Game"
# Build
- [x]  8/8 - Bump version to 0.8.0  - @ansyral
- [x]  8/8 - Add change log for 0.8.0 - @ansyral
- [x]  8/8 - Signed RC Bits - @ansyral

# Test
- [x]  8/8 - Run test plan #49 - @bsaby
- [x]  8/8 - verify telemetry logs not contain errors output by tests - @ansyral
- [x]  8/8 - verify test output won't be truncated when there is huge test output - @ansyral

# Release
- [x]  8/9 - Add 0.8.0 t

[2018-08-08 07:07] bsaby commented on #268
### Run test plan #49
1. Configuration

Test case | Windows | Mac
-- | -- | --
Configurations | Vscode 1.25 Jdk 1.8.1_181 | Vscode 1.25 JDK 1.8.1_161
2. No new bugs found.
3. Test result

Test case | Windows | Mac | Issues
-- | -- | -- | --
Clean   install | Pass | Pass |  
Update | Pass | Pass |  
Uninstall | Pass | Pass |  
Test   explorer | Pass | Pass |  
Test   explorer of Multi-root | Pass |

[2018-08-09 03:03] #258 closed

[2018-08-09 04:37] #268 closed

[2018-08-09 04:46] ansyral commented on #260
Thanks for the info, @aholstenson @julianosam . We'll look into it this release.  When did you start to meet this issue? I just want to make sure it is not a regression or something.

[2018-08-09 04:48] #101 closed

[2018-08-09 04:55] ansyral opened #270 "0.9.0 iteration plan"
1. investigate and solve #260
2. disable auto-load tests when extension is activated.
3. fix bugs.

[2018-08-14 05:11] #250 closed

[2018-08-14 07:09] Dinodanio commented on #208
Same issue here.

[2018-08-16 12:55] wolf99 opened #271 "Test explorer would disappear if java file isn't active"
The GIF on the extensions readme shows the Test Explorer as a section of the standard explorer pane (similar to the Maven projects section that gets added by the Maven for Java plugin).

In my installation it shows as a completely new pane on the activity bar. Given that the icon for it only shows on the activity bar when a java file is selected it is a very annoying experience to have the pane ke

[2018-08-16 15:58] tylerteem opened #272 "Support @RunWith(Suite.class)"
I have multiple test suites that I want to run and am using @RunWith(Suite.class)  @Suite.SuiteClasses but it is not showing in the test explorer to run this.

[2018-08-17 23:14] fbilo opened #273 "'Run Test' failed by show a 'undefined is not a function'"
Windows 10, 64bit.
Used the Red hat's JDK version.

There was another message shows "Running Test", but dispeard soon.

I tried to narrow down this issue by keep the method as simple as possible like just one line of system.out.println(""), the error is still happen.

[2018-08-18 19:55] julianosam commented on #260
@ansyral It's hard to say for sure. But I can tell started getting these errors about 6-8 weeks ago. Likely after the 0.7.0 release on 06/26?

[2018-08-20 16:56] EricaZhuKexin opened #274 "Unable to open 'Aggregated test report': Reduce of empty array with no initial value."
All tests are being skipped and test suite shows error msg "Reduce of empty array with no initial value."

[2018-08-22 09:13] RuiffCardoso commented on #102
I'm still receiving the same issue when individually testing a sub-project of a main project. I'm not sure if this is the issue, but the structure is something like this:

- Main Project
    - .vscode
         - launch.json
         - launch.test.json (contains many entries, including SubProject projectName)
    -  SubProject
          - (no .vscode with launch.json or launch.test.json here)

Vers

[2018-08-22 17:06] quantumelf commented on #273
I am also experiencing this issue on Ubuntu 18.04.1.

[2018-08-22 22:11] tylerteem commented on #53
Will this happen?

[2018-08-23 01:54] yaohaizh commented on #102
@ansyral Reopen it since it is still reproed.

[2018-08-23 06:19] musiKk opened #276 "Icons are clipped in code lens"
Minor cosmetic problem: The icons in the code lens for the tests are clipped. I did not make any changes to font size but just to make sure I ran VSCode with a new user data dir (--user-data-dir option) to make sure that none of my settings would cause this problem.

As apparent from the screenshot this happens for both failing and succeeding tests. It is also independent of the "java.referencesCo

[2018-08-23 08:57] ansyral commented on #274
@EricaZhuKexin could you help share a sample to repro the issue? Thanks

[2018-08-23 13:28] ansyral commented on #271
@wolf99 sorry the demo hasn't been updated, actually we moved the Test Explorer to the sidebar as it is the recommended place by the VSCode team.
Test explorer would be up only if a java file is active, we'll see how to avoid the case of sudden disappearance.

[2018-08-23 13:31] #261 closed

[2018-08-23 18:33] quantumelf commented on #273
This is what displays immediately after clicking the first "Run Test" button above the ArrayListStudentTests class.

![screenshot from 2018-08-23 14-16-31](https://user-images.githubusercontent.com/36854671/44544468-3eb90c80-a6e0-11e8-8fdb-e6af1f966853.png)

This is what displays immediately after clicking the "Failed to run tests" button in the bottom left after running the test in the manner des

[2018-08-24 05:48] ansyral commented on #273
@quantumelf thanks for the info and they are very useful. From the image, seems that you don't have a project? The extension doesn't support single file right now.

[2018-08-24 05:51] ansyral commented on #249
Close it as no more info is provided.

[2018-08-24 05:51] #249 closed

[2018-08-24 12:27] halgrim commented on #208
Same issue here.

[2018-08-24 16:16] quantumelf commented on #273
Thanks for the help @ansyral. I dont have the files setup in a project because I have little experience doing so, but I will try figure out how to set them up as a project and hopefully that should solve the problem.

Thanks again.

[2018-08-25 04:03] julianosam commented on #260
Another thing I noticed is that, since I am using lombok in almost all of my Java projects, it seems to be easier to reproduce the issue when adding Lombok annotations to my classes. Maybe it's a coincidence, but I thought it would be worth mentioning.

[2018-08-27 07:05] ansyral commented on #259
Currently we fetch all the tests and store them into the storage when the extension is activated. So to delay fetching tests until the user accesses Test Explorer , I plan to do the following changes:
1. Not load all the tests from the beginning(`TestResourceManager.refresh()`).
2. For Test Explorer, fetch the children and update test storage when `getChildren()` is called by vscode.
3. Add increm

[2018-08-27 07:10] ansyral commented on #260
One finding is that Test Explorer would be refreshed as soon as test storage is updated. So if you are editing a test file and you have a project with many tests, then it would take a long time. To solve this, I plan to add incremental refresh feature for test explorer. @julianosam @aholstenson is this the scenario where you're stuck while editing java files?

[2018-08-27 07:30] julianosam commented on #260
I never seen this happening while editing a test file, only source code (inside main folder). It happens much more frequently if I add/modify lombok annotations in the classes. What could this impacting?

Also, I work both on a Macbook and a Linux laptop. It happens much more frequently in the Mac. Only saw it a few times on my Linux pc. Could this be related to filesystem i/o maybe?

[2018-08-27 08:30] ansyral commented on #260
@julianosam I see, for this case we'd better to add a check whether a file is test file before updating codelens. Thanks again for your prompt response.

[2018-08-27 12:16] musiKk commented on #276
@ansyral Yes, when I enable the Java references code lens, it looks like this:

![screen shot 2018-08-27 at 14 12 20](https://user-images.githubusercontent.com/976374/44659143-80f58d00-aa03-11e8-8a6b-14f783f24727.png)

I also disabled all extensions but the Java related ones.

I have not tried other extensions as I'm not aware of other extensions that write emoji characters in a lens. If you can p

[2018-08-27 17:35] EricaZhuKexin commented on #274
<img width="1429" alt="screen shot 2018-08-27 at 1 34 44 pm" src="https://user-images.githubusercontent.com/17301173/44675281-0f671000-a9fe-11e8-91bb-eaf7c8ccbc48.png">

[2018-08-27 17:37] EricaZhuKexin commented on #274
Please see the screenshot up there. When I click the Run Test btn, the test will be skipped with the Test Output showing in the image. While the test runner used to work well with the last release of VSCode. Also please notice that this is multi-module maven+Spring Boot application. Not sure whether that's related.

[2018-08-28 05:52] ansyral commented on #259
Found one bug test: storage isn't updated when a test file is removed. Opened a pr #277

[2018-08-28 10:02] #224 closed

[2018-08-28 10:57] medialwerk commented on #249
Sorry for my late reply. I had not the time to create a sample repository. But I tested version 0.8.0 and the issue is fixed now. Big Thanks!

[2018-08-29 13:17] akaroml commented on #259
Appreciate the effort of breaking down the problem. The logic of resolving test cases level by level looks fine to me. My thought is regarding

For this part, I think it's fine to show packages at the top level when they contain no test cases. Hiding the empty ones cause extra computation that I don't think worthy. At the same time, showing all the packages is providing a view that is symmetric to

[2018-08-29 15:47] caochikai commented on #208
Same issue here.I tried to change the filename to * test.java, but the result was the same.It just always show skipped all test in Test Report.
`
@Test
	public void printSome() {
		System.out.println("test");
}
`

[2018-08-30 02:59] jdneo opened #279 "Consider add CONTRIBUTING.md"
... to guide community how to contribute.

[2018-08-31 07:13] ivenxu commented on #102
As @RuiffCardoso pointed out,  quick button "Run test | Debug test" it doesn't. It seems "Run With Config" prompt user picking up the config from launch.test.json. But the quick buttons don't prompt the user to select the config. Anyway, I think it's good idea to derive the projectName since the quick buttons are triggered from the source file, it should be able to derive it from the file.

[2018-09-03 09:27] jdneo commented on #245
I suspect that this is because the project has both Gradle and Maven as its build tools, while the language server will only accept Gradle project by default.

See: https://github.com/redhat-developer/vscode-java/issues/600

[2018-09-04 05:35] jdneo opened #282 "Update the gulp script to build the server automatically"
... instead of download the jars manually.

[2018-09-04 06:28] #282 closed

[2018-09-04 06:32] jdneo opened #284 "Investigate how to debug java codes of the extension using VS Code"
... which can remove the requirements of Eclipse

[2018-09-04 07:12] jdneo commented on #273
@fbilo is your project has a combination of Maven and Gradle?

[2018-09-04 09:15] jdneo commented on #274
Hi @EricaZhuKexin, would you mind to provide a sample project which can repro this issue to us?

[2018-09-05 06:47] bsaby opened #285 "Activating extension 'vscjava.vscode-java-test' failed"
Configuration:
[code]
Repro steps:

1. Install the test bit 291
2. Open a java project to activate java test extension

Result:
![image](https://user-images.githubusercontent.com/22470312/45075552-0cfd6800-b11a-11e8-86ea-45f889d0f060.png)
![image](https://user-images.githubusercontent.com/22470312/45075555-0ec72b80-b11a-11e8-9958-636b3452c19c.png)

[2018-09-05 10:45] jdneo commented on #285
Fixed in #286

[2018-09-05 10:45] #285 closed

[2018-09-09 01:56] julianosam commented on #260
@jdneo Yes. I put together a Spring Boot project for us. I added some instructions how to reproduce in the source file itself. The issue seems seems to require a combination of Lombok annotations added to a class and the right timing when saving changes to a source file. If the change is saved while the validations are still running, the code completion stops working completely!

Let me know your

[2018-09-09 07:14] jdneo commented on #260
@julianosam Thank you for the information. I'll look into it!

[2018-09-10 07:37] yaohaizh opened #289 "command 'java.classpath.refresh' not found"
_From @andxu on July 18, 2018 12:52_

copied from https://github.com/Microsoft/vscode-java-pack/issues/27
@abhinavtk97
Issue Type: <b>Bug</b>

java.util.concurrent.CompletionException: org.eclipse.lsp4j.jsonrpc.ResponseErrorException: Request workspace/executeClientCommand failed with message: command 'java.classpath.refresh' not found
	at java.util.concurrent.CompletableFuture.reportJoin(Completa

[2018-09-10 07:37] yaohaizh commented on #289
_From @fbricon on July 18, 2018 13:38_

Is it possible the java extension was disabled after the server started?

[2018-09-10 07:37] yaohaizh commented on #289
_From @mtttcgcg on August 27, 2018 19:40_

This happens to me on a fresh opening of VSCode

[2018-09-10 07:38] yaohaizh commented on #289
Should delay the commands activation after server start .

[2018-09-10 22:55] fbilo commented on #273
hi, jdneo, sorry for reply later. I just created some single file for testing, no project, Maven, and Gradle used. And, I have work around the issue by remove all setting files then reinstall VS code.

[2018-09-11 01:26] jdneo commented on #204
@mojo2012, I'm closing this issue since it is somehow duplicated with #259. We are trying to rewrite the explorer to make it become lazy-loading.

Please feel free to let us know if you have any further problems.

[2018-09-11 01:26] #204 closed

[2018-09-11 01:28] jdneo commented on #259
### Update:

Current behavior of the explorer:
![lazyload](https://user-images.githubusercontent.com/6193897/45273330-cc6c6880-b4e4-11e8-840e-bd2c7828129a.gif)

Some todo tasks:
- Clean up the code which is used to load all the tests at once
- Run regression tests
- Fix regression bugs

[2018-09-11 01:55] jdneo commented on #289
Need to add all the related commands into the `activationEvents` in `package.json`

[2018-09-11 02:33] jdneo commented on #271
Changed the behavior of the explorer appearance condition in #291. Now the explorer will always show in the activity bar after the extension has been activated.

If the user wants to hide it, he can right-click the activity bar and deselect the item: `Test`:

![image](https://user-images.githubusercontent.com/6193897/45334555-d5753c80-b5ad-11e8-8faf-d17484ac539b.png)

[2018-09-11 02:36] #271 closed

[2018-09-11 04:01] bsaby commented on #235
Now the explorer will always show in the activity bar after the extension has been activated see PR #291  . Close it.

[2018-09-11 04:01] #235 closed

[2018-09-11 04:43] #289 closed

[2018-09-11 06:03] bsaby opened #294 "Always show 'Failed to load tests' in the status bar"
### Configurations:
[code]

### Repro steps:
1. git clone https://github.com/Microsoft/todo-app-java-on-azure.git
2. Open the project in Vscode
3. Waiting for loading tests

### Result:
Always show **Failed to load tests** in the status bar
![image](https://user-images.githubusercontent.com/22470312/45340781-92759200-b5ca-11e8-80dc-18432cafa7f3.png)

The same error for other maven projects

### Lo

[2018-09-11 06:20] bsaby opened #295 "Test Explorer doesn't sync if the test code is updated"
### Configurations:
[code]
### Repro steps:

1. Git clone https://github.com/Microsoft/todo-app-java-on-azure.git
2. Open the project in Vscode
3. Update some test code, e.g. remove the method testEqualsObject in TodoTtemTest.java

### Result:
Test Explorer will not sync and I can't see the change unless reloading window
![image](https://user-images.githubusercontent.com/22470312/45341272-9e625380

[2018-09-11 06:43] jdneo commented on #294
Fixed by #293

[2018-09-11 06:43] #294 closed

[2018-09-11 07:06] bsaby opened #297 "Cannot read property 'map' of undefined when running/debugging all tests"
### Configurations:
[code]
Repro steps:
1. git clone https://github.com/Microsoft/todo-app-java-on-azure.git
2. Open the project in Vscode
3. Click Run/Debug Test button in Test Explorer after loading tests
![image](https://user-images.githubusercontent.com/22470312/45343604-ee90e400-b5d3-11e8-943f-dd2b370619ac.png)

### Result:
![image](https://user-images.githubusercontent.com/22470312/45343550-

[2018-09-11 07:29] bsaby opened #298 "Failed to load test config: Cannot read property 'uri' of undefined"
### Configurations:
[code]
### Repro steps:
1. Clone junit projects from https://github.com/junit-team/junit5-samples
2. Open the junit5 project, e.g. junit5-migration-maven
3. Open the java file to activate the extension
3. After tests are loaded, trigger FirstTest/JUnit4Test tests from test explorer

### Result:
![image](https://user-images.githubusercontent.com/22470312/45344493-74159380-b5d6-1

[2018-09-11 08:41] bsaby opened #299 "Need to reatart vscode and reload window when updating extension"
### Configurations:
[code]
### Repro Steps:
1. Install a low version test runner extension, e.g. marketplace version
2. Update to a high version bit, e.g. CI build#299
![image](https://user-images.githubusercontent.com/22470312/45348004-040c0b00-b5e0-11e8-978f-ae2b709d2147.png)

### Result:
1. Prompt to restart code before reinstalling
![image](https://user-images.githubusercontent.com/22470312/45

[2018-09-12 06:55] yaohaizh commented on #260
Wait for this to release: https://github.com/redhat-developer/vscode-java/pull/637#pullrequestreview-154492763

[2018-09-17 05:32] jdneo commented on #256
Closing it since I cannot repro this issue again in 0.8.0.

[2018-09-17 05:32] #256 closed

[2018-09-18 11:50] callain commented on #76
Here is an example of application.properties under src/test/resources which I believe is either not being load or not filtered when I click on Run Test.

There is maven properties filtering in it. And those properties are in a profile active by default.
[code]

[code]

Test runs fine if I launch it with maven command line.

Here is launch.test.json

[code]
I don't know if I need to configure somet

[2018-09-18 13:46] greggvarona commented on #208
I updated vscode recently and the problem went away.  I'm currently at:

[code]

[2018-09-19 08:49] jdneo opened #305 "0.9.0 Endgame"
# Build
- [x]  9/20 - Bump version to 0.9.0  - @jdneo
- [x]  9/20 - Add change log for 0.9.0 - @jdneo
- [x]  9/20 - Signed RC Bits - @jdneo

# Test
- [x]  9/21 - Run test plan #49 - @bsaby
- [x]  9/21 - verify telemetry logs not contain errors output by tests - @jdneo
- [x]  9/21 - verify test output won't be truncated when there is huge test output - @jdneo

# Release
- [x]  9/25 - Add 0.9.0 tag

[2018-09-19 16:56] jbelford opened #306 "Improve the test result page"
The font size for the test result window is way larger than the editor. This should probably be fixed to scale the result window more appropriately so we don't need to zoom out.

[2018-09-19 17:01] jbelford opened #307 "Tree view for test explorer"
*Feature request*

The test explorer would be very much improved if:
 (a) packages were sorted alphabetically
 (b) subpackages were included as children instead of every package path being displayed

[2018-09-20 01:40] jdneo commented on #306
Some possible actions:
- make the font size smaller.

[2018-09-20 01:44] jdneo commented on #307
@jbelford Thank you for the feedback.

Do you mind to separate this issue to two different ones?
- One is: packages were sorted alphabetically
- Another is: subpackages were included as children instead of every package path being displayed

[2018-09-20 07:19] #260 closed

[2018-09-20 12:31] wolf99 commented on #89
Does #271 cover this?

[2018-09-20 14:20] jdneo commented on #89
@wolf99 Thank you for reminding! Yes, it is.

The current behavior is that once the extension is activated (for example the user opens a java file), then the explorer will be pinned in the activity bar.

While before the extension is activated, the explorer will not show.

We will release the new version recently.

[2018-09-20 14:21] jdneo commented on #89
Fixed in #291

[2018-09-20 14:21] #89 closed

[2018-09-20 15:00] jbelford commented on #307
Yep! No problem

[2018-09-20 15:01] jbelford opened #310 "Sort packages alphabetically in Test Explorer"
*Feature request*

[2018-09-20 15:03] jbelford opened #311 "Test explorer hierarchical nesting for packages / subpackages"
*Feature request*

Possible layout:
📁 org.example.Common (folder, expanded)
--📁 org.example.Common.Constants (folder)
--⚗️ exampleClass (class)
📁 org.example.Utils (folder)

[2018-09-21 01:45] jdneo commented on #307
Closing this issue and tacking with #310 #311

[2018-09-21 01:45] #307 closed

[2018-09-21 06:59] bsaby opened #313 "The status bar displays wrong status when running test fails"
Run test case: Class path is refreshed when build file(pom.xml, build.gradle) is updated

Steps:

1. Edit pom.xml, remove a dependency.
2. Run test, it is expected to fail because some dependency cannot be resolved.

Result:
![image](https://user-images.githubusercontent.com/22470312/45864656-420de980-bdad-11e8-8086-bf283bf82f85.png)
Expect:
![image](https://user-images.githubusercontent.com/22470

[2018-09-21 07:01] bsaby commented on #305
###  Run test plan #49
1. Configuration

Windows | Mac
-- | --
Vscode1.27.2   Jdk1.8.0_181 | Vscode1.27.2   Jdk1.8.0_161
2. Open bug: #313
3. Test result:

Test case | Windows | Mac | Issues
-- | -- | -- | --
Clean   install | Pass | Pass |  
Update | Pass | Pass |  
Uninstall | Pass | Pass |  
Test   explorer | Pass | Pass |  
Test   explorer of Multi-root | Pass | Pass |  
Test   report | Pass |

[2018-09-21 19:06] shawmanz32na commented on #107
The JUnit 5 parameterized tests should also be supported, e.g.
[code]

[2018-09-23 23:30] fbricon opened #314 "Test report bar should be either green or red, depending on the test status"
By convention, in Java IDEs, running tests should result in either a green, or a red bar.
Right now, the status report sends confusing signals, show both green and red bars.
In this example: the red bar is larger than the green one, even though nothing failed.
<img width="894" alt="screen shot 2018-09-23 at 7 22 36 pm" src="https://user-images.githubusercontent.com/148698/45934075-b9d34400-bf66-11

[2018-09-24 23:46] praenubilus commented on #273
@fbilo I don't get it, you remove all setting files under .vscode folder then you can run unit test on single file? That's not working for me and drive me crazy

[2018-09-25 03:07] #305 closed

[2018-09-25 08:00] jdneo commented on #36
May related with this: https://github.com/Microsoft/java-debug/pull/230

[2018-09-26 06:44] kevinjuan25 opened #318 "Couldn't find Java home"
When I go to open my test file, I get a notification that Java Test Runner couldn't find Java home, and all of my tests are skipped. I have my `JAVA_HOME` set correctly since Java Language Support works. I'm working on mac OS using jdk 1.8.0_181 and VS Code version 1.27.2 with the latest version of Java Test Runner. I'm rather new to VS Code and Java, so any advice would help. I can also provide m

[2018-09-26 06:51] jdneo commented on #318
@kevinjuan25 May I ask what kind of project are you developing? Would you mind to share a link to us if it is an open source project?

[2018-09-26 06:56] jdneo opened #319 "Get java home location by calling the API exposed by LS"
Currently, we use our own logic to calculate the java home location. While this can be achieved by calling the LS API.

Reference: https://github.com/Microsoft/vscode-java-debug/pull/432

[2018-09-26 07:03] jdneo opened #320 "0.10.0 iteration plan"
Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

- [x] Sort packages alphabetically in Test Explorer #310
- [x] Get java home location by calling the API exposed by LS #319
- [x] Code Lenses are not in the correct place #36
- [

[2018-09-26 07:06] kevinjuan25 commented on #318
@jdneo All of my projects are eclipse projects for school, so they’re not publicly available. What would you need to see from them?

[2018-09-26 07:17] jdneo commented on #318
Hmm, I ask for this is because of that according to the current implementation,  `Couldn't find Java home` might not be caused by failing to find the Java Home. So it would be great if I can repro this issue and investigate what's happening.

[2018-09-26 07:33] #319 closed

[2018-09-26 07:53] kevinjuan25 commented on #318
If it helps, here is a screenshot of problems VS Code is giving me.
![screen shot 2018-09-26 at 3 52 03 am](https://user-images.githubusercontent.com/31362150/46065288-ac24e680-c13f-11e8-9522-e39d1f9640e1.png)

[2018-09-26 08:02] jdneo commented on #318
Yeah, I think the screenshot explains the root cause. Since there is something wrong with the classpath, then the test runner extension will throw an error when executing this line of code: https://github.com/Microsoft/vscode-java-test/blob/master/extension/src/extension.ts#L130

So actually this is not caused by java home but classpath issue.

[2018-09-26 08:10] kevinjuan25 commented on #318
How would I go about fixing that? I'm not very familiar with classpath since most of my Unit tests were done in Eclipse with no issues like this.

[2018-09-26 08:48] jdneo commented on #318
You might ask for help in the gitter channel: https://gitter.im/redhat-developer/vscode-java?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2018-09-26 12:21] vitalyster opened #323 "Source encoding while running tests"
How to specify source encoding? Is it possible to read encoding settings from gradle/maven project (at least when their extensions are installed)?
Or better to force UTF-8 and not default charset under Windows.

[2018-09-27 01:50] jdneo commented on #318
@kevinjuan25  Closing it for now but feel free to reopen it if you have any question. 😄

[2018-09-27 01:50] #318 closed

[2018-09-27 02:08] jdneo commented on #323
Hi, @vitalyster,

Will this comment work for you? https://github.com/redhat-developer/vscode-java/issues/479#issuecomment-380652810

[2018-09-27 09:46] vitalyster commented on #323
No, this file contains only
[code]
for root project and
[code]
for subprojects.
I have `compileJava.options.encoding` and `compileTestJava.options.encoding` set in desired subproject.
Maybe import does not work well with subprojects.

[2018-09-28 17:43] kevinjuan25 commented on #318
This was the console info I got for one of my JUnit test files created in Eclipse. I haven't had any success trying to decipher where to root out the issue.
![screen shot 2018-09-28 at 1 41 12 pm](https://user-images.githubusercontent.com/31362150/46224490-8278e480-c324-11e8-8ca0-6959f01aada8.png)

[2018-09-29 01:41] jdneo commented on #318
As you can see the project has lots of compile errors. It would be better to solve them first.

It would be easier for us to investigate and help you if you can provide the sample project which can repro these errors

[2018-09-29 16:39] kevinjuan25 commented on #318
They all compile fine on Eclipse, so I don't think there is an issue with the projects themselves, but rather the inability for the Java extensions to properly find the JUnit package or Java home as the error message pointed out. Unfortunately, I don't think this is replicable on all machines, and seems to be an issue specifically with how it's set up on my machine.

[2018-09-30 02:09] jdneo commented on #318
Hmm, what kind of the project is? Is it a Maven / Gradle or an Eclipse project?

[2018-09-30 02:18] kevinjuan25 commented on #318
Eclipse

[2018-09-30 02:54] koonchen commented on #180
It works by using `Java: Refresh Classpath` 😯!

[2018-09-30 02:56] #36 closed

[2018-09-30 03:09] jdneo commented on #318
Ok, so if the project cannot be shared. Would you mind to share the file structure? This could help us understand the kind of the project.

[2018-09-30 04:16] jdneo commented on #180
Closing the issue since looks like it has been solved.

[2018-09-30 04:16] #180 closed

[2018-09-30 16:04] kevinjuan25 commented on #318
Here's the project file hierarchy in the workspace
![screen shot 2018-09-30 at 12 03 21 pm](https://user-images.githubusercontent.com/31362150/46259556-ea583800-c4a8-11e8-9736-54971824113a.png)

[2018-10-02 22:04] porglezomp opened #332 "Unable to open 'Aggregated test report'"
When clicking the "Run test" button inside the TLA+ repository (https://github.com/tlaplus/tlaplus) I see "Failed to run tests" in the bottom bar. When clicking on that, I get the notification:
[code]

[2018-10-03 16:46] kevinjuan25 commented on #318
<img width="677" alt="screen shot 2018-10-03 at 12 45 54 pm" src="https://user-images.githubusercontent.com/31362150/46425692-5685a680-c70a-11e8-99a6-7b3f412f5d35.png">
Don't know if this will help, but here is my `launch.test.json`

[2018-10-03 21:32] praenubilus commented on #273
Is there any plan to support single file test?

[2018-10-03 22:15] ronaldperezs opened #333 "could not find Java home ... windows 7 professional"
Hello, the problem that I am presenting is a message "could not find Java home ..." when opening the unit tests, which I can not execute through the extension. I have the Language Support for Java by Red Hat configured without problem, I can debugger. The message only appears when using its extension to run the unit tests in a visual way, I am currently doing it through maven.

Environment
Operati

[2018-10-04 02:49] jdneo commented on #333
@ronaldperezs would you mind to share your project to us?

[2018-10-04 02:58] ronaldperezs commented on #333
the problem occurs in any project, it is as if the extension does not work, I do not know if it generates some log that can share them to find the error

[2018-10-04 03:07] jdneo commented on #333
@ronaldperezs Hmm, the current version of the test runner extension has its own logic to resolve the java home. While in the next release we will update the logic - consume the java home path from the `Language Support for Java by Red Hat` extension. Would you mind to have a try when we release the new version? It might be comming in next week.

[2018-10-04 03:17] ronaldperezs commented on #333
ready, I'm waiting for the release of the new version, to see if taking the java home configuration solves the problem. Thanks

[2018-10-05 11:40] xdubx commented on #273
same problem here. Pls fix it fast

[2018-10-07 14:37] xzel23 commented on #333
I have the same issue on MACOS. I thought it might be an issue with Java 11 (since some other tools also did not recognise the new version). It works now however in Redhat's Java support (as of version 32). From he comments above I understand that playing with the java.home setting is useless unless a new version is released because you still use your own logic. Is that true?

[2018-10-09 05:37] jdneo opened #337 "0.10.0 Endgame"
# Build
- [x]  10/9 - Bump version to 0.10.0  - @jdneo
- [x]  10/9 - Add change log for 0.10.0 - @jdneo
- [x]  10/9 - Signed RC Bits - @jdneo

# Test
- [x]  10/10 - Run test plan #49 - @bsaby
- [x]  10/10 - verify telemetry logs not contain errors output by tests - @jdneo
- [x]  10/10 - verify test output won't be truncated when there is huge test output - @jdneo

# Release
- [x] 10/11 - Add 0.10.

[2018-10-10 07:52] bsaby opened #341 "Sometimes, test results not be refreshed after rerun"
I have encountered this problem twice

1. Open a multi-root workspace and run all tests, then open the test report
1. Leave the window there, after a long time( > 30 minutes), the test report displays the file has been changed even though I haven't updated any files.
1. Then I update some test methods to make a different test result
1. Run all tests again

Result:
The test report will not be refre

[2018-10-10 08:00] bsaby commented on #337
### Run test plan #49
1. Configurations

Windows | Mac
-- | --
Vscode   1.28.0(user setup)   JDK   1.8.0_181 | Vscode1.28.0   Jdk1.8.0_181

2. Open Bug:
#341
3. Test result

Test case | Windows | Mac | Issues
-- | -- | -- | --
Clean   install | Pass | Pass |  
Update | Pass | Pass |  
Uninstall | Pass | Pass |  
Test   explorer | Pass | Pass |  
Test   explorer of Multi-root | Pass | Pass |  
Test

[2018-10-10 08:47] #320 closed

[2018-10-10 08:48] bsaby commented on #156
Close this issue  because it cannot be reproduced in version 0.10.0

![image](https://user-images.githubusercontent.com/22470312/46724214-20b56480-ccac-11e8-9ea7-cc7a321864bb.png)

[2018-10-10 08:48] #156 closed

[2018-10-10 08:48] bsaby opened #342 "There is no 'Test file has been changed, ...' prompt in the test report after updating test code"
Repro steps:

**Test report position: subview**

1. Open test report after run tests
2. Update test code
3. Reopen test report

**Test report position: currentView**

1. Open test report after run tests
2. Update test code

Result:
![image](https://user-images.githubusercontent.com/22470312/46723650-e5fefc80-ccaa-11e8-84ab-abae34a82707.png)

Expect:
![image](https://user-images.githubusercontent.c

[2018-10-11 02:45] #337 closed

[2018-10-11 06:51] yahudev commented on #53
When will this happen?

[2018-10-12 16:42] natewaite commented on #272
Also not working with integration tests Such as naming your class + _IT

https://zeroturnaround.com/rebellabs/the-correct-way-to-use-integration-tests-in-your-build-process/

[2018-10-15 01:53] jdneo commented on #333
@ronaldperezs @xzel23 We released the new version of the extension. Could you please try it again and let me know if the problem still occurs?

[2018-10-15 01:53] jdneo opened #343 "0.11.0 iteration plan"
Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

- [x] 💪 Code refactoring
  - [x] Explorer lazy load
  - [x] Centralize runners into one executable jar
  - [x] Decouple & simplify the local cache: TestResultCache + ExplorerNode

[2018-10-15 09:19] benliddicott opened #344 "Test output not showing"
Ouput pane does not show test output, seems to be happening since version 0.10.0 and/or the latest VSCode update, running in conjunction with the Microsoft Java Extension Pack 0.4.0.

* `Java: Show test output` does not work.
    It selects the Output pane and selects "Test Output" in the dropdown, but no test output is visible.

* `Java: Open Log` works and shows that the test output has appeared

[2018-10-15 11:59] xzel23 commented on #333
The error message is gone. However as I understand it, the plugin does not yet support JUnit5, and I have upgraded, my project in the meantime because I had some issues using JUnit4 together with modules. So I did not test the functionality. I will see if I find a small JUnit4 based project to test this.

[2018-10-16 03:06] akaroml opened #345 "Support JUnit with legacy JRE (Java 6)"
@PilouUnic reported Microsoft/vscode-java-pack#50

The Java Language Server supports Java 8+ and we won't change that. Is it possible that we run legacy cases in any way?

[2018-10-16 07:28] PilouUnic commented on #345
Sadly my project need to be build in Java 6. Have you a tip for me or need i continue with Eclipse ?

[2018-10-16 18:57] iceman198 commented on #208
I'm running the following on Fedora but still have the issue.

`Version: 1.28.1
Commit: 3368db6750222d319c851f6d90eb619d886e08f5
Date: 2018-10-11T18:09:20.566Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64`

[2018-10-16 20:32] ronaldperezs commented on #333
hello, after the plugin update the message changed, now it appears:
![2](https://user-images.githubusercontent.com/6565721/47045209-e6d6d900-d157-11e8-9c80-78d61b5d858e.JPG)
When trying to execute the unit test, it is observed in the report that it ignores it, whereas if I execute it the maven plugin test is executed by the console showing the successful result. I remain attentive to your support

[2018-10-17 06:46] lwl19 commented on #344
The same issue, test output panel is not working.

[2018-10-17 07:58] IMEVER commented on #344
The same issue with version 1.27 and 1.28

[2018-10-17 15:55] DustinPham commented on #208
Same issue with me:
[code]
Also receiving an error message of "Failed to get the project." in the java_test_runner.log. File found via `Java: Open log`.
Tests are also showing "Not run" rather than "Skipped".

[2018-10-18 07:55] felwolff opened #346 "Unresolved compilation problems"
From one day to the other, I cannot testcases of my gradle-based project from the testrunner anymore, independent of the way I start them. Since running `./gradlew test` works, I believe it is a problem of the testrunner.
The tests fail with the Message:
`Unresolved compilation problems: [ClassNameHere] cannot be resolved to a type`
Any ideas on what happend and how to resolve the problem?

[2018-10-18 08:31] felwolff commented on #346
Unfortunately, I currently do not have time for that due to urgent deadlines. I just tested other gradle projects and they still work. So it seems to be project-specific. Where does the testrunner look for the required classes?

Here is my `launch.settings.json`, it looks like that also for the working projects:
[code]

[2018-10-19 03:16] jdneo commented on #344
@benliddicott @lwl19 @IMEVER

I found it very wried because if I disable the Maven extension, the output will just be fine. But if the Maven extension is enabled, the test output cannot be shown in the output channel.

Could you please have a try and let me know if it is just the same as what I said on your side?

[2018-10-19 03:56] IMEVER commented on #344
@jdneo Yes, it works. When disable maven extension from workspace, reload vscode, run test, I can see test output right there.

[2018-10-19 04:39] jdneo commented on #344
Hmm, Don't know who to blame for now. 😵 Let me investigate.

[2018-10-19 11:58] felwolff commented on #346
As mysteriously as it appeared, it has just started to function correctly again. Maybe it was a bug related to some kind of caching or so in the language server? Retrospectively, I probably should have restarted my computer to see whether that would have solved the problem...
Nevertheless, thank's for responding to my issue!

[2018-10-20 03:55] jdneo commented on #346
@felwolff I'm closing this issue since it looks like the problem has gone. But feel free to reopen it if you still meet this problem in the future.

[2018-10-20 03:55] #346 closed

[2018-10-20 04:09] jdneo commented on #345
@PilouUnic
Unfortunately, the test runner needs to depend on Java Language Server to resolve the project information(classpath, test suites, etc...), so, for now, it is impossible to run legacy Java project with test runner. 😞

[2018-10-20 04:11] jdneo commented on #345
@PilouUnic

I'm closing this issue since it is unsupported for now. But please feel free to discuss with us if you have more questions. 😄

[2018-10-20 04:11] #345 closed

[2018-10-20 07:31] #230 closed

[2018-10-20 16:08] cpdupuis commented on #344
I do see the test output when I click on the red X for a failed test in the editor pane (at least the assertion message and stack trace) when I use junit 4.12. When I use org.junit.Jupiter 5.3.1 and org.junit.platform 1.3.1, no output is shown at all when I click on the red X.

[2018-10-21 09:31] AzureLithium commented on #344
I'm using org.junit.Jupiter 5.3.1 and org.junit.platform 1.3.1 and I can see the test output in the "Test Output" window whether the test passes or fails, doesn't matter, but that is if I have disabled the "Maven for Java" extension just as @jdneo said. If I don't disable that extension, "Test Output" window is always blank.

Definitely a bad interaction between these two extensions.

[2018-10-22 08:57] xiaoxiaobingguai commented on #344
I have the same problem。How to resolve？

[2018-10-22 15:03] bojiangpro commented on #208
Make sure your test class is public

[2018-10-22 18:48] praenubilus opened #348 "Single File Test Support"
The plugin currently requires a maven/gradle project to run the unit tests which does not make sense.
1. The debugger support single non project file run/debug.
2. Individual file test works smoothly for python, so I hope the java test runner can also run like that, even all output is just in console.

Is there a timeline for when single/individual file unit test running will be supported?

[2018-10-22 21:12] sidheart commented on #208
Same issue, running via CodeLens.
Tests that are initially named *Test succeed in running all tests. These also succeed when attempting to run a single test within the class.
Tests that are named using a different scheme skip all tests, and also skip at the individual test level. Interestingly, renaming these to fit the *Test schema does not fix the skipping issue, even after restarting VSCode.

[2018-10-23 01:56] jdneo commented on #348
So the workflow might be:
1. The user creates a single java file
2. The user adds dependencies (e.g. JUnit) into the `single-file` project
3. After the project is set up correctly, the user can write  some test cases and run the tests

@praenubilus Is this the workflow you want to have to support single file test?

[2018-10-23 02:03] praenubilus commented on #348
That looks good. But is there a way to put the dependency into the settings.json? In python plugin, you can configure which test framework you want to use for the workspace, and their path(pytest, unittest etc). I guess the best way here is add a test framework configuration in settings, let user to choose (JUnit, TestNG or other test framework), configure the dependencies path. The setting works

[2018-10-23 02:16] jdneo commented on #348
@praenubilus The way to manage the dependency in `single-file` project is worth discussing. Actually, this is a common problem that needs to be solved. I created an issue here: https://github.com/Microsoft/vscode-java-dependency/issues/76. Hopefully, this can be achieved after the dependency extension supports this.

[2018-10-24 13:01] jnwilliamlee commented on #208
I had the same problem. All my tests were skipped. They end with Test.java.

Restart did not help.

Workaorund for me was to clean the cache for the project.
To clean cache:

Close vscode.
Delete project folder under C:\Users\[YOUR_USER]\AppData\Roaming\Code\User\workspaceStorage
Start vscode again.

[code]

[2018-10-24 16:09] MsaasAPI commented on #208
Not sure if that helps, but here's my **pom.xml**. The test runner is currently working for me, though occasional VS Code restarts is needed if a new *@Test* annotated method is not detected.

[code]

[code]

[2018-10-25 20:53] yong9900 opened #354 "how to specify a system environment for junit test in vscode"
My junit test only runs successfully when a system environment is setup.

I looked into <project_dir>/.vscode/launch.test.json, there is env json property, I put something like this:

"env": { "MY_ENV": "env_value"},

but in my test, MY_ENV is not setup.

Is this a bug or this is not supported?

[2018-10-26 01:56] jdneo commented on #354
@yong9900 If you right click the tests you want to trigger in the test explorer and select test `Run With Config`. Will this work for you?

[2018-10-26 13:09] yong9900 commented on #354
unfortunately, it does not work.
I have following in my launch.test.json:
`
    "debug": {
        "default": "",
        "items": [
            {
                "name": "integration-tests",
                "projectName": "integration-tests",
                "workingDirectory": "<some dir>",
                "args": [],
                "vmargs": [],
                "env": {
                    "MY

[2018-10-29 15:59] akleimrey commented on #208
Well, in my case I can't get it to work at all. It keeps skipping the tests regardless if I keep the proper naming schema or not. Clearing the cache didn't help either.

[2018-10-30 03:23] yaohaizh opened #355 "Refine error handling mechanisms"
The test launcher/executor has mixed return error code and exception code. Unify the error handling mechanisms.

[2018-10-31 00:48] myguddy commented on #344
Suggestion !

After disable maven I can see test logs in vscode output panel.

However, there are bunch of logs mixing of log from junit and user std output.
I am not sure of inside architecture of this extension( I love this thanks).

Why don't we separate the log data into junit log and std output from java code, System.out.print ?
So programmer can check test result quickly.

Thanks for your wo

[2018-10-31 02:04] jdneo opened #358 "Separate the log data into junit log and std output"
_From @myguddy in https://github.com/Microsoft/vscode-java-test/issues/344#issuecomment-434522112:_

Suggestion !

After disable maven I can see test logs in vscode output panel.

However, there are bunch of logs mixing of log from junit and user std output.
I am not sure of inside architecture of this extension( I love this thanks).

Why don't we separate the log data into junit log and std outpu

[2018-10-31 02:04] jdneo commented on #344
@myguddy That's a good suggestion. Adding a tracking issue here: https://github.com/Microsoft/vscode-java-test/issues/358

[2018-10-31 22:47] cmaslen commented on #93
In addition to @DisplayName not working @ParameterizedTest methods are not picked up. Likely reason is the junit-jupiter-params artifact is not included on the class path of the VS code runner.

Would be great if this worked out of the editor, but you can get by running mvn test or the Gradle equivalent for now.

[2018-11-01 01:42] jdneo commented on #93
We are working on refactoring the code with TestNG support right now and will be coming soon.

More support on Junit5 will be the next work item.

[2018-11-01 16:21] chuckb commented on #354
Works for me so long as the configuration is run, by either explicitly picking it from the test explorer OR setting the default parameter to the name of the configuration you want to be the default.

[2018-11-01 16:22] chuckb opened #372 "${workspaceFolder} working in launch.test.json?"
Is this supposed to work?  Does not seem like it for me...

[2018-11-02 01:50] ThadHouse opened #374 "Add a way to customize the visibility of 'run' and 'debug' Code Lens"
I have a build where if you just attempt to run any test functions, it fails to start, because I have some native dependencies that need to be configured. I am providing this build to a large amount of users, and it is confusing our users, as those buttons do not work, and they throw very confusing errors. Could a property be added to disable these buttons from showing up?

PR is #373

There was t

[2018-11-02 02:31] ThadHouse commented on #374
I just did in the PR. I have some weird setups where the arguments and inputs needed for the tests to run change every build, and its hard to reproduce those. But the sample I posted gets close.

[2018-11-04 16:08] Scott4man commented on #208
After reopening Visual Studio Code, I am having the same problem.  It started with a "Classpath is incomplete" warning when I opened any of my java files.  I dismissed that error, but now when I run a test from the Run Test or Debug Test selection below, the test status shows not run.  I wonder if the classpath is incomplete message is a problem.

<img width="881" alt="screen shot 2018-11-04 at 8

[2018-11-04 16:49] boyarsky opened #381 "VS Code reports test status incorrectly when classname ends with IT"
When using Maven, it is common to use *IT.java as the test class name to show it is an integration test. (vs an unit test). The [failsafe plugin](https://maven.apache.org/surefire/maven-failsafe-plugin/examples/inclusion-exclusion.html) recommends this convention.

I wrote a very simple JUnit 5 integration tests class with one passing test and one failing test. In the Java editor, VS Code correctl

[2018-11-04 17:30] boyarsky commented on #381
Note. When I saw another issue (#344) had a problem with the Maven plugin, I tried disabling that plugin. It solved #344 but not this one (#381). Mentioning so nobody wastes time going down that alley.

[2018-11-05 00:07] chuckb commented on #372
This would be nice as I have JNI dependencies that require to be referenced for the run/debug helpers to work.  Putting full directory spec in json file breaks for other devs.

[2018-11-05 16:15] fbricon commented on #306
There should be a link to open the method/class under test from the report

[2018-11-05 16:19] fbricon opened #384 "Navigate from stacktrace line to proper file in test results"
Following up on #306, we need better navigation from the report to java files. Since this is gonna be more complicated I'm opening it in a separate ticket: I'd be nice if the generated stacktraces actually linked to matching lines from source code, to make it possible to navigate directly from the report to any file, in the workspace or the classpath, involved in the test failure, as with other Ja

[2018-11-05 18:55] smoyer64 commented on #93
@jdneo I wouldn't be much help with TestNG but ping me if you need some help with the JUnit 5 work

[2018-11-06 04:05] noomerzx opened #387 "Code coverage report ?"
Any way to see code coverage percentage for tested directory ?

[2018-11-06 09:12] bsaby opened #392 "Package nodes and method nodes are not sorted alphabetically in test explorer"
Package level
![image](https://user-images.githubusercontent.com/22470312/48052400-c8a64b00-e1e2-11e8-9831-508f02172f0e.png)

Method level
![image](https://user-images.githubusercontent.com/22470312/48052380-b9bf9880-e1e2-11e8-841e-460fa083dab0.png)

[2018-11-06 09:12] bsaby opened #393 "Should not affect the state of other methods if running a single method"
Run a method from code lens, after running job,  a new status icon is added as the third Code Lens action. But for other methods and this class, why the status icon change to the question mark?
![image](https://user-images.githubusercontent.com/22470312/48052524-28045b00-e1e3-11e8-8b2e-5e8d72024d14.png)

Verify this behavior in marketplace version:
After running a single method,  just show status

[2018-11-06 09:15] bsaby opened #394 "There are some error messages in test output when running or debugging each test"
OS: Windows

Run or debug test form codelens
![image](https://user-images.githubusercontent.com/22470312/48054110-6ef44f80-e1e7-11e8-9e69-0aec077b0a24.png)

[2018-11-06 09:18] bsaby opened #395 "Unable to load all tests for gradle project"
Test project: https://github.com/junit-team/junit5-samples/tree/master/junit5-migration-gradle

![image](https://user-images.githubusercontent.com/22470312/48054262-d14d5000-e1e7-11e8-9dc5-2b6aaf097447.png)

Can load all gradle tests in marketplace version.

[2018-11-06 23:04] mjbvz opened #397 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2018-11-07 01:43] jdneo commented on #397
@mjbvz Thanks for the information, will take a look.

[2018-11-07 01:54] jdneo commented on #208
@kocic11 Could you check if there is a jar file named `com.microsoft.java.test.runner-*.jar` under

`$HOME\.vscode\extensions\vscjava.vscode-java-test-0.10.0\server`?

[2018-11-07 05:10] #392 closed

[2018-11-07 08:15] #394 closed

[2018-11-07 08:15] jdneo commented on #394
@bsaby fixed

[2018-11-07 08:49] bsaby opened #404 "No searching test items notification"
Expect:
After executing run tests, in the notification window at the right-bottom side, it will first show searching test items..., then running tests…

Result:
No searching test items... notification

[2018-11-07 09:14] #404 closed

[2018-11-07 09:14] jdneo commented on #404
@bsaby fixed

[2018-11-07 09:18] bsaby opened #407 "No codelens in the test file of testng project"
Project: http://www.mkyong.com/wp-content/uploads/2014/01/TestNG-Spring-Example.zip
File: TestSpring.java under com.mkyong.testng.examples.spring package

1. No codelens in test file
2. Get error when runing this class in test explorer

![image](https://user-images.githubusercontent.com/22470312/48120175-5a2dbf80-e2ac-11e8-8505-e4f9c881f41e.png)

[2018-11-07 09:18] bsaby opened #408 "Can't run tests from method level"
Repro steps:
1. Open a project
2. After loading tests, right-click a method and choose `Run Test` in Test Explorer

Result:
No response

[2018-11-07 09:18] bsaby opened #409 "Show the wrong test result in status bar"
Repro project:
1. https://github.com/junit-team/junit5-samples/tree/master/junit5-migration-maven
2. Any multi-root workspace

Repro steps (take the junit5 project as an example):
1. Open junit5-migration-maven in vscode
2. Trigger a test from the workspace folder or package level after loading tests

Result;
The status bar will show the right result first, and then change to the wrong result
![im

[2018-11-07 09:23] bsaby opened #410 "Status bar will not refresh after running test for empty classes"
For those classes which don't have valid test methods, trigger test from them

Result:
The status bar will always show Running Test...
![image](https://user-images.githubusercontent.com/22470312/48122049-8d268200-e2b1-11e8-9b8d-cc98ca14e070.png)

[2018-11-07 09:30] bsaby opened #411 "Will run all tests of outer class when trigger inner class in test explorer"
Normal when triggering the test of inner class in a test file
But when trigger inner class in test explorer, it will run all tests including other methods under the outer class
![image](https://user-images.githubusercontent.com/22470312/48122543-be538200-e2b2-11e8-9de0-128ce969be1a.png)

[2018-11-07 14:35] kocic11 commented on #208
@jdneo Yes, there are four jar files in the folder $HOME/.vscode/extensions/vscjava.vscode-java-test-0.10.0/server:
com.microsoft.java.test.plugin-0.10.0.jar
com.microsoft.java.test.runner-0.10.0.jar
com.microsoft.java.test.runner.junit5-0.10.0.jar
com.microsoft.java.test.runner.junit5-0.10.0-jar-with-dependencies.jar

[2018-11-07 15:17] kocic11 commented on #208
This started working all of sudden. I have created a new project and opened it in VS Code (new instance) and the tests are running now.

[2018-11-07 19:11] bheklilr commented on #306
I find that the report view is also way too wide.  Any messages just extend on the same line and require me to horizontally scroll.  Some text wrapping would be nice, maybe even reducing the margins/padding.  I think the report looks nice overall, but some simple improvements would really make an impact on how user friendly it is.

[2018-11-08 01:58] #410 closed

[2018-11-08 05:00] jdneo opened #416 "Disable generating the test-output folder when running TestNG tests"
For the first release, we disable the output folder.

In the future, we can add a configuration and let the user config if the output is needed or not.

[2018-11-08 05:06] bsaby commented on #392
Test passed.
Build: 322

[2018-11-08 05:09] #416 closed

[2018-11-08 05:16] #407 closed

[2018-11-08 05:17] jdneo commented on #407
@bsaby fixed.

[2018-11-08 05:37] jdneo commented on #411
There is another issue here:

I tested the inner class case in a TestNG project, the TestNG runner cannot find the classpath, which says:
[code]

[2018-11-08 06:09] bsaby commented on #394
Test passed.
Build: 322

[2018-11-08 06:10] bsaby commented on #404
Test passed.
Build: 322

[2018-11-08 06:38] #395 closed

[2018-11-08 06:38] jdneo commented on #395
@bsaby fixed

[2018-11-08 06:39] jdneo commented on #410
@bsaby fixed

[2018-11-08 06:47] bsaby commented on #409
Test passed.
Build: 322

[2018-11-08 06:49] bsaby commented on #411
And also find that if running test from the outer class code lens, the inner class tests  will not be run

[2018-11-08 09:00] bsaby commented on #393
Test passed.
Build: 322

[2018-11-08 09:01] bsaby commented on #410
Test passed.
Build: 322

[2018-11-08 09:09] bsaby opened #424 "Can't auto-update test report if updating test methods"
Repro steps;

1. Open a java file, trigger test from the class level
2. Open the test report after running tests
3. Update test code, for example, delete a method
4. Rerun the tests from class level

Result:
After running tests, the previous report will not auto-update, click the test result, it will open a new test report.

Expect:
Auto-update the previous report

[2018-11-08 23:08] mpodlodowski opened #425 "Spock support"
Would be great to have Spock support. I am very willing to make a contribution.
Is there anything I should be aware of before digging into the problem?

[2018-11-09 01:44] jdneo commented on #425
@mpodlodowski PR is welcome. 😄

Please feel free to ask questions whenever you meet any problems or need any help

[2018-11-09 02:14] #14 closed

[2018-11-09 02:17] jdneo commented on #37
Closing since it seems to be resolved.

[2018-11-09 02:17] #37 closed

[2018-11-09 02:19] jdneo commented on #53
Hi @all,

We have added the TestNG support in the newest code base. It should be released recently. So I'm closing this issue for now.

[2018-11-09 02:19] #53 closed

[2018-11-09 02:33] jdneo commented on #75
dup with #306

[2018-11-09 02:33] #75 closed

[2018-11-09 02:40] jdneo commented on #102
@RuiffCardoso @ivenxu  what if you set the `default` field in the `launch.test.json` with the default configuration name you want to run with?

[2018-11-09 02:41] jdneo commented on #103
Closing since it's inactive for a long time. Please feel free to reopen it if the problem still occurred

[2018-11-09 02:41] #103 closed

[2018-11-09 02:45] jdneo commented on #110
Closing this since it's inactive for a long time. @UHaooooo Please feel free to reopen it if this problem still occurs

[2018-11-09 02:45] #110 closed

[2018-11-09 03:03] jdneo commented on #163
Closing...

Let's see if the problem can be solved with lazy-load.

If anyone encountered this problem again, Feel free to reopen it.

[2018-11-09 03:03] #163 closed

[2018-11-09 03:05] jdneo commented on #190
Closing since it seems to have been resolve.

[2018-11-09 03:05] #190 closed

[2018-11-09 03:07] jdneo commented on #195
Should be fixed since we removed the cache now.

[2018-11-09 03:07] #195 closed

[2018-11-09 03:12] jdneo commented on #248
We have added the TestNG support in the newest code base (together with a bunch of refactoring work). It should be released recently. So I'm closing this issue for now.

@chrisaige Very appreciated for your contribution, which is very inspiring! 😄

[2018-11-09 03:12] #248 closed

[2018-11-09 03:13] jdneo commented on #259
Closing since we have changed to lazy-load in 0.11.0

[2018-11-09 03:13] #259 closed

[2018-11-09 03:33] #408 closed

[2018-11-09 03:35] jdneo commented on #408
@bsaby Fixed in build 333

[2018-11-09 06:02] jdneo commented on #323
@vitalyster will the solution in this issue help you with it?

[2018-11-09 06:03] jdneo commented on #332
Dup with #274

[2018-11-09 06:03] #332 closed

[2018-11-09 06:05] jdneo commented on #341
Closing since this message is removed.

[2018-11-09 06:05] #341 closed

[2018-11-09 06:06] jdneo commented on #342
Closing since this message is removed.

[2018-11-09 06:06] #342 closed

[2018-11-09 06:08] jdneo commented on #354
@yong9900 Would you mind sharing a sample project which can repro your issue?

[2018-11-09 06:09] jdneo commented on #372
@chukb It should be work. Could you provide more information about this?

[2018-11-09 06:10] jdneo commented on #374
Hi @ThadHouse,

Sorry that we did some refactoring these days causing the conflicts in the PR. It will be great if you would like to resolve them.

[2018-11-09 06:49] chrisaige commented on #248
@jdneo sorry that I couldnt do more.

[2018-11-09 06:52] ThadHouse commented on #374
I will tomorrow.

[2018-11-09 07:02] jdneo commented on #248
@chrisaige Please don't say that. You did great actually. I learned a lot from your code. Without your contribution, I cannot add the TestNG support in a short time.

[2018-11-09 07:50] bsaby opened #429 "Test output shows incorrect format of maven command log"
Repro Steps:
1. Set a preLaunchTask: `mvn -v` in test configuration file
2. Run with config

Result:
![image](https://user-images.githubusercontent.com/22470312/48249600-93923680-e436-11e8-8aa3-33afd2a8cad2.png)

[2018-11-09 07:58] bsaby opened #431 "There is no WorkingDirectory in the test configuration file generated by default"
Now:
![image](https://user-images.githubusercontent.com/22470312/48250052-f1734e00-e437-11e8-8a0f-cf7cfb5619c2.png)

Expect:
![image](https://user-images.githubusercontent.com/22470312/48249997-c2f57300-e437-11e8-8902-5c8a5dbaea87.png)

[2018-11-09 08:04] bsaby commented on #306
I find that after updating the color theme of VSCode, for example, from light to dark, the color of the opened test report will not be automatically updated unless you switch to another editor and switch back.

[2018-11-09 08:14] bsaby opened #433 "Add a info in test output if user cancels the running test"
If the user cancels the running test, it would be better to add a info to the test output.

[2018-11-09 08:31] #431 closed

[2018-11-09 08:31] jdneo commented on #431
@bsaby Fixed

[2018-11-09 08:44] bsaby commented on #395
Test passed.
Build used: 336

![image](https://user-images.githubusercontent.com/22470312/48252089-b58fb700-e43e-11e8-9c54-d4da307b9c52.png)

[2018-11-09 08:46] bsaby commented on #407
Test passed.
Build used: 336

![image](https://user-images.githubusercontent.com/22470312/48252176-07d0d800-e43f-11e8-97b8-cd8219f96a1e.png)

[2018-11-09 08:47] bsaby commented on #408
Test passed.
Build used: 336

[2018-11-09 16:49] yong9900 commented on #354
@jdneo Hi Sure. I will try to put a simple project on github shortly. At the same time, I just tried, didn't work for me. will send out the project once I setup.

[2018-11-09 20:46] vitalyster commented on #323
@jdneo not sure I'm understand your question: there is no solution in this issue

[2018-11-10 04:18] yong9900 commented on #354
@jdneo Hi I tried again, this time, I can't reproduce the problem. I think my problem could related to my uncleaned workplace cache. will close this issue.

[2018-11-10 04:18] #354 closed

[2018-11-11 08:43] jdneo commented on #323
@vitalyster My fault, I forgot to add the link, sorry for the confusion. 😄

https://github.com/Microsoft/vscode-java-test/issues/37. This is a link I found might be similar to your issue. Would be great if you would like to have a try.

[2018-11-12 03:19] bsaby commented on #431
Test passed.
Build: 338

[2018-11-12 05:30] bsaby commented on #295
This issue is no longer reproduced in the build now (>= 322), so close it.

[2018-11-12 05:30] #295 closed

[2018-11-12 06:38] bsaby commented on #3
Project: https://github.com/vscjavaci/java-test-ci/tree/master/color-checker
Build: 338

Result:
Open this project in vscode, test explorer can't load any tests, and there is no clodelens in the test file.
For this type project, expected behavior?
![image](https://user-images.githubusercontent.com/22470312/48329850-6f786480-e685-11e8-96f0-5e75f3b144ec.png)

[2018-11-12 07:05] bsaby commented on #74
Close it since not repro now. And will reopen it if we encounter it again.

[2018-11-12 07:05] #74 closed

[2018-11-12 07:08] bsaby commented on #297
Build: >=322
Not repro now so close it.

[2018-11-12 07:08] #297 closed

[2018-11-12 07:30] bsaby commented on #298
Build: >=322
Not repro now so close it.

[2018-11-12 07:30] #298 closed

[2018-11-12 07:38] bsaby commented on #313
Build:  338
This issue can be reproduced.

[2018-11-12 09:00] bsaby opened #434 "All tests are still loaded if user opens an invalid project directory"
Project: https://github.com/junit-team/junit5-samples
Build: 338

At the beginning of the regression test, if the user opens an invalid project directory, the extension will not load tests. But now it loads all the tests like below, expected?
![image](https://user-images.githubusercontent.com/22470312/48336331-000d6f80-e69b-11e8-8d11-12c631424e50.png)

[2018-11-12 09:10] bsaby commented on #236
Build: 338
The current behavior is that if there are some test files with the same name, the Test Explorer will only display one of the files. Other identical name files also have no code lens.

Test explorer:
![image](https://user-images.githubusercontent.com/22470312/48337238-5d0a2500-e69d-11e8-9bc1-1a97aaaf65b7.png)
Other identical name files:
![image](https://user-images.githubusercontent.com/

[2018-11-12 09:32] bsaby commented on #245
Build; 338

Now, I can't repro error `undefined is not a function` , but still can't initialize the project.
[code]

[2018-11-14 05:21] maxandersen opened #435 "Run tests on class does not take inherited methods into consideration"
When you have a test class with inherited test methods only the methods explicitly marked on the current class gets run. Would have expected it to run all tests.

Example:
https://github.com/jbake-org/jbake/blob/master/jbake-core/src/test/java/org/jbake/app/template/FreemarkerTemplateEngineRenderingTest.java#L40

If you run this only 2 tests are run, none of the @Test from its super class (https:/

[2018-11-14 05:35] Deathhush commented on #343
TestNG support will really come in handy.

[2018-11-14 10:23] RuiffCardoso commented on #102
Setting the default field made it work!

[2018-11-15 05:51] BLamy opened #436 "Make Run with config default option for inline"
I am using env variables which are required to run my test.

If I right click the test and use `Run With Config` then the test will pass
![image](https://user-images.githubusercontent.com/324928/48532999-8c649180-e857-11e8-83dd-b763e35f99c5.png)

But if I use this inline style it will fail.
![image](https://user-images.githubusercontent.com/324928/48532981-78209480-e857-11e8-8e5a-a93b467e6d61.png)

[2018-11-15 07:43] jdneo commented on #102
Closing since the problem is resolved.

[2018-11-15 07:43] #102 closed

[2018-11-15 10:05] akaroml opened #437 "Chinese Language Support"
We have lots of Chinese developers. It would be great if we can provide a localized interface. This issue is to track the effort of building the localization story.
Supporting Chinese is a start. Once the solution is working, we can expand the support to other languages.

[2018-11-16 10:45] reallyroy commented on #208
Facing the same issue as well. Every test I run shows as skipped. If I run the test's thru maven they run fine.
Version: 1.29.1
Commit: bc24f98b5f70467bc689abf41cc5550ca637088e
Date: 2018-11-15T19:07:43.495Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-11-16 23:51] ronanmulvaney opened #438 "Support ${workspaceFolder} in launch.test.json"
Is there any variable substitution that can be used with `workingDirectory` so that the launch.test.json can be shared between a team allowing different workspace/project locations?

Ideally here I was hoping to use something like VSCodes ${workspaceFolder} variable as per https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables

[2018-11-16 23:55] nithillsethupathi opened #439 "Junit test not running"
I am new to Visual Studio Code, and I am not able to run JUnit tests on my project. I don't know how to fix it. Please help me. Attached screenshot for reference. Thanks.
![screenshot from 2018-11-16 15-51-07](https://user-images.githubusercontent.com/20954412/48653126-e714ff00-e9b7-11e8-93e3-e8c7937e39c2.png)
![screenshot from 2018-11-16 15-51-54](https://user-images.githubusercontent.com/2095441

[2018-11-18 23:48] ztzven commented on #208
I am also seeing the error in `java_test_runner.log`:

`Error: Could not find or load main class com.microsoft.java.test.runner.JUnitLauncher`

[2018-11-20 02:25] yaohaizh opened #440 "0.11.0 Endgame"
# Build
- [x]  11/20 - Bump version to 0.11.0  - @jdneo
- [x]  11/20 - Add change log for 0.11.0 - @jdneo
- [x]  11/20 - Signed RC Bits - @yaohaizh

# Test
- [x]  11/20 - Run test plan #49 - @bsaby
- [x]  11/20 - Verify common test scenarios - @yaohaizh

# Release
- [x] 11/20 - Add 0.11.0 tag for vscode-java-test - @yaohaizh
- [x]  11/20 - Release to marketplace - @yaohaizh

# Notes
Before you che

[2018-11-20 06:26] bsaby opened #441 "Will run all tests under current class file if trigger test from method level in test explorer"
Project: https://github.com/Microsoft/todo-app-java-on-azure

Repro Steps:
1, Open todo project in vscode
2. Expand package com.microsoft.azure.sample to the method level
3. Trigger test from a method
![image](https://user-images.githubusercontent.com/22470312/48755205-8ba48300-eccf-11e8-9728-4dc211f8c887.png)

Result:
Test runner will run all methods in class TodoApplicationTest
![image](https://

[2018-11-21 04:46] ivenxu commented on #102
@RuiffCardoso could you please share your launch.test.json?
@jdneo The message I'm getting from the quick buttons "Run test | Debug test" is about launch.json not launch.test.json. Could you tell why launch.json is used here?

[2018-11-21 08:10] bsaby commented on #441
Form test output, we can see that if trigger tests from method level in the Test Explorer, it still shows the results of running all tests

**Result:**
Trigger test from a method in Test Explorer:
![image](https://user-images.githubusercontent.com/22470312/48827072-0f7d6e80-eda7-11e8-8caf-4945190dd86f.png)

**Expect:**
Output should like below ( triggering test fromCodelens from the same method in

[2018-11-21 08:56] finfou commented on #208
Also facing similar problem, until I quit vscode completely and restart the project the skip test problem is gone. Looks like vscode is starting some Java server to serve the junit test request and that server has some problem in class loading in the entire session.

[2018-11-21 08:56] finfou commented on #208
{"userTag":false,"error":"Runner exited with code 1.","level":"error","message":"Failed to run tests.","timestamp":"2018-11-21T08:52:49.894Z"}
{"userTag":false,"level":"error","message":"Error occurred: {\"name\":\"error\", \"attributes\":{\"message\":\"Failed to launch Junit\", \"details\":\"java.lang.NoClassDefFoundError: org/junit/runner/JUnitCore\\n\\tat java.lang.ClassLoader.defineClass1(Nati

[2018-11-21 09:10] bsaby commented on #440
### Re-run test plan
#### 1. Configuration
Windows |
-- |
Version: 1.29.1 (user setup) JDK 1.8.0_181 |
#### 2. New issue
Add a comment here: https://github.com/Microsoft/vscode-java-test/issues/441#issuecomment-440573504
#### 2. Test result:

Test case | Windows
-- | --
Clean install | Pass
Update | Pass
Uninstall | Pass
Basic | Pass
Test Explorer - UI | Pass
Test Explorer - Run/Debug Test | #441

[2018-11-22 17:59] NikolasKomonen opened #443 "'Run Test' in 0.11.0 stopped working."
Since the release of 0.11.0 when I call 'Run Test' I get 'Failed to run tests' and a message window saying 'Error'.

The repo I've been working with is here: https://github.com/angelozerr/lsp4xml
And tests have been working up until the new release.

![selection_009](https://user-images.githubusercontent.com/32624665/48917741-69893d00-ee56-11e8-8b4c-01a4691f84ab.png)

Try `lsp4xml/org.eclipse.lsp4

[2018-11-23 01:10] jdneo commented on #443
@NikolasKomonen Thanks for reporting. I'll take a look.

[2018-11-23 01:31] jdneo commented on #441
@bsaby please verify it in the newest bits

[2018-11-23 02:35] #440 closed

[2018-11-23 02:50] jdneo commented on #443
Main cause is that in the code here: https://github.com/Microsoft/vscode-java-test/blob/master/com.microsoft.java.test.plugin/src/main/java/com/microsoft/java/test/plugin/util/RuntimeClassPathUtils.java#L42

We need to check the project nature as well.

[2018-11-23 02:57] #343 closed

[2018-11-23 03:20] jdneo commented on #439
Hi @nithillsethupathi,

Sorry that we do not support single test file for now. There is a same issue here: https://github.com/Microsoft/vscode-java-test/issues/348

Let's track this feature request in that issue.

[2018-11-23 03:20] #439 closed

[2018-11-23 03:35] #443 closed

[2018-11-23 04:47] jdneo commented on #344
This should be fixed in `0.11.0`

[2018-11-23 04:47] #344 closed

[2018-11-23 06:35] akaroml opened #445 "readme.md to introduce TestNG support"
We added the TestNG support and that needs to be visible in readme.md.

[2018-11-23 09:14] jdneo opened #446 "Add @DisplayName support for JUnit 5"
_From @smoyer64 in https://github.com/Microsoft/vscode-java-test/issues/93#issuecomment-377658852:_

After running a few more JUnit5 tests through VS Code's Java test extension I've also realized that the ``@DisplayName`` annotations are not being used when present.  I can submit a separate issue for this problem if you want (along with a small code sample and Eclipse output.

[2018-11-24 01:28] 591097213 opened #447 "Some projects do not run tests correctly"
我遇到了一个特别奇怪的问题.

这个项目(<https://github.com/591097213/Test>)在运行`com.chuckie.demo.demotest.DemoApplication`类中的测试时会弹出消息“Error”,同时状态栏会提示“Failed to run tests”。但是当把`Test/demo-test/pom.xml`文件中`<artifactId>`标签的值改为其他值(比如改为`<artifactId>abc-def</artifactId>`),然后退出VS Code,删除除源码和`pom.xml`以外的所有文件(例如`.vscode`文件夹,`.settings`文件夹,所有的`.project`文件和`.classpath`文件等),重新加载该项目,就能正常运行所有测试了.

我发现这不是一个个例,所有包含多模块,并且子模块的包名命名规则为`

[2018-11-24 16:05] amitlevy21 opened #448 "Test Runner can't find main class"
Issue Type: <b>Bug</b>

I have a Spring boot project that I'm trying to test with this extension.
I'm using Java 8 and Junit.
It's a maven project.

The test runner claim it cannot find the main class.
[code]
here is my testing code
[code]

Extension version: 0.11.0
VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:07:43.495Z)
OS version: Linux x64 4.15.0-39-gen

[2018-11-25 05:01] jdneo commented on #447
Hi @591097213

Thanks for reporting, the root cause of this issue is the same as this one: #443

I'll release a hotfix for this issue next week.

[2018-11-25 05:01] #447 closed

[2018-11-25 05:06] jdneo commented on #448
Seems you meet this issue when debugging the test code.

Is the functionality works correctly when just triggering `Run Test`?

[2018-11-25 06:13] jdneo opened #451 "0.12.0 Iteration Plan"
Mark | Description
-- | --
🏃 | work in progress
✋ | blocked task
💪 | stretch goal for this iteration
🔴 | missing issue reference
🔵 | more investigation required to remove uncertainty
⚫️ | under discussion within the team

- [x] Add `@DisplayName` support for JUnit 5 #446
- [x] Support for JUnit 5 `@ParameterizedTests` #107
- [x] Upgrade to VS Code's webview API #397
- [x] Add a way to persist logs

[2018-11-25 06:17] jdneo opened #452 "Add a way to persist logs into log file"
This work will persist logs into a log file. And make it possible for users to open the log file, which may help diagnostic.

[2018-11-25 06:56] jdneo commented on #372
@chuckb Oh, I realized that I misunderstanding your question at the beginning. Sorry for the confusion.

There is the same issue here: #438. Please tracking the status there.

We will consider to add `${workspaceFolder}` in the `launch.test.json` in the later version. 😃

[2018-11-25 06:56] #372 closed

[2018-11-25 07:59] amitlevy21 commented on #448
@jdneo thanks for the quick reply. It also happen when i try to use `Run Test`.
the only way i can run the tests if via the maven plugin  which triggers the command `mvnw test`
Iv'e tried now running `Run Test` on a windows machine and it got stuck on running tests ( i will further check on this). Though i can see in the logs that it ran part of the tests

[2018-11-26 00:13] charcoalditto opened #453 "test runner does not run parent's test"
ex)
public class TradeTest extends AbstractTradeTest
{
@Test...
}

AbstractTradeTest has some test methods
but when I run junittest for TradeTest, it run only TradeTest's tests excluding AbstractTradeTest's tests

[2018-11-26 01:39] jdneo commented on #453
Dup with #435

[2018-11-26 01:39] #453 closed

[2018-11-26 01:46] jdneo commented on #448
Hmm, looks wired. I haven't met this issue before.

Will it help if you do the following things?

- Uninstall the extension in VS Code
- Remove the extension files under: `$HOME/.vscode/extensions/vscjava.vscode-java-test-*`
- Install the extension again

[2018-11-26 01:46] #441 closed

[2018-11-26 05:16] bsaby commented on #276
Vscode Version: 1.30.0-Insider
OS: Mac

Result: The code lens can be fully displayed.
![image](https://user-images.githubusercontent.com/22470312/48994157-ad44b500-f17c-11e8-960a-5cd01049965a.png)
![image](https://user-images.githubusercontent.com/22470312/48994186-d6fddc00-f17c-11e8-9976-79f9b29a4935.png)

[2018-11-26 05:28] jdneo opened #455 "Failed to parse output data: Cannot read property 'indexOf' of undefined"
I can see this log in the output channel when running JUnit 5 test cases.

The root cause is the regex here: https://github.com/Microsoft/vscode-java-test/blob/master/extension/src/runners/junit5Runner/JUnit5RunnerResultAnalyzer.ts#L47

[2018-11-26 05:52] jdneo commented on #276
Fixed in 1.30-insider

[2018-11-26 05:52] #276 closed

[2018-11-26 05:53] #445 closed

[2018-11-26 06:00] #455 closed

[2018-11-26 07:03] IMEVER opened #458 "Run test in Code lens in junit test with wrong home location"
In junit test class, when I click `Run test` in Code lens, the current run path goes to HOME dir, not current workspace dir.
Run `mvn test` is correct.

Here is my test class:

`

public class ReportModelTest {
    @BeforeClass
    public static void before() {
        PropertyConfigurator.configure("conf/log4j.conf");
        DbUtil.initMysql("conf/mysql.conf");
    }

    @Test
    public void t

[2018-11-26 07:44] jdneo commented on #299
Cannot repro...

[2018-11-26 07:44] #299 closed

[2018-11-26 07:47] jdneo commented on #49
Move to: https://github.com/Microsoft/vscode-java-test/wiki/Test-Plan

[2018-11-26 07:47] #49 closed

[2018-11-26 07:48] IMEVER commented on #458
My vscode-java-test version: 0.11.0

[2018-11-26 14:41] RuiffCardoso commented on #102
[code]

One thing I would like to had is that if I had these difficulties, maybe this should be an improvement point.

[2018-11-26 14:43] RuiffCardoso commented on #387
This with included integration when editing file would be great.

[2018-11-26 21:37] #436 closed

[2018-11-26 21:45] BLamy commented on #91
Running into the same issue.

[code]

[2018-11-27 01:45] jdneo commented on #24
Root cause: the JVM has not been started in 500ms: https://github.com/Microsoft/vscode-java-test/blob/master/extension/src/runners/baseRunner/BaseRunner.ts#L108

Add a retry logic might help.

[2018-11-27 06:01] bsaby opened #460 "All tests that contain inner classes will be skipped if triggered from the test explorer"
Result:
![image](https://user-images.githubusercontent.com/22470312/49061813-c321ab00-f24c-11e8-910c-449891fa9ea5.png)

Output
[code]

[2018-11-27 07:24] bsaby opened #461 "There are some performance issues with loading large maven projects"
Build: 0.11.1
The project used: https://github.com/checkstyle/checkstyle

The test explorer has been loading method for more than an hour and still has not succeeded
![image](https://user-images.githubusercontent.com/22470312/49065169-2cf38200-f258-11e8-98aa-99c8a8da3add.png)

[2018-11-27 07:34] jdneo commented on #447
Java Test Runner 0.11.1 has been released.

[2018-11-27 07:34] jdneo commented on #443
Java Test Runner 0.11.1 has been released.

[2018-11-27 07:49] quoccuongngo opened #464 "Could not recognize different test set"
I'm working on gradle project with the structure like below:
- main
    - java
    - resource
- test
    - java
    - resource
- test-integration
    - java
    - resource

Java Test Runner can only recognize test on /test but not on /test-integration

[2018-11-27 09:19] ivenxu commented on #102
Thanks for sharing!

One more question: How it works for the tests in PROJECT_A though?

[2018-11-27 09:31] ivenxu commented on #102
@jdneo , sorry I don't quite follow your idea. Are you saying when I Debug Test in the Code Lens for tests in project A I set the default to 'PROJECT_A'. And switch to 'PROJECT_B' when debuging test for project B?

[2018-11-27 10:31] jdneo commented on #102
@ivenxu Yes, correct.

[2018-11-27 10:37] ivenxu commented on #102
Thanks for clarifying this! However, it's not convenient and it defeats the purpose of having "Debug Test" as Code Lens. If possible, can we have an enhancement to derive the product name information from the location of the source code?

[2018-11-27 11:10] RuiffCardoso commented on #102
The code runs and the breakpoint works, but writing an expression that uses current context variables gives the following error:
`Cannot evaluate because of compilation error(s): Evaluations must contain either an expression or a block of well-formed statements.`

[2018-11-27 11:14] RuiffCardoso commented on #461
I get the same issue with a large multi module project. Sometimes it just hangs and I need to restart vscode.

Not sure if only related with vscode-java-test but it definitely slows down and I've been thinking on disable it when not testing because of the performance and startup times downgrade it causes.

The thing is that eclipse isn't much better so I don't care that much

[2018-11-27 14:31] ugurlu commented on #448
same here.  plugin version 0.11.1
code version 1.29.1-1542309157

Java 8, JUnit5, maven

[2018-11-27 17:46] amitlevy21 commented on #448
On the Ubuntu machine, reinstalling the extension did not help. I also updated the extension to 0.11.1, same thing.

On the windows machine, I ran a simple test that tests a POJO class, the test runner ran the test and showed the results. But when i ran the spring test of the code attached below, the test runner hanged with the message `Running tests`, though i can see in the logs that the tests r

[2018-11-28 01:32] jdneo commented on #102
@ivenxu The current experience of `run/debug with configuration` do have a lot of inconveniences.

Will address this later.

[2018-11-28 01:37] jdneo commented on #448
@ugurlu @amitlevy21 Is it possible to share a sample project to me to repro the issue?

I tried but not able to repro it on my side

[2018-11-28 05:52] #397 closed

[2018-11-28 06:58] wortner commented on #143
Is it really working? I am unable to change the user.dir. There seems to be no such comand to set it. Can you please advise how to change the directory from VS Code instalation folder to project home.

[2018-11-28 07:33] jdneo commented on #143
@wortner You can find a file named `launch.test.json` in `.vscode` folder.

[2018-11-28 07:40] amitlevy21 commented on #448
@jdneo its a private repo, i can share a snapshot though.
[Test-Runner-Application.zip](https://github.com/Microsoft/vscode-java-test/files/2623403/Test-Runner-Application.zip)

[2018-11-28 07:44] wortner commented on #143
@jdneo With the configuration it works. But I need to always select "Run with configuration". And in the "Lens" or how is the name for in code menu, I have red that the extension no more supports "Run with configuration". Anyway why is it not set by default to the project home? #458 seems related.

[2018-11-28 07:47] jdneo commented on #143
For now, you can set the default field in the launch.test.json with the default configuration name you want to run with.

[2018-11-28 10:17] ugurlu commented on #448
ubuntu 18.04

[2018-11-28 11:42] egamma opened #467 "Foreground color in status bar items is problematic"
The intent to use color to indicate test status is good #83. However, since the status bar color is themable it is almost impossible to come up with colors that work for all themes. See the screenshot below that uses the default dark theme and which hurts the eyes. For this reason we have stopped using a foreground color for text labels in the status bar. Instead we try to use an icon to indicate

[2018-11-28 15:27] NikolasKomonen opened #468 "Add preference to autosave when 'Run Test' is selected."
When I run a test would it be possible to have a preference to autosave the project?

Thanks

[2018-11-28 17:34] fbricon opened #469 "Multiple calls to vscode.java.test.search.codelens when opening a Java file"
Opening a java file causes multiple calls to `vscode.java.test.search.codelens`. Seems unnecessary.

##### Environment
- Operating System: macOS 10.14.1
- JDK version: 1.8.0.181
- Visual Studio Code version: 1.29.1
- Java extension version: 0.34.0
- Java Debugger extension version: 0.15.0

##### Steps To Reproduce
1. open a Java file
2. look at the Java Language Server traces

##### Current Result

[2018-11-28 17:35] fbricon commented on #469
Similar suboptimal behavior reported in https://github.com/Microsoft/vscode-java-debug/issues/480

[2018-11-28 22:38] joshmanderson opened #470 "Run/Debug code lenses don't appear"
Starting about a week ago, code lenses for each test, as well as the lens for the test class as a whole, have stopped appearing. Also, no tests appear in the test explorer panel, though this may have been a pre-existing issue – I've never used the test explorer before so I can't say for sure.

Restarting or reloading vscode does not fix the problem, nor does restarting the computer, nor disabling

[2018-11-29 01:36] jdneo commented on #468
@NikolasKomonen Do you mean to save all the changed files before running the tests?

[2018-11-29 01:39] jdneo commented on #470
@joshmanderson Would you mind to share the project to us?

[2018-11-29 01:44] zerosandones commented on #448
I am having the same issue running tests since last week. Get this error in output panel [ERROR] Error: Could not find or load main class com.microsoft.java.test.runner.Launcher. Running mvn test runs the tests as normal.

I have uninstalled the extension ,reloaded vscode, then reinstalled.

java test runner 0.11.1
vscode 1.29.1
java 1.8.0_181
junit 4.12
ubuntu 8.10

[2018-11-29 01:45] zerosandones commented on #448
P.S I am not using sprint boot in my project

[2018-11-29 01:54] jdneo commented on #306
We did some refinement in #466 to the test report page. Those changes will be released in v0.12.0.

I'm closing this issue for now. If anyone still find there is anything needs to be improved. Please feel free to open a new issue.

Thanks.

[2018-11-29 01:54] #306 closed

[2018-11-29 01:56] jdneo commented on #424
This should have been fixed in the newest build. Please help verify when you have time. @bsaby

[2018-11-29 02:06] zerosandones commented on #448
Ok did some playing around after I saw that the other two people were using spring boot. I tried another project that was a basic java project and the tests worked. Then I started added dependencies from the other project that didn't work and had an issue as soon as I added kumuluzee-bom and the micro profile 1.2
<dependency>
       <groupId>com.kumuluz.ee</groupId>
       <artifactId>kumuluzee-bo

[2018-11-29 02:11] #467 closed

[2018-11-29 03:02] joshmanderson commented on #470
@jdneo I can't do that, sorry – the project is private to my company.
I know that this certainly complicates the issue replication process, but I'm afraid it's just not possible for me to share it.

[2018-11-29 03:10] jdneo commented on #470
@joshmanderson Ok I understand. I'll keep my eyes on this issue and update here if I find anything.

[2018-11-29 07:37] jdneo commented on #469
@fbricon

I can only see 1 call after opening a Java file. I test this on Windows though.

[2018-11-29 09:31] jdneo commented on #314
Updated the UI.

More details can be found in #475

[2018-11-29 09:41] jdneo commented on #470
@joshmanderson One more question.

Can you see the test explorer at the sidebar (though no test items in it), or there is no test explorer at all.

I‘m wondering if the extension gets activated successfully.

[2018-11-29 12:12] akaFalsh opened #476 "Junit tests start configuration vmArg issue"
Dear community,

Started using java on vs code, but seems launch.test.json does not work for me.
I added such options:
[code]
But after running test java does not take either args or vmargs to consideration.

[2018-11-29 12:14] akaFalsh commented on #476
for launch.json everything works fine, but for Tests does not.
I am using VS Code 1.29.1 latest java test runner

[2018-11-29 14:10] NikolasKomonen commented on #468
@jdneo yes

[2018-11-29 16:23] jonfriesen commented on #448
Confirming, I'm experiencing this issue on Ubuntu 16.04
Exact same project works on Mojave 10.14.1 and Windows 10 (not sure of the version, ran by a colleague).

I do not have the kumuluz dependency that zerosandones mentioned.

[2018-11-29 17:20] jbelford opened #477 "Got SecurityException when running JUnit 5 tests"
I've had this issue for a while. Essentially, if I open up a project folder directly I can run JUnit5 tests.

If I am in a multi-root workspace it will skip JUnit5 tests when I try to run them. JUnit4 tests seem to still work fine though.

Here's the log
[code]

Using extension version 0.11.1 and vscode 1.29.1

[2018-11-29 21:01] zerosandones commented on #448
After more playing around I updated to openjdk 11 and the tests now run correctly.
Also I update my system which updated my version of java to 1.8.0_191 and the tests now work using that version as well.

[2018-11-30 01:30] jdneo commented on #476
If you are triggering the test from Code Lens. You need to set the default field to the configuration item name to make it work.

For example, here set the `default` to `MyLib`

[2018-11-30 02:47] yaohaizh opened #479 "Extension 'vscjava.vscode-java-test' uses a document selector without scheme"
EXTHOST-LOG:::::
["Extension 'vscjava.vscode-java-debug' uses a document selector without scheme. Learn more about this: https://go.microsoft.com/fwlink/?linkid=872305"]
EXTHOST-LOG:::::
["Extension 'vscjava.vscode-java-test' uses a document selector without scheme. Learn more about this: https://go.microsoft.com/fwlink/?linkid=872305"]

[2018-11-30 03:11] #479 closed

[2018-11-30 03:11] jdneo commented on #477
@jbelford Thank you for your contribution.

I tried to use a multi-root workspace which has JUnit 5 projects but cannot repro this issue. Could you please describe more about your workspaces? Or it will be great if you are willing to share a sample to repro.

[2018-11-30 10:43] #446 closed

[2018-11-30 12:47] smoyer64 commented on #446
@jdneo ... I was on vacation but wanted to (after the fact) let you know that it looks good to me!

[2018-11-30 15:34] jonfriesen commented on #448
Confirming @zerosandones note, upgrading to 1.8.0_191 fixes the problem for me. Thank-you! :+1:

[2018-11-30 16:16] tainer opened #482 "Runs forever, even completing tests"
Hi,

I create a new project using maven and 'spring-boot-blank-archetype'.
After that, i just kept the following code:

    //HelloController.java
    package com.tainer.soft.apptotest.core;
    import org.springframework.web.bind.annotation.RequestMapping;
    import org.springframework.web.bind.annotation.RestController;

    @RestController
    public class HelloController {
        @RequestMap

[2018-11-30 17:36] jbelford commented on #477
Interesting. I think it has something to do with large multi-root workspaces then. I've got a 40+ multi-root workspace composed of various maven projects. It might be a bug with vscode handling that many roots in a workspace.

OS: macOS High Sierra v10.13.3

[2018-12-01 01:33] jdneo commented on #446
@smoyer64

Thank you. We've added it into the report.

[2018-12-01 01:35] jdneo commented on #448
Looks like upgrade java version to the latest can solve the problem.

@amitlevy21 Yes there is a same issue as yours. Let's track your problem in #482

Thanks.

[2018-12-01 01:35] #448 closed

[2018-12-02 10:09] jdneo opened #483 "NPE with Spring Boot Data LDAP"
_From @zhangqi5 in https://github.com/Microsoft/vscode-java-pack/issues/71#issue-386402147:_

VSCode Version: 1.29.1
OS Version: Win and Mac
Steps to Reproduce:

This is a very basic demo about Spring Data for LDAP in unit testing. Please refer to the following code:

[code]

The same code runs well with IntelliJ, but got the following error message with VS Code:

java.lang.NullPointerException
at